


<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i>Subscribers</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Subscribers</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left" style="width: 35%;">
								<table class="table table-striped table-bordered table-hover">
					
									<tbody>
										
									     <%= form_tag admin_subscribers_path, :method => "GET" do |f| %>
											<tr>
											    <td style="border:0"> Subscribers</td>
											    <td style="border:0;width: 40%;">
											    	<%= select_tag :status, options_for_select([['Active', true], ['Inactive', false]] ,:selected => params[:status]),:prompt => "--Status--", :class => 'form-control',:id =>"search_equal" %>
											    </td>
											    <td style="border:0; width: 15%;"><%= submit_tag "Search", :class => 'btn btn-sm btn-success'  %>
											 	</td>
											    <td style="border:0"><%= link_to "Reset" , admin_subscribers_path, :class => 'btn btn-sm btn-warning'  %></td>
								
											
										    </tr>
										<%end%>
									</tbody>
								</table>
							</div>
							
							<div class="clearfix"></div>
						</div>

						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
										<th style="width: 15%;"><input type="checkbox" id="selectAll" value="selectAll"></th>
								
									<th>Email</th>
									<th>subscribed on</th>
									<th style="width: 15%;">Status</th>
									<th>Reason For Unsubscribe</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="subscriber_form">

						
								 
                              <%= form_tag "/send_multiple", onsubmit: "newsLetterSend();return(false);", :class=> "form-horizontal form-address", :id => "send_subscriber_email" do %>
								<tr>
									<%if current_user.is_superadmin%>
								    <td style="border:0"> 

								  	<button type="submit" class="btn btn-sm btn-default send_selected">Send Selected</button> <a href="javascript:void(0)" id="send_all_link" class="btn btn-sm btn-default send_all" onclick="sendAll()">Send All</a> 
								    </td>
								  	 <td style="border:0"> 
									<a href="javascript:void(0)" id="delete_link" class="btn btn-sm btn-danger delete_selected" onclick="deleteSelected()">Delete</a>


								    	 </td>
								    <% end %>
								</tr>
							    <% @subscribers.each do |subscriber| %>
								<tr id ="<%=subscriber.id%>">

								    <td><%= check_box_tag "subscriber_ids[]", subscriber.id %></td>
								    <td> <%= subscriber.email %></td>
								    <td> <%= subscriber.created_at.to_date.strftime("%b %d, %Y")  %></td>
									<td> 
			             				<%if subscriber.status%>
									   <input type="checkbox" class="toggleBtn" checked />
									   <%else%>
									   <input type="checkbox" class="toggleBtn" />
									   <%end%>

	
									</td>
									 <td> <%= subscriber.reason %></td>
									<td> 
									    <%if current_user.is_superadmin%>
									    <a href="/admin/subscribers/<%= subscriber.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
										<%end%>
									</td>
								</tr>
								<% end %>

								<tr>
									<%if current_user.is_superadmin%>
								    <td style="border:0"><button type="submit" class="btn btn-sm btn-default send_selected">Send Selected</button><a href="javascript:void(0)" id="send_all_link" class="btn btn-sm btn-default send_all" onclick="sendAll()">Send All</a>
								     </td>
								  	 <td style="border:0"> 
								  	 	<a href="javascript:void(0)" id="delete_link" class="btn btn-sm btn-danger delete_selected" onclick="deleteSelected()">Delete</a> </td>  
								    <% end %>
								</tr>
								<% end %>
							</tbody>
						</table>

						<div class="widget-foot">
					
						

							<div class="pull-right">
								<%= will_paginate @subscribers, renderer: BootstrapPagination::Rails %>

							</div>

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>




<script language="Javascript" type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script language="Javascript" type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

  <%=javascript_include_tag "admin/jquery.switchButton.js"%>


<script type="text/javascript">
var jq = jQuery.noConflict(); 

jq('#selectAll').click(function() {
   if(this.checked) {
       jq(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      jq(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});



jq(function() {
  jq(".toggleBtn").switchButton({
	on_label: 'Active',
	off_label: 'Inactive',
	width: 40,
	height: 20,
	button_width: 20
  });
});



jq(document).on("change",".toggleBtn", function(e) {
    jq.ajax( {
      type: "POST",
      url: 'subscribers/toggle_active',
      data: {"completed": this.checked, "id" : jq(this).closest("tr").attr('id')},
      success: function( response ) {
      },
      error: function(response){   
      }
    });
});


function newsLetterSend() {
      var matches = [];
	  jq('#subscriber_form').find("input[name='subscriber_ids[]']:checkbox:checked").each(function() {
	    matches.push(this.value);
	  });
     if(matches.length > 0){
	      jq('.send_selected').html("Please Wait...");
	      jq('.send_selected').attr('disabled','disabled'); 
	      jq.ajax({
	        url: "/admin/newsletter_templates/send_multiple",
	        type: "POST",
	        data: jq("#send_subscriber_email").serialize()
	      }).success(function(data){        
	          jq("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>Email send successfully</div></div>");
	         
	          jq("html, body").animate({ scrollTop: 0 }, "fast");
	          jq(".flash-messages").fadeOut(18000);
	          jq("#send_subscriber_email")[0].reset();
	          jq('.send_selected').html("Send Selected");
	          jq('.send_selected').removeAttr('disabled');

	      });
      }else{
      	alert("Please Select any one record!");
      }
  }

  function sendAll(){

      jq('.send_all').html("Please Wait...");
      jq('.send_all').attr('disabled','disabled'); 
      jq.ajax({
        url: "/admin/newsletter_templates/send_multiple",
        type: "POST",
        data: {message: "send_all"}
      }).success(function(data){        
          jq("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>Email send successfully</div></div>");
         
          jq("html, body").animate({ scrollTop: 0 }, "fast");
          jq(".flash-messages").fadeOut(18000);
          jq("#send_subscriber_email")[0].reset();
          jq('.send_all').html("Send All");
          jq('.send_all').removeAttr('disabled');

      });
  }


  function deleteSelected(){


      var matches = [];
	  jq('#subscriber_form').find("input[name='subscriber_ids[]']:checkbox:checked").each(function() {
	    matches.push(this.value);
	  });
      if(matches.length > 0){
      	  jq('.delete_selected').html("Please Wait...");
          jq('.delete_selected').attr('disabled','disabled'); 
	      jq.ajax({
	        url: "/admin/newsletter_templates/delete_multiple",
	        type: "POST",
	        data: {message: "delete_selected", id: matches}
	      }).success(function(data){        
	          window.location='/admin/subscribers'
	      });
      }else{
      	alert("Please Select any one record!");
      }
  }

</script>









