<a href="#" class="btn btn-primary chat_us" role="button"  data-toggle="modal">Chat us</a>

<%#= link_to "Chat Us", "#", class: "btn btn-success btn-xs start-conversation",
"data-sid" => current_user.id, "data-rip" => 1 %>

<div id="chat_us_popup" class="modal fade" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
					×
				</button>
				<h4>Please enter details to chat </h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<%= form_tag "/save_chat_user", onsubmit: "saveChat();return(false);", :id => "chat_form" do %>
					<input type="text" name="name" class="form-control" id ="name" data-stripe="number" placeholder="your name" required/>
					<input type="text" name="email" class="form-control" id ="email" data-stripe="number" placeholder="your email" required/>
					<button type="submit" class="btn btn-default"  id="payment-submit">
						Proceed
					</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" aria-hidden="true">
						Cancel
					</button>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(".chat_us").click(function() {
		$("#chat_us_popup").modal();
	});

	function saveChat() {
		// jQuery.blockUI({ message: '<h4><img src="http://malsup.com/jquery/block/busy.gif" />  Please wait...</h4>' });
		$.ajax({
			type : "POST",
			url : "/save_chat_user",
			data : $("#chat_form").serialize()
		}).done(function(msg) {
			$.post("/conversations", {
				sender_id : msg.chatter_id,
				recipient_id : 1
			}, function(data) {
				chatBox.chatWith(data.conversation_id);
			});
			$('#chat_us_popup').modal('toggle');

		});

	}
</script>

