<%= render "admin/shared/left_menu"%>
<div class="mainbar">

  <!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="fa fa-file-o"></i> Press Release</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
      <!-- Divider -->
      <span class="divider">/</span>
      <a href="#" class="">Report</a>
      <span class="divider">/</span>
      <a href="#" class="bread-current">Press Release</a>
    </div>

    <div class="clearfix"></div>

  </div>

    <div class="matter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="widget">
            <div class="widget-head">
              <div class="pull-left">
                Website Status
              </div>
              
              <div class="clearfix"></div>
            </div>

            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                
                  <th>Name</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                   <% @websites.each do |website| %>
                <tr>
                    <td><%= website.website_name %></td>
                    <td style="color: <%= website.automation_on_flag ? 'green' : 'red'%>"><%= website.status %></td>
                  <td>
                  </td>
                </tr>
                <% end %>


              </tbody>
            </table>

          </div>


            <div class="widget">
              <div class="widget-head">
                <div class="pull-left">
                  Reports
                </div>
              
                <div class="clearfix"></div>
              </div>
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                   <tr>
                     <th>Published On</th>
                     <th>Published Website</th>
                     <th>Success Count</th>
                     <th>Failure Count</th>
                     <th>Pending</th>
                     <th>In Queue Count</th>
                   </tr>
                  </thead>
                  <tbody>
                     <% @press_release_dates.each do |press_release|%>
                         <% website_names.each do |website_data| %>
                         <% 
                            website_id = website_data[0]
                            website_name = website_data[1]
                            date = press_release.date
                          %>
                         <tr>
                           <td><%= date.strftime("%d %b %Y") %></td>
                           <td><%= website_name %></td>
                           <td>
                             <%= link_to press_release_count(website_data[0],"POSTED",date), "/admin/press_releases/report_details/#{website_id}/#{date}/POSTED"%>
                           </td>
                           <td>
                             <%= link_to press_release_count(website_data[0],"NOT_POSTED",date), "/admin/press_releases/report_details/#{website_id}/#{date}/NOT_POSTED"%>
                           </td>
                           <td>
                             <%= link_to press_release_count(website_data[0],"MARKED_FOR_POSTING",date), "/admin/press_releases/report_details/#{website_id}/#{date}/MARKED_FOR_POSTING"%>
                           </td>
                           <td>
                             <%= link_to press_release_count(website_data[0],"SENT_FOR_POSTING",date), "/admin/press_releases/report_details/#{website_id}/#{date}/SENT_FOR_POSTING"%>
                           </td>
                         </tr>
                       <% end %>
                     
                     <%end%>
                   </tr>
                  </tbody>
                
                </table>
            </div>
          </div>
        </div>
          

        <div class="widget-foot">
            <div class="pull-left">
              <%= link_to "Back", admin_press_releases_path, :class => 'btn btn-sm btn-default' %>
            </div> 

            <div class="pull-right">
               <%= will_paginate @press_release_dates, renderer: BootstrapPagination::Rails %>
            </div>

            <div class="clearfix"></div>

        </div>
      </div>
    </div>

</div>



