<%= render "admin/shared/left_menu"%>
<div class="mainbar">

  <!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="fa fa-file-o"></i> Press Release</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
      <!-- Divider -->
      <span class="divider">/</span>
      <a href="#" class="">Report</a>
      <span class="divider">/</span>
      <a href="#" class="bread-current">Press Release</a>
    </div>

    <div class="clearfix"></div>

  </div>

    <div class="matter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="widget">
              <div class="widget-head">
                <div class="pull-left">
                  Reports
                </div>
              
                <div class="clearfix"></div>
              </div>
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                   <tr>
                     <th>Report Title</th>
                     <th>Publisher</th>
                      <th>Published Date</th>
                       <th>Price</th>
                   </tr>
                  </thead>
                  <tbody>
                     <% @press_releases.each do |press_release|%>
                     <% report = press_release.report %>
                     <tr>
                     <td><%= report.title %></td>
           
                    <td><%= report.publisher.name rescue nil %></td>
                     <td><%= press_release.updated_at.strftime("%d %b %Y") %></td>
                    <td> <i class="fa fa-usd"></i><%= report.one_user %></td>
                     </tr>
                     <%end%>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
          

        <div class="widget-foot">
            <div class="pull-left">
              <%= link_to "Back", publish_press_release_report_admin_press_releases_path, :class => 'btn btn-sm btn-default' %>
            </div> 

            <div class="pull-right">
            </div>

            <div class="clearfix"></div>

        </div>
      </div>
    </div>

</div>



