<div id="flash_msg"></div>

<%= render "admin/shared/left_menu"%>
<div class="mainbar">

  <!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="fa fa-file-o"></i> Press Release</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
      <!-- Divider -->
      <span class="divider">/</span>
      <a href="#" class="">Report</a>
      <span class="divider">/</span>
      <a href="#" class="bread-current">Press Release</a>
    </div>

    <div class="clearfix"></div>

  </div>
  <!-- Page heading ends -->

  <!-- Matter -->
  <div class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">
                Report to Release
              </div>
            
              <div class="clearfix"></div>
            </div>
            <div class="widget-content">
              <div class="padd">
                <br/>


                   <%= form_tag update_press_admin_press_releases_path, :class=>"form-horizontal",id: "submit_release", method: :post do %>
              <div id="error"></div>
           
            Total : &nbsp;<div id="total_count"><%=@reports.count%></div>
                      
                  <div class="form-group">



  
                    <label class="col-lg-2 control-label">Submit On:</label>
                    <div class="col-lg-5">
               <!--      <input type="checkbox" id="post_category" name="site_publish[]" 
                    value="my_news_desk" checked="checked" /> My News Desk &nbsp;&nbsp; <input type="textbox" id="report_count" class="form-control" name="mynewsdesk_report_count" style="width:70px"/>&nbsp;<br/>
                     <input type="checkbox" id="post_category" name="site_publish[]" value="solar_plaza" checked="checked"/> Solar Plaza &nbsp;&nbsp;
                     <input type="textbox" id="report_count" name="solarplaza_report_count" class="form-control" style="width:70px"/>&nbsp; -->
                      <% @websites.each do |website|%>
                      <input type="checkbox" id="post_category" name="website_ids[]" 
                    value="<%= website.id %>" checked="checked" data-role="website_checkbox"/> <%= website.website_name %> &nbsp;&nbsp; <input type="textbox" id="report_count" class="form-control release_count" name="website_<%= website.id %>_report_count" style="width:70px"/>&nbsp;<br/>
                      <%end%>
                    </div>
                  </div>

        <ul>
                  <% @reports.each do |report| %>
                    <li>
                      <%= hidden_field_tag "report_ids[]", report.id %>
                      <%= report.title %>
                     
                    </li>
                  <% end %>
                  </ul>

       <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-6">
                    <button type="submit" class="btn btn-sm btn-success">
                      Submit Press Release
                    </button>
                    <button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
                      Back
                    </button>
                  </div>
                </div>   
   <% end %>
              </div>
            </div>
            <div class="widget-foot">

              <div class="clearfix"></div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

























<script src="//code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>



 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

  <%=stylesheet_link_tag "multiple-select.css"%>

    <%= javascript_include_tag "jquery.multiple.select.js"%>

<script type="text/javascript">
var jq = jQuery.noConflict(); 
  jq('#report_upcoming').click(function(){
    if(jq('#report_upcoming').is(':checked')){
    
      jq('#report_publish_date_1i').attr('disabled', 'disabled');
      jq('#report_publish_date_2i').attr('disabled', 'disabled');
      jq('#report_publish_date_3i').attr('disabled', 'disabled');
    }else{
   
      jq('#report_publish_date_1i').removeAttr('disabled');
      jq('#report_publish_date_2i').removeAttr('disabled');
      jq('#report_publish_date_3i').removeAttr('disabled');
    }
  }); 
 jq('#country_select').multipleSelect();
</script>

<script type="text/javascript">

jQuery(document).ready(function() {
  
jQuery('#report_publish_month').monthpicker();

});

</script>



<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#submit_release').submit(function(event){
      var data = jQuery('#total_count').html(),
            count1 = jQuery('.release_count:first').val();
            count2 = jQuery('.release_count:last').val()
        if((parseInt(count1) > parseInt(data)) || (parseInt(count2) > parseInt(data)))
        {
          jQuery('#error').html('<div class="flash-messages"><div class="alert alert-danger fade in"><button class="close" data-dismiss="alert">×</button>Number in text field should be less than total no of reports.</div></div>').css("color", "red");
          event.preventDefault();
          return(false);
        }
     

        if (jQuery('input[type="checkbox"]:checked').length == 0) {
            jQuery('#error').html('<div class="flash-messages"><div class="alert alert-danger fade in"><button class="close" data-dismiss="alert">×</button>Please Select Atleast One website.</div></div>').css("color", "red");
              event.preventDefault();
              return(false);
          }

          if (jQuery('input[type="checkbox"]:first:checked').length > 0){

            if(jQuery('.release_count:first').val() != "") {
              var value = jQuery('.release_count:first').val().replace(/^\s\s*/, '').replace(/\s\s*$/, '');
                var intRegex = /^\d+$/;
                if(!intRegex.test(value)) {
                     jQuery('#error').html('<div class="flash-messages"><div class="alert alert-danger fade in"><button class="close" data-dismiss="alert">×</button>Field Must Be Numeric</div></div>').css("color", "red");
                      event.preventDefault();
                      return(false);
                }
            }
          }


          if (jQuery('input[type="checkbox"]:last:checked').length > 0){
            if(jQuery('.release_count:last').val() != "") {
                var value = jQuery('.release_count:last').val().replace(/^\s\s*/, '').replace(/\s\s*$/, '');
                var intRegex = /^\d+$/;
                if(!intRegex.test(value)) {
                     jQuery('#error').html('<div class="flash-messages"><div class="alert alert-danger fade in"><button class="close" data-dismiss="alert">×</button>Field Must Be Numeric</div></div>').css("color", "red");
                      event.preventDefault();
                      return(false);
                }
            }
          }



          if (jQuery('input[type="checkbox"]:first:checked').length > 0){

            if(parseInt(jQuery('.release_count:first').val()) == 0 ) {
               jQuery('#error').html('<div class="flash-messages"><div class="alert alert-danger fade in"><button class="close" data-dismiss="alert">×</button>Field value Must Be greater than 0</div></div>').css("color", "red");
                      event.preventDefault();
                      return(false);
            }
          }


          if (jQuery('input[type="checkbox"]:last:checked').length > 0){
            if(parseInt(jQuery('.release_count:last').val()) == 0) {
                jQuery('#error').html('<div class="flash-messages"><div class="alert alert-danger fade in"><button class="close" data-dismiss="alert">×</button>Field value Must Be greater than 0</div></div>').css("color", "red");
                      event.preventDefault();
                      return(false);
            }
          }
    });

jQuery("[data-role='website_checkbox']").click(function(){
  if(jQuery(this).is(":checked")){
    jQuery(this).next().removeAttr("disabled");
  }else{
    jQuery(this).next().val("");
    jQuery(this).next().attr("disabled","disabled");
  }
})

 });
</script>












