







  <div class="container">
          <div class="forms-only">
         
      
                
	  <%= form_for @user, :url => update_password_path(:id=>params[:id]) do |f| %>
	   <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
                                     <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">Password:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                       <%= f.password_field :password, :class => "form-control" %> 

                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="password">Confirm password:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                       <%= f.password_field :password_confirmation, :class => "form-control" %> 
                             
                                </div>
                            </div>
                        </div>

                 <%= f.submit "Update Password" ,:class => "btn btn-primary" %> 
                        <% end %>
            </div>
        </div>