



<%= form_for @admin_blog_rss_feed,:html => { :multipart => true , :class=>"form-horizontal"} do |f| %>
    <div class="form-group">
      <label class="col-lg-2 control-label">Title</label>
      <div class="col-lg-5">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">URL</label>
      <div class="col-lg-5">
        <%= f.text_field :url, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Category</label>
      <div class="col-lg-5">
 
     <%= f.select :number_of_feeds, options_for_select(1..20), { prompt: "select number" } ,:class=>"form-control" %>
      </div>
    </div>




    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-6">
        <button type="submit" class="btn btn-sm btn-success">
          Save
        </button>
        <button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
          Back
        </button>
      </div>
    </div>

                <% end %>




