
<select id="blog_month" name="blog_month" class="form-control"><option value="">--Select Month--</option>


  <% @blogs_by_month.each do |month, posts| %>

  <option value="<%=month%>"><%=month.strftime('%B %Y')%> (<%=posts.count %>)</option>
  <%end%>


</select>
<br />
