<% cache "all_blog_categories", skip_digest: true do %>

<nav class="navbar nbar-davefault" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar-collapse-1" style="color:#fff; width:100%;background-color: #0f2741;">
        Categories
      </button>
      
    </div>
         
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1" style="  width: 100%;">
       <ul id="" class="nav " style="  font-size: 14px; line-height: 1.5;">
    <% Category.roots.each do |category| %>
    <li class="cat-item" style="  font-size: 14px; line-height: 1.5;"><a href="/blogs/category/<%=category.slug%>" class="sf-with-ul"><%=category.name%><span class="sf-sub-indicator"> </span></a>
        
          <ul class="children" style="display: none; visibility: hidden;">
            <%category.children.each do |children|%>
            <li class="cat-item" style="  font-size: 14px; line-height: 1.5;"><a href="/blogs/category/<%=children.slug%>"><%=children.name%></a>
                 
                <ul class="children" style="display: none; visibility: hidden;">  
                    <%children.children.each do |subchildren|%>
                   <li class="cat-item" style="  font-size: 14px; line-height: 1.5;"><a href="/blogs/category/<%=subchildren.slug%>"><%=subchildren.name%></a></li>
                      <% end %>
                 </ul>
              
            </li>
            
             <% end %>
          </ul>
      
    </li><br class="hidden-md hidden-lg">
 <% end %>



  
        </ul> <!-- end ul#nav -->
    </div><!-- /.navbar-collapse -->
</nav>


 <% end %>

