<nav class="navbar nbar-davefault hidden-lg hidden-md hidden-sm" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#sidebar_blog_popular" style="background-color: #0f2741; color:#fff; width:100%;">
        Recent Blogs
      </button>
      
    </div>
     <div class="collapse navbar-collapse" id="sidebar_blog_popular" style="  width: 100%;">
        <ul >
     <%@blogs_popular.each do |blog|%>
     <li style="background: url(/assets/bullet.png) 0 17px no-repeat !important;font-size:14px"><%=link_to blog.title, blog_path(blog) %></li>

     <%end%>
     </ul>
     </div>
     </nav>

     <nav class="navbar nbar-davefault hidden-lg hidden-md hidden-sm" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#tags_blog_popular" style="background-color: #0f2741; color:#fff;width:100%;">
        Tags
      </button> 
      
    </div>
     <div class="collapse navbar-collapse" id="tags_blog_popular" style="  width: 100%;">
        <ul >
    <% tag_cloud @popular_tags, %w[css1 css2 css3 css4] do |tag, css_class| %>


<span class="tags">  
      <%= link_to tag.name, tag_path(tag.name),:style=>"  margin-bottom: 10px;" %>
</span>  

  <% end %>
     </ul>
     </div>
     </nav>

      <nav class="navbar nbar-davefault hidden-lg hidden-md hidden-sm" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
       <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#archive_blog_popular" style="background-color: #0f2741; color:#fff;width:100%;">
        Archive
      </button> 
      
    </div>
     <div class="collapse navbar-collapse" id="archive_blog_popular" style="  width:100%;">
        <ul >
    <%= render :partial => "blogs/blog_archive" %>

     </ul>
     </div>
     </nav>

  
<!-- /well -->
<div class="panel panel-default hidden-xs">

    <div class="panel-heading" style="padding: 7px 15px;  background-color: #0f2741; color:#fff;">Recent Blogs</div>
    <div class="panel-body collapse navbar-collapse" id="sidebar_blog_popular">
      <ul >
     <%@blogs_popular.each do |blog|%>
     <li style="background: url(/assets/bullet.png) 0 17px no-repeat !important;font-size:14px"><%=link_to blog.title, blog_path(blog) %></li>

     <%end%>
     </ul>
       </div>


</div>
<div class="panel panel-default hidden-xs">
    <div class="panel-heading" style="padding: 7px 15px;  background-color: #0f2741; color:#fff;">Tags</div>
    <div class="panel-body collapse navbar-collapse" id="tags_blog_popular">
 <div id="tag_cloud">
  <% tag_cloud @popular_tags, %w[css1 css2 css3 css4] do |tag, css_class| %>


<span class="tags">  
      <%= link_to tag.name, tag_path(tag.name),:style=>"  margin-bottom: 10px;" %>
</span>  

  <% end %>
</div>

       </div>


</div>

<div class="panel panel-default hidden-xs">
    <div class="panel-heading" style="padding: 7px 15px;  background-color: #0f2741; color:#fff;">Archive</div>
    <div class="panel-body collapse navbar-collapse" id="archive_blog_popular">
<%= render :partial => "blogs/blog_archive" %>

       </div>


</div>
<br />

