<%= render "blogs_breadcrumb" %> 
                 <section class="content " id="eshop">
          <div class="container ">




<div class="col-sm-2">
<%=render "categories_blogs"%>
</div>



<div class="col-lg-7" id="blogs_index">

<div id="breadcrumbs">
                       <a href="/blogs">Home</a>
                  
 <%=@category.name%> 
                    </div>



                    <%@blogs.each do |blog|%>
                    <div class="well">
                        <div class="row">
                         
                            	<div class="eshop-product-body" style="padding: 1px 15px 1px 15px;">
                                    <span class="label label-info" style="background-color:#0b85e5;"><%= blog.created_at.strftime("%A, " "%d " "%B, %Y") rescue nil%></span>
                                    <h3 style="font-size:21px"><%=link_to blog.title, blog_path(blog) %></h3>
                                    
                                    <p>

									                   <%= HTML_Truncator.truncate(blog.content, 500, :length_in_chars => true).html_safe%>


                                    </p>
                                       <div style="float:left; padding-left: 15px;  padding-bottom: 15px;" >
                                     <strong> Category: </strong><%= blog.category.name rescue nil %>
                                    </div>
                                 <div class="product-tags" style="float:right; padding-left: 15px;  padding-bottom: 15px;">
                                          <span class="label label-success"><i class="fa fa-comment"></i> <%if blog.blogs_comments.empty?%> No Comment <%else%> <%=blog.blogs_comments.count%> Comments<%end%></span>
                                 
                                    </div>
                                </div>
                        	</div>
                            Tags: <%= raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
                    </div>
               
                 <hr/>
                    <%end%>
</div>

<div class="col-lg-7" id="scoopit_box" style="display:none;height:1000px;overflow:auto">
  <div class="col-md-11">
     <div id='scoopit-container-4553448'>

  <a href='http://www.scoop.it/t/business-market-research-report'>Business Market Research Report</a>

</div>

<script type='text/javascript' src='https://www.scoop.it/embed-full-topic/4553448.js' ></script>
</div>
<div class="col-md-1" >

  <img src="/assets/scoopit_close.png" id="scoopit_box_close" style="width: 20px;max-width: 90px;cursor:pointer" >
</div>

</div>

<div class="col-lg-7" id="medium_box" style="display:none;height:1000px;overflow:auto">
   <div class="col-md-11">
    <script async src="https://static.medium.com/embed.js"></script><a class="m-collection" href="https://medium.com/wise-guy-reports-market-research">Market Research Future Reports Market Research</a>
  </div>
<div class="col-md-1" >

  <img src="/assets/scoopit_close.png" id="medium_box_close" style="width: 20px;max-width: 90px;cursor:pointer" >
</div>


</div>

<div class="col-lg-3">
<%=render "right_side_panel"%>
      </div>
      </div>
            </section>

<script type="text/javascript">

jQuery("#scoopit_icon").click(function() {
  jQuery("#blogs_index").hide();
  jQuery("#scoopit_box").show();
    jQuery("#medium_box").hide();
});
jQuery("#medium_icon").click(function() {
  jQuery("#blogs_index").hide();
    jQuery("#scoopit_box").hide();
  jQuery("#medium_box").show();
});

jQuery("#scoopit_box_close").click(function() {
  jQuery("#medium_box").hide();
    jQuery("#scoopit_box").hide();
         jQuery("#blogs_index").show();
});

jQuery("#medium_box_close").click(function() {
  jQuery("#medium_box").hide();
    jQuery("#scoopit_box").hide();
     jQuery("#blogs_index").show();

});


</script>