<div class="inner_container">


<ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="#">Blogs</a></li>
  </ul>

<section class="content " id="eshop">
      <h2 class="heading">Blogs</h2>

  <div class="container ">
    <div class="col-lg-2">
      <%=render "categories_blogs"%>
    </div>
    <div class="col-lg-7" id="blogs_index">
    <% if @category %>
      <div id="breadcrumbs">
        <a href="/blogs">Home</a>
          <%=@category.name%> 
      </div>
      <% end %>
      <%if params[:q].present?%>
        <div id="breadcrumbs">
           <a href="/blogs">Home</a>
            Search result for <%=params[:q] %>
        </div>
      <%end%>
      <%if params[:tag].present?%>
        <div id="breadcrumbs">
           <a href="/blogs">Home</a>
             Blogs Tagged "<%=params[:tag]%>"
        </div>
      <%end%>
      <%@blogs.each do |blog|%>
        <div class="panel panel-default">
          <div class="panel-body" >
              <div class="row">
                  	<div class="eshop-product-body" style="padding: 1px 15px 1px 15px;">
                          <span class="label label-info" style="background-color:#0b85e5;"><%= blog.created_at.strftime("%A, " "%d " "%B, %Y") rescue nil%></span>
                          <h3 style="font-size:21px"><a href="/blogs/<%=blog.id%>/<%=blog.slug%>"> <%=blog.title%></a></h3>
                          
                          <p>

  			                   <%= HTML_Truncator.truncate(blog.content, 500, :length_in_chars => true).html_safe%>


                          </p><br/>
                          <div style="float:left; padding-bottom: 15px;" >
                             <strong> Category: </strong><%= blog.category.name rescue nil %>
                          </div>
                       <div class="product-tags" style="float:right; padding-left: 15px;  padding-bottom: 15px;">
                                <span class="label label-success"><i class="fa fa-comment"></i> <%if blog.blogs_comments.empty?%> No Comment <%else%> <%=blog.blogs_comments.count%> Comments<%end%></span>
                       
                          </div>
                      </div>
              	</div>
                <strong> Tags: </strong><%= raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
          </div>
        </div>
       <%end%>
       <div class="row eshop-footer">
         <div class="col-md-12" style="padding-right: 45px;padding-left: 45px;">
           <div class="row">
             <div class="pull-right" style="padding-bottom:20px">
               <%= page_entries_info @blogs %>
              </div>
            </div>
            <div class="row">
              <div class="pull-right">
                <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
              </div>
            </div>
          </div>
       </div>
</div>



<% cache "blog-right-panel" do %>
  <div class="col-lg-3">
    <%=render "right_side_panel"%>
  </div>
<% end %>

</div>
</section>
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
 jQuery("#scoopit_icon").click(function() {
  jQuery("#blogs_index").hide();
  jQuery("#scoopit_box").show();
    jQuery("#medium_box").hide();
  });
  jQuery("#medium_icon").click(function() {
    jQuery("#blogs_index").hide();
      jQuery("#scoopit_box").hide();
    jQuery("#medium_box").show();
  });

  jQuery("#scoopit_box_close").click(function() {
    jQuery("#medium_box").hide();
      jQuery("#scoopit_box").hide();
           jQuery("#blogs_index").show();
  });

  jQuery("#medium_box_close").click(function() {
    jQuery("#medium_box").hide();
      jQuery("#scoopit_box").hide();
       jQuery("#blogs_index").show();

  }); 
})
</script>