
<%
meta title: "Blog- #{@blog.title}"
%>

<script type="text/javascript">





function createBlogcomment(){
   if ($('#message').val() == ''){
     jQuery.notify("Please enter comment",  { globalPosition: 'top right', style: 'bootstrap', showAnimation: 'slideDown',  className: 'error'});
     return false;
   }
   else{

    // $.blockUI({ message: '<h4> <img src="https://marketresearchfuture.com/assets/loading.gif" width="50"/></h4>' });
    $.ajax( {
      type: "POST",
      url: '/blogs/post_comment',
      data: $("#comment").serialize(),
      success: function( response ) {
      
         // $('#comment_load').load('<%= blog_blog_comments_path(@blog.id)%>');
         $("#name").val("");
         $("#email").val("")
         $("#message").val("")
         $('#loadingDiv').hide();
         $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>Thank you</div></div>");
         $("html, body").animate({ scrollTop: 0 }, "fast");
         $.unblockUI();  
    
      },
      error: function(response){
    
      }
    });
  }

}
</script>
<%= render "blogs_breadcrumb" %>    
                 <section class="content " id="eshop">
          <div class="container ">
<div class="col-lg-2">

<%=render "categories_blogs"%>
</div>

<div class="col-lg-7" id="blogs_index">
                
  <% cache "blog-#{@blog.updated_at.to_i}"  do %> 
<div id="breadcrumbs">
   <a href="/blogs">Home</a>
   <a href="/blogs/category/<%=@blog.category.slug rescue nil%>"><%=@blog.category.name  rescue nil%></a>
  <%=@blog.title%>
</div>


                        <div class="row">
                         
                  
                            	<div class="eshop-product-body" style="padding: 1px 15px 1px 15px;">
                                 
                                    <strong><h3 style="font-size:18px"><%=@blog.title %></h3></strong>
                                       <h6 class="blog_date"><%= @blog.created_at.strftime("%A, " "%d " "%B, %Y") rescue nil%></h6>
                                    <p>

                                    	<%=simple_format(@blog.content)%>


                                    </p>
<br/><br/>
<p>
 <strong>Share This Post: </strong>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559cd5660a76a76b" async="async"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
</p>
<p>

  <strong> Category: </strong> <%= @blog.category.name rescue nil%>
</p>

                                        <strong> Tags: </strong><span class="tag-links"><%= raw @blog.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></span>
<br/><br/>

<%end%>

			                <div class="well col-md-9" >


<div class="col-md-12 comment_box">


  <strong>Leave Comment</strong>
  <hr style="  margin-top: 5px;">


								<div class="block_leave_comment" id="respond">
								  <div class="line_2" ></div>				
									  <%= form_tag "blogs_comment", onsubmit: "createBlogcomment();return(false);", :id => "comment" do %>
						
								   	<%#= form_for( @blogs_comment , :url=>{:controller=>"blogs",:action=>"blogs_comment"}, :html => {:class=>"form-horizontal form-address", :id=>"enquiry_form"}) do |f| %>
								    <div class="col-md-6 col-sm-12" >
								
								      <div class="field"> <%= text_field_tag :name,nil ,:class=>"form-control", :placeholder=>"Your Name" , :required => true,:style=>"  height: 30px;"%></div>
								    </div>
								    <div class="col-md-6 col-sm-12" >
								
								      <div class="field"> <%= text_field_tag :email,nil ,:class=>"form-control", :placeholder=>"Your Email" , :required => true,:style=>"  height: 30px;", :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%></div>
								    </div>
								   
								    <div class="col-md-12" style="padding-top:20px">
				
							     	  <div class="textarea"> <%= text_area_tag :message,nil , :class=>"form-control" , :placeholder=>"Your Comment" ,:style=>"  height: 100px;"%><br /> </div>				
							     	</div>	
                    
							     	<%= hidden_field_tag :blog_id,nil , :value=> @blog.id %> 
								         <div class="col-md-12"> <button type="submit" id="send" class="btn btn-xs btn-primary"><i class="fa fa-check"></i>Add Comment</button> </div>
									<%end%>
								</div>
<hr>



</div>








<%=render "blog_comments"%>



  
                              
                                </div>
             					

             	
                        </div>
                    </div>
                 

             
</div>


<div class="col-lg-7" id="scoopit_box" style="display:none;height:1000px;overflow:auto">
  <div class="col-md-11">
     <div id='scoopit-container-4553448'>

  <a href='http://www.scoop.it/t/business-market-research-report'>Business Market Research Report</a>

</div>

<script type='text/javascript' src='https://www.scoop.it/embed-full-topic/4553448.js' ></script>
</div>
<div class="col-md-1" >

  <img src="/assets/scoopit_close.png" id="scoopit_box_close" style="width: 20px;max-width: 90px;cursor:pointer" >
</div>

</div>

<div class="col-lg-7" id="medium_box" style="display:none;height:1000px;overflow:auto">
   <div class="col-md-11">
    <script async src="https://static.medium.com/embed.js"></script><a class="m-collection" href="https://medium.com/wise-guy-reports-market-research">Market Research Future Reports Market Research</a>
  </div>
<div class="col-md-1" >

  <img src="/assets/scoopit_close.png" id="medium_box_close" style="width: 20px;max-width: 90px;cursor:pointer" >
</div>


</div>
<div class="col-lg-3">
<%=render "right_side_panel"%>

      </div>
      </div>
            </section>





<script type="text/javascript">

jQuery("#scoopit_icon").click(function() {
  jQuery("#blogs_index").hide();
  jQuery("#scoopit_box").show();
    jQuery("#medium_box").hide();
});
jQuery("#medium_icon").click(function() {
  jQuery("#blogs_index").hide();
    jQuery("#scoopit_box").hide();
  jQuery("#medium_box").show();
});

jQuery("#scoopit_box_close").click(function() {
  jQuery("#medium_box").hide();
    jQuery("#scoopit_box").hide();
         jQuery("#blogs_index").show();
});

jQuery("#medium_box_close").click(function() {
  jQuery("#medium_box").hide();
    jQuery("#scoopit_box").hide();
     jQuery("#blogs_index").show();

});


</script>