



















<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <div class="row">
    <div class="col">
            <div class="well well-sm">
                <div class="media">
                    <a class="pull-left" href="#">
                         <img class="media-object" src="https://marketresearchfuture.com/assets/logo.png" width="150px;" style="padding:20px">
                    </a>
                </div><br/>
                
                <div class="utech">
<h3 align="center"></h3>



<p>Dear <%= @email_reports["friend_name"]%>, </p>

<br/>
<p>Greetings from marketresearchfuture.com team !! You will be happy to know that <%= @email_reports["name"]%> (<%= @email_reports["email"]%>) has viewed a report on our website and has shared the same for you to have a look at it. </p>
<br/>

<p>
<b>Report Title:</b> <%=@report.title %>
</p>
<br/>
<p>
Please click on the below report link to know more about the report
</p>


<p>
 <a href="https://www.marketresearchfuture.com/reports/<%=@report.slug %>"><%=@report.title%></a>
</p>


<br/>

<p>Thanks & Regards</p>


<p>
Sales Team<br/>
<a href="mailto:salesteam@marketresearchfuture.com" > salesteam@marketresearchfuture.com</a> / +1-646-845-9349
</p>
<p>
Market Research Future Research Consultants Pvt. Ltd. <br/>
<a href="https://www.marketresearchfuture.com">www.marketresearchfuture.com </a></p>







                                                            




    


                   

                                                                
                            



                 









</div>
<br/><br/>
<div style="border-bottom:1px solid; border-top:1px solid;">
<p style=" margin-top:20px; margin-bottom:20px;"> 
If you need any further assistance, then kindly email us at <a href="#" style="color:#006dcc; text-decoration:none;">salesteam@marketresearchfuture.com</a>
</p>
</div>

                
            </div>
        </div>
  </div>
</div>

<style>
body{padding-top:20px; color:#525252; font-size:13px;}
table{ color:#525252; font-size:13px;}
.utech {
max-width: 100%;
margin: 20px 20px 20px 20px;
padding: 10px 15px;
background: rgba(255,255,255,0.2);
border: 1px solid rgba(255,255,255,0.5);
border-radius: 4px;
box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.col{

position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.container {
padding-right:20%;
padding-left: 20%;
margin-right: auto;
margin-left: auto;
}
.row {
margin-right: -15px;
margin-left: -15px;
}

.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.media{
  margin-top: 0;
}

</style>

</body>
</html>



















































































































































































