<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Report not available in the website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="well well-sm">
            <div class="media">
              <a class="pull-left" href="#">
              <img class="media-object" src="https://marketresearchfuture.com/assets/logo.png" width="150px;" style="padding:20px">
              </a>
            </div>
            <br/>            
            <div class="utech">
              <h3 align="center"></h3>
              <p>Hello Team, </p>
              <br/>
              <p><%= @options[:name]%>  tried to search the reports that doesn't present in our Market Research Future.</p>
              <br/>
              Following are the details of the user:
              <p> Email: <%= @options[:email]%> </p>
              <p> Phone Number: <%= @options[:phone_no]%> </p>
              <p> Enquiry Text: <%= @options[:enquiry]%> </p>
              <br/>
              <br/>
            </div>
            <br/><br/>
            <p style="margin-top:20px; color:#006dcc; font-size:12px;">
              This email was sent from a notification-only address that cannot accept incoming email. 
              Please do not reply to this message.
            </p>
          </div>
        </div>
      </div>
    </div>
    <style>
      body{padding-top:20px; color:#525252; font-size:13px;}
      table{ color:#525252; font-size:13px;}
      .utech {
      max-width: 100%;
      margin: 20px 20px 20px 20px;
      padding: 10px 15px;
      background: rgba(255,255,255,0.2);
      border: 1px solid rgba(255,255,255,0.5);
      border-radius: 4px;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
      }
      .col{
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      }
      .container {
      padding-right:20%;
      padding-left: 20%;
      margin-right: auto;
      margin-left: auto;
      }
      .row {
      margin-right: -15px;
      margin-left: -15px;
      }
      .well {
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      }
      .media{
      margin-top: 0;
      }
    </style>
  </body>
</html>