<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Facebook sharing information tags -->
    <meta property="og:title" content="Origin" />
    <title>Market Research Future</title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="width: 100% !important;-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #ddd !important">
     <center>
         <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="height: 100% !important;margin: 0;padding: 0;width: 100% !important;background-color: #ddd !important"><tr><td align="center" valign="top" style="border-collapse: collapse">
                        <!-- // Begin Template Preheader \\ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color: #DDD !important"><tr><td valign="top" class="preheaderContent" style="border-collapse: collapse">
                                
                                 <!-- // Begin Module: Standard Preheader \ -->
                                    <table border="0" cellpadding="5" cellspacing="0" width="100%"><tr><td valign="top" style="border-collapse: collapse">
                                             <!--div mc:edit="std_preheader_content">
                                                 Use this area to offer a short teaser of your email's content. Text here will show in the preview area of some email clients.
                                                </div-->
                                            </td>
                                            <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                                            <td valign="top" width="190" style="border-collapse: collapse">
                                             <!--div mc:edit="std_preheader_links">
                                                 Is this email not displaying correctly?<br /><a href="*|ARCHIVE|*" target="_blank">View it in your browser</a>.
                                                </div-->
                                            </td>
                                            <!-- *|END:IF|* -->
                                        </tr></table><!-- // End Module: Standard Preheader \ --></td>
                            </tr></table><!-- // End Template Preheader \\ --><table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDD !important;background-color: #FFF"><tr><td align="center" valign="top" style="border-collapse: collapse">
                                    <!-- // Begin Template Header \\ -->
                                 <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFF !important;border-bottom: 0"><tr><td class="headerContent" style="border-collapse: collapse;color: #202020 !important;font-family: Arial !important;font-size: 34px !important;font-weight: bold !important;line-height: 100%;padding: 0;text-align: center;vertical-align: middle">
                                            
                                             <!-- // Begin Module: Standard Header Image \\ -->
                       <a href="http://www.marketresearchfuture.com" title="Origin"><img src="http://www.marketresearchfuture.com/assets/logo.png" alt="Market Research Future" style="max-width: 600px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none" border="0" id="headerImage campaign-icon" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext="" /></a>
                                             <!-- // End Module: Standard Header Image \\ -->
                                            
                                            </td>
                                        </tr></table><!-- // End Template Header \\ --></td>
                            </tr><tr><td align="center" valign="top" style="border-collapse: collapse">
                                    <!-- // Begin Template Body \\ -->
                                 <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody"><tr><td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFF">
                                
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="30" cellspacing="0" width="100%"><tr><td valign="top" style="border-collapse: collapse">
                                                            <div mc:edit="std_content00" style="color: #444 !important;font-family: Arial !important;font-size: 14px !important;line-height: 150%;text-align: left">



                                <h1  style="color: #444 !important;display: block;font-family: Arial !important;font-size: 18px !important;font-weight: bold !important;line-height: 100% !important;margin-top: 0;margin-right: 0;margin-bottom: 20px;margin-left: 0;text-align: left" class="h1">
                              Hi MRF Team,
                              <br/><br/>
                              Following excelsheets has been uploaded to the system. Details of each uploaded excelsheet is below.<br/>
                              </h1>
                              <table border="1">
                                <tr>
                                <th>Excelsheet Name</th>
                                <th>Uploaded At</th>
                             
                                <th>Status</th>
                                </tr>
                                <% @excelsheets.each do |excelsheet| %>
                                  <tr>
                                  <td>
                                  <%= File.basename(excelsheet.excelsheet_file.to_s) %>
                                  </td>
                                  <td>
                                  <%= excelsheet.created_at.strftime("%B-%d-%Y %H:%M") %>
                                  </td>
                              
                                  <td>
                                  <% if excelsheet.failed? %>
                                    Unable to insert the excelsheet into database due to some error. The email has been sent to you regarding the issue in the excelsheet.
                                  <% elsif excelsheet.failed_reports %>
                                    It seems that some reports from excelsheet file uploaded are failed due to malformed data into file. The reports that are failed to be uploaded can be found in <a href="<%= excelsheet.failed_csv_url.gsub('.xlsx','') %>">failed_reports_<%= File.basename(excelsheet.excelsheet_file.to_s) %>.csv</a> file.
                                  <% else %>
                                    It seems that all the reports are uploaded successfully.
                                  <% end %>
                                  </td>
                                  </tr>
                                <% end %>
                              </table>       
                              
                                <p style="color: #444 !important;font-family: Arial !important;font-size: 14px !important;line-height: 150%;text-align: left">
                        



                                </p>
                                

                                                           </div>
                            </td>
                                                    </tr></table><!-- // End Module: Standard Content \\ --></td>
                                        </tr></table><!-- // End Template Body \\ --></td>
                            </tr><tr><td align="center" style="border-collapse: collapse">
                                <table border="0" cellpadding="0" bgcolor="#CCCCCC" cellspacing="0" width="540"><tr><td height="1" class="divider" style="border-collapse: collapse"><p style="font-size: 0;line-height: 0"> </p><!-- // divider \\ --></td></tr></table></td>
                        </tr><tr><td align="center" valign="top" style="border-collapse: collapse">
                                    <!-- // Begin Template Footer \\ -->
              
                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>

</body>
</html>
