<blockquote type="cite">
        <div>
          
          
          <table style="width:640px;color:rgb(51,51,51);margin:0 auto;border-collapse:collapse">
            <tbody>
              <tr>
                <td style="padding:0 20px 20px 20px;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                  <table style="width:100%;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="width:115px;padding:11px 11px 0 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif" rowspan="2"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" title="Visit www.marketresearchfuture.com" href="https://www.marketresearchfuture.com"> <img style="border:0;width:115px" src="http://www.marketresearchfuture.com/assets/logo.png" alt="marketresearchfuture" class="CToWUd"> </a>
                                </td>
                                <td style="text-align:right;padding:5px 0;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <br>
                                </td>
                                <td style="width:100%;padding:7px 5px 0;text-align:right;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">

                                </td>
           
                              </tr>
                              <tr>
                                <td style="text-align:right;padding:7px 0 5px 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif" colspan="3">
                                  <h2 style="font-size:20px;line-height:24px;margin:0;padding:0;font-weight:normal;color:rgb(0,0,0)!important">Order
                                    Confirmation</h2>
                                  Order #<a style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"><%= @order_id%></a>
                                  <br>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <h3 style="font-size:18px;color:rgb(204,102,0);margin:15px 0 0 0;font-weight:normal">Hello
                                    <%= @user.full_name%>,</h3>
                                  <p style="margin:1px 0 8px 0;font:12px/16px Arial,sans-serif"> Thank
                                    you for your order. This e-mail
                                    confirms that your order has been
                                    received by us. If we are not able
                                    to process your payment, we will
                                    save your order and send you an
                                    e-mail with an option to retry
                                    payment. </p>
                            <!--       <p style="margin:1px 0 8px 0;font:12px/16px Arial,sans-serif">If you
                                    would like to view the status of
                                    your order or make any changes to
                                    it, please visit <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fcss%2Forder-history%2Fref%3Dpe_386221_48200641_TE_gs&amp;A=CSEWE9ENSXU71WXPHUWYLHAOO7CA&amp;H=CMPMWF2PSEYR6IASARNWEB3CUSYA">Your
                                      Orders</a> on Amazon.in. </p> -->
                                </td>
                              </tr>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <br>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="border-collapse:collapse">
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-top:3px solid rgb(45,55,65);border-collapse:collapse">
                            <tbody>
                              <tr>
                          <!--       <td style="font-size:14px;padding:11px 18px 18px 18px;background-color:rgb(239,239,239);width:50%;vertical-align:top;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="margin:2px 0 9px 0;font:14px Arial,sans-serif"> <span style="font-size:14px;color:rgb(102,102,102)">Your estimated
                                      delivery date is:</span> <br>
                                    <b> Thursday, December 11, 2014 - <br>
                                      Saturday, December 13, 2014 </b>
                                  </p>
                                  <p style="margin:2px 0 9px 0;font:14px Arial,sans-serif"> <span style="font-size:14px;color:rgb(102,102,102)">Your shipping
                                      speed:</span> <br>
                                    <b> 2-4 Business Days (FREE
                                      Delivery). </b> </p>
                                  <a target="_blank" style="font-size:11px;color:rgb(102,102,102);text-decoration:underline;font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fcss%2Forder-details%3ForderId%3D171-4138050-6620328%26ref_%3Dpe_386221_48200641_TE_on_sh&amp;A=HYSASDBEAUSY7PFC9RWUFGK4PEOA&amp;H=XPRVBNAYVZACLVSUCXAQFRTRAX4A"> <img border="0" style="border:0" src="https://ci3.googleusercontent.com/proxy/1GvgDA2oBjN-4CmKbxYLc0ZEowjefjdwOd9lirl_Oy7MLot8_nIJcOzYsxni2FnS7gANKl23ooE98hQwsVHNdmkpk8JjGJEO0nrfA26-8QxdRQwEBV2gObn11NgSEDWhey7E2HBgFA=s0-d-e1-ft#http://g-ecx.images-amazon.com/images/G/01/x-locale/cs/te/button-orderdetails.png" alt="Your
                                      Orders" class="CToWUd"> </a>
                                </td> -->
                                <td style="font-size:14px;padding:11px 18px 18px 18px;background-color:rgb(239,239,239);width:50%;vertical-align:top;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="margin:2px 0 9px 0;font:14px Arial,sans-serif"> <span style="font-size:14px;color:rgb(102,102,102)">Your order
                                      will be sent to:</span> <br>
                                    <b> <%= @user.email%><br>
                                      <%= @user.customer.company_name%> <br>
                                      <%= @user.customer.phone_no%>
                                     </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="border-bottom:1px solid rgb(204,204,204);vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <h3 style="font-size:18px;color:rgb(204,102,0);margin:15px 0 0 0;font-weight:normal">Order Details</h3>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> Order
                                  #<a style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"><%= @order_id%></a>
                                  <br>
                                  <span style="font-size:12px;color:rgb(102,102,102)">Placed on
                                    <%=Date.today.to_date.strftime("%A, %B %d, %Y")%></span> </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:95%;border-collapse:collapse">
                            <tbody>
                              <%@report_list.each do |report|%>

                              <tr>
                                <td style="width:150px;text-align:center;padding:16px 0 10px 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" title="B003L62T7W" href="#"> 
                                <%#if report.report_image?%>
                                  <%#= image_tag report.report_image_url(:thumb)  %>
                                <%#else%>
                                  <%= image_tag report.publisher.report_image_url(:thumb) rescue nil %>
                                <%#end%>

                                </a> </td>
                                <td style="color:rgb(102,102,102);padding:30px 30px 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"> <%=  report.title %> </a> <br>
                                  Published: <%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%> <br>
                                  by <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"><%= report.publisher.name%></a>
                                  <br>
                          <!--         <div>
                                    <table cellspacing="4" cellpadding="0" border="0" style="border-collapse:separate">
                                      <tbody style="vertical-align:bottom">
                                        <tr>
                                          <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <br>
                                          </td>
                                          <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"> <img border="0" width="16" height="16" style="vertical-align:middle;border:0" alt="Facebook" src="https://ci6.googleusercontent.com/proxy/LZBtmav_QPHzrZ7KfzOOZYLzbw4H2ec41jBbA1jzGzoCmgK-9Q7jPIxYGZH1eb4R8GmjUkZODxclpY2Wssnw9na1LgcylZSWvKsJP0m0YluAyWXcWH-_JfghPMWnYz9dRFTPXjIPYHeMbjgLDp3Ql5M1aTG2iJB_xKdtIvLu=s0-d-e1-ft#http://g-ecx.images-amazon.com/images/G/31/x-locale/personalization/live-meter/facebook._V138349243_.gif" class="CToWUd"> </a> </td>
                                          <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"> <img border="0" width="16" height="16" style="vertical-align:middle;border:0" alt="Twitter" src="https://ci3.googleusercontent.com/proxy/wa_29dGv75RYD1_vgfHBRaJ-XcpeVzWI4Em7kuxC9C98xKYiijIkbJjS7Ry_8dgdjyLrfaBSYlmt9gS4xBlqdkkVEks_Obabj__0V0BH24tAgqOZuxd5BepEzU1SWtpUF5amRIh9f72C0z_08IDsngYkqHz5=s0-d-e1-ft#http://g-ecx.images-amazon.com/images/G/31/x-locale/communities/social/twitter._V388040199_.gif" class="CToWUd"> </a> </td>
                                          <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"> <img border="0" width="16" height="16" style="vertical-align:middle;border:0" alt="Pinterest" src="https://ci5.googleusercontent.com/proxy/JqaTyegRkNlzhIcXOaUPdej978mazZS3LXM-GPc1CRU9_B7L9d8mG73kZWED5yGVcdOIhNDUG66II7cKNGVMnXJmO8qOwUrHAqIBd7embY8leDRDdiUTXdNNgvidErkKb2IQIv85hLM5DJtUn8o4M-ip6fmrunE=s0-d-e1-ft#http://g-ecx.images-amazon.com/images/G/31/x-locale/communities/social/pinterest._V389372390_.png" class="CToWUd"> </a> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div> -->
                                </td>
                                <td style="width:110px;text-align:right;font-size:14px;padding:30px 10px 0 0;vertical-align:top;line-height:18px;font-family:Arial,sans-serif">
                                  <strong>$ <%=@cart.shopping_cart_items.where(:item_id => report.id).first.price%></strong> <br>
                                </td>
                              </tr>
                              <%end%>


                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left:32px;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:95%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="border-top:1px solid rgb(234,234,234);padding:0 0 16px 0;text-align:right;line-height:18px;vertical-align:top;font-size:13px;font-family:Arial,sans-serif" colspan="2"> <br>
                                </td>
                              </tr>
<!--                               <tr>
                                <td style="text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif">
                                  Item Subtotal: </td>
                                <td style="width:120px;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif"> Rs.266.00 </td>
                              </tr>
                              <tr>
                                <td style="text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif">
                                  Shipping &amp; Handling: </td>
                                <td style="width:120px;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif"> Rs.49.00 </td>
                              </tr>
                              <tr>
                                <td style="text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif">
                                  Promotion Applied: </td>
                                <td style="width:120px;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif"> -Rs.49.00 </td>
                              </tr>
                              -->
                              <tr>
                                <td style="font-size:14px;font-weight:bold;font:12px/16px Arial,sans-serif;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-family:Arial,sans-serif"> <strong>Order
                                    Total:</strong> </td>
                                <td style="font-size:14px;font-weight:bold;font:12px/16px Arial,sans-serif;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-family:Arial,sans-serif"> <strong>$ <%= @cart.total%></strong>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding:0 0 16px 0;text-align:right;line-height:18px;vertical-align:top;font-size:13px;font-family:Arial,sans-serif" colspan="2"> <br>
                                </td>
                              </tr>
                              <tr>
                                <td style="border-top:1px solid rgb(234,234,234);padding:0 0 16px 0;text-align:right;line-height:18px;vertical-align:top;font-size:13px;font-family:Arial,sans-serif" colspan="2"> <br>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
            <!--             <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="margin:1px 0 8px 0;font:12px/16px Arial,sans-serif"> Need
                                    to make changes to your order? Visit
                                    our <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=http%3A%2F%2Fwww.amazon.in%2Fgp%2Fhelp%2Fcustomer%2Fdisplay.html%2Fref%3Dpe_386221_48200641_TE_ofa%3Fie%3DUTF8%26nodeId%3D200534180&amp;A=A63S2FKV3O0GULOU5FEPMKKPEQQA&amp;H=DHRWJTANPJ6FIIBWT85CIMQTBCKA">Help
                                      Page</a> for more information.<br>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td> -->
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;padding:0 0 0 0;border-collapse:none">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="padding:0 0 20px 0;border-bottom:1px solid rgb(234,234,234);margin:0;font:12px/16px Arial,sans-serif"> We hope to
                                    see you again soon.<br>
                                    <br>
                                    <span style="font-size:16px;font-weight:bold"> <strong>marketresearchfuture</strong>
                                    </span> </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="border-collapse:collapse">
                            <tbody>
                              <tr>
              
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;margin:20px 0 0 0;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="font-size:10px;color:rgb(102,102,102);line-height:16px;margin:0 0 10px 0;font:10px"> This email was sent from a
                                    notification-only address that
                                    cannot accept incoming email. Please
                                    do not reply to this message. </p>
                                </td>
                              </tr>
                              <tr>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
         <div class="yj6qo"></div><div class="adL">
        </div></div><div class="adL">
      </div></blockquote>