
<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i>Websites</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Websites</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Websites
							</div>
							
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								
									<th>Name</th>
									<th>Username</th>
									<th>Status</th>
									<th>Change Username/Password</th>
								</tr>
							</thead>
							<tbody>
							     <% @websites.each do |website| %>
								<tr>
								    <td><%= website.website_name %></td>
								    <td><%= website.username %></td>
								    <td style="color: <%= website.automation_on_flag ? 'green' : 'red'%>"><%= website.status %></td>
									<td>
									 <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_website_path(website) , :class=>'btn btn-xs btn-warning'  %> 

										<!-- <a href="/admin/websites/<%= website.id %>/delete" data-confirm="Are you sure?" data-method="delete" rel="nofollow" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a> -->

									 <!-- <a href="/admin/websites/<%= website.id %>/delete" data-method="delete" onclick="if(confirm('Are you sure you want to delete this website?')){  true;  }else{ false;}" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a> -->
									</td>
								</tr>
								<% end %>


							</tbody>
						</table>

						<!-- <div class="widget-foot">
					
						   <div class="pull-left">
								<%#= link_to  "Add Website", new_admin_website_path, :class => 'btn btn-sm btn-primary' %>
							</div>

							<div class="pull-right">
                            <%#= will_paginate @websites, renderer: BootstrapPagination::Rails %>
							</div>

							<div class="clearfix"></div>

						</div> -->

					</div>
				</div>

			</div>
		</div>
	</div>
</div>



















