                  

                                <section class="content " id="eshop">
          <div class="container ">
        <div class="row">
                 <div style="float: right; padding: 10px 35px 0;">                       
                    <a href="javascript:void(0)" onclick="closePopup()" class="btn btn-primary btn-xs"> View Article</a>  
                 </div>
              <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
                                       
                                <div class="panel-body" >
                                    <p> <span style="vertical-align: middle;"> <b style="color:#006DCC;"> <%=@article.title %></b></span></p>

                                     
                                     <p> <span style="vertical-align: middle;"> <b style="color:#383535;"> <%= @article.published_date.to_date.strftime("%d " "%B, %Y") rescue nil%> </b></span></p>
                                     
                                       <div class="col-sm-6 table-responsive" >
                                      
                                      </div> 
                                </div>
</div>
                              </div>
            </div>

                <div class="row">
                           <!--  <div class="col-md-3"> -->
                               
                     <!--            <img src="/assets/checkdiscount.png" style="height: 212px;">
                                <br/>  <br/>
                                <h5 style="color:#0D58A6">Check Discount on this report</h5> -->
                          <!--   </div>   -->
                            <div class="col-md-9">
                                      
                                     <h3 style="color:#0D58A6;text-align: center;padding-bottom: 20px;">Ask for Table of Content</h3>
                              <%= form_for "article_enquiry", :url => "", :method => 'post', :html => {:class=>"form-horizontal",:id=>"article_enquiry_form"} do |f| %>
                              
                                <div class="form-group ">
                    <label for="name" class="col-sm-3 control-label">Your name:<span>*</span></label>
                    <div class="col-sm-9">
                    <%= f.text_field :name ,:class=>"form-control", :placeholder=>"Your name:" %>  
                    </div>
                </div>                               
            
            
      
              <div class="form-group ">
                    <label for="email2" class="col-sm-3 control-label">Your email:<span>*</span></label>
                     <div class="col-sm-9">
                    <%= f.text_field :email , :class=>"form-control", :placeholder=>"Your email:"  %>  
                    </div>
                </div>
            
               
              <div class="form-group ">
                    <label for="email2" class="col-sm-3 control-label">Company Name:<span>*</span></label>
                     <div class="col-sm-9">
                    <%= f.text_field :company , :class=>"form-control", :placeholder=>"Your Company:" %>  
                    </div>
                </div>
         
                
              <div class="form-group ">
                    <label for="email2" class="col-sm-3 control-label">Job Title:<span>*</span></label>
                     <div class="col-sm-9">
                    <%= f.text_field :job_title , :class=>"form-control", :placeholder=>"Your Job Title:" %>  
                    </div>
                </div>
          
              <div class="form-group ">
                    <label for="email2" class="col-sm-3 control-label">Phone No.:<span>*</span></label>
                     <div class="col-sm-9">
                    <%= f.text_field :phone_no , :class=>"form-control", :placeholder=>"Your Phone No.:" %>  
                    </div>
                </div>
         
                <div class="form-group ">
                    <label for="message" class="col-sm-3 control-label">Your Country:<span>*</span></label>
                     <div class="col-sm-9">
                      <%=f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control'%>
                    </div>
                   
                </div>
           
                <div class="form-group ">
                    <label for="message" class="col-sm-3 control-label">Your message:<span>*</span></label>
                     <div class="col-sm-9">
                     <%= f.text_area :message ,  :class=>"form-control", :placeholder=>"Your message:",:style=>"height:100px"%>  
                     <%= f.hidden_field :type,:id=>"enquiry_type",:value=>"ask_toc"  %>  
                      <%= f.hidden_field :article_id , :value=> @article.id, :class=>"form-control"%> 
                      </div>
                   
                </div>
           
                <div class="form-group ">
                    <label for="email2" class="col-sm-3 control-label"></label>
                     <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary btn-sm" id="send_ask_enquiry"><i class="fa fa-check"></i>Send</button>
                    <span class="form-info"><span class="required">*</span> These fields are required</span>
                </div>
                 </div>
                               
                                <%end%>
                            </div>                                 
                        </div>
             

                                  </div>
   </section>



<script type="text/javascript">
 

      var onloadCallback = function() {
 
        grecaptcha.render('example4', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8',
          'callback' : verifyCallback8,
          'theme' : 'light'
        });
      };

       var verifyCallback8 = function(response) {
        $("#hiddenRecaptcha8").val(response);
      };
    </script>

<script type="text/javascript">



    $("#article_enquiry_form").submit(function(e) {

      e.preventDefault()
  

      if( IsName($("#article_enquiry_name").val()) && IsEmail($("#article_enquiry_email").val())  &&  IsJobTitle($("#article_enquiry_job_title").val()) && IsCompany($("#article_enquiry_company").val()) && IsPhone($("#article_enquiry_phone_no").val()) && IsCountry($("#article_enquiry_country_id").val()) && IsMessage($("#article_enquiry_message").val())){
          $('#send_ask_enquiry').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send_ask_enquiry').attr('disabled','disabled'); 
          $.ajax({
            url: "/save_enquiry_articles",
            type: "POST",
            data: $("#article_enquiry_form").serialize()
          }).success(function(data){
              if (typeof data.notice != "undefined"){
                $("header").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
              }else{
                $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
              }
              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#article_enquiry_form")[0].reset();
              $('#send_ask_enquiry').html("<i class='fa fa-check'></i>Confirm");
              $('#send_ask_enquiry').removeAttr('disabled');
              $("#email_report_popup").modal('hide');

              // grecaptcha.reset();
              // $('#hiddenRecaptcha7').val('');
              // setTimeout(function(){location.reload();},3000);
              
          });
      }
   


    })

function closePopup(){
  try{
    if(window.opener.location.pathname){
      self.close();
    }else if(window.opener && window.opener != undefined){
      self.close()
    }else{
      this.location.href ='/articles/'+'<%=@article.id%>/<%= @article.slug%>'
    }
  }
  catch(err){
    this.location.href ='/articles/'+'<%=@article.id%>/<%= @article.slug%>'
  }
}

function IsName(name){
  if(name.trim()==''){
    alert("Please enter your name.");
    return false;
  }else{
    return true;
  };
}


function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email.trim()==''){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
}

function IsJobTitle(jobtitle){
  if(jobtitle.trim()==''){
    alert("Please enter job title.");
    return false;
  }else{
    return true;
  };
}
function IsCompany(company){

  if(company.trim()==''){
    alert("Please enter your company.");
    return false;
  }else{
    return true;
  };
}

function IsPhone(phone){
  var regex = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
  if(phone.trim()==''){
    alert("Please enter your phone number.");
    return false;
  }else if(phone.trim().length<8){
    alert("Please enter an valid phone number.");
    return false;
 }else{
    return true;
  };
}
function IsCountry(country){

  if(country.trim()==''){
    alert("Please select an country");
    return false;
  }else{
   
    return true;
  };
}

function IsMessage(msg){
  if(msg.trim()==''){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
}


</script>