<div class="inner_container">
  
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="#">Articles</a></li>
  </ul>
<br />
    <!-- <section class="breadcrumb-wrapper">
        <div class="container">
          <div class="col-sm-3">

            <h2 class="visible-lg visible-md visible-sm">Articles</h2>
            <h5 class="hidden-lg hidden-md hidden-sm" align="center">Articles</h5>
          </div>
              <div class="col-sm-4">
              <%#= form_tag "/articles",:method => "GET" do |f| %>
                  <fieldset>
                      <div class="form-group nospace">
                          <div class="input-group">
                              <%#if params[:q].present? %> 
                              <%#= text_field_tag :q,nil, :class => "form-control input-search" ,:value=> params[:q], :required=> true%>
                              <%#else%>
                                <%#= text_field :q, nil,:class => "form-control input-search", :placeholder => "Articles Title | Any Keyword", :required=> true%>
                              <%#end%>
                         
                              <span class="input-group-btn"><button class="btn btn-primary" type="submit" id="send"><i class="fa fa-search"></i></button></span>
                          </div>
                      </div>
                  </fieldset>
                <%#end%>
              </div>

            <div class="col-sm-4">

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Articles</li>
            </ol>
            </div>
        </div>
    </section>


 -->
  <div class="row" >
    <div class="col-md-9">
      <div class="reportbox">
        <h4 class="rr">Articles</h4>
        <ul>
          <% @articles.each do |article| %>
            <li><i class="fa fa-pencil-square-o" style="color:#0B85E5;"></i> <a href="/articles/<%=article.id%>/<%= article.slug%>"><%=  article.title %></a> <br>
              <%=  truncate( raw( sanitize(simple_format(article.content), :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 250, :omission => "...") %>
              <div class="product-tags" style="float:right; padding-left: 15px;  padding-bottom: 15px;">
                <span class="label label-info" style="background:#0B85E5;"><%= article.published_date.to_date.strftime("%d " "%B, %Y") rescue nil%></span>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
      <br />
      <div class="col-md-12">
    <div class="row">
      <div class="pull-left" style="padding-bottom:20px;">
        <%= page_entries_info @articles %>
      </div>  
    </div>
    <div class="row">
      <div class="pull-left">
        <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>          
      </div>
    </div>
  </div>
    </div>
    <div class="col-md-3">
      <h3 class="newheading">Advertisment<span></span></h3>
      <div class="related_report text-center">
          <img src="/assets/add.jpg" alt="" style="width:100%;">
      </div>
    </div>
  </div>
  <br />
  </div>
