<div class="inner_container">

 <ul class="breadcrumbs">
              <li><a href="/">Home</a></li>
              <li><a href="#">Article</a></li>
            </ul>

    <section class="breadcrumb-wrapper">
        <div class="container">
          <div class="col-sm-3">
            <h2>Article</h2>
          </div>
                 <!-- <div class="col-sm-4">
              <%#= form_tag "/articles",:method => "GET" do |f| %>
                  <fieldset>
                      <div class="form-group nospace">
                          <div class="input-group">
                              <%#if params[:q].present? %> 
                              <%#= text_field_tag :q,nil, :class => "form-control input-search" ,:value=> params[:q], :required=> true%>
                              <%#else%>
                                <%#= text_field :q, nil,:class => "form-control input-search", :placeholder => "Articles Title | Any Keyword", :required=> true%>
                              <%#end%>
                         
                              <span class="input-group-btn"><button class="btn btn-primary" type="submit" id="send"><i class="fa fa-search"></i></button></span>
                          </div>
                      </div>
                  </fieldset>
                <%#end%>
              </div> -->
            <div class="col-sm-4">
           
  <!--           <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Article</li>
            </ol> -->
            </div>
        </div>
    </section>


 <section class="content" id="features">
    	<div class="container">
    		<div class="col-md-8 col-ls-8 col-sm-8" >



     
            <h2 class="inner-headers"><%=@article.title%></h2>
        




         <div class="article_buttons">
            
                <a href="javascript:void(0)" class="btn btn-primary btn-sm ask_toc" role="button" id="ask_toc" style=" margin-bottom: 20px;"><i class="fa fa-file-text-o"></i> Ask for Table of Content</a>&nbsp;&nbsp;
           
                <a href="javascript:void(0)" class="btn btn-primary btn-sm schedule_call" role="button" id="schedule_call" style=" margin-bottom: 20px;"><i class="fa fa-phone"></i> Schedule Analyst Call</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" class="btn btn-primary btn-sm ask_customize" role="button" id="ask_customize" style=" margin-bottom: 20px;"><i class="fa fa-edit"></i> Ask for Customization</a>
                 </div>

             <div id="article_show">
             <p class="pub-date">Published On :  <%= @article.published_date.to_date.strftime("%d " "%B, %Y") rescue nil%> </p>
             <%= image_tag @article.article_image_url(:thumb), :class=>"img-thumbnail", :style=>"vertical-align: middle;margin-right:16px;margin-bottom: 5px;" if @article.article_image? %>
             <span style="vertical-align: middle;"> <%= simple_format(@article.content, {}, :sanitize => false) %> </span>
                            
            </div>
        </div>


    		<div class="col-sm-4 col-lg-4 col-md-4" >


 <div class="bubble">
   <div class="rectangle">
            <h2 style="color:#fff;">Send an Enquiry</h2>
          </div>

<div class="info"  style="padding: 50px;">

  <%= form_for "contact_us", :url => save_contact_us_path, :method => 'post', :html => {:class=>"form-horizontal",:id=>"contact_us_form"} do |f| %>
             

        <fieldset>
           
                <div class="form-group ">
                    <label for="name">Your name:<span>*</span></label>
                    <%= f.text_field :name ,:class=>"form-control", :placeholder=>"Your name:" %>  
                    
                </div>                               
            
            
      
              <div class="form-group ">
                    <label for="email2">Your email:<span>*</span></label>
                    <%= f.text_field :email , :class=>"form-control", :placeholder=>"Your email:"  %>  
                  
                </div>
            
               
              <div class="form-group ">
                    <label for="email2">Company Name:<span>*</span></label>
                    <%= f.text_field :company , :class=>"form-control", :placeholder=>"Your Company:" %>  
                  
                </div>
         
                
              <div class="form-group ">
                    <label for="email2">Job Title:<span>*</span></label>
                    <%= f.text_field :job_title , :class=>"form-control", :placeholder=>"Your Job Title:" %>  
                  
                </div>
          
              <div class="form-group ">
                    <label for="email2">Phone No.:<span>*</span></label>
                    <%= f.text_field :phone_no , :class=>"form-control", :placeholder=>"Your Phone No.:" %>  
                  
                </div>
         
                <div class="form-group ">
                    <label for="message">Your Country:<span>*</span></label>
                      <%=f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control'%>
                 
                   
                </div>
           
                <div class="form-group ">
                    <label for="message">Your message:<span>*</span></label>
                     <%= f.text_area :message ,  :class=>"form-control", :placeholder=>"Your message:",:style=>"height:100px"%>  
                 
                   
                </div>
           
                <div class="form-group ">
                    <label for="email2"></label>
                    <button type="submit" class="btn btn-primary btn-sm" id="send_contact"><i class="fa fa-check"></i>Submit</button>
                    <span class="form-info"><span class="required">*</span> These fields are required</span>
                </div>
            
        </fieldset>
     <%end%>

                     </div>
                    </div>     
         <div class="bubble" >
    <div class="rectangle">
            <h2 style="color:#fff;">Share This:</h2>
          </div>
      

          <div class="info" style="overflow-y:auto;">
       
     <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54e1eb361a9365f3" async="async">
                </script>
      
                <div style="float:left">
                 
                  <div class="addthis_sharing_toolbox">
                  </div>
                </div>
          </div>
        </div>


         <div class="bubble" style="margin-top: 30px;">
          <div class="rectangle" >
            <h2 style="color:#fff;">Connect With Us</h2>
          </div>


          <div class="info" style="overflow-y:auto;">
            <div class="col-sm-4" style="margin-left: -15px;">
               <p> <img src="/assets/contact-us.png" alt="Logo" class="img-responsive" ></p>
              </div>
               
                <div class="col-sm-8" >
                        <p><b>Email Us at :</b> sales@marketresearchfuture.com<br>
                          <b>Reach Us at : </b><br/>+1 (646) 845 9349 (US)<br/>
                            <b > </b>+44 208 133 9349 (UK)</p>
                              </div>
          </div>
        </div>
        




            </div>


            </div>


      
 </section>

</div>








 <style type="text/css">
  h2.inner-headers,h1.inner-headers{border-bottom: 1px solid #999;padding-bottom: 5px;margin-bottom: 20px;font-size: 28px;color: #666;text-transform: none;}
  p.pub-date {
      color: #999;
      font-size: 10px !important;
  }
 .article_buttons{
    padding-top:20px;float:left;width: 100%;
  }
 </style>


      <script type="text/javascript">

// Trimming white space
$('p').filter(function () { return $.trim(this.innerHTML) == "" }).remove();

// Without trimming white space
$('p').filter(function () { return this.innerHTML == "" }).remove();
$('ul').find('br').remove()
$(function() {

    $("#contact_us_phone_no").keypress(function(e) {
        var val = $(this).val();
        var regex = /^[0-9 \.+]+$/;
        if (regex.test(val + String.fromCharCode(e.charCode))) {
            return true;
        }
        return false;
    });


});



    $("#ask_toc").click(function() {
     
        window.open('/ask_toc_request/<%=@article.id%>/<%=@article.slug%>', "mywindow","width=1000,height=600,scrollbars=1");

    });
     $("#schedule_call").click(function() {

        window.open('/schedule_call/<%=@article.id%>/<%=@article.slug%>', "mywindow","width=1000,height=600,scrollbars=1");
    });
    $("#ask_customize").click(function() {
     
        window.open('/ask_customize/<%=@article.id%>/<%=@article.slug%>', "mywindow","width=1000,height=600,scrollbars=1");
    });



    $("#contact_us_form").submit(function(e) {

      e.preventDefault()
  

      if( IsName($("#contact_us_name").val()) && IsEmail($("#contact_us_email").val())  &&  IsJobTitle($("#contact_us_job_title").val()) && IsCompany($("#contact_us_company").val()) && IsPhone($("#contact_us_phone_no").val()) && IsCountry($("#contact_us_country_id").val()) && IsMessage($("#contact_us_message").val())){
          $('#send_contact').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send_contact').attr('disabled','disabled'); 
          $.ajax({
            url: "/save_contact_us",
            type: "POST",
            data: $("#contact_us_form").serialize()
          }).success(function(data){
              if (typeof data.notice != "undefined"){
                $("header").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
              }else{
                $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
              }
              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#contact_us_form")[0].reset();
              $('#send_contact').html("<i class='fa fa-check'></i>Confirm");
              $('#send_contact').removeAttr('disabled');
              // grecaptcha.reset();
              // $('#hiddenRecaptcha7').val('');
              // setTimeout(function(){location.reload();},3000);
              
          });
      }
   


    })






function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email.trim()==''){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
}

function IsJobTitle(jobtitle){
  if(jobtitle.trim()==''){
    alert("Please enter job title.");
    return false;
  }else{
    return true;
  };
}

function IsName(name){
  if(name.trim()==''){
    alert("Please enter your name.");
    return false;
  }else{
    return true;
  };
}

function IsCompany(company){

  if(company.trim()==''){
    alert("Please enter your company.");
    return false;
  }else{
    return true;
  };
}

function IsPhone(phone){


  if(phone.trim()==''){
    alert("Please enter your phone number.");
    return false;
  }else if(phone.trim().length<8){
    alert("Please enter an valid phone number.");
    return false;
  }else{
    return true;
  };
}
function IsCountry(country){

  if(country.trim()==''){
    alert("Please select an country");
    return false;
  }else{
   
    return true;
  };
}

function IsMessage(msg){
  if(msg.trim()==''){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
}
    </script>