


 <fieldset>

 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Email address:<span>*</span></label>
	<div class="col-sm-9">
			<%if current_user%>
		  <%= text_field_tag :existing_email,nil, :class=>"form-control", :value=>"#{current_user.email}", :readonly=>true , :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%>
		<%else%>
		  <%= text_field_tag :existing_email,nil,  :class=>"form-control", :placeholder=>"Your email:" , :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
		<%end%>
	</div>
</div>
</div>
 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Password:<span>*</span></label>
	<div class="col-sm-9">
		<%= password_field_tag :existing_password ,nil, :class=>"form-control", :placeholder=>"Your password:"  %>
	</div>
</div>
</div>
 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label"></label>
	<div class="col-sm-9">
	<a href="/password_resets/new" id="reset-password-toggle">Did you forget your password?</a>
	</div>
</div>
</div>
 </fieldset>





