               
      <%if @cart["shopping_cart_items"].empty?%>
                            <div class="shopping-cart-item">
                 
                             <div class="row">
                               <div class="col-md-12" style="text-align:center">
                                <br/><br/>
                             Your shopping bag is empty. Please click the link below to <br/><br/>
                                    <a href="/reports" class="btn btn-xs btn-warning">Continue Shopping</a>
                             </div>
                             </div>
                             </div>
                          <%end%>



                   <%@cart["shopping_cart_items"].each do |item|%>
       
                <!-- SHOPPING CART ITEM -->
                <div class="shopping-cart-item">
                      <!-- <a id="remove_item_link" href="javascript:void(0)" onclick="remove_product(<%#=item['id']%>, <%#=params[:purchase_id].blank? ? 0 : params[:purchase_id]%>);return false;" class="delete" style="color:red"><i class="fa fa-times"></i></a> -->
                    <div class="row">
                
                        <div class="col-sm-2">
                        <% if Report.category_name_image_hash[item["item"]["category"]["id"]][:icon].present?%>
                         <img src="<%=Report.category_name_image_hash[item["item"]["category"]["id"]][:icon]%>" class="img-thumbnail img-responsive" >
                    
                        <%else item["item"]["report_image"]["thumb"]["url"]=="/images/fallback/default_report.png" %>   
                          <%= image_tag item["item"]["report_image"]["thumb"]["url"], :class=>"img-thumbnail img-responsive" %> 
                     
                        <%end%>
                        </div>
                        <div class="col-sm-4" >
                            <h5><%=item["item"]["title"]%></h5>
                              <p ><b style="color:#916D06">Edition: </b><%= get_edition(item["purchase_type"])%></p>
                              <!--   <p ><b style="color:#916D06">Publisher: </b><%#=  item["item"]["publisher"]["name"]%></p> -->
                        </div>
                        <div class="col-sm-2">
                            <p class="small-price" style="font-size: 13px;"><%= get_currency_price(item) %>&nbsp;per item</p>
                        </div>
                        <div class="col-sm-2" >
                            
                            <p class="quantity"><%=item["quantity"]%> qty</p>
                        </div>
                        <div class="col-sm-2">
                            <p class="total-price" style="font-size: 15px;float: left;"><%= get_currency_total_price(item) %>
                            <br/><br/>
                               <%if item["discount"].present?%>
                               <img src="/assets/discount.jpg" width="50" style=" margin: -10px 10px 0 0;"><%= item["discount"] rescue nil %>
                         <!--    <p class="total-price" style="font-size: 15px;float: left;" ><%#= get_currency_grand_price(item,item["discount"]) %></p> -->
                            <%end%>
                            </p>
                         
                        </div>
                    </div>
                </div>
                <%end%>