<section class="content bg-color-2" id="eshop">
	<div class="container">

           <div class="shopping-cart-header row">
                <div class="col-md-3 active">
                    <img src="/assets/cart1.png" height="40" width="40">
                   <!--  <i class="fa fa-shopping-cart"></i> -->
                    <p>Your Cart</p>
                </div>
                  <div class="col-md-3">
                     <img src="/assets/pencil.png" height="40" width="40">
                    <p>Checkout</p>
                </div>
                <div class="col-md-3">
                           <img src="/assets/profile.png" height="40" width="40">
                    <p>Your Detail</p>
                </div>
              
                <div class="col-md-3">
                               <img src="/assets/tick_dark.png" height="40" width="40">
                    <p>Summary</p>
                </div>
            </div>
            

		<div class="shopping-cart">
			<div class="form-address" >
				<fieldset>

					<div class="row">
						<div class="col-md-3">
							<h3>Your Information</h3>

						</div>
						<div class="col-md-9">
							<%= form_for "customer", :url => create_customer_path, :method => 'post', :html => {:class=>"form-horizontal",:id=>"new_customer"} do |f| %>
							<div class="form-group">
								<label for="email2" class="col-sm-3 control-label"></label>
								<div class="col-sm-9">
										<h5><strong style="color:#787777">We are always happy to receive some extra information</strong></h5>
								</div>
							</div>
								<div class="form-group">
								<label for="email2" class="col-sm-3 control-label"></label>
								<div class="col-sm-9"></div>
							</div>
							<div class="form-group">
								<label for="email2" class="col-sm-3 control-label">Your Company:<span>*</span></label>
								<div class="col-sm-9">
									<%= f.text_field :company_name , :class=>"form-control", :placeholder=>"Company Name" , :required => true%>
								</div>
							</div>

							<div class="form-group">
								<label for="email2" class="col-sm-3 control-label">Job Title:<span>*</span></label>
								<div class="col-sm-9">
									<%= f.text_field :job_title , :class=>"form-control", :placeholder=>"Job Title" , :required => true%>
								</div>
							</div>

							<div class="form-group">
								<label for="email2" class="col-sm-3 control-label">Address:<span>*</span></label>
								<div class="col-sm-5">
									<%= f.text_field :address_street1 ,:class=>"form-control" , :placeholder=>"Address street1", :required => true%>
								</div>
								<div class="col-sm-4">
									<%= f.text_field :address_street2 ,:class=>"form-control", :placeholder=>"Address street2" , :required => true%>

								</div>
							</div>
							<div class="form-group">
								<label for="email2" class="col-sm-3 control-label"></label>
								<div class="col-sm-5">
									<%= f.text_field :zip_code , :class=>"form-control", :placeholder=>"Zip Code/Postal Code", :id=>"password", :required => true,  :pattern => '\d+' %>
								</div>
								<div class="col-sm-4">

									<%= f.text_field :phone_no , :class=>"form-control", :placeholder=>"Phone Number:", :id=>"password", :required => true ,  :pattern => '\d+'%>

								</div>
							</div>
							<div class="form-group">
								<label for="email2" class="col-sm-3 control-label">City:<span>*</span></label>
								<div class="col-sm-9">
									<%= f.text_field :city , :class=>"form-control", :placeholder=>"City" , :required => true,:pattern=>'[A-Za-z]+'%>
								</div>
							</div>

							<div class="form-group">
								<label for="email2" class="col-sm-3 control-label">Country:<span>*</span></label>
								<div class="col-sm-9">
									<%= f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"}, :class => 'form-control' %>
									<%= f.hidden_field :user_id , :value=> current_user.id, :class=>"form-control"%>
								</div>
							</div>

							<div class="pull-right">

								<button type="submit" id="send" class="btn btn-primary">
									<i class="fa fa-check"></i>Continue to next step
								</button>
							</div>

							<% end %>
						</div>
					</div>

				</fieldset>
			</div>
		</div>

	</div>
</section>