    <script src="https://js.stripe.com/v2/" ></script>
    <%= javascript_include_tag "jquery.payment.js" ,"checkout.js" ,"jquery.blockUI.js","loader.js"%>
    
      


<div class="inner_container">



  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="#">Countries</a></li>
  </ul>


<br/>










 <%= form_tag "/express_checkout", onsubmit: "completeOrder();return(false);", :id => "review_order_form" do %>
        <div class="col-sm-12 pad">
            <div class="rectangle">
              <div class="col-sm-6"><h4> Name </h4></div>
              <div class="col-sm-2 hidden-xs"><h4> Price </h4></div>
              <div class="col-sm-2 hidden-xs"><h4> Quantity </h4></div>
              <div class="col-sm-2 hidden-xs"><h4> Total </h4></div>
              <div class="clearfix"></div>
            </div>
        
            <div class="info info-last">
 

           

                 





<%= render "place_order_items" %> 






            </div>
            <div class="info info-last">
              <div class="table-responsive">
                      <table class="table">
                      <tbody>
                        <tr>
                        <td width="85%"><p class="text-right">Subtotal:</p>
                          
                          <p class="text-right">Discount:</p>
                          <hr>
                          <p class="text-right">Total:</p></td>
                        <td width="15%">
                        <p class="total-price-title"> <%= get_currency_subtotal(@cart) %> </p>
                          
                          <p class="total-price-title"><%if @discount.nil?%>0<%else%>( - ) <%= @discount rescue nil%><%end%></p>
                          <hr> <% discount_total =  get_currency_grandtotal(@cart,@discount) %>
                          <p style="font-size: 22px;" class="total-price-title"> <%if @discount.nil?%><%= get_currency_subtotal(@cart) %><%else%> <%= discount_total %><%end%> </p></td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
            </div>


            <div class="clearfix"></div>
          </div>








           <div class="hidden-md hidden-lg">
              <div>
                <div class="rectangle"><h4>Coupon Discount </h4></div>
                <fieldset style="padding:15px" class="info">
                  <div class="form-group">                    
                    <div class="col-xs-9 pad save"><input type="text" class="form-control" placeholder="Enter Your Coupon Code"></div>
                    <div class="save"><button class="submit col-xs-3">Save </button></div>
                  </div>                
                </fieldset>
              </div>
              <div>
                <div class="rectangle"><h4>Confirm Purchase </h4></div>
                <fieldset style="padding:15px" class="info">
                  <div class="form-group">
                    <label for="email2">Notes & Special Requests</label>
                    <textarea class="form-control" id="enquiry_interest_area" name="enquiry[interest_area]" style="height:86px; margin-bottom:2px"></textarea>
                   
                   <br/>
                   
                  </div>                
                </fieldset>
              </div>
            </div>





 <div style="display: none;"><input type="checkbox" name="terms_condition" id="term_condition"><span style="font-size: 9px;"> I read and Accept the <a  href="javascript:void(0);" id="terms_popup" data-toggle="modal" data-target="#terms_condition">Terms and Conditions</a></span></div>
      
<section class="content " id="eshop">



               
     
            
<!-- <div class="form-address" > -->
      




<!--        </div> -->

            <%unless current_user%>
         
              <div class="col-sm-12 well ">
               <strong>Are you Existing Customer?</strong> 
               <span style="padding-left: 15px">
               <input type="radio" value="yes" name="receive_updates" id="receive_updates_yes"> Yes &nbsp;&nbsp;&nbsp;
               <input type="radio" value="no" name="receive_updates" id="receive_updates_no" checked="checked"> No
               </span>
               <!--  <div class="col-xs-12 col-sm-4">
                  <div class="col-xs-6 col-sm-3"></div>
                  <div class="col-xs-6 col-sm-3"></div>
            
                </div> -->
           
              </div>
      
          <%end%>

          <div>
            <div class="col-xs-12 col-sm-4">
              <div class="rectangle"><h4> Bill To </h4></div>
              <fieldset style="padding:15px" class="info">
              <%if current_user%>
                <%= render "exisiting_user_form"%>
              <%else%>
               <div id="existing_user" style="display:none">
                <%= render "exisiting_user_form"%>
              </div>
              <div id="new_user" >
                <%= render "new_user_form"%>
              </div>
              <%end%>
              </fieldset>
            </div>
          <div class="col-xs-12 col-sm-4">
          
         
              <div>
                <div class="rectangle"><h4> Payment </h4></div>
                <%= tag :meta, :name => "stripe-key", :content => ENV['PUBLISHABLE_KEY'] %>
                <fieldset style="padding:15px" class="info">
                      <div class="radio" >

                            <label><input type="radio" name="paymentmethods" class="credit_card" value="credit_card" checked style="margin: 8px 15px 0;"> &nbsp; &nbsp; <img src="/assets/credit_card.jpg" style="margin-left:35px;width:280px;margin-top: -25px;" class="img-responsive"></label>
                        </div>
                        <br/>
                        <div class="radio" >
                            <label><input type="radio" name="paymentmethods" class="paypal" value="paypal" style="margin: 8px 15px 0;"> &nbsp; &nbsp; <img src="/assets/paypal.png" style="margin-left:30px;width:120px;margin-top: -26px;" class="img-responsive"></label>
                        </div> <br/> 
                     
                    <div class="radio" >
                        <label><input type="radio" name="paymentmethods" class="wiretransfer" value="wiretransfer" style="margin: 8px 15px 0;"> &nbsp; &nbsp; <img src="/assets/wire_transfer.png" style="margin-left:28px;width:120px;margin-top: -34px;" class="img-responsive"></label>
                    </div>  
      
         
                </fieldset>
                    
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 visible-lg visible-md">
              <div>
                <div class="rectangle"><h4>Coupon Discount </h4></div>
                <fieldset style="padding:15px" class="info">
                  <div class="form-group">                    
                    <div class="col-xs-9 pad save"><input type="text" class="form-control" placeholder="Enter Your Coupon Code"></div>
                    <div class="save"><button class="submit col-xs-3">Save </button></div>
                  </div>                
                </fieldset>
              </div>
              <div>
                <div class="rectangle"><h4>Confirm Purchase </h4></div>
                <fieldset style="padding:15px" class="info">
                  <div class="form-group">
                    <label for="email2">Notes & Special Requests</label>
                    <textarea class="form-control" id="enquiry_interest_area" name="enquiry[interest_area]" style="height:86px; margin-bottom:2px"></textarea>
                  
                   <br/>
                    <button type="submit" class="btn btn-success btn-lg btn-block">Place Order</button>
                  </div>                
                </fieldset>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>



    <button type="submit" class="btn btn-success btn-lg btn-block hidden-md hidden-lg">Place Order</button>




                <!-- SHOPPING CART FOOTER -->
              


  
               
  
                

                    
                    
            
                
                            <%end%>        
                    
                   

    







   
                
             <%= render "credit_card_modal" %>  
            <%#= render "hdfc_gateway_modal" %>  

    </section>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Enter Promo Code</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for( "promo_code" , :url=>{:controller=>"shopping_carts",:action=>"get_promo_code"}, :html => {:class=>"form-horizontal", :id=>"promo_code_form"}) do |f| %>

                       
                             <div class="form-group">
                                    <label for="last-name2" class="col-sm-3 control-label">Discount Code:<span>*</span></label>
                                    <div class="col-sm-9">
                                        <%= text_field_tag "promo_code", "", :class => 'form-control' ,:id=>"promo_code_field"%>   
                                    </div>
                                </div>
                      
                        <div class="modal-footer" style="padding: 30px 0px 20px 0px;text-align: left;">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    <%end%>
                  </div>
                </div>
              </div>
           </div>



            <div class="modal fade bs-example-modal-lg" id="terms_condition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10000">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Terms and Conditions </h4>
                  </div>
                  <div class="modal-body">
                    <p>  
                      <strong></strong>
                      </p>
                      <ul>

                      <li style=" line-height: 25px; ">International payments will be accepted only in USD (United States Dollars). For payments done from within India the INR amount should be the equivalent of the USD price quoted for the report plus 12.36% service tax.</li>

                      <li style=" line-height: 25px; ">Reports purchased directly through the website or otherwise will be dispatched within 24 hours except purchases done on weekend or public holidays will be delivered the next working day.</li>

                      <li style=" line-height: 25px; ">Market Research Future Private Limited will not be held responsible for any inaccuracies with the content of the report. Market Research Future Private Limited does not have any control over any content of the report by our partners and is not liable to refund the payment in part or full once report is dispatched.</li>

                      <li style=" line-height: 25px; ">Market Research Future Private Limited shall not be liable to Buyer for any loss or damage suffered by Buyer directly or indirectly, as a result of Seller's failure to deliver or delay in delivering the product/ report or failure to perform, or delay in performing, any other term or condition hereof, where such failure or delay is caused by fire, flood, natural disaster, labour trouble (including without limitation strike, slowdown and lockout), war, riot, civil disorder, embargo, government regulations or restrictions of any and all kinds, expropriation of plant by federal or state authority, interruption of or delay in transportation, power failure, inability to obtain materials and supplies, accident, explosion, act of God or other causes of like or different character beyond Seller's control and the time for delivery specified herein shall be extended during the continuance of such conditions and for a reasonable time thereafter.</li>

                      <li style=" line-height: 25px; ">Content of any report cannot be re-published or publicly shared without prior written consent of Market Research Future Private Limited.</li>

                      <li style=" line-height: 25px; ">Your use of the Service, including any content, information or functionality contained within it, is provided "as is" and "as available" with no representations or warranties of any kind, either expressed or implied, including but not limited to, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. You assume total responsibility and risk for your use of this Report.</li>

                      <li style=" line-height: 25px; ">All disputes are subjected to the jurisdiction of the courts of Nagpur, India.</li>

                      <li style=" line-height: 25px; ">Any questions regarding the Terms of Service should be addressed to sales@marketresearchfuture.com or you can call us at +1 (646) 845 9349 (US) or +44 208 133 9349 (UK)</li>
                      </ul>
                       <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">I Disagree</button>
                              <a href="javascript:void(0)" onclick="submitTerms()" class="btn btn-success success">I Agree</a>
                       </div>
                  </div>
                </div>
              </div>
           </div>

   </div>















 <script type="text/javascript">
    $('#card_no').payment('formatCardNumber');
    $('#cvc').payment('formatCardCVC');
   $("input[name=receive_updates]").click(function() {
       if($(this).attr('id') == 'receive_updates_yes') {
            $('#new_user').css("display", "none");
            $('#existing_user').show();
                    
       }

       else {
             $('#new_user').css("display", "block");  
            $('#existing_user').hide();
       }
   });  
</script>

