

  	<!-- Sidebar -->
<%=render "admin/shared/left_menu"%>
    <!-- Sidebar ends -->

  	  	<!-- Main bar -->
  	<div class="mainbar">
      
	    <!-- Page heading -->
	    <div class="page-head">
	      <h2 class="pull-left"><i class="fa fa-home"></i> Dashboard</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="index.html"><i class="fa fa-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="#" class="bread-current">Dashboard</a>
        </div>

        <div class="clearfix"></div>

	    </div>
	    <!-- Page heading ends -->



	    <!-- Matter -->

	    <div class="matter">
        <div class="container">
         <%= form_for "user", :url => update_password_path, :method => 'post' , :html => {:class=>"form-horizontal",:id=>"change_password"} do |f| %>     
           
                    <fieldset>
 

    
                            <div class="form-group col-sm-12">
                                <label for="email"> Current Password:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                        <%= f.password_field :current_password , :class=>"form-control", :placeholder=>"Your password:", :id=>"password", :required => true %>
                                </div>
                            </div>
        <div class="form-group col-sm-12">
                                <label for="email">New Password<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                        <%= f.password_field :password , :class=>"form-control", :placeholder=>"Your password:", :id=>"password", :required => true %>
                                </div>
                            </div>
          
                            <div class="form-group col-sm-12">
                                <label for="email">Comfirm Password:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                        <%= f.password_field :password_confirmation , :class=>"form-control", :placeholder=>"Your password:", :id=>"password", :required => true %>
                                </div>
                            </div>
                       
                        
                        <div class="pull-right">

                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Finish</button>
                        </div>
                        
                    </fieldset>
               <% end %>
          <!-- Today status. jQuery Sparkline plugin used. -->


          <!-- Today status ends -->

          <!-- Dashboard Graph starts -->

                 <!-- Dashboard graph ends -->

          <!-- Chats, File upload and Recent Comments -->
          <div class="row">

          </div>




        </div>
		  </div>

		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->
   <div class="clearfix"></div>

