



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Report Type</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="<%= admin_publishers_path %>" class="">Report Type</a>
			<span class="divider">/</span>
			<a href="#" class="bread-current">New</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->
	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								New Report Type
							</div>
						
							<div class="clearfix"></div>
						</div>
						<div class="widget-content">
							<div class="padd">
								<br/>
								<%= form_for [:admin, @report_type],:html => { :multipart => true, :class=>"form-horizontal" } do |f| %>
						
										  
							    <%- @report_type.errors.full_messages.each do |message| -%>
							    <div class="errorExplanation"> <p><%= message %></p></div>
							    <%- end -%>
		  					
								<div class="form-group">
									<label class="col-lg-2 control-label">Name</label>
									<div class="col-lg-5">
										<%= f.text_field :name, :class => 'form-control' %>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Description</label>
									<div class="col-lg-10">
										<%= f.text_area :description, :class => 'ckeditor' %>
									</div>
								</div>
							    <div class="form-group">
									<label class="col-lg-2 control-label">Abbreviation</label>
									<div class="col-lg-5">
										<%= f.text_field :abbreviation, :class => 'form-control' %>
									</div>
								</div>
							    <div class="form-group">
									<label class="col-lg-2 control-label">Seo Description</label>
									<div class="col-lg-5">
										<%= f.text_area :seo_description, :class => 'form-control' %>
									</div>
								</div>	
								<div class="form-group">
									<label class="col-lg-2 control-label">Report Type Image</label>
									<div class="col-lg-5">
										<%= f.file_field :report_type_image, :class => 'form-control' %>
									</div>
								</div>						  
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-6">
										<button type="submit" class="btn btn-sm btn-success">
											Save
										</button>
										<button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
											Back
										</button>
									</div>
								</div>

								<% end %>

							</div>
						</div>
						<div class="widget-foot">

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>

















