<%= form_for @advertisement,:html => { :multipart => true , :class=>"form-horizontal"} do |f| %>
    <%= render "shared/error_messages", :target => @advertisement %>

    <div class="form-group">
      <label class="col-lg-2 control-label">Name</label>
      <div class="col-lg-5">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Advertisement Image</label>
      <div class="col-lg-5">
        <%= f.file_field :advertisement_image, :class => 'form-control' %>
      </div>
    </div>
   

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-6">
        <button type="submit" class="btn btn-sm btn-success">
          Save
        </button>
        <button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
          Back
        </button>
      </div>
    </div>

<% end %>




















