



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

  <!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="fa fa-file-o"></i> Advertisements</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
      <!-- Divider -->
      <span class="divider">/</span>
     Advertisements
    </div>

    <div class="clearfix"></div>

  </div>
  <!-- Page heading ends -->

  <!-- Matter -->

  <div class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">
                Advertisements
              </div>
              
              <div class="clearfix"></div>
            </div>

            <%#= @category.nil? ? 'Main categories' : @category.name %>
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                
                  <th>Name</th>
                  <th>Advertisement Image</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <% @advertisements.each do |advertisement| %>
                <tr>
                    <td><%= advertisement.name rescue nil %></td>
                   <td><%= image_tag advertisement.advertisement_image_url(:thumb) rescue nil %>  </td>
                  <td>
                  <%if current_user.is_superadmin || current_user.is_blog_admin %>
                   <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_advertisement_path(advertisement) , :class=>'btn btn-xs btn-warning'  %> <a href="/admin/advertisements/<%= advertisement.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
                  <%end%>
                 </td>
                </tr>
                <% end %>

              </tbody>
            </table>

            <div class="widget-foot">
          
              <div class="pull-left">
                <%= link_to  "Add Advertisement", new_admin_advertisement_path, :class => 'btn btn-sm btn-primary' %>
              </div>

              <div class="pull-right">
                <%= will_paginate @advertisements, renderer: BootstrapPagination::Rails %>

              </div>

              <div class="clearfix"></div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>



















