


<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Orders</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Orders</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Orders
							</div>
							
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								
									<th>Report Title</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Status</th>
								
								
								</tr>
							</thead>
							<tbody>
							    <% @order_details.each do |order_detail| %>
								<tr>
								   
								     <td><%= Report.find(order_detail.report_id).title %></td>
								    <td> <%=order_detail.report_value %></td>
								    <td> <%=order_detail.quantity%></td>
								    <td> <%=order_detail.order_details_status %></td>
							
								</tr>
								<% end %>

							</tbody>
						</table>

						<div class="widget-foot">
					
							<div class="pull-left">
									<button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
											Back
										</button>
							</div>

							<div class="pull-right">
								<%#= will_paginate @orders, renderer: BootstrapPagination::Rails %>

							</div>

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>







