<%= render "shared/error_messages", :target => @user %>

<p>
<%= form.label :first_name %><br />
<%= form.text_field :first_name %>
</p>
<p>
<%= form.label :last_name %><br />
<%= form.text_field :last_name %>
</p>
<p>
<%= form.label :email %><br />
<%= form.text_field :email %>
</p>
<p>
<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %>
</p>
<p>
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %>
</p>