

<%= render "shared/search_form"%>

<div class="page-banner small">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumbs list-inline">
           <li><a href="/">Home</a></li>
             <li><%= link_to "My Account", user_url(current_user.id) %>

             </li>
            <li class="active">Change Password</li>
         
        </ul>
      </div>
    </div>
  </div>
  <div class="stretch"> </div>
</div>





<section class="content " id="eshop">
  <div class="container ">
            <div class="col-md-3 eshop-sidebar">
                   
                    <ul class="nav vertical-nav">
                        <li>   <%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id) %></li>
                        <li><a href="/orders"><i class="fa fa-shopping-cart"></i>My orders</a></li>
                        <li> <%= link_to "<i class='fa fa-pencil-square-o '></i>Change Password".html_safe, change_password_path %></li>                              
                    </ul>
                </div>
               <div class="col-sm-9" >
                <div class="panel panel-default">
                
                    <div class="panel-body" >
         <%= form_for "user", :url => update_password_path, :method => 'post' , :html => {:class=>"form-horizontal",:id=>"change_password"} do |f| %>     
           
                    <fieldset>
 

    
                            <div class="form-group col-sm-12">
                                <label for="email"> Current Password:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                        <%= f.password_field :current_password , :class=>"form-control", :placeholder=>"Your password:", :id=>"password", :required => true %>
                                </div>
                            </div>
        <div class="form-group col-sm-12">
                                <label for="email">New Password<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                        <%= f.password_field :password , :class=>"form-control", :placeholder=>"Your password:", :id=>"password", :required => true %>
                                </div>
                            </div>
          
                            <div class="form-group col-sm-12">
                                <label for="email">Comfirm Password:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                        <%= f.password_field :password_confirmation , :class=>"form-control", :placeholder=>"Your password:", :id=>"password", :required => true %>
                                </div>
                            </div>
                       
                        
                        <div class="pull-right">

                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Finish</button>
                        </div>
                        
                    </fieldset>
               <% end %>
            </div>
                       
                 
                </div>
            </div>  

  
  </div>
</section>


























