
<style type="text/css">
.button3 {
    background-color: #ededed;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    box-shadow: 0 1px 0 0 #ffffff inset;
    color: #777777;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    padding: 12.5px 25px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: 1px 1px 0 #ffffff;
}
.button3:hover {
    background-color: #dfdfdf;
}
.g-signOn {
    padding: 5px 15px;
}
</style>


<section>

<div class="container">
     <div class="col-md-8 col-md-offset-2">
        	<div class="forms-only">
        	
               <%= form_for @user do |f| %>
                    <!-- <fieldset> -->
                    	<h2>Create new account</h2>
                        <p>Already have an account? Then you can <a href="/login">sign in</a> with your existing username and password.</p>
                     
                        
   						            <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="fname">First Name:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                	 <%= f.text_field :first_name ,:class=>"form-control" , :placeholder=>"First Name", :required => true%>                  	

                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lname">Last Name<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                	<%= f.text_field :last_name ,:class=>"form-control", :placeholder=>"Last Name" %>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">Your email:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                  	   <%= f.text_field :email , :class=>"form-control", :placeholder=>"Email" , :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%>  
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="password">Your password:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-key"></i></span>
                                  	 <%= f.password_field :password , :class=>"form-control", :placeholder=>"Your password:", :id=>"password", :required => true %>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="password2">Confirm password:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-key"></i></span>
                                 
                                  	<%= f.password_field :password_confirmation , :class=>"form-control", :placeholder=>"Your password:", :id=>"password", :required => true %>
                                	
                                </div>
                            </div>
                        </div>
                        
                        <p>I agree to the Terms and Conditions and Privacy Policy, including the use of cookies.</p>
                        
                        <div class="pull-left">
                       		<span class="form-info"><span class="required">*</span> These fields are required</span>
                        </div>
                        
                        <div class="pull-right">

                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Continue to next step</button>
                        </div>
                                <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="password"></label>
                                <div class="input-group">
                                  
                                </div>
                            </div>
                        </div>
                       <div align="center">
                          <img alt="" src="/assets/OR.png">
                        </div>
                           <a href="/auth/linkedin" class="button3 g-signOn" style="margin-bottom: 20px"><img width="25" height="25" alt="Google" src="/assets/linkedin_button.png"> Log in with Linkedin </a>
                    <!-- </fieldset> -->
               <% end %>
            </div>
</div>
        </div>
        </section>