


<%= render "shared/search_form"%>

<div class="page-banner small">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="breadcrumbs list-inline">
            <li><a href="/">Home</a></li>
            <li class="active">My Account</li>
             
            </ul>
          </div>
        </div>
      </div>
      <div class="stretch"> </div>
    </div>


<section class="content " id="eshop">
	<div class="container ">
            <div class="col-md-3 eshop-sidebar">
                   
                    <ul class="nav vertical-nav">
                        <li>   <%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id) %></li>
                        <li><a href="/orders"><i class="fa fa-shopping-cart"></i>My orders</a></li>
                        <li> <%= link_to "<i class='fa fa-pencil-square-o '></i> Change Password".html_safe, change_password_path %></li>                              
                    </ul>
                </div>
	             <div class="col-sm-8" >
                <div class="panel panel-default">
                
                    <div class="panel-body" >
                         <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td> <%= @user.full_name %></td>
                                    </tr>
                                   <%if @user.customer.present?%>
                                   <tr> 
                                    <td>Company </td>
                                    <td> <%= @user.customer.company_name%></td>
                               
                                    </tr>
                                   <tr> 
                                    <td>Job Title </td>
                                    <td> <%= @user.customer.job_title%></td>
                               
                                    </tr>
                                      <tr> 
                                    <td>Address street1 </td>
                                    <td> <%= @user.customer.address_street1%></td>
                               
                                    </tr>
                                      <tr> 
                                    <td>Address street2 </td>
                                    <td> <%= @user.customer.address_street2%></td>
                               
                                    </tr>
                                      <tr> 
                                    <td>City </td>
                                    <td> <%= @user.customer.city%></td>
                               
                                    </tr>
                                      <tr> 
                                    <td>Zip Code/Pin Code</td>
                                    <td> <%= @user.customer.zip_code%></td>
                               
                                    </tr>
                                    </tr>
                                      <tr> 
                                    <td>Phone No </td>
                                    <td> <%= @user.customer.phone_no%></td>
                               
                                    </tr>
                                    <%end%>
                            </tbody>
                        </table>
                        <div class="pull-right">

                             
  <%= link_to "<i class='fa fa-pencil-square-o '></i> Edit Profile".html_safe, edit_customer_path(@user.id) %>
                            </div>
                       
                    </div>
                </div>
            </div>	

	
	</div>
</section>


