


 <div class="panel panel-info hidden-xs" style="overflow-y:auto;" id="category_section">
        <div class="panel-heading hidden-xs">
          <div class="panel-title">Category  
            <span class="visible-xs pull-right" style="margin-left: 5%;" id='report_category_span' onclick="toggleClosestSection($(this))">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <a href="javascript:void(0)" onclick="uncheckAllCategories()" id="uncheck_all_categories" style="float: right;">
              Clear All
            </a>
          </div>
  
        </div>

        <div class="panel-body hidden-xs">       
          <div id="submenu" class="filter_cont">
            <div class="row row_filter margin_left" id="row_category">
                    <% category_count = Category.count %>
                <%= render :partial=>"report_filters/categories_list" %> 
            </div>

          </div>
  

     
        </div>
      </div>






<script type="text/javascript">
  function showAllCategory(){
    $(".categories_input").show();
    $(".categories_input").children().show()
    $("#category_add_div").hide();
    $("#show_category_link").hide();
    $("#show_less_category_link").show();
  }

  function showLessCategory(){
    $(".categories_input:gt(4)").hide();
    $("#category_add_div").show();
    $("#show_category_link").show();
    $("#show_less_category_link").hide();
  }

//// For Clearing Checkboxes /////////
function uncheckAllCategories() {
  $('#row_category input:checkbox').removeAttr('checked');
  if($(".categories_input input:visible").length == <%= category_count %> ){
      $("#category_add_div").hide();
      $("#show_category_link").hide();
    }
  showReports()
}
function addCategory(){
    $("#show_category_link").hide();
    $("#add_category").hide();
    $("#category_templates").show();
    $("#category_input").select2("val", "");
    $("#category_input").show();

  }  
  function appendCategory() {
    var selected = $('#category_input').find('option:selected')
    var selected_category = $(".categories_input[data-id='"+selected.attr('id')+"']")
    $(".categories_input[data-id='"+selected.attr('id')+"']").remove();
    selected_category.show();
    selected_category.children().show();
    $("#row_category").prepend(selected_category);
    if(!$(".categories_input[data-id='"+selected.attr('id')+"']").find("input").is(":checked")){
      $(".categories_input[data-id='"+selected.attr('id')+"']").find("input").click();
    }
    if(selected.length > 0){
      $("#category_templates").hide();
      $("#add_category").show();
      $("#show_category_link").show();
    }
    if($(".categories_input input:visible").length == <%= category_count %> ){
      $("#category_add_div").hide();
      $("#show_category_link").hide();
    }
  }
  $(document).ready(function(){
    $("[id^='uncheck_all_categories']").hide()
    if ($('.categories_input input:checked').length > 0){
        $("[id^='uncheck_all_categories']").show()
    }else{
        $("[id^='uncheck_all_categories']").hide()
    }
  })

</script>