




   <li>
              <!-- Content container to add padding -->
      <div class="yamm-content">
        <div class="row">
        <% Category.category_hash.to_a.each_slice(2) do |category_array| -%>

          <ul class="col-sm-6 list-unstyled">
            <% category_array.each do |category| %>
              <li><a href="/categories/<%= category[1][:slug]%>"><i class="fa fa-caret-right"></i> <%= category[1][:name] %></a></li>
            <% end -%>  
          </ul>
         <% end -%>
        </div>
      </div>
    </li>