





 <div class="panel panel-info hidden-xs" style="overflow-y:auto;" id="continent_section">
    <div class="panel-heading hidden-xs">
      <div class="panel-title">Continents
        <span class="visible-xs pull-right" style="margin-left: 5%;" id='report_continent_span' onclick="toggleClosestSection($(this))">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>  
        <a href="javascript:void(0)" onclick="uncheckAllContinents()" id="uncheck_all_continent" style="float: right;display:none;">
          Clear All
        </a>
      </div>

    </div>

    <div class="panel-body hidden-xs">       
      <div id="submenu" class="filter_cont">
        <div class="row row_filter margin_left" id="row_continents">
            <% continent_count = Continent.count %>
            <span id="continent_count" style="display:none"><%= continent_count+1 %></span>
            <%= render :partial=>"report_filters/continents_list" %> 
        </div>

      </div>


 
    </div>
  </div>






<script type="text/javascript">

  function showAllContinents(){
    $(".continents_input").show();
    $(".continents_input").children().show();
    $("#continent_add_div").hide();
    $("#show_continent_link").hide();
  }

  function addContinent(){
    $("#add_continent").hide();
    $("#continent_templates").show();
    $("#continent_input").select2("val", "");
    $("#continent_input").show(); 
    $("#show_continent_link").hide();   
  }

  //// For Clearing Checkboxes /////////
  function uncheckAllContinents() {
    $('input[name="continent"]:checked').removeAttr('checked');
    if(!$('#continent_global').is(":checked")){
      $("#row_continents").find(".continents_input:not(:first-child)").slice(0,5).show();
      $("#continent_add_div").show();
       $("#show_continent_link").show();
       $("#row_countries").show();
    }
    if($(".continents_input input:visible").length == <%= continent_count+1 %> ){
      $("#continent_add_div").hide();
      $("#show_continent_link").hide();
    }
    showReports()
  }


  function appendContinent() {
    var selected = $('#continent_input').find('option:selected')
    var selected_continent = $(".continents_input[data-id='"+selected.attr('id')+"']")
    $(".continents_input[data-id='"+selected.attr('id')+"']").remove();
    selected_continent.show();
    selected_continent.children().show();
    $("#row_continents").prepend(selected_continent);
    if(!$(".continents_input[data-id='"+selected.attr('id')+"']").find("input").is(":checked")){
      $(".continents_input[data-id='"+selected.attr('id')+"']").find("input").click();
    }
    if(selected.length > 0){
      $("#continent_templates").hide();
      $("#add_continent").show();
      $("#show_continent_link").show();
    }
    if($(".continents_input input:visible").length == <%= continent_count+1 %> ){
      $("#continent_add_div").hide();
      $("#show_continent_link").hide();
    }
  }


  //// For Region wise country selection /////////

  // $(".continents_input").find('input[type="checkbox"]').on("click",function(){
    
  //   });

    // if (($(".continents_input").find('input[type="checkbox"]:checked').length == 1) && ($(".continents_input").find('input[type="checkbox"]:checked').val() == "Global")){
    //   $("#row_continents").find(".continents_input:not(:first-child)").slice(0,4).hide();
    // }else if(){
    //   $("#row_continents").find(".continents_input:not(:first-child)").show(0,4)
  //   // }
  // })


</script>