


 <div class="panel panel-info hidden-xs" style="overflow-y:auto;" id="region_section">
    <div class="panel-heading hidden-xs">
      <div class="panel-title">Countries  
         <span class="visible-xs pull-right" style="margin-left: 5%;" id='report_countries_span' onclick="toggleClosestSection($(this))">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
        <a href="javascript:void(0)" onclick="uncheckAllCountries()" id="uncheck_all_country" style="float: right;display:none;">Clear All</a></div>

    </div>

    <div class="panel-body hidden-xs">       
      <div id="submenu" class="filter_cont">
        <div class="row row_filter margin_left" id="row_countries">
           <% country_count= count %>
        <%= render :partial=>"report_filters/countries_list",locals: {all_countries: all_countries,selected_countries_id: selected_countries_id} %> 
        </div>

      </div>



 
    </div>
  </div>






<script type="text/javascript">
  function showAllCountries(){
    $(".countries_input").show();
    $(".countries_input").children().show();
    $("#country_add_div").hide();
    $("[id^='show_country_link']").hide(); 
    $("[id^='show_less_country_link']").show();   
  }

  function showLessCountries(){
    $(".countries_input:gt(4)").hide();
    $("#country_add_div").show();
    $("[id^='show_country_link']").show(); 
    $("[id^='show_less_country_link']").hide();   
  }

  $(document).ready(function(){
    if("<%= selected_countries_id.present? %>"){
      <% selected_countries_id.each do |selected_country_id| %>
        var selected = $('#country_input').find("option[id='<%= selected_country_id %>']").click();
        var selected_country = $(".countries_input[data-id='"+selected.attr('id')+"']")
        $(".countries_input[data-id='"+selected.attr('id')+"']").remove();
        selected_country.show();
        selected_country.children().show();
        $(selected_country).find("input").prop("checked",true);
        $("#row_countries").prepend(selected_country);
      <% end %>
      setHeading();
      $("[id^='uncheck_all_country']").show();
    }



    
    if ($('.countries_input input:checked').length > 0){
        $("[id^='uncheck_all_country']").show();
    }else{
        $("[id^='uncheck_all_country']").hide();
    }
    if($(".countries_input input:visible").length == <%= country_count %> ){
        $("#country_add_div").hide();
        $("[id^='show_country_link']").hide();
      } 

  })

  function changeCountry(){
    $.ajax({
      url: "/show_all_countries.js",
      type: "post",
      data:{
        selected_countries: getSelectedCheckboxValue('country'),
        selected_regions: getSelectedCheckboxValue('region'),
        selected_continents: getSelectedCheckboxValue('continent')
      }
    })
  }

  function addCountry(){  
    $("#add_country").hide();
    $("#country_templates").show();
    $("#country_input").select2("val", "");
    $("#country_input").show();  
    $("[id^='show_country_link']").hide();
  }  


  function appendCountry() {
     var selected = $('#country_input').find('option:selected')
     var selected_region = $(".countries_input[data-id='"+selected.attr('id')+"']")
     $(".countries_input[data-id='"+selected.attr('id')+"']").remove();
       selected_region.show();
       selected_region.children().show();
       $("#row_countries").prepend(selected_region);
       if(!$(".countries_input[data-id='"+selected.attr('id')+"']").find("input").is(":checked")){
         $(".countries_input[data-id='"+selected.attr('id')+"']").find("input").click();
      }
      if(selected.length > 0){
        $("#country_templates").hide();
        $("#add_country").show();
        $("[id^='show_country_link']").show();
      }
      if($(".countries_input input:visible").length == <%= country_count %> ){
        $("#country_add_div").hide();
        $("[id^='show_country_link']").hide();
      } 
  }


  //// For Clearing Checkboxes /////////
  function uncheckAllCountries() {
    $('#row_countries input:checkbox').removeAttr('checked');
    if($(".countries_input input:visible").length == <%= country_count %> ){
        $("#country_add_div").hide();
        $("[id^='show_country_link']").hide();
      }
    showReports()
  }
  
</script>