	<header class="navbar yamm navbar-default navbar-static-top " >
    	<div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img src="/assets/logo.jpg" alt="Logo" width="180px" height="69"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
            	<ul class="nav navbar-nav navbar-main-menu">
                    <li>
                        <%=link_to "Home", root_path%>
                
                    </li>
                    
                    <li  class="<%#= "active" if params[:controller] == "pages" && params[:action] == "show"%>">
                        <%=link_to "About Us", "/pages/about-us" %>                    </li>
                    
                   <!--  <li class="dropdown yamm-fw hidden-xs hidden-sm">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wide Menu <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3>Our Latest Project</h3>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img src="image/image_02.jpg" class="img-responsive" alt="">
                                                    <a href="portfolio-post1.html" class="btn btn-primary">Show Me</a>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p><b>Lorem ipsum dolor sit</b> amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3>Features Pages</h3>
                                            <ul class="nav vertical-nav">
                                                <li><a href="about.html"><i class="fa fa-angle-double-right"></i>About</a></li>
                                                <li><a href="pricing1.html"><i class="fa fa-angle-double-right"></i>Pricing 1</a></li>
                                                <li><a href="pricing2.html"><i class="fa fa-angle-double-right"></i>Pricing 2</a></li>
                                                <li><a href="pricingtable.html"><i class="fa fa-angle-double-right"></i>Pricing Table</a></li>
                                                <li><a href="services1.html"><i class="fa fa-angle-double-right"></i>Services 1</a></li>
                                                <li><a href="services2.html"><i class="fa fa-angle-double-right"></i>Services 2</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3>About Us</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                     -->
                    <li   class="<%= "active" if params[:controller] == "categories" %>">
                        <%=link_to "Report Categories", categories_path %>
                      
                    
                    </li>
                        <li  class="<%= "active" if params[:controller] == "publishers" %>">
                    
                        <%=link_to "Publisher", publishers_path %>
                    </li>
                     </li>
                         <li  class="<%= "active" if params[:controller] == "countries" %>">
                     <%=link_to "Countries", countries_path %>
                     
                    </li>
                    <li  class="<%= "active" if params[:controller] == "news_updates" %>">
                      <%=link_to "News & Events", news_updates_path%>
                   
                 </li>
                        <li  class="<%#= "active" if params[:controller] == "pages" %>">
                         <%=link_to "Faqs", "/pages/faqs" %>    
                   
                    </li>
                    
                        <li  class="<%= "active" if params[:controller] == "pages" && params[:action] == "contact_us"%>">
                             <%=link_to "Contact Us", contact_us_path %>
                     
                   
                    </li>
                </ul>
                 
                <ul class="nav navbar-nav hidden-xs hidden-sm">
                    <li class="dropdown shopping-cart-toggle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i> <%unless @cart.shopping_cart_items.empty? %><span class="shopping-cart-counter"><%=get_item_count rescue nil%></span><%end%></a>
                        <ul class="dropdown-menu navbar-shopping-cart">
                            <%@cart.shopping_cart_items.each do |item|%>
                        	<li>
                            	<div class="row">
                                	<div class="col-md-1">
                                          <a href="/remove_item?shopping_cart_item=<%=item.id%>" class="delete"><i class="fa fa-times"></i></a>
                                    	<!-- <a href="#" class="delete"><i class="fa fa-times"></i></a> -->
                                    </div>
                                    <div class="col-md-8">
                                    	<a href="/shopping_cart"><h3><%= item.item.title%></h3></a>
                                    </div>
                                    <div class="col-md-1">
                                    	<p><%= item.quantity%></p>
                                    </div>
                                    <div class="col-md-2">
                                   		<p class="price"><%= get_currency_total_price(item) %></p>
                                    </div>
                                </div>
                            </li>
                            <%end%>
                   
                            <li>
                            	<div class="row">
                                	<div class="col-md-10">
                                    	<p>Total price:</p>
                                    </div>
                                    <div class="col-md-2">
                                   		<p class="price"><%= get_currency_subtotal(@cart) %></p>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-md-6">
                                    	<a href="/clear_cart" class="btn btn-info btn-block">Clear Cart</a>
                                    </div>
                                    <div class="col-md-6">
                                   		<a href="/shopping_cart" class="btn btn-danger btn-block btn-checkout">Checkout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    

                </ul>
            </div>
        </div>
    </header>