<!--<logo & nav start>-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid" style="height:100px">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button> <a href="/"><img src="/assets/logo.jpg" /></a>
        </div>
          
        <div id="top-bg">
            <div class="top-inner">
                <!--<navigation>-->
                <div class="nav">
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                         <li><a href="<%= root_path %>" id=<%= "hover" if params[:controller] == "home" && params[:action] == "index" %>>Home</a></li>
                         <li>|</li>
                        <li><a href="/pages/about-us" id="<%= "hover" if params[:controller] == "pages" && params[:action] == "show"%>">About Us</a></li>
                        <li>|</li>
                        <li><a href="<%= categories_path %>" id=<%= "hover" if params[:controller] == "categories" %>>Report Categories</a></li>
                        <li>|</li>
                        <li><a href="<%= publishers_path %>" id=<%= "hover" if params[:controller] == "publishers" %>>Publishers</a></li><li>|</li>
                        <li><a href="<%= countries_path %>" id=<%= "hover" if params[:controller] == "countries" %>>Countries</a></li><li>|</li>
                        <li><a href="<%= news_updates_path %>" id="<%= "hover" if params[:controller] == "news_updates" %>">News &amp; Events</a></li><li>|</li>
                        <li><a href="#">Faqs</a></li><li>|</li>
                        <li><a href="<%= contact_us_path %>" id="<%= "hover" if params[:controller] == "pages" && params[:action] == "contact_us"%>">Contact Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav hidden-xs hidden-sm">
                    <li class="dropdown shopping-cart-toggle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i><span class="shopping-cart-counter"><%=get_item_count rescue nil%></span></a>
                        <ul class="dropdown-menu navbar-shopping-cart">
                            <%@cart.shopping_cart_items.each do |item|%>
                            <li>
                                <div class="row">
                                    <div class="col-md-1">
                                          <a href="/remove_item?shopping_cart_item=<%=item.id%>" class="delete"><i class="fa fa-times"></i></a>
                                        <!-- <a href="#" class="delete"><i class="fa fa-times"></i></a> -->
                                    </div>
                                    <div class="col-md-8">
                                        <a href="/shopping_cart"><h3><%= item.item.title%></h3></a>
                                    </div>
                                    <div class="col-md-1">
                                        <p><%= item.quantity%></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="price"><%= get_currency_total_price(item) %></p>
                                    </div>
                                </div>
                            </li>
                            <%end%>
                   
                            <li>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p>Total price:</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="price"><%= get_currency_subtotal(@cart) %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="/clear_cart" class="btn btn-info btn-block">Clear Cart</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="/shopping_cart" class="btn btn-danger btn-block btn-checkout">Checkout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                </div></div>
                <!--<navigation end>-->
                <div class="clear"></div>
            </div>
        </div></div></div></nav>
    <!--<logo & nav end>-->