<div class="clients-section bg-grey padding-bottom-20 padding-top-20">
  <div class="container">
    <div class="row padding-bottom-30">
      <header class="page-heading">
        <h2 class="heading lime text-capitalize font-medium margin-bottom-30">Other Categories</h2>
      </header>
      <%@categories.each do |category|%>
      <div class="col-xs-12 col-sm-2 agri-icon"> 
        <!-- client box --> 
          <a href="/categories/<%=category.slug%>">
          <div class="img"><img src="<%= category.category_icon.url %>" alt="img_<%=category.name%>" width="117" height="80">
            <div class="text"><%=category.name%></div>
          </div>
          </a> 
      </div>
      <%end%>
    </div>
  </div>
</div>
