



 <div class="panel panel-info hidden-xs" style="overflow-y:auto;" id="publisher_section">
        <div class="panel-heading hidden-xs">
          <div class="panel-title">Report Type  
           <span class="visible-xs pull-right" style="margin-left: 5%;" id='report_publish_sidebar_span' onclick="toggleClosestSection($(this))">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>   
      <a href="javascript:void(0)" onclick="uncheckAllReportTypes()" id="uncheck_all_report_type" style="float: right;display:none;">Clear All</a>
    </div>
       
        </div>

        <div class="panel-body hidden-xs">       
          <div id="submenu" class="filter_cont">
            <div class="row row_filter margin_left" id="row_report_types">
                <% report_type_count = ReportType.count %>
                <%= render :partial=>"report_filters/report_types_list" %> 
            </div>

          </div>


     
        </div>
      </div>






<script type="text/javascript">

  function addPublisher(){
    $("#add_publisher").hide();
    $("#publisher_templates").show();
    $("#publisher_input").select2("val", "");
    $("#publisher_input").show();
    $("#show_publisher_link").hide();
  }  


  function showAllPublishers(){
    $(".publishers_input").show();
    $(".publishers_input").children().show()
    $("#publisher_add_div").hide();
    $("#show_publisher_link").hide();
    $("#show_less_publisher_link").show();
  }


  function showLessPublishers(){
    $(".publishers_input:gt(4)").hide();
    $("#publisher_add_div").show();
    $("#show_publisher_link").show();
    $("#show_less_publisher_link").hide();
  }
 //////////For Appending Selected Publisher - By Prachi Bhagdikar //////////////

  function appendPublisher() {
    var selected = $('#publisher_input').find('option:selected')
    var selected_publisher = $(".publishers_input[data-id='"+selected.attr('id')+"']")
    $(".publishers_input[data-id='"+selected.attr('id')+"']").remove();
    selected_publisher.show();
    selected_publisher.children().show();
    $("#row_report_types").prepend(selected_publisher);
    if(!$(".publishers_input[data-id='"+selected.attr('id')+"']").find("input").is(":checked")){
      $(".publishers_input[data-id='"+selected.attr('id')+"']").find("input").click();
    }
    if(selected.length > 0){
      $("#publisher_templates").hide();
      $("#add_publisher").show();
      $("#show_publisher_link").show();
    }
    if($(".publishers_input input:visible").length == <%= report_type_count %> ){
      $("#publisher_add_div").hide();
      $("#show_publisher_link").hide();
    } 

  }

  //// For Clearing Checkboxes /////////
  function uncheckAllReportTypes() {
    $('#row_report_types input:checkbox').removeAttr('checked');
    if($(".publishers_input input:visible").length == <%= report_type_count %> ){
      $("#publisher_add_div").hide();
      $("#show_publisher_link").hide();
    } 
    showReports()
  }


  $(document).ready(function(){
    //// For Clearing Checkboxes /////////
      if ($('.publishers_input input:checked').length > 0){
          $("[id^='uncheck_all_report_type']").show();
      }else{
          $("[id^='uncheck_all_report_type']").hide();
      }
  })


</script>