




 <div class="panel panel-info hidden-xs" style="overflow-y:auto;" id="published_date_section">
        <div class="panel-heading hidden-xs">
          <div class="panel-title">Published Date
             <span class="visible-xs pull-right" style="margin-left: 5%;" id='report_publish_date_span' onclick="toggleClosestSection($(this))">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
          </div>
      
        </div>

        <div class="panel-body hidden-xs">       
          <div id="submenu" class="filter_cont">
            <div class="row row_filter margin_left" id="row_published_date">
                <% report_type_count = ReportType.count %>
                <%= render :partial=>"report_filters/publisher_date_list" %> 
            </div>

          </div>
  

     
        </div>
      </div>
