


 <div class="panel panel-info hidden-xs" style="overflow-y:auto;" id="region_section">
    <div class="panel-heading hidden-xs">
      <div class="panel-title">Regions
       <span class="visible-xs pull-right" style="margin-left: 5%;" id='report_region_span' onclick="toggleClosestSection($(this))">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>  
        <a href="javascript:void(0)" onclick="uncheckAllRegions()" id="uncheck_all_regions" style="float: right;display:none;">Clear All</a></div>

    </div>

    <div class="panel-body hidden-xs">       
      <div id="submenu" class="filter_cont">
        <div class="row row_filter margin_left" id="row_continents">
          <% region_count = Region.count %>
          <span id="region_count" style="display:none"><%= region_count %></span>
          <%= render :partial=>"report_filters/regions_list" %> 
        </div>

      </div>

 
    </div>
  </div>
  




<script type="text/javascript">
  function showAllRegions(){
    $(".regions_input").show();
    $(".regions_input").children().show();
    $("#region_add_div").hide();
    $("#show_region_link").hide();
    $("#show_less_region_link").show();     
  }

  function showLessRegions(){
    $(".regions_input:gt(4)").hide();
    $("#region_add_div").show();
    $("#show_region_link").show();  
    $("#show_less_region_link").hide();  
  }

  function addRegion() {
   $("#add_region").hide();
   $("#region_templates").show();
   $("#region_input").select2("val", "");
   $("#region_input").show();  
   $("#show_region_link").hide();    
  }

  //// For Region wise region selection /////////
  // $('.regions_input').find('input[type="checkbox"]').on("click",function(){
  //   // $.ajax({
  //   //   url: "/show_selected_regions.js",
  //   //   type: "post",
  //   //   data:{
  //   //     selected_regions: getSelectedCheckboxValue('region'),selected_continents: getSelectedCheckboxValue('continent')
  //   //   }
  //   // })
  //   if(this.checked){
  //     $('#row_continents .regions_input input').prop("disabled", true);
  //   }
    
  // })

//// For Clearing Checkboxes /////////
  function uncheckAllRegions() {
    $('#row_regions input:checkbox').removeAttr('checked');
    if($(".regions_input input:visible").length == <%= region_count %> ){
      $("#region_add_div").hide();
      $("#show_region_link").hide();
  }
    showReports()
  }


function appendRegion() {
  var selected = $('#region_input').find('option:selected')
  var selected_region = $(".regions_input[data-id='"+selected.attr('id')+"']")
  $(".regions_input[data-id='"+selected.attr('id')+"']").remove();
  selected_region.show();
  selected_region.children().show();
  $("#row_regions").prepend(selected_region);
  if(!$(".regions_input[data-id='"+selected.attr('id')+"']").find("input").is(":checked")){
    $(".regions_input[data-id='"+selected.attr('id')+"']").find("input").click();
  }
  if(selected.length > 0){
    $("#region_templates").hide();
    $("#add_region").show();
    $("#show_region_link").show(); 
  }
  if($(".regions_input input:visible").length == <%= region_count %> ){
      $("#region_add_div").hide();
      $("#show_region_link").hide();
  }
  }

</script>