<style type="text/css">
.highlight_filter_headings{
/*  color: black;*/
  font-weight: bold;
  width: 75%;
  word-wrap: break-word;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 12px;
}
span.next {
     float:right;    
}
.h4_highlight{
  font-size: 15px;
  color: #0D58A6;
  text-transform: uppercase;
  font-weight: bold;
}
.row_filter{
/*  cursor: default;*/
}
.float_left{
   float: left; 
}
.margin_left{
  margin-left: 0px !important;
}
.info_sidebar{
  padding: 0px 25px 0px 25px;
}
.filter_cont{
  max-height:250px;
  overflow-y: visible;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}
.reset_default_css{
  height: 70px;
}
/* For Bluring Result Of reports*/
.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.7;
}
.report_filter_heading{
  margin-top: 0px;
  font-size: 17px;
  font-weight: bold;
  background-color: #0F2741;
  padding: 7px 19px 8px 19px;
  color: white;
  border-radius: 2px 2px 0 0;
  font-family: sans-serif;
}
</style>
<%= javascript_include_tag "select2.js" %>
<%= stylesheet_link_tag "select2.css" %>




      <h2 class="report_filter_heading">
        Report Filter 
        <span class="visible-xs pull-right" style="margin-left: 5%;" id='report_filter_heading_span' onclick="toggleReportFilterHeading()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
        <span class="badge pull-right">
          <a href="javascript:void(0)" style="color:#fff;font-family:sans-serif;" onclick="ClearAll()">
            Reset All
          </a>
        </span>
      </h2>
      
<!-- Repeat This -->

      <%= render :partial=>  "shared/price_sidebar" %>
     
      <%#= render :partial=>  "shared/sort_by_sidebar"  %>
      <%= render :partial=>  "shared/publisher_date_sidebar" %>
      <%= render :partial=>  "shared/category_sidebar" %>
      <%= render :partial=>  "shared/publisher_sidebar" %>
      <%= render :partial=>  "shared/report_type_sidebar" %>
      <%= render :partial=>  "shared/continents_sidebar" %>
      <%= render :partial=>  "shared/regions_sidebar" %>
      <span id="countries_sidebar_call"><%= render :partial=>  "shared/countries_sidebar",locals: {all_countries: Country.list,count: Country.count,selected_countries_id: []} %></span>





<script type="text/javascript">
  function ClearAll(){   
    $('#min_val').val("");
    $('#max_val').val("");
    $("#min_to_max_input").val("");
    $("input:checkbox").removeAttr('checked');

    $(".categories_input").hide()
    $(".categories_input").slice(0,5).show()
    if($(".categories_input").length > 5){
      $("#show_category_link").show()
      $("#category_add_div").show()
    }
    
    $(".publishers_input").hide()
    $(".publishers_input").slice(0,5).show()
    if($(".categories_input").length > 5){
      $("#show_publisher_link").show()
      $("#publisher_add_div").show()
    }

    $(".continents_input").hide()
    $(".continents_input").slice(0,5).show()

    $(".regions_input").hide()
    $(".regions_input").slice(0,5).show()

    $(".countries_input").hide()
    $(".countries_input").slice(0,5).show()
    $(':radio[id="min_to_max"]').prop('checked', true);
    $('#latest_date[name="published_date"]').prop('checked', true);
    $('#publish_report_type[name="report_type"]').prop('checked', true);
    $('#high_to_low[name="sort_by_other"]').prop('checked', true);
    showReports();
  }  
</script>