  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>







 <div class="panel panel-info hidden-xs" style="overflow-y:auto;" id="report_type_section">
    <div class="panel-heading hidden-xs">
      <div class="panel-title">Report Type
         <span class="visible-xs pull-right" style="margin-left: 5%;" id='report_type_span' onclick="toggleClosestSection($(this))">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
      </div>

    </div>

    <div class="panel-body hidden-xs">       
      <div id="submenu" class="filter_cont">
        <div class="row row_filter margin_left" id="row_report_type">
  
            <%= render :partial=>"report_filters/report_type_list" %> 
        </div>

      </div>
    </div>
  </div>