


<% cache "search_form" do %>

    <div class="col-xs-12 margin-top-100" style="background:#2e348e;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 padding-top-60">
           <%= form_tag "/reports",:method => "GET", :class=>"search-form" do |f| %>
            
              <fieldset>

                <%if params[:q].present? %> 
                <%= text_field_tag :q,nil, :class => "col-xs-11 search margin-bottom-20" ,:value=> params[:q], :placeholder => "Report Title | Any Keyword", :required=> true%>
                <%else%>
                  <%= text_field :q, nil,:class => "col-xs-11 search margin-bottom-20", :placeholder => "Report Title | Any Keyword", :required=> true%>
                <%end%>
                <button class="submit col-xs-1" type="submit" id="send"><i class="fa fa-search"></i></button>

              </fieldset>
            <%end%>
          </div>
        </div>
      </div>
    </div>
<% end %>