  <%= render :partial=>  "shared/price_sidebar",locals: {selected_sort_by_price: selected_sort_by_price} %>
  <%= render :partial=>  "shared/sort_by_sidebar",locals:{selected_sort_by_other: selected_sort_by_other}  %>
  <%= render :partial=>  "shared/publisher_date_sidebar",locals:{selected_published_date: selected_published_date} %>
  <%= render :partial=>  "shared/category_sidebar",locals:{all_categories: all_categories,selected_category_id: selected_category_id}  %>
  <%= render :partial=> "shared/publisher_sidebar",locals:{all_publishers: all_publishers,selected_publishers_id: selected_publishers_id} %>
  <%= render :partial=>  "shared/report_type_sidebar",locals:{selected_report_type: selected_report_type } %>
  <%= render :partial=>  "shared/continents_sidebar",locals:{all_continents: all_continents,selected_continents_id: selected_continents_id,contain_global: contain_global } %>
  <%= render :partial=>  "shared/regions_sidebar", locals:{all_regions: all_regions,selected_regions_id: selected_regions_id } %>
  <%= render :partial=>  "shared/countries_sidebar",locals:{all_countries: all_countries,selected_countries_id: selected_countries_id} %>
