


 <div class="panel panel-info hidden-xs" style="overflow-y:auto;" id="sort_by_other_section">
        <div class="panel-heading hidden-xs">
          <div class="panel-title">Sort By Other Options
             <span class="visible-xs pull-right" style="margin-left: 5%;" id='report_sort_by_other_span' onclick="toggleClosestSection($(this))">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="panel-body hidden-xs">       
      <div id="submenu" class="filter_cont">
          <div class="row row_filter margin_left" id="row_sort_by_other">
              <%= render :partial=>"report_filters/sort_by_other" %> 
          </div>
        </div>

        </div>
      </div>


