<div id="submenu" class="filter_cont">
            <ul style="margin-left: -30px;">
                <li class="stap1 active" id="aerospace-defense"><a href="/categories/aerospace-defense">Aerospace &amp; Defense</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="aviation-aerospace">
      <a href="/categories/aviation-aerospace">Aviation &amp; Aerospace</a>  <span class="quantity">14</span>
      
    </li>
    <li class="stap1 active" id="defense-security">
      <a href="/categories/defense-security">Defense &amp; Security</a>  <span class="quantity">3</span>
      
    </li>
</ul>

                <li class="stap1 active" id="agri-food">Agri &amp; Food<span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="pet-food">
      <a href="/categories/pet-food">Pet Food</a>  <span class="quantity">1</span>
      
    </li>
    <li class="stap1 active" id="agriculture">
      <a href="/categories/agriculture">Agriculture</a>  <span class="quantity">149</span>
      <ul style="margin-left: -30px;display: none;" data-depth="2">
    <li class="stap1 active" id="agri-chemicals">
      <a href="/categories/agri-chemicals">Agri chemicals</a>  <span class="quantity">103</span>
      
    </li>
    <li class="stap1 active" id="agricultural-products">
      <a href="/categories/agricultural-products">Agricultural Products</a>  <span class="quantity">4</span>
      
    </li>
    <li class="stap1 active" id="agricultural-machinery">
      <a href="/categories/agricultural-machinery">Agricultural Machi...</a>  <span class="quantity">0</span>
      
    </li>
    <li class="stap1 active" id="general-agriculture">
      <a href="/categories/general-agriculture">General Agriculture</a>  <span class="quantity">0</span>
      
    </li>
</ul>

    </li>
    <li class="stap1 active" id="beverages">
      <a href="/categories/beverages">Beverages</a>  <span class="quantity">3</span>
      <ul style="margin-left: -30px;display: none;" data-depth="2">
    <li class="stap1 active" id="wine">
      <a href="/categories/wine">Wine</a>  <span class="quantity">1</span>
      
    </li>
    <li class="stap1 active" id="beer">
      <a href="/categories/beer">Beer</a>  <span class="quantity">2</span>
      
    </li>
    <li class="stap1 active" id="hot-drinks">
      <a href="/categories/hot-drinks">Hot Drinks</a>  <span class="quantity">0</span>
      
    </li>
    <li class="stap1 active" id="soft-drinks">
      <a href="/categories/soft-drinks">Soft Drinks</a>  <span class="quantity">0</span>
      
    </li>
</ul>

    </li>
    <li class="stap1 active" id="food">
      <a href="/categories/food">Food</a>  <span class="quantity">41</span>
      <ul style="margin-left: -30px;display: none;" data-depth="2">
    <li class="stap1 active" id="baby-food">
      <a href="/categories/baby-food">Baby Food</a>  <span class="quantity">0</span>
      
    </li>
    <li class="stap1 active" id="health-food">
      <a href="/categories/health-food">Health Food</a>  <span class="quantity">2</span>
      
    </li>
</ul>

    </li>
</ul>

                <li class="stap1 active" id="automotive"><a href="/categories/automotive">Automotive</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="vehicles">
      <a href="/categories/vehicles">Vehicles</a>  <span class="quantity">13</span>
      
    </li>
    <li class="stap1 active" id="automotive-manufacturing">
      <a href="/categories/automotive-manufacturing">Automotive Manufac...</a>  <span class="quantity">118</span>
      
    </li>
    <li class="stap1 active" id="automotive-services">
      <a href="/categories/automotive-services">Automotive Services</a>  <span class="quantity">17</span>
      
    </li>
    <li class="stap1 active" id="automotive-systems">
      <a href="/categories/automotive-systems">Automotive Systems</a>  <span class="quantity">28</span>
      
    </li>
</ul>

                <li class="stap1 active" id="basic-materials"><a href="/categories/basic-materials">Basic Materials</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="chemicals-materials">
      <a href="/categories/chemicals-materials">Chemicals &amp; Materials</a>  <span class="quantity">4052</span>
      
    </li>
    <li class="stap1 active" id="mining">
      <a href="/categories/mining">Mining</a>  <span class="quantity">25</span>
      
    </li>
    <li class="stap1 active" id="metallurgical">
      <a href="/categories/metallurgical">Metallurgical</a>  <span class="quantity">256</span>
      
    </li>
</ul>

                <li class="stap1 active" id="consumer-goods-retail"><a href="/categories/consumer-goods-retail">Consumer Goods &amp; Retail</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="clothing-and-textile">
      <a href="/categories/clothing-and-textile">Clothing &amp; Textile</a>  <span class="quantity">169</span>
      
    </li>
    <li class="stap1 active" id="consumer-electronics">
      <a href="/categories/consumer-electronics">Consumer Electronics</a>  <span class="quantity">62</span>
      
    </li>
    <li class="stap1 active" id="house-home">
      <a href="/categories/house-home">House &amp; Home</a>  <span class="quantity">18</span>
      
    </li>
    <li class="stap1 active" id="personal-care">
      <a href="/categories/personal-care">Personal Care</a>  <span class="quantity">13</span>
      
    </li>
    <li class="stap1 active" id="retail">
      <a href="/categories/retail">Retail</a>  <span class="quantity">236</span>
      
    </li>
    <li class="stap1 active" id="consumer-consumer-electronics">
      <a href="/categories/consumer-consumer-electronics">Electronic Goods</a>  <span class="quantity">261</span>
      
    </li>
    <li class="stap1 active" id="consumer-packaged-goods">
      <a href="/categories/consumer-packaged-goods">Consumer Packaged ...</a>  <span class="quantity">283</span>
      
    </li>
    <li class="stap1 active" id="wholesale">
      <a href="/categories/wholesale">Wholesale</a>  <span class="quantity">10</span>
      
    </li>
</ul>

                <li class="stap1 active" id="energy"><a href="/categories/energy">Energy</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="distribution-storage-utilities">
      <a href="/categories/distribution-storage-utilities">Distribution, Stor...</a>  <span class="quantity">36</span>
      
    </li>
    <li class="stap1 active" id="sustainable-energy">
      <a href="/categories/sustainable-energy">Sustainable Energy</a>  <span class="quantity">1984</span>
      
    </li>
    <li class="stap1 active" id="traditional-energy">
      <a href="/categories/traditional-energy">Traditional Energy</a>  <span class="quantity">0</span>
      
    </li>
    <li class="stap1 active" id="energy-resources">
      <a href="/categories/energy-resources">Energy &amp; Resources</a>  <span class="quantity">4317</span>
      
    </li>
    <li class="stap1 active" id="consumer-energy-resourcesics">
      <a href="/categories/consumer-energy-resourcesics">Consumer Energy &amp; ...</a>  <span class="quantity">4</span>
      
    </li>
    <li class="stap1 active" id="nuclear-energy">
      <a href="/categories/nuclear-energy">Nuclear Energy</a>  <span class="quantity">84</span>
      
    </li>
</ul>

                <li class="stap1 active" id="life-sciences"><a href="/categories/life-sciences">Life Sciences</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="biotechnology">
      <a href="/categories/biotechnology">Biotechnology</a>  <span class="quantity">40</span>
      
    </li>
    <li class="stap1 active" id="diseases-therapeutic-areas">
      <a href="/categories/diseases-therapeutic-areas">Diseases &amp; Therape...</a>  <span class="quantity">57</span>
      
    </li>
    <li class="stap1 active" id="medical-industry">
      <a href="/categories/medical-industry">Medical Industry</a>  <span class="quantity">2883</span>
      
    </li>
    <li class="stap1 active" id="pharmaceutical">
      <a href="/categories/pharmaceutical">Pharmaceutical</a>  <span class="quantity">4790</span>
      
    </li>
    <li class="stap1 active" id="health-hygiene">
      <a href="/categories/health-hygiene">Health &amp; Hygiene</a>  <span class="quantity">16</span>
      
    </li>
    <li class="stap1 active" id="medical-devices">
      <a href="/categories/medical-devices">Medical Devices</a>  <span class="quantity">2284</span>
      
    </li>
    <li class="stap1 active" id="rehabilitation">
      <a href="/categories/rehabilitation">Rehabilitation</a>  <span class="quantity">1</span>
      
    </li>
    <li class="stap1 active" id="technology-0a2cad67-abcd-4dab-a403-e6910be3ab44">
      <a href="/categories/technology-0a2cad67-abcd-4dab-a403-e6910be3ab44">Technology</a>  <span class="quantity">2</span>
      
    </li>
    <li class="stap1 active" id="it-healthcare">
      <a href="/categories/it-healthcare">IT Healthcare</a>  <span class="quantity">1</span>
      
    </li>
    <li class="stap1 active" id="healthcare">
      <a href="/categories/healthcare">Healthcare</a>  <span class="quantity">0</span>
      
    </li>
</ul>

                <li class="stap1 active" id="manufacturing-construction"><a href="/categories/manufacturing-construction">Manufacturing &amp; Construc...</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="automation-process-control">
      <a href="/categories/automation-process-control">Automation &amp; Proce...</a>  <span class="quantity">2</span>
      
    </li>
    <li class="stap1 active" id="equipment-machinery">
      <a href="/categories/equipment-machinery">Equipment &amp; Machinery</a>  <span class="quantity">2814</span>
      
    </li>
    <li class="stap1 active" id="semi-finished-products-materials">
      <a href="/categories/semi-finished-products-materials">Semi-finished Prod...</a>  <span class="quantity">8</span>
      
    </li>
    <li class="stap1 active" id="building-and-engineering">
      <a href="/categories/building-and-engineering">Building &amp; Enginee...</a>  <span class="quantity">56</span>
      
    </li>
    <li class="stap1 active" id="packaging-transport">
      <a href="/categories/packaging-transport">Packaging &amp; Transport</a>  <span class="quantity">166</span>
      
    </li>
    <li class="stap1 active" id="industrial-adhesives-tapes">
      <a href="/categories/industrial-adhesives-tapes">Industrial Adhesiv...</a>  <span class="quantity">6</span>
      
    </li>
    <li class="stap1 active" id="building-materials">
      <a href="/categories/building-materials">Building Materials</a>  <span class="quantity">23</span>
      
    </li>
    <li class="stap1 active" id="construction-real-estate">
      <a href="/categories/construction-real-estate">Construction &amp; Rea...</a>  <span class="quantity">321</span>
      
    </li>
</ul>

                <li class="stap1 active" id="services"><a href="/categories/services">Services</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="business-services">
      <a href="/categories/business-services">Business Services</a>  <span class="quantity">265</span>
      
    </li>
    <li class="stap1 active" id="financial-services">
      <a href="/categories/financial-services">Financial Services</a>  <span class="quantity">367</span>
      
    </li>
    <li class="stap1 active" id="tourism-and-leisure">
      <a href="/categories/tourism-and-leisure">Tourism &amp; Leisure</a>  <span class="quantity">41</span>
      
    </li>
    <li class="stap1 active" id="environmental-and-waste-management-services">
      <a href="/categories/environmental-and-waste-management-services">Environmental &amp; Wa...</a>  <span class="quantity">13</span>
      
    </li>
    <li class="stap1 active" id="government-and-non-profit-organisations">
      <a href="/categories/government-and-non-profit-organisations">Government &amp; Non-P...</a>  <span class="quantity">11</span>
      
    </li>
    <li class="stap1 active" id="research-services">
      <a href="/categories/research-services">Research Services</a>  <span class="quantity">1</span>
      
    </li>
    <li class="stap1 active" id="services-hospitality">
      <a href="/categories/services-hospitality">Services &amp; Hospita...</a>  <span class="quantity">1</span>
      
    </li>
</ul>

                <li class="stap1 active" id="telecom-it"><a href="/categories/telecom-it">Telecom &amp; IT</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="internet-business">
      <a href="/categories/internet-business">Internet Business</a>  <span class="quantity">0</span>
      
    </li>
    <li class="stap1 active" id="media">
      <a href="/categories/media">Media</a>  <span class="quantity">145</span>
      
    </li>
    <li class="stap1 active" id="telecom-datacom">
      <a href="/categories/telecom-datacom">Telecom &amp; Datacom</a>  <span class="quantity">6</span>
      
    </li>
    <li class="stap1 active" id="it-hardware-networks">
      <a href="/categories/it-hardware-networks">IT Hardware &amp; Netw...</a>  <span class="quantity">31</span>
      
    </li>
    <li class="stap1 active" id="software">
      <a href="/categories/software">Software</a>  <span class="quantity">1</span>
      
    </li>
    <li class="stap1 active" id="enterprise-computing">
      <a href="/categories/enterprise-computing">Enterprise Computing</a>  <span class="quantity">0</span>
      
    </li>
    <li class="stap1 active" id="it-services">
      <a href="/categories/it-services">IT Services</a>  <span class="quantity">0</span>
      
    </li>
</ul>

                <li class="stap1 active" id="education"><a href="/categories/education">Education </a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="social-studies">
      <a href="/categories/social-studies">Social Studies</a>  <span class="quantity">8</span>
      
    </li>
</ul>

                <li class="stap1 active" id="security-intelligence-systems"><a href="/categories/security-intelligence-systems">Security &amp; Intelligence ...</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="security-systems">
      <a href="/categories/security-systems">Security Systems</a>  <span class="quantity">12</span>
      
    </li>
    <li class="stap1 active" id="sensor-systems">
      <a href="/categories/sensor-systems">Sensor Systems</a>  <span class="quantity">8</span>
      
    </li>
</ul>

                <li class="stap1 active" id="technology"><a href="/categories/technology">Technology</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="1">
    <li class="stap1 active" id="clean-technology">
      <a href="/categories/clean-technology">Clean Technology</a>  <span class="quantity">276</span>
      
    </li>
    <li class="stap1 active" id="technology-communication">
      <a href="/categories/technology-communication">Technology &amp; Commu...</a>  <span class="quantity">2716</span>
      
    </li>
    <li class="stap1 active" id="semiconductor">
      <a href="/categories/semiconductor">Semiconductor</a>  <span class="quantity">2</span>
      
    </li>
    <li class="stap1 active" id="robotics">
      <a href="/categories/robotics">Robotics</a>  <span class="quantity">2</span>
      
    </li>
    <li class="stap1 active" id="data-centers">
      <a href="/categories/data-centers">Data Centers</a>  <span class="quantity">0</span>
      
    </li>
</ul>

                <li class="stap1 active" id="company-reports"><a href="/categories/company-reports">Company Reports</a><span class="quantity"></span></li>
                   <ul style="margin-left: -30px;display: none;" data-depth="">
</ul>

            </ul>
            </div>