<div class="inner_container">
  
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="#">News & Updates</a></li>
  </ul>
<br />

  <div class="row" >
    <div class="col-md-9">
      <div class="reportbox">
        <h4 class="rr">News & Updates</h4>
        <ul>
          <%@news_updates.each do |news|%>
            <li>
            <a href="/press-release/<%=news.id%>/<%=news.slug%>" ><%=  news.title %></a><br />
             
                <%=  truncate( raw( sanitize(simple_format(news.description), :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 300, :omission => "...") %>
                <br />

                <div class="product-tags" style="float:right; padding-left: 15px;  padding-bottom: 15px;">
                  <span class="label label-info" style="background:#0B85E5;"><%= news.date.to_date.strftime("%d " "%B, %Y") rescue nil%></span>
                </div>
            </li>
            <%end%>
        </ul>
      </div>
      <br />
      <div class="col-md-12">
    <div class="row">
      <div class="pull-left" style="padding-bottom:20px;">
        <%= page_entries_info @news_updates %>
      </div>
    </div>
    <div class="row">
      <div class="pull-left">
        <%= will_paginate @news_updates, renderer: BootstrapPagination::Rails %>          
      </div>
    </div>
  </div>
    </div>
    <div class="col-md-3">
      <h3 class="newheading">Advertisment<span></span></h3>
      <div class="related_report text-center">
          <img src="/assets/add.jpg" alt=""  style="width:100%;">
      </div>
    </div>
  </div>
  <br />
  
</div>