<style type="text/css">
.dcsmt {

  width: 251px !important;
}
</style>

<section class="al-block al-adr">
    <div class="col-main float-left clear">    
      <div id="dcsmt-0" class="dcsmt static active" >
        <div id="social-tabs" class="dcsmt-content">
          <ul class="social-tabs" style="height: 26px;">
            <li class="dcsmt-twitter first active loaded">
            </li>
          </ul>
          <ul class="dcsmt-slider">
            <li class="tab-content tab-twitter tab-active" style="height: 230px; width: 230px; display: list-item;">
              <div class="tab-inner loaded" style="height: 230px; width: 225px; margin: -7px 0px 14px -7px; display: block;">
                <div class="profile" style="margin: 0 0px; width: 245px;">
                  <h3><a href="https://www.twitter.com/marketresearchfuture" class="btn-type-twitter">Latest Tweets</a></h3>
                </div>
                <ul id="dcsmt-0-twitter" class="stream">
                   <% WiseguyTweet.list.each do |tweet| %>
                  <li style="opacity: 1;">
                    <a href="https://www.twitter.com/marketresearchfuture" class="thumb">
                    <img src="https://pbs.twimg.com/profile_images/537602909609811968/-W5p2LWy_normal.jpeg" alt="">
                      </a><span class="twitter-user">
                      <a href="https://www.twitter.com/marketresearchfuture"><strong>Market Research Future Reports</strong> <%=tweet.user_screen_name%></a>
                      </span><br><br>
                      <%if tweet.tweet_text.scan(/^*http.*/).present?%>
                        <a href="https://www.twitter.com/<%=tweet.user_screen_name%>"><%= tweet.tweet_text.split("http").first %></a> 
                        <br/>
                        <% tweet.tweet_text.split("http").each_with_index do |t, index| %>
                        <%if index>0%>
                        <a href="http<%=t%>">http<%=t%></a><br/>
                        <%end%>
                        <%end%>
                      <%end%>
                      <span class="section-share">
                        <a href="https://twitter.com/intent/tweet?in_reply_to=<%=tweet.tweet_id%>&amp;via=" class="share-reply"></a><a href="https://twitter.com/intent/retweet?tweet_id=<%=tweet.tweet_id%>&amp;via=" class="share-retweet"></a><a href="https://twitter.com/intent/favorite?tweet_id=<%=tweet.tweet_id%>" class="share-favorite"></a></span><span class="date"><a href="https://twitter.com/marketresearchfuture/status/<%=tweet.tweet_id%>"><%= time_ago_in_words(tweet.tweet_created_at) %> ago</a></span>
                      <%end%>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <div class="controls" style="width: 192px; display: none;"><ul><li><a href="#" class="pause"></a></li><li><a href="#" class="prev"></a></li><li><a href="#" class="next"></a></li><li><a href="#" class="dcsmt-close close"></a></li></ul>
            </div>
          </div>
        </div>  
        <!--  <div class="clear"></div> -->
      </div>
  </section>
  <link rel="stylesheet" type="text/css" href="/assets/dcsmt.css" media="all">
  <script type="text/javascript" src="/assets/jquery.social.media.tabs.1.7.1.js">
</script>
<!-- <script type="text/javascript" src="/assets/jquery.plugins.js"></script>
<script type="text/javascript" src="/assets/jquery.site.js"></script> -->
<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('#social-tabs').dcSocialTabs({
      method: 'static',
      width: 250,
      height: 250,
      rotate: {
        delay: 8000,
        direction: 'down'
      },
      widgets: 'twitter',     
      twitterId: 'marketresearchfuture',
      start: 0,
      rss: {
        text: 'content'
      },
      twitter: {
        thumb: true
      }
    });
  });
 </script>