<section class="content " id="eshop">
	<div class="container ">
		<div class="col-sm-10">
		<!-- <ul> -->
		  <% @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">
		   	 <hr>
		     <h5><strong><%= letter %></strong></h5>

		      <ul>
		        <% @grouped[letter].each_slice(3) do |tag_array| -%>
			        <% tag_array.each do |publisher| %>
			          <div class="col-md-4" style="padding-bottom:15px">

						<img width="16" height="16" align="absmiddle" src="<%= asset_path('rss_16.png') %>" onclick="callHref('/rss/report-types/<%=publisher.id%>.xml')" ><a href="/report-types/<%=publisher.slug%>" target="_blank" > <%=  truncate( raw( sanitize(publisher.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 23, :omission => "...")%></a>
			          	</div>
			     
			        <% end -%><br/>
		         <% end %>
		      </ul>
		    </div>
		  <% end -%>
		</ul>
	</div>
	</div>
</section>
