<section class="content " id="eshop">
	<div class="container ">



		
		<div class="col-sm-12">
		<!-- <ul> -->

   <% cache "rss_allregions", skip_digest: true do %>
		  <%# @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">

		   <!--   <h5><strong><%#= letter %></strong></h5> -->

		      <ul>
		      	  		   	 
		  <br/><br/>
		        <% @regions.each_slice(4) do |tag_array| -%>
			        <% tag_array.each do |region| %>
			          <div class="col-md-3" style="padding-bottom:30px"><img width="16" height="16" align="absmiddle" src="<%= asset_path('rss_16.png') %>" onclick="callHref('/rss/regions/<%= region.id %>.xml')"> <a href="/regions/<%= region.slug%>" target="_blank"> <%= region.name%></a></div>
			     
			        <% end -%><br/>
		         <% end %>
		      </ul>
		    </div>
		 <% end %>
		</ul>
	</div>
	</div>
</section>


