
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>
                            <%unless @cart["shopping_cart_items"].empty? %>

                            <span class="shopping-cart-counter">
                                <%= @cart["shopping_cart_items"].count rescue nil%>
                                 <%= get_currency_subtotal(@cart) %>
                            </span>

                            <%end%></a>
                
    
                        <ul class="dropdown-menu navbar-shopping-cart">
                             <%if @cart["shopping_cart_items"].empty? %>
                             <li class="empty-cart-items">
                                <div class="row">
                                    <h6 style="color: #0f2741;padding-left: 30px">
                                         There are no items currently in your basket.
                                     </h6>
                                  </div>
                            </li>
                             <%else%>
                               <li class="shopping-cart-items-header">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                    Report Title
                                    </div>
                                    <div class="col-sm-3">
                                    Quantity
                                    </div>
                                    <div class="col-sm-1">
                                       Price
                                    </div>
                                  </div>
                            </li>
                        
                            <% @cart["shopping_cart_items"].each do |item|%>
                        	<li class="shopping-cart-items-list">
                            	<div class="row" style="margin: 0;">
                                	<div class="col-sm-1">
                                         <h6> <a id="remove_item_link" href="javascript:void(0)" onclick="remove_product(<%= item['id'] %>, <%=params[:purchase_id].blank? ? 0 : params[:purchase_id]%>);return false;" class="delete" style="color:red"><i class="fa fa-times"></i></a></h6>
                                    	<!-- <a href="#" class="delete"><i class="fa fa-times"></i></a> -->
                                    </div>
                                    <div class="col-sm-6">
                                    	<a href="javascript:void(0)"><h6 style="color:black;"><%= item["item"]["title"] %></h6></a>
                                    </div>
                                    <div class="col-sm-2">
                                    	<h6 style="color:black;"><p><%= item["quantity"] %></p></h6>
                                    </div>
                                    <div class="col-sm-3">
                                   		<h6 style="color:black;"><p class="price">
                                            <%= get_currency_total_price(item) %>
                                        </p></h6>
                                    </div>
                                </div>
                            </li>
                            <%end%>
                   
                            <li>
                            	<div class="row">
                                    <div class="col-sm-1">
                                        <!-- <a href="#" class="delete"><i class="fa fa-times"></i></a> -->
                                    </div>
                                    <div class="col-sm-6">
                                        <p style="color:black;">  <b style="color:#383535;">Total price: </b>   </p>         

                                    </div>
                                    <div class="col-sm-2">
                                    </div>
                                 
                                    <div class="col-sm-3">
                                   		<p class="price" style="color:black;">
                                            <%= get_currency_subtotal(@cart) %>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0;margin-left: 150px;">
                                	<div class="col-sm-6" style="float:right;">
                                    	<a href="/clear_cart" class="btn btn-primary btn-block">Clear Cart</a>
                                    </div>
                                    <div class="col-sm-6">
                                   		<a href="/place_order?purchase_id=<%=@cart["id"]%>" class="btn btn-danger btn-block btn-checkout">Checkout</a>
                                    </div>
                                </div>
                            </li>
                            <%end%>
                        </ul>
                   



    