<style type="text/css">
    .marquee,
    .marquee-with-options,
    .marquee-vert-before,
    .marquee-vert {
      width: 300px;
      height: 380px;
      overflow: hidden;
     
    }
    .marquee-news {
      width: 300px;
      height: 380px;
      overflow: hidden;
    }
</style>

<div class="container hidden-md hidden-lg" style="padding-top:10px;">
<div id="wise-search" class="container" style="background-color:#383535">
	<div class="wish-guy-inner" >
		<div class="keyword-bg" style="margin-left: 0px;">
			<h6 style="color:#fff;font-style: italic;"> Get Market Survey, Industry Outlook, Business Trends, & Global Research Reports  </h6>
			<div class="clear"></div>
		</div>
		<div class="keyword-bg" style="margin-left: 0px;" >
					
					<%= form_tag "/reports",:method => "GET",:class=>"col-md-8 col-md-offset-2", :style=>"margin-top: 10px;margin-bottom: 20px;margin-left:auto;margin-right:auto"  do |f| %>
						<fieldset>
							<div class="form-group nospace">
								<div class="input-group" >
									<%= text_field_tag :q, params[:q], :class => "form-control input-search" , :placeholder => "Report Title | Any Keyword"%>
									<span class="input-group-btn">
										<button type="submit" id="send" class="btn btn-primary ">
											<i class="fa fa-search"></i>
										</button> </span>
								</div>
							</div>
						</fieldset>
						<%end%>
				</div>
	</div>
	<div class="clear"></div>
</div>
</div>
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
	<div class="visible-lg visible-md">
		<div id="wise-search" class="container" style="background-color:#383535">
			<div class="wish-guy-inner" >
			<!-- 	<div class="guy-pic">
					<img src="/assets/search-icon-orange-md.png" alt="Logo" width="45px" height="45" style="min-width:0%">
				</div> -->
				<div class="keyword-bg" >
					<h1> Get Market Survey, Industry Outlook, Business Trends, & Global Research Reports  </h1>
					<div class="clear"></div>
					<div style="margin: 0px 300px auto;width: 75%;">
					<%= form_tag "/reports",:method => "GET",:class=>"col-md-8 col-md-offset-2", :style=>"margin-top: 10px;margin-bottom: 20px;margin-left:auto;margin-right:auto"  do |f| %>
						<fieldset>
							<div class="form-group nospace">
								<div class="input-group" >
									<%= text_field_tag :q, params[:q], :class => "form-control input-search" , :placeholder => "Report Title | Any Keyword"%>
									<span class="input-group-btn">
										<button type="submit" id="send" class="btn btn-primary ">
											<i class="fa fa-search"></i>
										</button> </span>
								</div>
							</div>
						</fieldset>
						<%end%>
					</div>	
				</div>
			</div>
			<div class="clear"></div>
		</div>

	</div>
</div>
<!-- /.carousel -->
<% cache "client-section" do %>
	<section class="content" id="section-partners" style=" padding: 20px 0 0px;">
		<div class="container">
		

			<div class="col-sm-3" style="padding: 35px 0px  0px 0px;">
		    	<h2 class="text-center" style="margin: 0 0 -7px;font-size:24px"><b style="font-size: 20px;">Our Clients</b></h2>
			</div>

			<div id="partners-slider"  style="width:75%;float:right;padding: 0;">
				<%Report.client_name_image_hash.each do |client_id,name_image_hash|%>
				<div class="item">
					
						<% if name_image_hash[:logo] %>
						  <img data-src="<%= name_image_hash[:logo] %>" class="lazyOwl">
						<% end %>
					
				</div>
				<%end%>
			</div>
		</div>
	</section>
<% end %>

<section class="content bg-color-2" id="section-features" style="padding:27px 0;">
	<div class="container">
		<div class="row">

			<div class="col-sm-4" >
				<div class="bubble">
					<div class="rectangle" style="background-color: #383535;width:104%">
						<h2><img width="16" style="cursor:pointer" height="16" align="absmiddle" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/popular-categories.xml')">  Popular Categories</h2>
					
					</div>
					<div class="triangle-l" ></div>

					<div class="info" style="height:450px; overflow-y:auto;padding:8px 25px 17px 25px;">
						<ul class="nav vertical-nav">
							<% cache "all_categories", skip_digest: true do %>
								<% Category.category_hash.each do |id,name_slug_hash|%>
								<li>
									<a href="/categories/<%= name_slug_hash[:slug] %>" style="color:#383535;"> <i class='fa fa-angle-double-right'></i> <%= name_slug_hash[:name] %></a>
								</li>
								<%end%>
							<%end%>
						</ul>

					</div>
				</div>

			</div>

			<div class="col-sm-4" >

				<div class="bubble">
					<div class="rectangle" style="background-color: #383535;width:104%">
						<h2><img width="16" style="cursor:pointer" height="16" align="absmiddle" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/upcoming-reports.xml')"> Half-Cooked Reports</h2>
					</div>
					<div class="triangle-l"></div>

					<div class="info" style="height:450px; overflow-y:auto;">
					
					<div class='marquee-vert' data-direction='down' data-pauseOnHover='true' data-pauseOnCycle='true' style="width:auto">
					<% cache "upcoming_reports", skip_digest: true do %>

								
							<% Report.search("@report_report_type_name 'Half-Cooked Research Reports'", limit: 10, order: 'publish_date DESC').each do |report|%>
							<div class="panel panel-info">
							<div class="panel-body" style="font-size:12px">

								<%if report.report_image?%>
									<%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail", :style=>"float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px"  %> 
								<%elsif Report.category_name_image_hash[report.category_id][:report_background_url].present?%>
							                        
							                         <img src="/<%=report.id%>_small.png" class="img-thumbnail" style="float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px">
							                         
							                        <%else%>
							                        


								  <%= image_tag Report.category_name_image_hash[report.category_id][:logo], :class=>"img-thumbnail", :style=>"float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px"  %> 
								<%end%>

									<span> <a href="/reports/<%= report.slug%>" style="color:#006DCC;"><b><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 70, :omission => "...") %></b><br/>
							       <b style="color:#916D06">Due Date: </b>
							       <%if report.publish_month?%> <%= report.publish_month.to_date.strftime("%B, %Y") %>
							       <%else%>
							       	Coming Soon
							       <%end%>

							       <br/>
							 

							</a></span>
						
							</div>
						</div>

							<%end%>
					<%end%>
					
					</div>




					</div>
				</div>


			</div>
			<div class="col-sm-4" >

				<div class="bubble">
					<div class="rectangle" style="background-color: #383535;width:104%">
						<h2><img width="16" style="cursor:pointer" height="16" align="absmiddle" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/top-selling-reports.xml')">  Top Selling Reports</h2>
					</div>
					<div class="triangle-l"></div>

					<div class="info" style="height:450px; overflow-y:auto;">
						<!-- <ul class="nav vertical-nav"> -->
						<div class='marquee-vert' data-direction='down' data-pauseOnHover='true' data-pauseOnCycle='true' style="width:auto">
							<%# cache('topselling_reports') do %>
							<% cache "topselling_reports", skip_digest: true do %>
							
							<% Report.latest_report_type_reports.each do |report|%>
						<div class="panel panel-info">
							<div class="panel-body" style="font-size:12px">
								<%if report.report_image?%>
								  <%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail", :style=>"float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px"  %> 
								<%else Report.category_name_image_hash[report.category_id][:logo].present?%>
							                        
							                  <%= image_tag Report.category_name_image_hash[report.category_id][:logo], :class=>"img-thumbnail", :style=>"float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px"  %> 
							                         
							                     
						
								 
								  <%end %>
								
								<span> <a href="/reports/<%= report.slug%>" style="color:#006DCC;"><b><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 70, :omission => "...") %></b><br/>
								<b style="color:#916D06">Published: </b><%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%><br/>
							                    <!-- <b style="color:#916D06">By: </b><%#= Report.category_name_image_hash[report.category_id][:name] rescue nil%> -->
							 

							</a></span>

							</div>
						</div>
							<%end%>
					
							<%end%>
							</div>
						<!-- </ul> -->
					</div>
				</div>

			</div>



		</div>
	</div>
</section>
<!-- ==========================
FEATURES - END
=========================== -->
    <section class="content" id="section-blog-posts" style="margin-bottom:20px">
<div class="container">
<h2 class="text-center" style="margin: -30px 0px 26px;font-size: 24px;"><img width="16" style="cursor:pointer" height="16" align="absmiddle" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/latest-reports.xml')">  Latest Reports</h2>
      <div class="row">

			<div class="rp">
			
				<div class="recent-news block">
						<!-- Recent Item -->
						<div class="recent-item">
							<div class="custom-nav">
								<a class="prev"><i class="fa fa-chevron-left br-lblue"></i></a>
								<a class="next"><i class="fa fa-chevron-right br-lblue"></i></a>
							</div>
							<div id="owl-recent" class="owl-carousel">
								<!-- Item -->

								<% cache "latest_reports", skip_digest: true do %>
      						    <%Report.latest_reports.each do |report|%>
			      				<div class="item" style="margin-left: 10px;margin-right: 10px;">
				                <div class="col-sm-3">
				                    <div class="recent-blog-post" style="height:200px;width:250px">
				                        <div class="post-date" style="border-radius: 5px;"><%=report.publish_month.to_date.strftime("%B, %Y") rescue nil%></div>

				                        <h3 style="font-size:13px"><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 60, :omission => "...") %></h3>
				                      <!--   <b style="color:#916D06">By: </b><%#= Report.category_name_image_hash[report.category_id][:name] %></p> -->
				                        <a href="/reports/<%=report.slug %>">Read More<i class="fa fa-arrow-circle-right"></i></a>
				                    </div>
			                </div>
			                 </div>
			                <%end%>
    						<%end%>
							</div>
						</div>
				</div>
				
				<!-- Recent News Ends -->
			</div>



               </div>
   
            <div class="text-center"><a href="/reports" class="btn btn-inverse btn-lg"><i class="fa fa-arrow-circle-down"></i>See more Reports</a></div>
</div>



</section> 
<% cache "section-about-us" do %>
<section class="content bg-color-2" id="section-about-us" style="margin-bottom:20px">
	<div class="container">
		<div class="row">
			<!--   -->
			<div class="col-sm-6" >
				<div class="bubble">
					<div class="rectangle" style="background-color: #383535;width:103%">
						<h2><img width="16" style="cursor:pointer" height="16" align="absmiddle" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/news-and-update.xml')">  News & Updates</h2>
					</div>
					<div class="triangle-l"></div>

					<div class="info" style="height:335px; ">
						<div class='marquee-vert' data-direction='down' data-pauseOnHover='true' data-pauseOnCycle='true' style="height: 275px;width:auto">
						<%NewsUpdate.list.each do |news|%>
						<div class="panel panel-info">
							<div class="panel-body">
						   <div style="float:right;padding-left: 20px;">
						<%= image_tag news.news_image_url(:thumb), :class=>"img-thumbnail" if news.news_image? %> 
						                 
						                      </div>
						    	 <span style="vertical-align: middle;">  <%= link_to news.title, news_update_path(news) %></span>
													

							</div>
						</div>
						<%end%>
						</div>
					</div>
				</div>

			

			</div>
			<div class="col-sm-6">

				<div class="bubble">
					<div class="rectangle"  style="background-color: #383535;width:103%">
						<h2>Testimonials</h2>
					</div>
					<div class="triangle-l"></div>

					<div class="info"  style="height:335px;">
					<div class='marquee-vert' data-direction='down' data-pauseOnHover='true' data-pauseOnCycle='true' style="height: 275px;width:auto">
				
					<%Testimonial.list.each do |testimonial|%>

					        <div class="text-highlight" style="background-color: #D1ECFF;"> 
                      <i class="fa fa-quote-left"></i>
                        <p><%=testimonial.message%></p>
                        <span><%=testimonial.name%>, <%=testimonial.position%></span>
                    </div><br/>
                  
					<%end%>
					</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<% end %>
<!-- ==========================
ABOUT US - END
=========================== -->


<script type="text/javascript">
  function callHref(link){
    var win=window.open(link, '_blank');
    win.focus();
  }
</script>