

  <div class="sliderdiv hidden-md hidden-lg">
  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
<!--     <ol class="carousel-indicators">
      <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel1" data-slide-to="1"></li>
      <li data-target="#myCarousel1" data-slide-to="2"></li>
      <li data-target="#myCarousel1" data-slide-to="3"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" >
      <div class="item active">

        <img src="/assets/banner.jpg" alt="Chania" >
          <div class="carousel-caption">
            <h1>MRFR</h1>
            <h2>Other Than Research Reports</h2>
            <p>Market Research Future provides end to end marketing research solution for your markets/ products/ strategies and many other marketing aspects, through its well versed industry analysts.</p>
          </div>
      </div>

      <div class="item">
        <img src="/assets/banner.jpg" alt="Chania" >
               <div class="carousel-caption">
            <h1>Our Clients</h1>
            <h2>Marketing Research Portal</h2>
            <p>We serve all type of customers by understanding their requirements, & budgets in compliance with our solutions, which helps them in wise erudition and better decision making.</p>
          </div>
      </div>
    
      <div class="item">
        <img src="/assets/banner.jpg" alt="Flower" >
          <div class="carousel-caption">
            <h1>Experts</h1>
            <h2>Relevant Data & Statistics</h2>
            <p>We enhance our report quality by not only providing the statistics but also by introducing the facts and supporting reasons for the values.</p>
          </div>
      </div>

      <div class="item">
        <img src="/assets/banner.jpg" alt="Flower" >
          <div class="carousel-caption">
            <h1>Data Collection</h1>
            <h2>Excellence in Collection of Data</h2>
            <p>Our data collection teams consist of the members with the versatile qualities for data gathering through various primary & secondary researches.</p>
          </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  </div>








  <div class="sliderdiv visible-lg visible-md">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
<!--     <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="height: 400px;">
      <div class="item active">

        <img src="/assets/banner.jpg" alt="Chania" >
          <div class="carousel-caption">
            <h1>MRFR</h1>
            <h2>Other Than Research Reports</h2>
            <p>Market Research Future provides end to end marketing research solution for your markets/ products/ strategies and many other marketing aspects, through its well versed industry analysts.</p>
          </div>
      </div>

      <div class="item">
        <img src="/assets/banner.jpg" alt="Chania" >
               <div class="carousel-caption">
            <h1>Our Clients</h1>
            <h2>Marketing Research Portal</h2>
            <p>We serve all type of customers by understanding their requirements, & budgets in compliance with our solutions, which helps them in wise erudition and better decision making.</p>
          </div>
      </div>
    
      <div class="item">
        <img src="/assets/banner.jpg" alt="Flower" >
          <div class="carousel-caption">
            <h1>Experts</h1>
            <h2>Relevant Data & Statistics</h2>
            <p>We enhance our report quality by not only providing the statistics but also by introducing the facts and supporting reasons for the values.</p>
          </div>
      </div>

      <div class="item">
        <img src="/assets/banner.jpg" alt="Flower" >
          <div class="carousel-caption">
            <h1>Data Collection</h1>
            <h2>Excellence in Collection of Data</h2>
            <p>Our data collection teams consist of the members with the versatile qualities for data gathering through various primary & secondary researches.</p>
          </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


    <div class="main_search">
      
      <%= form_tag "/reports",:method => "GET" do |f| %>
        <div class="input-group">
        <input class="form-control" id="q" name="q" placeholder="Report Title | Any Keyword" type="text" , style="background-color: #fff;">
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
        <a href="#"><i class="fa fa-search"></i></a>
        </button>
        
        <a href="#"> </a></span><a href="#"> </a></div>
        <%end%>
    </div>

  </div>


















  <div class="report_section">
    <div class="container">
      <div class="row">
       <% cache "report_by_type", skip_digest: true do %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="reportbox">
            <h4>Cooked Research Reports (CRR)</h4>
            <ul>
              <% @cooked_reports.each do |report|%>
              <li><a href="/reports/<%= report.slug%>"><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 50, :omission => "...") %> </a><br>
                Due Date: <%=report.publish_month.to_date.strftime("%B, %Y") rescue nil%> </li>
              <%end%>
              <a href="/report-types/<%= ReportType.search("@name 'Cooked Research Reports'").first.slug%>" class="va">View All</a>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="reportbox">
            <h4>Half-Cooked Research Reports (HCRR)</h4>
            <ul>
              <% @half_cooked_reports.each do |report|%>
              <li><a href="/reports/<%= report.slug%>"><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 50, :omission => "...") %> </a><br>
                Due Date: <%=report.publish_month.to_date.strftime("%B, %Y") rescue nil%></li>
              <%end%>
              <a href="/report-types/<%= ReportType.search("@name 'Half-Cooked Research Reports'").first.slug%>" class="va">View All</a> 
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="reportbox">
            <h4>Raw Research Reports (HCRR)</h4>
            <ul>
            <% @raw_reports.each do |report|%>
              <li><a href="/reports/<%= report.slug%>"><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 50, :omission => "...") %></a><br>
                Due Date: <%=report.publish_month.to_date.strftime("%B, %Y") rescue nil%> </li>
              <%end%>
              <a href="/report-types/<%= ReportType.search("@name 'Raw Research Reports'").first.slug%>" class="va">View All</a> 
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="reportbox">
            <h4>Continuous-Feed Research (CFR)</h4>

            <ul>
              <% @continuous_reports.each do |report|%>
              <li><a href="/reports/<%= report.slug%>"><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 50, :omission => "...") %> </a><br>
                Due Date: <%=report.publish_month.to_date.strftime("%B, %Y") rescue nil%></li>
              <%end%>
              <a href="/report-types/<%= ReportType.search("@name 'Continuous-Feed Research'").first.slug%>" class="va">View All</a>
            </ul>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
<!--   <div class="dossiers_section">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center"> <img src="/assets/dossiers.png" alt=""> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3>Dossiers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec sapien vitae nisi laoreet cursus ac id nisi. Pellentesque semper pellentesque ipsum quis auctor. Aenean pretium magna a finibusante pellentesque accumsan. </p>
        <p> Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id pharetra lectus. Sed sollicitudin quam eget nulla lacinia ultricies. Duis pretium ante urna, nec consequat ante lobortis ac. </p>
        <a href="#" class="bluelink">Download Dossiers Sample</a> </div>
    </div>
  </div> -->
  <% cache "latest_reports", skip_digest: true do %>
    <div class="latest_report">
      <h3>Latest Reports</h3>
      <div class="row">
      <% Report.latest_reports.each do |report|%>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="latest_r"> <strong><%=report.publish_month.to_date.strftime("%B, %Y") rescue nil%></strong><br>
            <%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 55, :omission => "...") %>
            <p><a class="va" href="/reports/<%=report.slug %>">Read More</a></p>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  <%end%>
  <div class="latest_infographics">
    <h3>Latest Infographics</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="">
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#one" aria-controls="home" role="tab" data-toggle="tab">Popular Categories</a></li>
<!--             <li role="presentation"><a href="#two" aria-controls="profile" role="tab" data-toggle="tab">Trending Reports</a></li> -->
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="one">
              <ul>
              <% cache "all_categories", skip_digest: true do %>
                <% Category.category_hash.each do |id,name_slug_hash|%>
                <li>
                  <a href="/categories/<%= name_slug_hash[:slug] %>" style="color:#383535;">

                   <img src="<%=Report.category_name_image_hash[id][:icon]%>" width="40" height="40" >

                   </i> <%= name_slug_hash[:name] %></a>
                </li>
                <%end%>
              <%end%>

                
              </ul>
            </div>
      <!--       <div role="tabpanel" class="tab-pane" id="two">
              <ul>

                <li> <img src="/assets/graph.jpg" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Maecenas nec sapien vitae nisi laoreet cursus ac id nisi. </li>
                <li> <img src="/assets/graph.jpg" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Maecenas nec sapien vitae nisi laoreet cursus ac id nisi. </li>
                <li> <img src="/assets/graph.jpg" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Maecenas nec sapien vitae nisi laoreet cursus ac id nisi. </li>

              </ul>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="latest_info">
          <li> <span><img src="/assets/f1.png" alt=""></span>
            <h2>Trustworthy sources</h2>
            Our research analysts have the exclusive skills within their respective field of expertise. They are collaborated from the industry leaders as well as from startups in order to be sure about the authenticity, reliability and accuracy of the information. </li>
          <li> <span><img src="/assets/f2.png" alt=""></span>
            <h2>Latest, Modern & Vintage</h2>
            We consider it as our responsibility to provide the market with the up-to-date and niche information for its future prospects. For this we keep evolving our research process into a modern process. We also take into account our vintage data based on our esteemed client’s requirements. </li>
          <li> <span><img src="/assets/f3.png" alt=""></span>
            <h2>Easy to Order</h2>
            All of our report data and statistics can be accessed post purchase in pdf & Excel formats. We provide readily prepared Word (PDF), PowerPoint Presentations (PDF) and Excel tables within 24 to 48 working hours based on your requirement. </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dossiers_section">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3>Trending Infographics</h3>
        <div class=""> 
        <ul>
         <li>Orthopedic Biomaterial Market- Porters Five Forces Analysis
          </li>
          <li>Obese Population in Major Countries, 2012 
          </li>

             <li>Population aged above 60 years in major regions, (2015 – 2050)
          </li>
           <li>USA: Musculoskeletal Procedures, 2011
          </li>
             <li>Prevalence of edentulousness in Elderly Population
          </li>
             <li>Population aged above 60 years in major regions, (2015 – 2050)
          </li>
                </ul>
        
      <!--     <ul class="pit">
            <li><a href="#">Smartphone</a></li>
            <li><a href="#">Google</a></li>
            <li><a href="#">Advertising</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">IPO</a></li>
            <li><a href="#">Government</a></li>
            <li><a href="#">European Union Infographic</a></li>
          </ul> -->
          <p><a href="/contact-us">Learn more about our infographics service</a></p>
        </div>
      </div>



      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
          <div class="demo">
              <ul id="lightSlider">
                  <li data-thumb="/assets/small/info1_small.png">
                      <img src="/assets/large/info1.png" class="img-responsive img-thumbnail" />
                  </li>
                  <li data-thumb="/assets/small/info2_small.png">
                      <img src="/assets/large/info2.png" class="img-responsive img-thumbnail"/>
                  </li>
                  <li data-thumb="/assets/small/info3_small.png">
                      <img src="/assets/large/info3.png" class="img-responsive img-thumbnail" />
                  </li>

                  <li data-thumb="/assets/small/info4_small.png">
                      <img src="/assets/large/info4.png" class="img-responsive img-thumbnail"/>
                  </li>
                  <li data-thumb="/assets/small/info5_small.png">
                      <img src="/assets/large/info5.png" class="img-responsive img-thumbnail"/>
                  </li>
                  <li data-thumb="/assets/small/info6_small.png">
                      <img src="/assets/large/info6.png" class="img-responsive img-thumbnail"/>
                  </li>
                  <li data-thumb="/assets/small/info7_small.png">
                      <img src="/assets/large/info7.png" class="img-responsive img-thumbnail"/>
                  </li>
                  <li data-thumb="/assets/small/info8_small.png">
                      <img src="/assets/large/info8.png" class="img-responsive img-thumbnail"/>
                  </li>
                  <li data-thumb="/assets/small/info9_small.png">
                      <img src="/assets/large/info9.png" class="img-responsive img-thumbnail"/>
                  </li>
                 
               
              </ul>
          </div>
      </div>





    </div>
  </div>

  <div class="latest_infographics">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3>Latest Articles</h3>
        <ul class="article">
          <% cache "latest-articles", skip_digest: true do %>
            <% Article.latest_articles.each do |article|%>
            <li><a href="/articles/<%=article.id%>/<%= article.slug%>"><%=  truncate( raw( sanitize(article.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 70, :omission => "...") %> </a>
              <p>Published: <%= article.published_date.to_date.strftime("%d " "%B, %Y") rescue nil%></p>
            </li>
         <%end%>
        <%end%>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <% cache "news-update" do %>
        <h3>News/Press Releases</h3>
        <ul class="article">
         <%NewsUpdate.list.each do |news|%>
          <li> <span><%= image_tag news.news_image_url(:thumb), :class=>"img-thumbnail" if news.news_image? %> </span>
            <a href="/press-release/<%=news.id%>/<%=news.slug%>" ><%=  news.title %></a>

          
          </li>
          <%end%>
        </ul>
        <%end%>
      </div>
    </div>
  </div>
  <div class="dossiers_section">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Testimonials</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <% cache "testimonials" do %>
        <ul class="testimonials">
          <%Testimonial.list.each do |testimonial|%>
          <li> <span><img src="/assets/testimonials.png" alt="image description" class="img margin-bottom-20"></span> <%=testimonial.message%>
            <p><a href="#"><%=testimonial.name%>, <%=testimonial.position%></a></p>
          </li>
         <%end%>
        </ul>
        <%end%>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="clients">
          <ul>
            <li><img src="/assets/c1.jpg" alt=""></li>
            <li><img src="/assets/c2.jpg" alt=""></li>
            <li><img src="/assets/c3.jpg" alt=""></li>
            <li><img src="/assets/c4.jpg" alt=""></li>
            <li><img src="/assets/c5.jpg" alt=""></li>
            <li><img src="/assets/c6.jpg" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="latest_infographics">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Blog</h3>
      </div>
      <%Admin::Blog.list.each do |blog|%>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="blog">
          <!-- <div class="blogimg"><img src="/assets/blogimg.jpg" alt=""></div> -->
          <div class="blogtext">
            <h4><%=  truncate( raw( sanitize(blog.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 55, :omission => "...") %>,</h4>
            <%=  truncate( raw( sanitize(blog.content, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 100, :omission => "...") %></div>
          <a href="/blogs/<%=blog.id%>/<%=blog.slug%>" class="rm">Read More</a> </div>
      </div>
      <%end%>
    </div>
  </div>



 <%= javascript_include_tag  'lightslider.min.js'%>

  <script type="text/javascript">
$('#lightSlider').lightSlider({
    gallery: true,
    item: 1,
    loop: true,
    slideMargin: 10,
    thumbItem: 6
});
   
    </script>
    <style type="text/css">
.demo {
    width:420px;
    margin-left: 65px;
}
/*ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}*/
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery img{
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff !important;
  border: 1px solid #dddddd !important;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
    </style>