<style type="text/css">
  .rectangle h4{
  padding-top: 0px;
  }
  .filter_cont ul li {
  display: block;
  font-size: 12px;
  }
  img{
    cursor: pointer;
  }
  .toggle_h4{
  cursor: pointer;
  }
</style>


<div class="inner_container">



  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="#">RSS-Feed</a></li>
  </ul>


<br/>






  <h1 style="color:#006DCC">
    <center>Reports RSS Feeds</center>
  </h1>
  <div class="row">
    <div class="col-sm-12" >
      <div class="bubble">
        <div class="rectangle" >
          <h4 id="show_categories"><img width="20" height="20" align="absmiddle" src="<%= asset_path('rss_20.png') %>"> Report Categories</h4>
        </div>
   
        <div class="col-sm-4">
          <div class="info" style="height:450px; overflow-y:auto;padding:8px 25px 17px 25px;">
            <ul class="nav vertical-nav">
              <% cache "rss_sidebar_all_categories", skip_digest: true do %>
              <%@report_categories.each do |category|%>
              <li>
                <a href="javascript:void(0)" onclick="showSidePanel('<%= category.slug %>')"style="color:#006DCC;"> <i class='fa fa-angle-double-right'></i> <%= category.name%></a>
              </li>
              <%end%>
              <%end%>
            </ul>
          </div>
        </div>
        <div class="col-sm-8" id="side_panel_of_category"> 
          <%= render :partial => "side_panel",locals:{category_first: Category.roots.first} %>
        </div>
      </div>
    </div>

<!-- rss feed code for horizontal category commented -->
<% if false %>
    <div class="col-sm-12" >
      <div class="bubble">
        <div class="rectangle" >
          <h4 id="show_categories" class="toggle_h4"><img width="20" height="20" align="absmiddle" src="<%= asset_path('rss_20.png') %>"> Report Categories</h4>
        </div>
      
        <div id="side_panel_of_category">
          <div class="container-fluid">
            <div class="info" style="overflow-y:auto;">
              <div id="submenu" class="filter_cont">
                <ul style="margin-left: -30px;" >
                  <% Category.roots.each_slice(4) do |tag_array| %>
                  <div class="col-md-12">
                    <% tag_array.each do |category| %>
                    <div class="col-md-3">
                      <li class="active" current_root="<%= @report_categories.first.root_id==category.id %>">
                        <h4><img width="20" height="20" align="absmiddle" src="<%= asset_path('rss_20.png') %>"> <%= link_to_unless_current truncate( raw( sanitize(category.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 27, :omission => "..."), "/rss/category/#{category.id}.xml" , :target => "_blank"%><span class="quantity"></h4>
                        <%#= category.get_category_report_count(category)  %></span>
                      </li>
                      <%= render 'submenu_pages', cache: true , pages: category.root.descendants.arrange, current_category: @report_categories.first  %>
                    </div>
                    <% end %>
                  </div>
                  <% end %>
                </ul>
              </div><!-- submenu end -->
            </div>
          </div><!-- container fluid end -->
        </div><!-- side_panel_of_category end -->
      </div>
    </div><!-- class col-sm-12 end -->
<% end %>    

  </div>
  <br/><br/>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12" >
      <div class="bubble">
        <div class="rectangle" >
          <h4 id="show_publishers" class="toggle_h4"><img width="20" height="20" align="absmiddle" src="<%= asset_path('rss_20.png') %>"> Show/Hide Report Type</h4>
        </div>
    
        <div id="side_panel_of_publisher" > 
          <%= render "show_publishers" %>
        </div>
      </div>
    </div>
    <br/><br/>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12" >
      <div class="bubble">
        <div class="rectangle" >
          <h4 id="show_countries"  class="toggle_h4"><img width="20" height="20" align="absmiddle" src="<%= asset_path('rss_20.png') %>"> Show/Hide Country</h4>
        </div>
     
        <div id="side_panel_of_country" > 
          <%= render "show_country" %>
        </div>
      </div>
    </div>
    <br/><br/>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12" >
      <div class="bubble">
        <div class="rectangle" >
          <h4 id="show_continents" class="toggle_h4"><img width="20" height="20" align="absmiddle" src="<%= asset_path('rss_20.png') %>"> Show/Hide By Continents</h4>
        </div>
   
        <div id="side_panel_of_continents" > 
          <%= render "show_continents" %>
        </div>
      </div>
    </div>
    <br/><br/>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12" >
      <div class="bubble">
        <div class="rectangle">
          <h4 id="show_region" class="toggle_h4"><img width="20" height="20" align="absmiddle" src="<%= asset_path('rss_20.png') %>"> Show/Hide By Group / Region</h4>
        </div>
    
        <div id="side_panel_of_region" > 
          <%= render "show_region" %>
        </div>
      </div>
    </div>
    <br/><br/>
  </div>
</div>
<script type="text/javascript">
  function showSidePanel(name){
    $.ajax({
      url: "/show_side_panel_of_category.js",
      type: "post",
      data: {
        id: name
      }
    })
  }

  function callHref(link){
    var win=window.open(link, '_blank');
    win.focus();
  }
  $(document).ready(function(){
      // (".rectangle").css("cursor","pointer");
      // $("#side_panel_of_publisher").css("cursor","pointer");
      // $("#side_panel_of_country").css("cursor","pointer");
      // $("#side_panel_of_continents").css("cursor","pointer");
      // $("#side_panel_of_region").css("cursor","pointer");
      $("#show_publishers").click(function(){
          $("#side_panel_of_publisher").toggle();
      });
      $("#show_countries").click(function(){
          $("#side_panel_of_country").toggle();
      });    
      $("#show_continents").click(function(){
          $("#side_panel_of_continents").toggle();
      });   
      $("#show_region").click(function(){
          $("#side_panel_of_region").toggle();
      });       
  });
</script>