



<section class="content " id="eshop" style="padding:100px 0 450px">
	<div class="container ">



		
		<div class="col-sm-10">



<h3 style=" line-height: 35px;">We are sorry to know that you have decided to unsubscribe from our newsletter. If you want to re-subscribe to our newsletter, kindly  <a href="/resubscribe?id=<%=params[:id]%>"> click here</a></h3>



	</div>
	</div>
</section>




