

<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> News & Updates</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="<%= admin_news_updates_path %>" class="">News & Updates</a>
			<span class="divider">/</span>
			<a href="#" class="bread-current">Edit</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->
	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Edit News & Updates
							</div>
							
							<div class="clearfix"></div>
						</div>
						<div class="widget-content">
							<div class="padd">
								<br/>
								<%= form_for [:admin, @news_update],:html => { :multipart => true , :class=>"form-horizontal"} do |f| %>
						
						
										  
							    <%- @news_update.errors.full_messages.each do |message| -%>
								 <div class="errorExplanation"> <p><%= message %></p></div>
								<%- end -%>
		  					
								<div class="form-group">
									<label class="col-lg-2 control-label">Title</label>
									<div class="col-lg-5">
										<%= f.text_field :title, :class => 'form-control' %>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Description</label>
									<div class="col-lg-10">
										<%= f.text_area :description, :class => 'ckeditor' %>
									</div>
								</div>
										<div class="form-group">
									<label class="col-lg-2 control-label">Category</label>
									<div class="col-lg-5">
										<%=f.select :category_id, options_for_select(@categories.collect{|x| [x.name, x.id]},:selected => @news_update.category_id) ,{}, :class => 'form-control' %>
									</div>
								</div>
							    <div class="form-group">
									<label class="col-lg-2 control-label">Date</label>
									<div class="col-lg-5">
										<%= f.date_select :date, :class => 'form-control' %>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">News Image</label>
									<div class="col-lg-5">
										<%=f.file_field :news_image, :class => 'form-control' %>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-6">
										<button type="submit" class="btn btn-sm btn-success">
											Update
										</button>
										<button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
											Back
										</button>
									</div>
								</div>

								<% end %>

							</div>
						</div>
						<div class="widget-foot">

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>



















