


<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> News & Updates</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">News & Updates</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								News & Updates
							</div>
							
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								
									<th>Title</th>
									<th>Image</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
							    <% @news_updates.each do |news| %>
								<tr>
								    <td><%= news.title %></td>
								    <td> <%= image_tag news.news_image_url(:thumb) if news.news_image? %></td>
									<td>
									<%if current_user.is_superadmin || current_user.is_blog_admin %>
									 <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_news_update_path(news) , :class=>'btn btn-xs btn-warning'  %> <a href="/admin/news_updates/<%= news.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
									 <%end%>
									</td>
								</tr>
								<% end %>

							</tbody>
						</table>

						<div class="widget-foot">
					
							<div class="pull-left">
								<%= link_to  "Add News", new_admin_news_update_path, :class => 'btn btn-sm btn-primary' %>
							</div>

							<div class="pull-right">
								<%= will_paginate @news_updates, renderer: BootstrapPagination::Rails %>

							</div>

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>







