 
                        
 <!-- ==========================
      BREADCRUMB - START 
    =========================== -->

<%
meta title: "marketresearchfuture- Types"
%>


  <!-- ==========================
      BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
      ESHOP - START 
    =========================== -->

      <%= render "shared/search_form"%>
    <section class="content" id="eshop">
      <div class="container">
 <div class="col-lg-12">
       <h4 style="font-size: 16px;"><strong>Browse all Types: Market Research Reports Type</strong></h4>
<hr>
        <ul>



<%@report_types.each do |type|%>
       <li>
          
             

             <h5> <a href="/report-types/<%= type.slug%>" > <b><%=type.name%> (<%=type.abbreviation%>):</b></a></h5>


               
               
               
            
                
             
           
          </li>
<%end%>
         


        </ul>
      </div>
              </div>
    </section>