
  <div class="inner_container">
  
  <ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><a href="#">Report Type</a></li>
  <li><a href="#"><%=@report_type.name%> (<%=@report_type.abbreviation%>)</a></li>
</ul>


    <h2 class="heading">Report Type</h2>
    <h3><%=@report_type.name%> (<%=@report_type.abbreviation%>):</h3>
<p>
 <%= @report_type.description.html_safe rescue nil%>
</p>


 
 <div class="reportbox">
    <h4 class="rr">Related Reports</h4>
    <ul>
      <% @related_reports.each do |report| %>
         <li><a href="/reports/<%= report.slug%>"><%= report.title %></a> <br>
         Published: March, 2016</li>
      <%end%>
    
    </ul>
  </div>





  </div>

