
<section class="content " id="eshop" style="padding:100px 0 450px">
	<div class="container ">



		
		<div class="col-sm-10">



<h3>Your order has been placed with us.</h3><br/> <br/><h3>The report will be dispatched to you within 24 - 48 working hours.</h3>
<br/>
<br/>
<br/>
  <a href="/reports" class="btn btn-success btn-xs">Continue Shopping</a>
	</div>
	</div>
</section>






