


<%
meta title: "Market Research Future Reports: Contact Us",
     description: "Contact us : Market Research Future Consultants Pvt. Ltd."
%>
 <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback1&render=explicit" async defer></script>
             
                    <%=stylesheet_link_tag "contact_page.css"%>
              

<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">
<!--
var map;
var markers = new Array();
var infos = new Array();
var polylines = new Array();
var geoMarker = null;
var geoInfo = null;


function initialize()
{
var myLatlng = new google.maps.LatLng(18.512298,73.932407);
  var mapOptions = {
    zoom: 10,
    center: myLatlng
  };

  var map = new google.maps.Map(document.getElementById('map1'), mapOptions);

  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading">Market Research Future</h3>'+
      '<div id="bodyContent">'+
      '<p> House No: 1, Ekmat Society ' +
      'Jaywant Nagar, Nagpur 440027 '+
      'Maharashtra, India '+
     
     
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Market Research Future'
  });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });


}
window.onload = initialize;
//-->
</script>



    <style>

           #sidebar #testimonialbox blockquote {
                width: 70%;
            }
            #sidebar #testimonialbox .heading {
                padding-bottom: 0px;
            }
            
            .btn {
         
                padding: 6px 10px;
                
                -webkit-box-shadow: none;
                -moz-box-shadow:  none;
                box-shadow:  none;
                
                border-color: #cecece;
            }
            .btn:hover {
                text-decoration: none;
            }
            
            .relatedTopFact {
                outline: none;
                border-bottom: 1px solid #ddd;
                border-left: none;
            }
            .relatedTopFact:last-child {
                border-bottom: none;
            }
            .relatedTopFact:hover {
                border-left: none;
            }
            .relatedTopFact img {
                float: left;
                padding-right: 2px;
                
                width: 60px;
                height: 39px;
                
                position: relative;
                top: 6px;
            }
            .relatedTopFact .heading {
                padding-left: 65px;
            }
            #copyright {
                position: absolute;
                top: -15px;
                right: 0px;
                z-index: 2;
            }
            
            .statisticFooter {
                padding: 10px 0px;
            }
            .statisticActionbar {
                padding: 10px 0px;
            }
            
            .featureGroup .feature.exclusive {
                border-right: 14px solid #0b85e5; /*blue*/
                border-right: 14px solid #7cc305; /*green*/
            }
            .featureGroup .feature.exclusive::after {
                content: "+";
                font-weight: bold;
                color: #ffffff;
                font-size: 13pt;
                position: absolute;
                right: -12px;
                top: 10px;
            }
            
            .featureGroup .feature.disabled.exclusive {
                border: 1px solid #cecece;
            }
            .featureGroup .feature.disabled.exclusive::after {
                content: "";
            }
            .featureGroup .feature.disabled.exclusive:hover {
                cursor: pointer;
                border-left: 2px solid #0b85e5;
            }
            
            .accord > ul li.active .hide {
                display: block;
            }
            .accord ul li>a {
                color: #111111;
            }

            .accord > ul li {
                padding: 15px 10px 10px 15px;
                border: 1px solid #cecece;
                margin-top: -1px;
            }
            .accord ul li ul li {
                border: none;
                padding: 0px 0px 5px 12px;
                font-size: 10.5pt;
            }
            .accord ul li:hover {
                cursor: pointer;
            }
            .accord > ul li span {
                margin-top: 10px;
                color: #111111;
                font-size: 10.5pt;
                line-height: 1.5;
            }

            .accord ul li > a {
                font-weight: 12pt;
                line-height: 1.5;
            }
            .accord ul li:hover a, .accord ul li a:hover {
                text-decoration: none;
                color: #0b85e5;
            }
            #popup .modal-dialog {
                width: 800px;
                padding: 10px;
            }
            #popup.premium .modal-dialog {
                width: 650px;
            }

            #popupOverlayContent {
                background: #ffffff url(https://cdn1.statista.com/static/promo/Statista-Wave-Top-1100px.png)  -5px -40px no-repeat;
            } #popupOverlayContent .modal-header h2 {
                color: #ffffff;
            }
            #popup.premium #popupOverlayContent {
                background: #ffffff url(https://cdn1.statista.com/static/promo/Statista-Wave-Top-1100px.png)  -5px -30px no-repeat;
            }

            #popupOverlayContent .modal-header {
                padding: 20px;
                color: #eef5ff;
            }

            #statisticSlideIn button.close,
            #statisticSlideIn button.close:hover,
            #popupOverlayContent button.close,
            #popupOverlayContent button.close:hover,
            #popupOverlayContentPremium button.close,
            #popupOverlayContentPremium button.close:hover{
                font-weight: bold;
                font-size: 15pt;
                color: #cecece;
                border: none;
                outline: none;
                opacity: 1;
            }

            #popupOverlayContent .modal-header h2,
            #popupOverlayContent .modal-header p {
                margin: 5px;
            }

            #popupOverlayContentPremium {
                padding-top: 0px;
            }

            #popupOverlayContentPremium .left,
            #popupOverlayContentPremium .right {
                padding: 2%;
                display: inline-block;
                vertical-align: top;
                padding-top: 4%;
            }

            #popupOverlayContentPremium .left {
                width: 58%;
                background: #0f2741;
                color: #ffffff;
                position: relative;
                left: -14px;
            }

            #popupOverlayContentPremium .right {
                width: 30%;
            }

            .modal-body ul.checklist {
                width: 100%;
            }
            .modal-body ul.checklist li {
                text-align: left;
            }

            .modal-body .row.half {
                display: inline-block;
                width: 46%;
                vertical-align: top;
            }

            .statisticAlert {
                top: 30px;
            }
            .statisticAlert.previewStatistic {
                top: 100px;
            }
            #statisticSlideIn {
                background: #ffffff;
                border: 1px solid #cecece;
                border-radius: 0px;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;

                overflow: hidden;
                width: 100%;
            }

            #statisticSlideIn .left,
            #statisticSlideIn .right {
                padding: 2%;
                display: inline-block;
                vertical-align: top;

                padding-top: 4%;
            }

            #statisticSlideIn .left {
                width: 60%;
                background: #0f2741;
                color: #ffffff;
            }

            #statisticSlideIn .right {
                width: 32%;

            }
            #statisticSlideIn .right .header .heading,
            #popupOverlayContentPremium .right .header .heading{
                font-size: 16pt;
                font-weight: bold;
                color: #0f2741;
            }

            #statisticSlideIn .header .heading,
            #popupOverlayContentPremium .header .heading {
                border-bottom: none;
                color: #ffffff;
                font-size: 16pt;
                font-weight: bold;
            }
            #statisticSlideIn .header p,
            #popupOverlayContentPremium .header p {
                border-bottom: none;
                color: #eef5ff;
                font-size: 11pt;
                font-weight: normal;
            }
            #statisticSlideIn .body {
                margin-top: 10px;
            }

            #statisticSlideIn #customerTestimonial {
                color: #ffffff;
                top: 0px;
                margin: 0px;
                padding: 0px;
            }
            #statisticSlideIn #customerTestimonial .testimonial {
                color: #ffffff;
                font-size: 12pt;
            }

            #statisticSlideIn #customerTestimonial .testimonial:before {
                left: -20px;
                color: #ffffff;
                opacity: .2;
            }
            #statisticSlideIn #customerTestimonial .byline {
                color: #cecece;
            }
            #popupOverlayContent ul.checklist li.check,
            #popupOverlayContentPremium ul.checklist li.check,
            #statisticSlideIn ul.checklist li.check {
                font-size: 11pt;
            }
            #statisticSlideIn .orderBtn,
            #popupOverlayContentPremium .orderBtn {
               margin-top: 20px; 
            }
            .featureTable .feature {
                padding: 10px 0px;
                text-align: center;
                font-size: 11pt;
                border-bottom: 1px solid #cecece;
            }

            #statisticSlideIn .right .footer,
            #popupOverlayContentPremium .right .footer {
                font-size: 9pt;
                vertical-align: bottom;
                bottom: 25px;
                right: 10px;
                text-align: center;
                margin-top: 18px;
            }

            #popup .modal-dialog {
                -webkit-animation: fadeInDown .8s!important;
                -moz-animation: fadeInDown .8s!important;
                animation: fadeInDown .8s!important;
            }
            
            #statisticSlideIn.basis .half {
                width: 45%;
                float: left;
                margin-right: 1%;
                padding: 2%;
            }
            #statisticSlideIn.basis .half:last-child {
                margin-right: 0%;
            }
            #statisticSlideIn.basis .body {
                background: #ffffff;
                float: left;
                color: #2f2f2f;
                font-size: 11pt;
                width: 100%;
                margin-top: 0px;
            }
            #statisticSlideIn.basis .body .heading {
                padding-bottom: 10px;
                border-bottom: 1px solid #cecece;
                font-weight: bold;
                font-size: 13pt;
                color: #2f2f2f;
            }
            #statisticSlideIn.basis .header .heading {
                padding: 2%;
                margin-bottom: 0px;
                font-size: 14pt;
                background-color: #0f2741;
                color: #ffffff;
            }
            #statisticSlideIn.basis .footer .half {
                vertical-align: middle;
            }
            #statisticSlideIn.basis .footer .price {
                font-size: 12pt;
                margin-bottom: 5px;
            }
            #statisticSlideIn.basis .footer .duration {
                font-size: 8pt;
                color: #666666;
                margin-top: 5px;
                line-height: 1.2;
            }

            .waveFooter {
                background: #ffffff url(https://cdn1.statista.com/static/img/Statista-Wave-Footer.png)   center 100px no-repeat;
                height: 200px;
            }
            .waveFooter .waveText {
                color: #4f4f4f;
                font-weight: bold;
                font-size: 12pt;
                
                width: 720px;
                text-align: left;
                margin: 0 auto;
                padding: 10px 0px;
            }
            .waveFooter #centeredSearch {
                bottom: auto;
                top: 5px;
            }

            .mega-menu ol li span.item {
                display: block;
                color: #777;
                font-size: 13px;
                padding: 0;
                font-weight: normal;
                background-color: #fff;
                border: 0;
            }
            .mega-menu ol li span.item.disabled {
                color: #aaa;
                font-style: italic;
            }
            .mega-menu ol li span.headline .disabled {
                color: #aaa;
                font-style: italic;
            }
            .mega-menu .beta {
                display: inline!important;
                font-size: 8pt;
                color: #ff0000;
            }
            .mega-menu .comingsoon {
                font-size: 8pt;
                color: #aaa;
            }
            #mainSearch {
                z-index: 10;
            }
            
            .mega-menu div h4, .mega-menu div span.headline {
                display: inline-block;
                width: 100%;
            }
            
            a.nodeco:hover {
                text-decoration: none!important;
            }
            
            .flag {
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 11px;
                margin-right: 5px;
                position: relative;
                top: -1px;
                background:url(https://cdn1.statista.com/static/icons/flags.png) no-repeat;
            }
            .menu .new {
                position: absolute;
                top: -22px;
                padding: 2px 15px;
                /* border-radius: 4px 4px 0px 0px; */
                background-color: #7cc305;
                font-size: 9pt;
                font-weight: bold;
                text-transform: lowercase;
            }
            
            .promobox {
                border-radius: 0px;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            
            #upgradeForm.corporateStepTwo button[type="submit"],
            #upgradeForm.enterpriseStepTwo button[type="submit"] {
                padding: 12px 20px!important;
                margin-left: 160px!important;
            }

            .sprite.publishing {
                background-image: url(https://cdn1.statista.com/static/promo/account/icon-publishing.png);
                width: 26px; height: 26px;
                vertical-align: middle;
            }

            .supportBlock {
                width: 20%;
                display: inline-block;
                text-align: left;
                padding: 10px 10px;
                border: 1px solid #cecece;
                margin: 0px 2px 40px 0px;
            }
            
            #statistaLogo {
                background-image: url(https://d28wbuch0jlv7v.cloudfront.net/static/img/Statista-Logo-White.png);
                width: 169px; 
                height: 36px;
                display:block;
            }
            @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
                #statistaLogo {
                  background-image: url(https://d28wbuch0jlv7v.cloudfront.net/static/img/Statista-Logo-White-Retina@2x.png);
                  background-size: 169px 36px; 
               }
            }
            
            .ribbon-img {
                display: block;
                position: absolute;
                left: -13px;
                text-transform: uppercase;
                background: url(https://cdn5.statista.com/static/img/beta-ribbon.png) no-repeat;
                width: 110px;
                height: 66px;
                z-index: 10;
            }
            .ribbon-txt {
                display: inline-block;
                position: relative;
                top: 10px;
                left: 30px;

                color: #ffffff;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;

                -ms-transform: rotate(-26deg);
                -webkit-transform: rotate(-26deg);
                transform: rotate(-26deg);
            }

            @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
                .ribbon-img {
                    background-image: url(https://cdn5.statista.com/static/img/beta-ribbon@2x.png) no-repeat;
                    background-size: 110px 66px; 
                }
            }
            
            .sprite {
                background-image:url(https://cdn1.statista.com/static/icons/sprite-20151130.png);
            }
            .flag-de {width:16px; height:16px; background-position: -286px -22px}
            
            
            #searchMain ul.statListNew li .flag-de,
        #searchMain ul.statListNew li .flag-en,
        #searchMain ul.statListNew li .flag-fr,
        #searchMain ul.statListNew li .flag-es,
        .statDesc .flag-de,
        .statDesc .flag-en,
        .statDesc .flag-fr,
        .statDesc .flag-es,
        .subheadline .flag-de,
        .subheadline .flag-en,
        .subheadline .flag-fr,
        .subheadline .flag-es
        {
            top: 0px;
            vertical-align: middle;
            margin-left: 0px;
            margin-right: 5px;
        }
            .foot-instagram {width:16px; height:16px; background-position: -296px -122px;vertical-align:middle;margin-right: 5px;}
            
            #languageSelect ul {
                width:120px;
                text-align:right;
                margin-right:20px;
            }
                </style>


        <script type="text/javascript" charset="utf-8">
            document.write('<style type="text/css">.hide { display: none; }</style>');
            document.write('<style type="text/css">.hideNoscript { display: block; }</style>');
        </script>


        <style type="text/css">

        .hide { display: none; }

        </style>

        <style type="text/css">
            .hideNoscript { display: block; }

        </style>




<%= render "shared/search_form"%>
    <div class="page-banner small">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="breadcrumbs list-inline">
      <li><a href="http://www.marketresearchfuture.com/">Home</a></li>

      <li class="active"><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="stretch"> </div>
    </div>



   <section class="content" id="contact">
        <div class="container">





                   <div id="content" class="grid">

                   <div class="clear"></div>

                   <div class="span12 last-col">
                   <div id="customerSupportHeader">
                     <h3 class="animated fadeInUp">Our Customer Support</h3>
                     <p class="animated fadeInUp">We're always here for you! </p>
                   </div>
                   </div>



                   <div class="clear"></div>

                   <div class="col-sm-3 box">

                   <div id="map" class="box hideMobile">

                   <div class="heading"> Address </div>

               <div id="map-canvas">
                       <div id="map1" style="height:200px"></div>
                     </div>

                <script type="text/javascript">
                    function initialize() {
                      var mapOptions = {
                        
                        center: new google.maps.LatLng(40.706212,-74.012951),
                        zoom: 14
                      };
                      var map = new google.maps.Map(document.getElementById("gMap"),
                          mapOptions);
                    }
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>

           



                <div style="padding-top: 20px"><ul><li>Market Research Future</li><li>Office No. 524, Amanora Chambers</li><li>Magarpatta Road, Hadapsar</li><li>Pune - 411028, Maharashtra, India</li><li>&nbsp;</li><li><b>Phone:</b>
                        +91 841 198 5042                   </li><li><b></b></li><li><b>Mail:</b><a href="mailto:info@marketresearchfuture.com">
                            info@marketresearchfuture.com</a></li><li><b>Web:</b><a href="https://www.marketresearchfuture.com/">
                            https://www.marketresearchfuture.com
                        </a></li></ul></div>


      <div class="heading">
                Contact Details (Nagpur)
            </div><div><ul><li>
                       Market Research Future
                    </li><li>
                        House No: 1, Ekmat Society
                    </li><li>
                       Jaywant Nagar, Nagpur 440027
                    </li><li>
                        Maharashtra, India
                    </li><li>&nbsp;</li><li><b>Phone (general):</b>
                       +91 841 198 5042 
                    </li><li><b>Mail:</b><a href="mailto:info@marketresearchfuture.com">
                            info@marketresearchfuture.com
                        </a></li></ul></div>

                        </div>
        


                        <br>



                       </div>


                        </div>




                <div class="col-sm-9">




                        </div><div class="span6"><div id="contactBox" class="box contactForm captcha"><div class="heading">
                Contact Form            </div><p style="padding-top: 10px;"><b>Do you still have questions?</b><br></p><p>
                    Feel free to contact us directly using our contact form.
                    We'll try to answer your question as soon as possible!
                </p><p></p>



              <%= form_for "contact_us", :url => save_contact_us_path, :method => 'post', :html => {:id=>"contact_us_form"} do |f| %>
             

                        <fieldset>
                            <div class="row" style="margin-left: 0;">
                                <div class="form-group ">
                                    <label for="name">Your name:<span>*</span></label>
                                    <%= f.text_field :name ,:class=>"form-control", :placeholder=>"Your name:" %>  
                                    
                                </div>                               
                            </div>
                            
                            <div class="row" style="margin-left: 0;">
                              <div class="form-group ">
                                    <label for="email2">Your email:<span>*</span></label>
                                    <%= f.text_field :email , :class=>"form-control", :placeholder=>"Your email:"  %>  
                                  
                                </div>
                            </div>
                                 <div class="row" style="margin-left: 0;">
                              <div class="form-group ">
                                    <label for="email2">Company Name:<span>*</span></label>
                                    <%= f.text_field :company , :class=>"form-control", :placeholder=>"Your Company:" %>  
                                  
                                </div>
                            </div>
                                <div class="row" style="margin-left: 0;">
                              <div class="form-group ">
                                    <label for="email2">Job Title:<span>*</span></label>
                                    <%= f.text_field :job_title , :class=>"form-control", :placeholder=>"Your Job Title:" %>  
                                  
                                </div>
                            </div>
                                <div class="row" style="margin-left: 0;">
                              <div class="form-group ">
                                    <label for="email2">Phone No.:<span>*</span></label>
                                    <%= f.text_field :phone_no , :class=>"form-control", :placeholder=>"Your Phone No.:" %>  
                                  
                                </div>
                            </div> 
                                 <div class="row" style="margin-left: 0;">
                                <div class="form-group ">
                                    <label for="message">Your Country:<span>*</span></label>
                                      <%=f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control'%>
                                 
                                   
                                </div>
                            </div>
                            <div class="row" style="margin-left: 0;">
                                <div class="form-group ">
                                    <label for="message">Your message:<span>*</span></label>
                                     <%= f.text_area :message ,  :class=>"form-control", :placeholder=>"Your message:",:style=>"height:100px"%>  
                                 
                                   
                                </div>
                            </div>



                          <div class="row" style="margin-left: 0;">
                         

                                 <div class="form-group" id="captcha">
                                    <label for="email2" ></label>
                                   
                                 <input type="hidden" class="hiddenRecaptchacontact required" name="hiddenRecaptchacontact" id="hiddenRecaptchacontact">
                                     <div id="examplecontact"></div>
                                  
                                </div>
                            </div>
                             <div class="row" style="margin-left: 0;">
                                <div class="form-group ">
                                    <label for="email2"></label>
                                    <button type="submit" class="btn btn-primary btn-sm" id="send_contact"><i class="fa fa-check"></i>Submit</button>
                                   
                                </div>
                            </div>
                        </fieldset>
                     <%end%>




            </div>

            </div>

</div><div class="clear"></div><style>
    #footer .span2 {
        width: 138px;
    }
</style>





</div>
</section>

         







      <script type="text/javascript">


$(function() {

    $("#contact_us_phone_no").keypress(function(e) {
        var val = $(this).val();
        var regex = /^[0-9 \.+]+$/;
        if (regex.test(val + String.fromCharCode(e.charCode))) {
            return true;
        }
        return false;
    });


});





      $widgetId=undefined;

      var onloadCallback1 = function() {
 
        grecaptcha.render('examplecontact', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8',
          'callback' : verifyCallbackcontact,
          'theme' : 'light'
        });
      };

      var verifyCallbackcontact = function(response) {
        $("#hiddenRecaptchacontact").val(response);
      };

    $("#contact_us_form").submit(function(e) {

      e.preventDefault()
  

      if( IsName($("#contact_us_name").val()) && IsEmail($("#contact_us_email").val())  &&  IsJobTitle($("#contact_us_job_title").val()) && IsCompany($("#contact_us_company").val()) && IsPhone($("#contact_us_phone_no").val()) && IsCountry($("#contact_us_country_id").val()) && IsMessage($("#contact_us_message").val())){
          $('#send_contact').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send_contact').attr('disabled','disabled'); 
          $.ajax({
            url: "/save_contact_us",
            type: "POST",
            data: $("#contact_us_form").serialize()
          }).success(function(data){
              if (typeof data.notice != "undefined"){
                $("header").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
              }else{
                $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
              }
              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#contact_us_form")[0].reset();
              $('#send_contact').html("<i class='fa fa-check'></i>Confirm");
              $('#send_contact').removeAttr('disabled');
              // grecaptcha.reset();
              // $('#hiddenRecaptcha7').val('');
              setTimeout(function(){location.reload();},3000);
              
          });
      }
   


    })






function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email.trim()==''){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
}

function IsJobTitle(jobtitle){
  if(jobtitle.trim()==''){
    alert("Please enter job title.");
    return false;
  }else{
    return true;
  };
}

function IsName(name){
  if(name.trim()==''){
    alert("Please enter your name.");
    return false;
  }else{
    return true;
  };
}

function IsCompany(company){

  if(company.trim()==''){
    alert("Please enter your company.");
    return false;
  }else{
    return true;
  };
}

function IsPhone(phone){


  if(phone.trim()==''){
    alert("Please enter your phone number.");
    return false;
  }else if(phone.trim().length<8){
    alert("Please enter an valid phone number.");
    return false;
  }else{
    return true;
  };
}
function IsCountry(country){

  if(country.trim()==''){
    alert("Please select an country");
    return false;
  }else{
   
    return true;
  };
}

function IsMessage(msg){
  if(msg.trim()==''){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
}
    </script>