<%
meta title: "Market Research Future Reports: Contact Us",
     description: "Contact us : Market Research Future Consultants Pvt. Ltd."
%>
 <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback1&render=explicit" async defer></script>
<style>

 #map-canvas img{max-width:none}

@media (min-width: 320px) and (max-width: 480px) {
        #recaptcha_challenge_image{
        margin: 0 !important;
        width: 100% !important;
        }
        #recaptcha_response_field
        {
        margin: 0 !important;
        width: 100% !important;
        }
        .recaptchatable #recaptcha_image {
        margin: 0 !important;
        width: 100% !important;
        }
        .recaptchatable .recaptcha_r1_c1, 
        .recaptchatable .recaptcha_r3_c1, 
        .recaptchatable .recaptcha_r3_c2, 
        .recaptchatable .recaptcha_r7_c1, 
        .recaptchatable .recaptcha_r8_c1, 
        .recaptchatable .recaptcha_r3_c3, 
        .recaptchatable .recaptcha_r2_c1, 
        .recaptchatable .recaptcha_r4_c1, 
        .recaptchatable .recaptcha_r4_c2, 
        .recaptchatable .recaptcha_r4_c4, 
        .recaptchatable .recaptcha_image_cell {

        margin: 0 !important;
        width: 100% !important;
        background: none !important;
        }

    }
</style>

<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">
<!--
var map;
var markers = new Array();
var infos = new Array();
var polylines = new Array();
var geoMarker = null;
var geoInfo = null;


function initialize()
{
var myLatlng = new google.maps.LatLng(18.512298,73.932407);
  var mapOptions = {
    zoom: 10,
    center: myLatlng
  };

  var map = new google.maps.Map(document.getElementById('map1'), mapOptions);

  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading">Market Research Future</h3>'+
      '<div id="bodyContent">'+
      '<p> House No: 1, Ekmat Society ' +
      'Jaywant Nagar, Nagpur 440027 '+
      'Maharashtra, India '+
     
     
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Market Research Future'
  });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });


}
window.onload = initialize;
//-->
</script>














<div class="inner_container">


<%#= render "shared/search_form"%>


          <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
           <h2 class="">Contact Us</h2>

</div>

    
    <section class="content" id="contact">
    	<div class="container">
            <div class="row">
            	<div class="col-sm-6">

    <div class="bubble">
          <div class="rectangle">
              <h2>Leave a message</h2>
          </div>
          <!-- <div class="triangle-l"></div> -->

          <div class="info" style="padding: 70px;">
          <%= form_for "contact_us", :url => save_contact_us_path, :method => 'post', :html => {:id=>"contact_us_form",:class=>"form-horizontal"} do |f| %>
             

                        <fieldset>
                            <div class="row" >
                                <div class="form-group ">
                                    <label for="name">Your name:<span>*</span></label>
                                    <%= f.text_field :name ,:class=>"form-control", :placeholder=>"Your name:" %>  
                                    
                                </div>                               
                            </div>
                            
                            <div class="row">
                              <div class="form-group ">
                                    <label for="email2">Your email:<span>*</span></label>
                                    <%= f.text_field :email , :class=>"form-control", :placeholder=>"Your email:"  %>  
                                  
                                </div>
                            </div>
                                 <div class="row">
                              <div class="form-group ">
                                    <label for="email2">Company Name:<span>*</span></label>
                                    <%= f.text_field :company , :class=>"form-control", :placeholder=>"Your Company:" %>  
                                  
                                </div>
                            </div>
                                <div class="row">
                              <div class="form-group ">
                                    <label for="email2">Job Title:<span>*</span></label>
                                    <%= f.text_field :job_title , :class=>"form-control", :placeholder=>"Your Job Title:" %>  
                                  
                                </div>
                            </div>
                                <div class="row">
                              <div class="form-group ">
                                    <label for="email2">Phone No.:<span>*</span></label>
                                    <%= f.text_field :phone_no , :class=>"form-control", :placeholder=>"Your Phone No.:" %>  
                                  
                                </div>
                            </div> 
                                 <div class="row">
                                <div class="form-group ">
                                    <label for="message">Your Country:<span>*</span></label>
                                      <%=f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control'%>
                                 
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group ">
                                    <label for="message">Your message:<span>*</span></label>
                                     <%= f.text_area :message ,  :class=>"form-control", :placeholder=>"Your message:",:style=>"height:100px"%>  
                                 
                                   
                                </div>
                            </div>



                          <div class="row">
                         

                                 <div class="form-group" id="captcha">
                                    <label for="email2" ></label>
                                   
                                 <input type="hidden" class="hiddenRecaptchacontact required" name="hiddenRecaptchacontact" id="hiddenRecaptchacontact">
                                     <div id="examplecontact"></div>
                                  
                                </div>
                            </div>
                             <div class="row">
                                <div class="form-group ">
                                    <label for="email2"></label>
                                    <button type="submit" class="btn btn-primary btn-sm" id="send_contact"><i class="fa fa-check"></i>Submit</button>
                                    <span class="form-info"><span class="required">*</span> These fields are required</span>
                                </div>               

                            </div>
                        </fieldset> 
                     <%end%>

          </div>
        </div><br />




              
                    



                </div>
                <div class="col-sm-6">
               
             

                <div class="bubble">
          <div class="rectangle" >
            <h2>Contact Informations</h2>
          </div>
          <!-- <div class="triangle-l"></div>
 -->
          <div class="info" style="overflow-y:auto;padding: 20px 25px 9px 25px;">
      
        <div class="col-sm-6">
            <ul class="list-unstyled contact-address">
                    <li style="border-bottom: 1px solid #383535;"><strong style="color: #383535;"> Head Office:</strong></li>
                   <li> Market Research Future </li>
                      <li>House No: 1, Ekmat Society </li>
                      <li>Jaywant Nagar, Nagpur 440027</li>
                       <li> Maharashtra, India</li>
                     <li> Ph: +91 841 198 5042 </li>
                  <li><a href="mailto:info@marketresearchfuture.com" > info@marketresearchfuture.com</a></li>
               
               
              </ul>
              <hr/>

          
               </div>
         <div class="col-sm-6">
                       <ul class="list-unstyled contact-address">
                        <li style="border-bottom: 1px solid #383535;"><strong style="color: #383535;"> Branch Office:</strong></li>
                   <li> Market Research Future </li>
                      <li>Office No. 524, Amanora Chambers</li>
                      <li>Magarpatta Road, Hadapsar</li>
                       <li>Pune - 411028</li>
                     <li> Maharashtra, India </li>
                  <li><a href="mailto:info@marketresearchfuture.com" > info@marketresearchfuture.com</a></li>
               
               
              </ul>
        </div>
   
                         
          </div>
        </div>











                <div class="bubble">
          <div class="rectangle">
            <h2>Contact Us</h2>
          </div>
         <!--  <div class="triangle-l"></div> -->

          <div class="info" style="overflow-y:auto;padding: 20px 25px 9px 25px;">
      
          <div class="row">
              <div class="profile">
                  <div class="col-lg-4">
                      <img src="/assets/contact_us_box.png" class="img-responsive" alt="contact_us" style="margin-top: 20px">
                    </div>
                    <div class="col-lg-8">
                        <h4>Market Research Future</h4>
              
                        <ul class="list-unstyled address">
                    
                            <li><h5><a href="mailto:salesteam@marketresearchfuture.com">salesteam@marketresearchfuture.com</a></h5></li>
                            <li>Ph: +1-646-845-9349 (US)</li>
                            <li>Ph: +44 208 133 9349 (UK)</li>
                      
                        </ul>
                     
                    </div>
                </div>
            </div>
   
                         
          </div>
        </div>







                <div class="bubble">
                  <div class="rectangle" >
                    <h2>Locate Us</h2>
                  </div>
                 <!--  <div class="triangle-l"></div> -->

                  <div class="info" style="overflow-y:auto;padding: 20px 25px 9px 25px;">
              
                  <div class="row">
                     <div id="map-canvas">
                       <div id="map1" style="height:200px"></div>
                     </div>
                   </div>
           
                                 
                  </div>
                </div>

 <br />



                    
                </div>
            </div>            
        </div>
    </section>  
  


      <script type="text/javascript">


$(function() {

    $("#contact_us_phone_no").keypress(function(e) {
        var val = $(this).val();
        var regex = /^[0-9 \.+]+$/;
        if (regex.test(val + String.fromCharCode(e.charCode))) {
            return true;
        }
        return false;
    });


});





      $widgetId=undefined;

      var onloadCallback1 = function() {
 
        grecaptcha.render('examplecontact', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8',
          'callback' : verifyCallbackcontact,
          'theme' : 'light'
        });
      };

      var verifyCallbackcontact = function(response) {
        $("#hiddenRecaptchacontact").val(response);
      };

    $("#contact_us_form").submit(function(e) {

      e.preventDefault()
  

      if( IsName($("#contact_us_name").val()) && IsEmail($("#contact_us_email").val())  &&  IsJobTitle($("#contact_us_job_title").val()) && IsCompany($("#contact_us_company").val()) && IsPhone($("#contact_us_phone_no").val()) && IsCountry($("#contact_us_country_id").val()) && IsMessage($("#contact_us_message").val())){
          $('#send_contact').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send_contact').attr('disabled','disabled'); 
          $.ajax({
            url: "/save_contact_us",
            type: "POST",
            data: $("#contact_us_form").serialize()
          }).success(function(data){
              if (typeof data.notice != "undefined"){
                $("header").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
              }else{
                $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
              }
              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#contact_us_form")[0].reset();
              $('#send_contact').html("<i class='fa fa-check'></i>Confirm");
              $('#send_contact').removeAttr('disabled');
              // grecaptcha.reset();
              // $('#hiddenRecaptcha7').val('');
              setTimeout(function(){location.reload();},3000);
              
          });
      }
   


    })






function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email.trim()==''){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
}

function IsJobTitle(jobtitle){
  if(jobtitle.trim()==''){
    alert("Please enter job title.");
    return false;
  }else{
    return true;
  };
}

function IsName(name){
  if(name.trim()==''){
    alert("Please enter your name.");
    return false;
  }else{
    return true;
  };
}

function IsCompany(company){

  if(company.trim()==''){
    alert("Please enter your company.");
    return false;
  }else{
    return true;
  };
}

function IsPhone(phone){


  if(phone.trim()==''){
    alert("Please enter your phone number.");
    return false;
  }else if(phone.trim().length<8){
    alert("Please enter an valid phone number.");
    return false;
  }else{
    return true;
  };
}
function IsCountry(country){

  if(country.trim()==''){
    alert("Please select an country");
    return false;
  }else{
   
    return true;
  };
}

function IsMessage(msg){
  if(msg.trim()==''){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
}
    </script>