<blockquote type="cite">
        <div>
          
          
          <table style="width:640px;color:rgb(51,51,51);margin:0 auto;border-collapse:collapse">
            <tbody>
              <tr>
                <td style="padding:0 20px 20px 20px;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                  <table style="width:100%;border-collapse:collapse">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="width:115px;padding:11px 11px 0 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif" rowspan="2"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" title="Visit www.marketresearchfuture.com" href="https://www.marketresearchfuture.com"> <img style="border:0;width:115px" src="https://www.marketresearchfuture.com/assets/logo.png" alt="marketresearchfuture" class="CToWUd"> </a>
                                </td>
                                <td style="text-align:right;padding:5px 0;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <br>
                                </td>
                                <td style="width:100%;padding:7px 5px 0;text-align:right;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                 <!--  <div> <a target="_blank" style="border-right:0px solid rgb(204,204,204);margin-right:0px;padding-right:0px;text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=http%3A%2F%2Fwww.amazon.in%3A80%2Fgp%2Fredirect.html%2Fref%3Dpe_386221_48200641_amb_link_181922647_1%2F275-5474938-1156361%3Flocation%3Dhttp%3A%2F%2Fwww.amazon.in%2Fapp-sweeps%26token%3DF462A8B69DAE778B78F7E59BE1CF57ADF5A24DE1%26source%3Dstandards%26pf_rd_m%3DA1VBAL9TL5WCBF%26pf_rd_s%3Demail-center-1%26pf_rd_r%3D0R2VMJF7WAF2JA009S13%26pf_rd_t%3D401%26pf_rd_p%3D507954307%26pf_rd_i%3Dcontentsymphonyslot&amp;A=NGBERPJAOLNM5NELS2TWUHHCA1SA&amp;H=GIJLXTT7XWMZ66BK6TUD17DPSVSA">Download
                                      Amazon.in App and Win</a> </div> -->
                                </td>
                              <!--   <td style="text-align:right;padding:5px 0;border-bottom:1px solid rgb(204,204,204);white-space:nowrap;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <span style="text-decoration:none;color:rgb(204,204,204);font-size:15px;font-family:Arial,sans-serif">&nbsp;|&nbsp;</span>
                                  <a target="_blank" style="border-right:0px solid rgb(204,204,204);margin-right:0px;padding-right:0px;text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fcss%2Fyour-account-access%2Fref%3Dpe_386221_48200641_TE_ya&amp;A=CVIPOLUY2QZIVHZF8HBEG8RCQA0A&amp;H=SQ4PKQOVRDYQXHR47CFO3VFRVN8A">Your Account</a> <span style="text-decoration:none;color:rgb(204,204,204);font-size:15px;font-family:Arial,sans-serif">&nbsp;|&nbsp;</span>
                                  <a target="_blank" style="border:0;margin:0;padding:0;border-right:0px solid rgb(204,204,204);margin-right:0px;padding-right:0px;text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fref%3Dpe_386221_48200641_TE_cn&amp;A=QPZSWSOWA7N1WPYIFHOPDZAENIWA&amp;H=TLCT4TUDHVIA0VHL2P1VSMAMLAQA">Amazon.in</a> </td> -->
                              </tr>
                              <tr>
                                <td style="text-align:right;padding:7px 0 5px 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif" colspan="3">
                                  <h2 style="font-size:20px;line-height:24px;margin:0;padding:0;font-weight:normal;color:rgb(0,0,0)!important">Order
                                    Confirmation</h2>
                                  Order #<a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fcss%2Fsummary%2Fedit.html%3Fie%3DUTF8%26orderID%3D171-4138050-6620328%26ref%3DTE_order%26ref_%3Dpe_386221_48200641&amp;A=EUCOSCILUPUOJOYFP2WPVIPXA3GA&amp;H=WZAIYAILHTORNS0MXUHF2MACJBEA">171-4138050-6620328</a>
                                  <br>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <h3 style="font-size:18px;color:rgb(204,102,0);margin:15px 0 0 0;font-weight:normal">Hello
                                    <%= @user.full_name%>,</h3>
                                  <p style="margin:1px 0 8px 0;font:12px/16px Arial,sans-serif"> Thank
                                    you for your order. This e-mail
                                    confirms that your order has been
                                    received by us. If we are not able
                                    to process your payment, we will
                                    save your order and send you an
                                    e-mail with an option to retry
                                    payment. </p>
                            <!--       <p style="margin:1px 0 8px 0;font:12px/16px Arial,sans-serif">If you
                                    would like to view the status of
                                    your order or make any changes to
                                    it, please visit <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fcss%2Forder-history%2Fref%3Dpe_386221_48200641_TE_gs&amp;A=CSEWE9ENSXU71WXPHUWYLHAOO7CA&amp;H=CMPMWF2PSEYR6IASARNWEB3CUSYA">Your
                                      Orders</a> on Amazon.in. </p> -->
                                </td>
                              </tr>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <br>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="border-collapse:collapse">
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-top:3px solid rgb(45,55,65);border-collapse:collapse">
                            <tbody>
                              <tr>
                          <!--       <td style="font-size:14px;padding:11px 18px 18px 18px;background-color:rgb(239,239,239);width:50%;vertical-align:top;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="margin:2px 0 9px 0;font:14px Arial,sans-serif"> <span style="font-size:14px;color:rgb(102,102,102)">Your estimated
                                      delivery date is:</span> <br>
                                    <b> Thursday, December 11, 2014 - <br>
                                      Saturday, December 13, 2014 </b>
                                  </p>
                                  <p style="margin:2px 0 9px 0;font:14px Arial,sans-serif"> <span style="font-size:14px;color:rgb(102,102,102)">Your shipping
                                      speed:</span> <br>
                                    <b> 2-4 Business Days (FREE
                                      Delivery). </b> </p>
                                  <a target="_blank" style="font-size:11px;color:rgb(102,102,102);text-decoration:underline;font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=https%3A%2F%2Fwww.amazon.in%2Fgp%2Fcss%2Forder-details%3ForderId%3D171-4138050-6620328%26ref_%3Dpe_386221_48200641_TE_on_sh&amp;A=HYSASDBEAUSY7PFC9RWUFGK4PEOA&amp;H=XPRVBNAYVZACLVSUCXAQFRTRAX4A"> <img border="0" style="border:0" src="https://ci3.googleusercontent.com/proxy/1GvgDA2oBjN-4CmKbxYLc0ZEowjefjdwOd9lirl_Oy7MLot8_nIJcOzYsxni2FnS7gANKl23ooE98hQwsVHNdmkpk8JjGJEO0nrfA26-8QxdRQwEBV2gObn11NgSEDWhey7E2HBgFA=s0-d-e1-ft#http://g-ecx.images-amazon.com/images/G/01/x-locale/cs/te/button-orderdetails.png" alt="Your
                                      Orders" class="CToWUd"> </a>
                                </td> -->
                                <td style="font-size:14px;padding:11px 18px 18px 18px;background-color:rgb(239,239,239);width:50%;vertical-align:top;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="margin:2px 0 9px 0;font:14px Arial,sans-serif"> <span style="font-size:14px;color:rgb(102,102,102)">Your order
                                      will be sent to:</span> <br>
                                    <b> Digits Experts Private Limited,
                                      31/A, 2nd Floor, <br>
                                      Global Trade Center Building,
                                      Ramkrishna Nagar <br>
                                      Khamla Road <br>
                                      Nagpur, Maharashtra 440015 <br>
                                      India </b> </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="border-bottom:1px solid rgb(204,204,204);vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <h3 style="font-size:18px;color:rgb(204,102,0);margin:15px 0 0 0;font-weight:normal">Order Details</h3>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> Order
                                  #<a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#">171-4138050-6620328</a>
                                  <br>
                                  <span style="font-size:12px;color:rgb(102,102,102)">Placed on
                                    Monday, December 8, 2014</span> </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:95%;border-collapse:collapse">
                            <tbody>
                              <%@report_list.each do |report|%>

                              <tr>
                                <td style="width:150px;text-align:center;padding:16px 0 10px 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" title="B003L62T7W" href="#"> 
                                <%if report.report_image?%>
                                  <%= image_tag report.report_image_url(:thumb)  %>
                                <%else%>
                                  <%= image_tag report.publisher.report_image_url(:thumb) rescue nil %>
                                <%end%>

                                </a> </td>
                                <td style="color:rgb(102,102,102);padding:30px 30px 0;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"> <%=  report.title %> </a> <br>
                                  Published:<%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%> <br>
                                  by <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"><%= report.publisher.name%></a>
                                  <br>
                          <!--         <div>
                                    <table cellspacing="4" cellpadding="0" border="0" style="border-collapse:separate">
                                      <tbody style="vertical-align:bottom">
                                        <tr>
                                          <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <br>
                                          </td>
                                          <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"> <img border="0" width="16" height="16" style="vertical-align:middle;border:0" alt="Facebook" src="https://ci6.googleusercontent.com/proxy/LZBtmav_QPHzrZ7KfzOOZYLzbw4H2ec41jBbA1jzGzoCmgK-9Q7jPIxYGZH1eb4R8GmjUkZODxclpY2Wssnw9na1LgcylZSWvKsJP0m0YluAyWXcWH-_JfghPMWnYz9dRFTPXjIPYHeMbjgLDp3Ql5M1aTG2iJB_xKdtIvLu=s0-d-e1-ft#http://g-ecx.images-amazon.com/images/G/31/x-locale/personalization/live-meter/facebook._V138349243_.gif" class="CToWUd"> </a> </td>
                                          <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"> <img border="0" width="16" height="16" style="vertical-align:middle;border:0" alt="Twitter" src="https://ci3.googleusercontent.com/proxy/wa_29dGv75RYD1_vgfHBRaJ-XcpeVzWI4Em7kuxC9C98xKYiijIkbJjS7Ry_8dgdjyLrfaBSYlmt9gS4xBlqdkkVEks_Obabj__0V0BH24tAgqOZuxd5BepEzU1SWtpUF5amRIh9f72C0z_08IDsngYkqHz5=s0-d-e1-ft#http://g-ecx.images-amazon.com/images/G/31/x-locale/communities/social/twitter._V388040199_.gif" class="CToWUd"> </a> </td>
                                          <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"> <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="#"> <img border="0" width="16" height="16" style="vertical-align:middle;border:0" alt="Pinterest" src="https://ci5.googleusercontent.com/proxy/JqaTyegRkNlzhIcXOaUPdej978mazZS3LXM-GPc1CRU9_B7L9d8mG73kZWED5yGVcdOIhNDUG66II7cKNGVMnXJmO8qOwUrHAqIBd7embY8leDRDdiUTXdNNgvidErkKb2IQIv85hLM5DJtUn8o4M-ip6fmrunE=s0-d-e1-ft#http://g-ecx.images-amazon.com/images/G/31/x-locale/communities/social/pinterest._V389372390_.png" class="CToWUd"> </a> </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div> -->
                                </td>
                                <td style="width:110px;text-align:right;font-size:14px;padding:30px 10px 0 0;vertical-align:top;line-height:18px;font-family:Arial,sans-serif">
                                  <strong>$ </strong> <br>
                                </td>
                              </tr>
                              <%end%>


                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left:32px;vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:95%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="border-top:1px solid rgb(234,234,234);padding:0 0 16px 0;text-align:right;line-height:18px;vertical-align:top;font-size:13px;font-family:Arial,sans-serif" colspan="2"> <br>
                                </td>
                              </tr>
<!--                               <tr>
                                <td style="text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif">
                                  Item Subtotal: </td>
                                <td style="width:120px;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif"> Rs.266.00 </td>
                              </tr>
                              <tr>
                                <td style="text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif">
                                  Shipping &amp; Handling: </td>
                                <td style="width:120px;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif"> Rs.49.00 </td>
                              </tr>
                              <tr>
                                <td style="text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif">
                                  Promotion Applied: </td>
                                <td style="width:120px;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-size:13px;font-family:Arial,sans-serif"> -Rs.49.00 </td>
                              </tr>
                              -->
                              <tr>
                                <td style="font-size:14px;font-weight:bold;font:12px/16px Arial,sans-serif;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-family:Arial,sans-serif"> <strong>Order
                                    Total:</strong> </td>
                                <td style="font-size:14px;font-weight:bold;font:12px/16px Arial,sans-serif;text-align:right;line-height:18px;padding:0 10px 0 0;vertical-align:top;font-family:Arial,sans-serif"> <strong>Rs.266.00</strong>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding:0 0 16px 0;text-align:right;line-height:18px;vertical-align:top;font-size:13px;font-family:Arial,sans-serif" colspan="2"> <br>
                                </td>
                              </tr>
                              <tr>
                                <td style="border-top:1px solid rgb(234,234,234);padding:0 0 16px 0;text-align:right;line-height:18px;vertical-align:top;font-size:13px;font-family:Arial,sans-serif" colspan="2"> <br>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
            <!--             <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="margin:1px 0 8px 0;font:12px/16px Arial,sans-serif"> Need
                                    to make changes to your order? Visit
                                    our <a target="_blank" style="text-decoration:none;color:rgb(0,102,153);font:12px/16px Arial,sans-serif" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=http%3A%2F%2Fwww.amazon.in%2Fgp%2Fhelp%2Fcustomer%2Fdisplay.html%2Fref%3Dpe_386221_48200641_TE_ofa%3Fie%3DUTF8%26nodeId%3D200534180&amp;A=A63S2FKV3O0GULOU5FEPMKKPEQQA&amp;H=DHRWJTANPJ6FIIBWT85CIMQTBCKA">Help
                                      Page</a> for more information.<br>
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td> -->
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;padding:0 0 0 0;border-collapse:none">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="padding:0 0 20px 0;border-bottom:1px solid rgb(234,234,234);margin:0;font:12px/16px Arial,sans-serif"> We hope to
                                    see you again soon.<br>
                                    <br>
                                    <span style="font-size:16px;font-weight:bold"> <strong>marketresearchfuture</strong>
                                    </span> </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="border-collapse:collapse">
                            <tbody>
                              <tr>
                      <!--           <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse">
                                    <tbody>
                                      <tr>
                                        <td align="center" style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"><map name="14a70b85254e66d5_Tx_email_gift_a_smile">
                                            <area target="_blank" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=http%3A%2F%2Fwww.amazon.in%3A80%2Fgp%2Fredirect.html%2Fref%3Dpe_386221_48200641_amb_link_181922747_2%2F279-6910743-2458428%3Flocation%3Dhttp%3A%2F%2Fwww.amazon.in%2Fcares%26token%3DF462A8B69DAE778B78F7E59BE1CF57ADF5A24DE1%26source%3Dstandards%26pf_rd_m%3DA1VBAL9TL5WCBF%26pf_rd_s%3Demail-center-1%26pf_rd_r%3D1GJK4BNDGHVPXK7028ZE%26pf_rd_t%3D401%26pf_rd_p%3D554750507%26pf_rd_i%3Dcontentsymphonyslot&amp;A=BDOM9U2XZGTZLOFDIA0HTRXYSLEA&amp;H=CVDIHBZWXY0BADWXHABFXOMHPM0A" alt="Gift a smile" coords="0,0,300,75" shape="rect">
                                          </map>
                                          <img border="0" align="middle" width="300" height="75" alt="Gift a smile" usemap="#14a70b85254e66d5_Tx_email_gift_a_smile" src="https://ci3.googleusercontent.com/proxy/rkGerixBDH42bZxfoopp99seYm74--4Wg0XQ2Ym8YofpWyT3Ot-ckw18Xs3TiTvM_rpcXJeu3oV4Ym14JhmFKFIfum0ZBhDI5_pcJ1VAfXkFZXjNPDAuySV54v9K7qgjUQTjG9x3rmqjtKh7rO3WFYb-nOdLlKEN8dw=s0-d-e1-ft#https://images-na.ssl-images-amazon.com/images/G/31/img13/Promotions/lozenge-300x75._V352146334_.png" class="CToWUd"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <br>
                                </td> -->
                       <!--          <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse">
                                    <tbody>
                                      <tr>
                                        <td align="center" style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif"><map name="14a70b85254e66d5_Todays_Deals-lozenge3">
                                            <area target="_blank" href="http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=C&amp;U=http%3A%2F%2Fwww.amazon.in%2Fgp%2Fgoldbox%2Fref%3Dpe_386221_48200641_amb_link_182976107_2%2F277-2552665-4721646%3Fpf_rd_m%3DA1VBAL9TL5WCBF%26pf_rd_s%3Demail-center-1%26pf_rd_r%3D127NFR55RVT31AA20E5N%26pf_rd_t%3D401%26pf_rd_p%3D541257847%26pf_rd_i%3Dcontentsymphonyslot%23TRUST&amp;A=5JWFFTFO3LTZSR9UZF7FDZVG3GOA&amp;H=B0WPJQ2Q06WDAOQT4WFWGBEAFVYA" alt="Today's Deals" coords="0,0,300,75" shape="rect">
                                          </map>
                                          <img border="0" align="middle" width="300" height="75" alt="Today's Deals" usemap="#14a70b85254e66d5_Todays_Deals-lozenge3" src="https://ci4.googleusercontent.com/proxy/Jxlbsgon68CXPuVmKt16yDDiQ7f7cGE-jPoiBuzDeqsXSpFFnsTFaCyyNQpUns8nmRvVoZbb7D9XJCa2rP5tpcuiaaP-Vy_Cw0Cpo5WXxZuxipQbMWget1c91XJraHFpCCCzYh7UnyFaBJxIVw9QPVWRg0lYOJJQkKgGvJDL1y3SabrGkA=s0-d-e1-ft#https://images-na.ssl-images-amazon.com/images/G/31/img14/rcx-events/Diwali/Deals/HappyHour/L1._V324438530_.png" class="CToWUd"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <br>
                                </td> -->
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                          <table style="width:100%;margin:20px 0 0 0;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;font-size:13px;line-height:18px;font-family:Arial,sans-serif">
                                  <p style="font-size:10px;color:rgb(102,102,102);line-height:16px;margin:0 0 10px 0;font:10px"> This email was sent from a
                                    notification-only address that
                                    cannot accept incoming email. Please
                                    do not reply to this message. </p>
                                </td>
                              </tr>
                              <tr>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <img src="https://ci3.googleusercontent.com/proxy/n-5TlbGPLG0OFPY_BLVB7YSn7Xq-hlC507t2dAQHCE3k4_cNuk36AXxAUQxJLxoHc0ZnTPSrMx14CKkhP8qJFTeSMWwkVRuo5e13cKCcFQYXN7w-a8NkIINXucQ6hypkKTAybpDD8bdANxmX7ISi7F5mgx_yQZZYyvQs1gIhhCbvn_TRULWcKaEiZM_9okUJHpa9mbJaq-lu6Wrj2sahBvUKwcgq3vSZ1nrnzwPEj5oaJ_7tl-ORn3QFSWD7KjLH7cA-KnIgAHFHf29FsNRIF0jrX9zf9361RyiRHRGmkUvPXc2p1M1_3mmaiBZTEw=s0-d-e1-ft#http://www.amazon.in/gp/r.html?C=1H6X0AT2K3AR2&amp;K=A7UKNVGTSI82A&amp;R=7S41QCU89BK&amp;T=E&amp;U=http%3A%2F%2Fimages-eu.amazon.com%2Fimages%2FG%2F01%2Fnav%2Ftransp.gif&amp;A=U7QLQHVNOYZLQO2MQJNT3ORDEUYA&amp;H=IJHXJLCLU5M5FRW00XFXECOOBSAA" class="CToWUd"><div class="yj6qo"></div><div class="adL">
        </div></div><div class="adL">
      </div></blockquote>