 
                        
 <!-- ==========================
      BREADCRUMB - START 
    =========================== -->

<%
meta title: "marketresearchfuture- Types"
%>

    <section class="breadcrumb-wrapper">
        <div class="container">
          <div class="col-sm-3" >
            <h2>Report Type</h2>
          </div>
            <%= render "shared/search_form"%>
            <div class="col-sm-4">

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Report - Type</li>
            </ol>
            </div>
        </div>
    </section>
  <!-- ==========================
      BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
      ESHOP - START 
    =========================== -->
    <section class="content" id="eshop">
      <div class="container">
 <div class="col-lg-12">
       <h4 style="font-size: 16px;"><strong>Browse all categories: Market Research Reports Type</strong></h4>
<hr>
        <ul>




       <li>
          
             

             <h5> <a href="/type1" > <b>Cooked Research Report (CRR):</b></a></h5>


               
               
               
            
                
             
           
          </li><li>
                 
          

             <h5> <a href="/type2" > <b>Half-Cooked Research Reports (HCRR):</b></a></h5>

             
               
                
              
       
            </li><li>
                    
             

             <h5> <a href="/type3" > <b>Raw Research Reports (3R):</b></a></h5>

        
               
                
               
                
              
           
            </li><li>
                    
            

             <h5> <a href="/type4" > <b>Continuous-Feed Research (CFR):</b></a></h5>

          
         
         
           
</li>


        </ul>
      </div>
              </div>
    </section>