 
                        
 <!-- ==========================
      BREADCRUMB - START 
    =========================== -->

<%
meta title: "marketresearchfuture- Types"
%>

    <section class="breadcrumb-wrapper">
        <div class="container">
          <div class="col-sm-3" >
            <h2>Report Type</h2>
          </div>
            <%= render "shared/search_form"%>
            <div class="col-sm-4">

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Report - Type</li>
            </ol>
            </div>
        </div>
    </section>
  <!-- ==========================
      BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
      ESHOP - START 
    =========================== -->
    <section class="content" id="eshop">
      <div class="container">
       <div class="row">
         <h4 style="font-size: 16px;"><strong>Cooked Research Report (CRR):</strong></h4>
         <hr>
        <ul>
        <div class="row">        
          <p>"Every month Market Research Future cook number of Research Reports which are prepared and published based on the most frequently searched, trending or new subjects in the respective markets. All the published reports consist- market data tables, self-explanatory write-ups, and infographics. For CRR, we have industry specific team of analysts in order to provide the optimum quality services."</p>
          <p>
          Our Research Reports on the various markets are inclusive of following ingredients:</p>
          <ul><li>Topic definition & Market definition</li>
          <li>Scope of the study, Research objectives and assumptions & limitations</li>
          <li>Market structure</li>
          <li>Research methodology & process</li>
          <li>Forecast Indicators (Drivers, Barriers, Opportunities, Trends), & Macroecnomical Indicators</li>
          <li>Factor Analysis (Marketing Mix, Porter's Five Force, Supply Chain Analysis, Pest, & Value Chain Analysis)</li>
          <li>In-depth Analysis of Global Market Size For Products, Services, Technologies, Applications, End Users, And Market Players</li>
          <li>In-depth Analysis of Regional Market Size For Products, Services, Technologies, Applications, End Users, And Market Players</li>
          <li>In-depth Analysis of County Level Market Size For Products, Services, Technologies, Applications, End Users, And Market Players</li>
          <li>In-depth Geographical Market Scenario</li>
          <li>Market Share and Competitive Analysis by Market Players</li>
          <li>List of Minimum Top 10 Company Profiles</li>
          <li>Discussion blue print, Industry expert quotes, Sources & Bibliography</li>
          </ul>
        </div>

      </ul>
      </div>

      <div class='col-sm-12' style="padding-top: 30px;">
          <div class="bubble">
              <div class="rectangle" style="background-color: #383535;width:101%">
                <h2>Related Reports</h2>
              </div>
              <div class="triangle-l"></div>
              <div class="info" style="height:280px; overflow-y:auto">
               <% Report.search("@report_report_type_name 'Cooked Research Report'", limit: 10, order: 'publish_date DESC').each do |report| %>
               <div class="record">
                  <div class="panel panel-info">
                    <div class="panel-body" style="font-size:12px">
                      <% if report.report_image?%>
                        <%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail", :style => "float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px"  %>
                      <%else%>
                        <img src="<%=Report.category_name_image_hash[report.category_id][:logo]%>" class="img-thumbnail" style="float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px" >
                      <%end%>
                      <span> 
                        <a href="/reports/<%= report.slug %>" style="color:#006DCC;"><b>
                        <%= report.title %>
                        </b>
                        <br><br>
                        <b style="color:#916D06">Published: </b><%= report.day unless report.day.to_i.zero? %> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%><br>
                        </a>
                      </span>
                    </div>
                  </div> 
                </div>
                <% end %>
              </div>
            </div>
      </div>
    </div>
</section>