 
                        
 <!-- ==========================
      BREADCRUMB - START 
    =========================== -->

<%
meta title: "marketresearchfuture- Types"
%>

    <section class="breadcrumb-wrapper">
        <div class="container">
          <div class="col-sm-3" >
            <h2>Report Type</h2>
          </div>
            <%= render "shared/search_form"%>
            <div class="col-sm-4">

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Report - Type</li>
            </ol>
            </div>
        </div>
    </section>
  <!-- ==========================
      BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
      ESHOP - START 
    =========================== -->
    <section class="content" id="eshop">
      <div class="container">
 <div class="row">
       <h4 style="font-size: 16px;"><strong>Raw Research Reports (3R):</strong></h4>
<hr>
        <ul>




       
           <div class="row">
             
<p>"Raw Research Reports are the future market research reports that have defined market scope, ready table of content and market summary but yet to arrive in pipeline. However, you can preorder these research reports as per your suitable requirements, and we will start preparing it with your mutual consent. 3R offers you an advantage with add-ons of your suitable flavors of market segments, toppings of hot industry topics and modifications for the research process. You can discus with our Research Analyst (Intellectual Chefs) to find solutions and even develop new ideas."</p>
             
            </div>
           

        </ul>
        
      </div>
     <div class='col-sm-12' style="padding-top: 30px;">
          <div class="bubble">
              <div class="rectangle" style="background-color: #383535;width:101%">
                <h2>Related Reports</h2>
              </div>
              <div class="triangle-l"></div>
              <div class="info" style="height:280px; overflow-y:auto">
               <% Report.search("@report_report_type_name 'Raw Research Reports'", limit: 10, order: 'publish_date DESC').each do |report| %>
               <div class="record">
                  <div class="panel panel-info">
                    <div class="panel-body" style="font-size:12px">
                      <% if report.report_image?%>
                        <%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail", :style => "float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px"  %>
                      <%else%>
                        <img src="<%=Report.category_name_image_hash[report.category_id][:logo]%>" class="img-thumbnail" style="float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px" >
                      <%end%>
                      <span> 
                        <a href="/reports/<%= report.slug %>" style="color:#006DCC;"><b>
                        <%= report.title %>
                        </b>
                        <br><br>
                        <b style="color:#916D06">Published: </b><%= report.day unless report.day.to_i.zero? %> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%><br>
                        </a>
                      </span>
                    </div>
                  </div> 
                </div>
                <% end %>
              </div>
            </div>
      </div>
              </div>
    </section>