
<%
meta title: "marketresearchfuture - Continents",
     description: "Get Continents wise industry research report from marketresearhfuture.com"
%>








<div class="inner_container">



  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="#">Continents</a></li>
  </ul>


<br/>









<section class="content " id="eshop">
	<div class="container ">


		
		<div class="col-sm-12">
		<!-- <ul> -->
		
		<%# cache "allcontinents", skip_digest: true do %>

		  <%# @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">
		  <br/><br/>
		   <!--   <h5><strong><%#= letter %></strong></h5> -->

		      <ul>

		      	  <div class="col-md-3" style="padding-bottom:30px"><a href="/continents/global"><img src="assets/global.gif" height="40" width="70">&nbsp;&nbsp; Global (<%=Report.global_count%>)</a></div>
		        <% Continent.list.each_slice(4) do |tag_array| -%>

			        <% tag_array.each do |continent| %>
			          <div class="col-md-3" style="padding-bottom:30px"><a href="/continents/<%= continent.slug%>"><img src="assets/<%= continent.id%>.gif" height="50" width="50">&nbsp;&nbsp; <%= continent.name%> (<%=continent.reports_count%>)</a></div>
			     
			        <% end %><br/>
		        <% end %>
		      </ul>
		    </div>

		 <%# end %>

		
		</ul>
	</div>
	</div>
</section>


	</div>