/* ------------------------------- 3. Slider Styles ------------------------------- */
#fwslider {
    position: relative;
    width:100%;
}
#fwslider .slide {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width:100%;
}
#fwslider .slide img {
    width:100%;
}
#fwslider .slidePrev {
  	position: absolute;
    top:50%;
    left:-50px;
    z-index: 10;
}
#fwslider .slidePrev span {
	background-image: url("../assets/sprite_prev.png");
	width: 72px;
	height: 128px;
	float: left;
	background-position:-10px -243px;
	background-repeat: no-repeat;
	cursor: pointer;
}
#fwslider .slideNext {
   	position: absolute;
    top:50%;
    right:-50px;
   	z-index: 10;
}
#fwslider .slideNext span {
 	background-image: url("../assets/sprite_next.png");
	width: 72px;
	height: 128px;
	float: left;
	background-position:-10px -243px;
	background-repeat: no-repeat;
	cursor: pointer;
}
#fwslider .timers {
    height:4px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
}
#fwslider .timer {
    height:4px;
    width:40px;
    background-color: #000;
    float:left;
    margin-right: 10px;
}
#fwslider .progress {
    height:4px;
    width:0%;
    background-color:#4cb1ca;
    float:left;
}
#fwslider .slide_content {
    top:0;
    left:0;
    position: absolute;
    width:100%;
    height:100%;
}
#fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    max-width: 600px;
	margin: 12% auto;
}
#fwslider .title {  /* Slider Title Style */
	color: #FFF;
	font-size: 5em;
	padding-top: 5%;
	font-style: normal;
	text-transform: uppercase;
	border: none;
	font-weight: 800;
	line-height: 1.3em;
	margin-bottom: 5%;
}
/* ------------------------------- 4. Media Query Max Width 1300, Min Width 720 ------------------------------- */
/* ------------------------------- 5. Media Query Max Width 719 ------------------------------- */

@media only screen and (max-width:800px) {

    #fwslider .slide_content_wrap { display:none; }
    #fwslider .timers { display:none; }
    #fwslider .slide_content {cursor: pointer;}
	#fwslider .title {
		margin-left: 19%;
		font-size: 3em;
	}
}
@media (max-width:1366px){
   #fwslider .title {
		margin-left:8%;
		font-size: 4em;
	}
}
@media (max-width:768px){
	#fwslider .title {
		margin-left: 19%;
		font-size: 3em;
	}
}
