


<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i>Enquiries</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			Enquiries
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-5">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Enquiries
							</div>
							
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover" style="text-align: center;">
							<thead>
								<tr>
								
									<th style="text-align: center;">Date</th>
									<th style="text-align: center;">Action</th>
								</tr>
							</thead>
							<tbody>
							    <% @dates.each do |date| %>
								<tr>
								    <td> <%= link_to date.to_date.strftime("%b %d, %Y") , admin_enquiries_path(:date=>date)  %></td>
									<td>
									<%if current_user.is_superadmin%>
									<a href="/admin/enquiries/list/<%=date%>" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
									 <%end%>
									</td>
								</tr>
								<% end %>

							</tbody>
						</table>

						<div class="widget-foot">
					
						

							<div class="pull-right">
								<%= will_paginate @dates, renderer: BootstrapPagination::Rails %>

							</div>

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>


















