

<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Publishers</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Publishers</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->
    <% cache "admin-publisher-list/page-#{params[:page]}" do %>
	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Publishers
							</div>
						
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Logo</th>
									<th>Sample Enabled</th>
									<th>Price Enabled</th>
									<th>Report Count</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<% @publishers.each do |publisher| %>
								<tr>
								    <td><%= publisher.name %></td>
								    <td> <%= image_tag publisher.logo_url(:thumb) if publisher.logo? %></td>
								    <td><%= publisher.sample_report_flag ? 'YES' : 'NO' %></td>
								    <td><%= publisher.report_price_flag ? 'YES' : 'NO' %></td>
								    <td> <%= publisher.reports.count %></td>
									<td>
											<%if current_user.is_superadmin%>
									 <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_publisher_path(publisher) , :class=>'btn btn-xs btn-warning'  %> <a href="/admin/publishers/<%= publisher.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
									 <%end%>
									</td>
								</tr>
								<% end %>

							</tbody>
						</table>

						<div class="widget-foot">
					
							<div class="pull-left">
								<%= link_to  "Add Publisher", new_admin_publisher_path, :class => 'btn btn-sm btn-primary' %>
							</div>

							<div class="pull-right">
								<%= will_paginate @publishers, renderer: BootstrapPagination::Rails %>

							</div>

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	<% end %>
</div>




