



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Publisher</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="<%= admin_publishers_path %>" class="">Publisher</a>
			<span class="divider">/</span>
			<a href="#" class="bread-current">New</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->
	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								New Publisher
							</div>
						
							<div class="clearfix"></div>
						</div>
						<div class="widget-content">
							<div class="padd">
								<br/>
								<%= form_for [:admin, @publisher],:html => { :multipart => true, :class=>"form-horizontal" } do |f| %>
						
										  
							    <%- @publisher.errors.full_messages.each do |message| -%>
							    <div class="errorExplanation"> <p><%= message %></p></div>
							    <%- end -%>
		  					
								<div class="form-group">
									<label class="col-lg-2 control-label">Name</label>
									<div class="col-lg-5">
										<%= f.text_field :name, :class => 'form-control' %>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Description</label>
									<div class="col-lg-5">
										<%= f.text_area :description, :class => 'form-control' %>
									</div>
								</div>
							    <div class="form-group">
									<label class="col-lg-2 control-label">Logo</label>
									<div class="col-lg-5">
										<%= f.file_field :logo, :class => 'form-control' %>
									</div>
								</div>
							    <div class="form-group">
									<label class="col-lg-2 control-label">For Report Image</label>
									<div class="col-lg-5">
										<%= f.file_field :report_image, :class => 'form-control' %>
									</div>
								</div>
							    <div class="form-group">
									<label class="col-lg-2 control-label">For Report Background</label>
									<div class="col-lg-5">
									   <div class="col-lg-8" style="padding-left:0px">
										<%= f.file_field :report_background, :class => 'form-control' %>
										</div> <div class="col-lg-4">(Minimum 500x500 pixels)</div>
									</div>
								</div>	
							    <div class="form-group">
									<label class="col-lg-2 control-label">Text Position</label>
									<div class="col-lg-5">
										<%= f.select :text_position, [["Top", "NorthGravity"], ["Bottom", "SouthGravity"], ["Center", "CenterGravity"]], {} , :class => 'form-control'%>
									</div>
								</div>	
								<div class="form-group">
									<label class="col-lg-2 control-label">Text Color</label>
									<div class="col-lg-2">
										<%= f.text_field :text_color, :class => 'form-control', :id=>"color_c1"%>
									</div>
								</div>	
											
								<div class="form-group">
									<label class="col-lg-2 control-label">Enable Sample Report</label>
									<div class="col-lg-5">
									  <div class="input-group">
                                          <%= f.select :sample_report_flag, [["Yes", true], ["No", false]], {prompt: false} , :class => 'form-control'%>
                                      </div>
									</div>
								</div>
									<div class="form-group">
									<label class="col-lg-2 control-label">Enable Report Price</label>
									<div class="col-lg-5">
									  <div class="input-group">
                                  
                                          <%= f.select :report_price_flag, [["Yes", true], ["No", false]], {prompt: false} , :class => 'form-control'%>
                                      </div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-6">
										<button type="submit" class="btn btn-sm btn-success">
											Save
										</button>
										<button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
											Back
										</button>
									</div>
								</div>

								<% end %>

							</div>
						</div>
						<div class="widget-foot">

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>

















