	<div class="continents_input" data-id="global">	
		    
			<input id="continent_global" class="float_left margin_left" type="checkbox" name="continent" value="Global" onclick="showReports()"> <label class="highlight_filter_headings" for='continent_global'>Global</label>
	</div>
<% Continent.list.each_with_index do |continent,index| %>
	<div class="continents_input" data-id="<%= continent.id %>">	
		    
			<input id="continent_<%= continent.id %>" class="float_left margin_left" type="checkbox" name="continent" value="<%= continent.id %>" onclick="showReports()" style="display:<%= 'none' if index > 3 %>"> <label class="highlight_filter_headings" for='continent_<%= continent.id %>' style="display:<%= 'none' if index > 3 %>"> <%= continent.name %></label>
	</div>
<% end %>

  <div id="continent_templates" style="display: none;">
      <select id="continent_input" style="width:180px" class="form-control" onchange="appendContinent()" >  
      <% Continent.list.each do |continent| %>
        <option id="<%= continent.id %>" selected="<%= continent.id %>"><%= continent.name %></option>
      <% end %>
      </select>     
    </div>
  </div>
<script type="text/javascript">
  function select2Continent(continent) {
    if (!continent.id) { return continent.text; }
    id = continent.id.split("_")[1];
    var $continent = $(
      '<span> '+  continent.text + '</span>'
    );
    return $continent;
    
  };
$(document).ready(function(){
 $("#continent_input").select2({
    templateResult: select2Continent
  });
 $('#continent_global').change(function() {
      if($(this).is(':checked')){
       $("#row_continents").find(".continents_input:not([data-id='global'])").find("input[name='continent']").removeAttr('checked');
       $("#row_continents").find(".continents_input:not([data-id='global'])").hide();
       $("#continent_add_div").hide();
       $("#show_continent_link").hide();
       $("#row_countries").hide()
       $(".continents_input[data-id='global']").show()
       $("#continent_global").prop("checked",true);
       $("#continent_global").attr("data-toggle", "tooltip");
       $("#continent_global").attr("title", "You can either select Global or other continents. To select other continents you have to uncheck the Global");
       $('#continent_global').tooltip('show');
       setTimeout(function(){
        $("#continent_global").tooltip('hide');
      }, 2000);
       showReports();
      }else{
       $("#continent_global").tooltip('destroy');
       $("#row_continents").find(".continents_input:not(:first-child)").slice(0,5).show();
       $("#continent_add_div").show();
       $("#show_continent_link").show();
       $("#row_countries").show();
      }
  })   
})
</script>