<% all_countries.each_with_index do |country,index| %>
	<div class="countries_input" data-id="<%= country['id'] %>">	
		    
			<input id="country_<%= country['id'] %>" class="float_left margin_left" type="checkbox" name="country" value="<%= country['id'] %>" onclick="showReports()" style="display:<%= 'none' if index > 3 %>"> <label class="highlight_filter_headings" for='country_<%= country['id'] %>' style="display:<%= 'none' if index > 3 %>"> <%= country['name'] %></label>
	</div>
<% end %>
<% if all_countries.present? && all_countries.length > 5%>
<a class="btn btn-xs btn-primary" href="javascript:void(0)" id="show_country_link" onclick="showAllCountries()"><i class="fa fa-eye" aria-hidden="true"></i> Show All</a>
<a class="btn btn-xs btn-primary" href="javascript:void(0)" id="show_less_country_link" onclick="showLessCountries()" style="display:none;"><i class="fa fa-eye-slash" aria-hidden="true"></i> Show Less</a>
  <div id="country_add_div">
  <a id="add_country" style="cursor:pointer" onclick="addCountry()"><i class="fa fa-plus-square" aria-hidden="true"></i> Add country</a>
  <div id="country_templates" style="display: none;">
      <select id="country_input" style="width:180px" class="form-control" onchange="appendCountry()" >  
      <% all_countries.each do |country| %>
        <option id="<%= country['id'] %>" selected="<%= country['id'] %>"><%= country['name'] %></option>
      <% end %>
      </select>     
    </div>
  </div>
<% end %>
<script type="text/javascript">
  function select2Country(country) {
    if (!country['id']) { return country.text; }
    id = country['id'].split("_")[1];
    var $country = $(
      '<span> '+  country.text + '</span>'
    );
    return $country;
    
  };
$(document).ready(function(){
 $("#country_input").select2({
    templateResult: select2Country
  });
})
</script>