<% all_regions = Region.all_regions %>
<% all_regions.each_with_index do |region,index| %>
	<div class="regions_input" data-id="<%= region.id %>">	
		    
			<input id="region_<%= region.id %>" class="float_left margin_left" type="checkbox" name="region" value="<%= region.id %>" onclick="showReports()" style="display:<%= 'none' if index > 4 %>"> <label class="highlight_filter_headings" for='region_<%= region.id %>' style="display:<%= 'none' if index > 4 %>"> <%= region.name %></label>
	</div>
<% end %>
<% if all_regions.present? && all_regions.length > 5 %>
<a class="btn btn-xs btn-primary" href="javascript:void(0)" id="show_region_link" onclick="showAllRegions()"><i class="fa fa-eye" aria-hidden="true"></i> Show All</a>
<a class="btn btn-xs btn-primary" href="javascript:void(0)" id="show_less_region_link" onclick="showLessRegions()" style="display:none;"><i class="fa fa-eye-slash" aria-hidden="true"></i> Show Less</a>
  <div id="region_add_div">
  <a id="add_region" style="cursor:pointer" onclick="addRegion()">Add region</a>
  <div id="region_templates" style="display: none;">
      <select id="region_input" style="width:180px" class="form-control" onchange="appendRegion()" >  
      <% Region.all_regions.each do |region| %>
        <option id="<%= region.id %>" selected="<%= region.id %>"><%= region.name %></option>
      <% end %>
      </select>     
    </div>
  </div>
<% end%>
<script type="text/javascript">
  function select2Region(region) {
    if (!region.id) { return region.text; }
    id = region.id.split("_")[1];
    var $region = $(
      '<span> '+  region.text + '</span>'
    );
    return $region;
    
  };
$(document).ready(function(){
 $("#region_input").select2({
    templateResult: select2Region
  });
})
</script>