



	<div>
		 <span class="sort_by_price_quantity next"></span> 
		<input type="radio" name="sort_by_price" onclick="showReports()" class="float_left margin_left" value="0..500" id="usd_0_to_500"> <label for="usd_0_to_500" class="highlight_filter_headings"> USD 0 – USD 500 </label>

	
	</div>

	<div>
		 <span class="sort_by_price_quantity next"></span> 
		<input type="radio" name="sort_by_price" onclick="showReports()" class="float_left margin_left" value="501..1000" id="usd_501_to_1000"> <label for="usd_501_to_1000" class="highlight_filter_headings"> USD 501 – USD 1000 </label>

	
	</div>


	<div>
		 <span class="sort_by_price_quantity next"></span> 
		<input type="radio" name="sort_by_price" onclick="showReports()" class="float_left margin_left" value="1001..2000" id="usd_1001_to_2000"> <label for="usd_1001_to_2000" class="highlight_filter_headings"> USD 1001 – USD 2000 </label>

	
	</div>

	<div>
		 <span class="sort_by_price_quantity next"></span> 
		<input type="radio" name="sort_by_price" onclick="showReports()" class="float_left margin_left" value="2001..3000" id="usd_2001_to_3000"> <label for="usd_2001_to_3000" class="highlight_filter_headings"> USD 2001 – USD 3000 </label>

	
	</div>

	<div>
		 <span class="sort_by_price_quantity next"></span> 
		<input type="radio" name="sort_by_price" onclick="showReports()" class="float_left margin_left" value="3000..nil" id="usd_3000_to_max"> <label for="usd_3000_to_max" class="highlight_filter_headings"> USD 3000+ </label>

	
	</div>	


	<div>
		 <span class="sort_by_price_quantity next"></span> 
		<input type="radio" name="sort_by_price" onclick="showReports()" class="float_left margin_left" value="nil..nil" id="min_to_max" checked="checked"> <label for="min_to_max" class="highlight_filter_headings"> All Price </label>

	
	</div>	

	<div>
		


		<input type="radio" name="sort_by_price" class="float_left margin_left" value="nil..nil" id="min_to_max_input" style="margin-right: 10px;"> <input type="text" id="min_val" placeholder="Min" min="0" class="range" onkeyup="callPriceReport()"/> <span >to </span><input type="text" id="max_val" min="0" placeholder="Max" class="range" onkeyup="callPriceReport()"/> <span class="sort_by_price_quantity"><a class="btn go-btn" id="submit_price_btn" onclick="$('#min_to_max_input').prop('checked', true);showReports()">Go</a></span>

	
	</div>	

<script type="text/javascript">
    $("#min_val").keypress(function(e) {
        var val = $(this).val();
        var regex = /^()?(\d*\.?\d*)$/;
        if (regex.test(val + String.fromCharCode(e.charCode))) {
            return true;
        }
        return false;
    });
    $("#max_val").keypress(function(e) {
        var val = $(this).val();
        var regex = /^()?(\d*\.?\d*)$/;
        if (regex.test(val + String.fromCharCode(e.charCode))) {
            return true;
        }
        return false;
    });

</script>

<style type="text/css">
.range{
	    width: 25%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    padding: 2px;
    border: 1px solid #D5D5D5;
    border-bottom-width: 2px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1) inset;
    color: #555555;

    transition: 0.3s ease-in-out 0s;
    border-radius: 0;
}
</style>