$("#row_publishers").html("<%= escape_javascript(render :partial=>'report_filters/publishers_list',locals:{all_publishers: @all_publishers,selected_publishers_id: @selected_publishers_id,publisher_count: Publisher.count})%>")