$("#row_countries").html("<%= escape_javascript(render :partial=>'report_filters/region_countries_list',locals:{default_selected_countries: @selected_continent_countries, all_selected_countries: @all_continents_countries,selected_countries_id: []})%>");