 <div class="modal" id="settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only popup_close">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Settings</h4>
      </div>
      <div class="modal-body">
      <%= form_tag save_position_admin_reports_path, :method => 'post',:onsubmit=>"return saveData(); ",:class=>"form-horizontal" do %>
        
        <div class="form-group">
          <label for="inputTitle" class="control-label col-xs-2">Title</label>
          <div class="col-xs-3">
            <input type="title" id="upload1" name="title" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="inputCategory" class="control-label col-xs-2">Category</label>
          <div class="col-xs-3">
            <input type="category" id="upload2" name="category" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="inputPages" class="control-label col-xs-2">Pages</label>
          <div class="col-xs-3">
            <input type="pages" id="upload3"  name="pages" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="input1-User PDF" class="control-label col-xs-2">1-User PDF</label>
          <div class="col-xs-3">
            <input type="one_user_pdf" id="upload4" name="one_user_pdf" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="input1-User PDF" class="control-label col-xs-2">5-User PDF</label>
          <div class="col-xs-3">
            <input type="one_user_pdf" id="upload5" name="five_user_pdf" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSite PDF" class="control-label col-xs-2">Site PDF</label>
          <div class="col-xs-3">
            <input type="site_pdf"  id="upload6" name="site_pdf" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEnterprise PDF" class="control-label col-xs-2">Enterprise PDF</label>
          <div class="col-xs-3">
            <input type="enterprise_pdf" id="upload7"  name="enterprise_pdf" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="inputPublish Dat" class="control-label col-xs-2">Publish Date</label>
          <div class="col-xs-3">
            <input type="publish_date"  id="upload8" name="publish_date" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="inputDescription" class="control-label col-xs-2">Description</label>
          <div class="col-xs-3">
            <input type="description" id="upload9" name="description" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="inputTable of Content" class="control-label col-xs-2">Table of Content</label>
          <div class="col-xs-3">
            <input type="table_of_content" id="upload10" name="table_of_content" class="form-control">
          </div>
        </div>

         <div class="form-group">
          <label for="inputPublisher" class="control-label col-xs-2">Publisher</label>
          <div class="col-xs-3">
            <input type="publisher" id="upload11" name="publisher" class="form-control">
          </div>
        </div>

         <div class="form-group">
          <label for="inputCountry" class="control-label col-xs-2">Country</label>
          <div class="col-xs-3">
            <input type="country" id="upload12"  name="country" class="form-control">
          </div>
        </div>
      <div class="form-group">
          <label for="inputContinent" class="control-label col-xs-2">Continent</label>
          <div class="col-xs-3">
            <input type="continent" id="upload13"  name="continent" class="form-control">
          </div>
        </div>
              <div class="form-group">
          <label for="inputRegion" class="control-label col-xs-2">Region</label>
          <div class="col-xs-3">
            <input type="region" id="upload14"  name="region" class="form-control">
          </div>
        </div>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id="onsave" class="btn btn-primary" onclick="return CheckValidation();">Save changes</button>
      </div>
        <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

function isduplicate(inputarr,target){
 

 numOccurences = jQuery.grep(inputarr, function (elem) {
    return elem == target
}).length > 2;
return numOccurences
}

function CheckValidation(){

  start_div = "<div class='alert alert-warning'><a href='#' class='close' data-dismiss='alert'></a>";
  end_div = "</div>";
  error1 = [];
   title = jQuery('#upload1').val();
   category = jQuery('#upload2').val();
   pages = jQuery('#upload3').val();
   one_user_pdf = jQuery('#upload4').val();
   site_pdf = jQuery('#upload5').val();
   enterprise_pdf = jQuery('#upload6').val();
   publish_date = jQuery('#upload7').val();
   description = jQuery('#upload8').val();
   table_of_content = jQuery('#upload9').val();
   publisher = jQuery('#upload10').val();
   country = jQuery('#upload11').val();
   
    numericExpression = /^[0-9]+$/;

    check_value =(title == "" || category == "" || pages == "" || one_user_pdf == "" || site_pdf == "" || enterprise_pdf == "" || publish_date == "" || description == "" || table_of_content == "" || publisher == "" || country == "");

    numeric_value = (title.match(numericExpression) && category.match(numericExpression) && pages.match(numericExpression) && one_user_pdf.match(numericExpression) && site_pdf.match(numericExpression) && enterprise_pdf.match(numericExpression) && publish_date.match(numericExpression) && description.match(numericExpression) && table_of_content.match(numericExpression) && publisher.match(numericExpression) && country.match(numericExpression));

   
   inputarr = [];
   inputarr.push(title);
   inputarr.push(category);
   inputarr.push(pages);
   inputarr.push(one_user_pdf);
   inputarr.push(site_pdf);
   inputarr.push(enterprise_pdf);
   inputarr.push(publish_date);
   inputarr.push(description);
   inputarr.push(table_of_content);
   inputarr.push(publisher);
   inputarr.push(country);
  
   if(check_value){
     error1.push("Field can not be blank.");
   } 
   else if(!numeric_value)
   { 
     error1.push("Enter Numeric value");
   }
   else if(hasDuplicates(inputarr))
   {
     error1.push("Duplicate element added");
   }

 valid =(error1.length == 0);
 if(!valid){
  alert(error1);
 
 }else{
  jQuery(".popup_close").click();
  
 }
return valid;
}

function hasDuplicates(array) {
    var valuesSoFar = {};
    for (var i = 0; i < array.length; ++i) {
        var value = array[i];
        if (Object.prototype.hasOwnProperty.call(valuesSoFar, value)) {
            return true;
        }
        valuesSoFar[value] = true;
    }
    return false;
}

</script>



<script type="text/javascript">

function saveData(){

$('#position1').val($('#upload1').val());
$('#position2').val($('#upload2').val());
$('#position3').val($('#upload3').val());
$('#position4').val($('#upload4').val());
$('#position5').val($('#upload5').val());
$('#position6').val($('#upload6').val());
$('#position7').val($('#upload7').val());
$('#position8').val($('#upload8').val());
$('#position9').val($('#upload9').val());
$('#position10').val($('#upload1').val());
$('#position11').val($('#upload11').val());


    return false;

}




</script>