




<%= render "admin/shared/left_menu"%>
<div class="mainbar">

  <!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="fa fa-file-o"></i> Report</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
      <!-- Divider -->
      <span class="divider">/</span>
      <a href="#" class="">Report</a>
      <span class="divider">/</span>
      <a href="#" class="bread-current">New</a>
    </div>

    <div class="clearfix"></div>

  </div>
  <!-- Page heading ends -->

  <!-- Matter -->
  <div class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">
                New Report
              </div>
            
              <div class="clearfix"></div>
            </div>
            <div class="widget-content">
              <div class="padd">
                <br/>


                  <%= form_tag update_multiple_admin_reports_path, :class=>"form-horizontal"  , method: :put do %>
                  <ul>
                  <% @reports.each do |report| %>
                    <li>
                      <%= hidden_field_tag "report_ids[]", report.id %>
                      <%= report.title %>
                      <ul class="errors">
                        <% report.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                  </ul>
            
                      
              
                  <%= fields_for :report do |f| %>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Price</label>
                    <div class="col-lg-5">
                      <%= f.text_field :price_modification , :class => 'form-control' %>
                    </div>
                  </div>
                     <div class="form-group">
                  <label class="col-lg-2 control-label">Publish Date</label>

                  <div class="col-sm-1">
                                  <%= f.text_field :day, :class => 'form-control' ,:placeholder=>"Date"%>                 
                                    </div>
                                     <div class="col-sm-2">
                                       <%= f.text_field :publish_month, :class => 'form-control' %> 
                                    </div>


                </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Active</label>
                    <div class="col-sm-2">
                          <%= f.select :active, [["Yes", true], ["No", false]], {include_blank: true }, :class => 'form-control'%>
                    </div>
                  </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Upcoming</label>
                    <div class="col-sm-2">
                          <%= f.select :upcoming, [["Yes", true], ["No", false]], {include_blank: true }, :class => 'form-control'%>
                    </div>
                  </div>
                 <% end %>
 

                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-6">
                    <button type="submit" class="btn btn-sm btn-success">
                      Update
                    </button>
                    <button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
                      Back
                    </button>
                  </div>
                </div>

                <% end %>

              </div>
            </div>
            <div class="widget-foot">

              <div class="clearfix"></div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

























<script src="//code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>



 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

  <%=stylesheet_link_tag "multiple-select.css"%>

    <%= javascript_include_tag "jquery.multiple.select.js"%>

<script type="text/javascript">
var jq = jQuery.noConflict(); 
  jq('#report_upcoming').click(function(){
    if(jq('#report_upcoming').is(':checked')){
    
      jq('#report_publish_date_1i').attr('disabled', 'disabled');
      jq('#report_publish_date_2i').attr('disabled', 'disabled');
      jq('#report_publish_date_3i').attr('disabled', 'disabled');
    }else{
   
      jq('#report_publish_date_1i').removeAttr('disabled');
      jq('#report_publish_date_2i').removeAttr('disabled');
      jq('#report_publish_date_3i').removeAttr('disabled');
    }
  }); 
 jq('#country_select').multipleSelect();
</script>

<script type="text/javascript">

jQuery(document).ready(function() {
  
jQuery('#report_publish_month').monthpicker();

});
</script>
















