<style type="text/css">
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/assets/sort_asc.png);
}

.pretty th .desc {
  background-image: url(/assets/sort_desc.png);
}

</style>



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Reports</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Reports</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<%if params[:action] == "search"%>
					<button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
						Back to Result
					</button>
				<%end%>
				<div class="widget">
					<div class="widget-head">
						<div class="pull-left">
							Reports
						</div>
					
						<div class="clearfix"></div>
					</div>
       <div id="reports">
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
	
		<table class="table table-striped table-bordered table-hover">
			<thead><%= form_tag admin_reports_path, :method => "GET" do |f| %>
			<thead>
				<tr>
				<td></td>
				<td>

				  <%= text_field_tag "report[title]",(params[:report][:title] rescue nil),:class=>"form-control", :placeholder=>"Report title" %>
				</td>
				<td>
		
				  <%= text_field_tag "report[publisher_name]" ,(params[:report][:publisher_name] rescue nil),:class=>"form-control", :placeholder=>"Publisher"%>
				</td>
		
				<td>
					<div class="col-md-5">
					  <%= text_field_tag "report[day]",(params[:report][:day] rescue nil),:class=>"form-control", :placeholder=>"Date"%>
					</div>
					<div class="col-sm-7">
				    <%= text_field_tag "report[publish_month]",(params[:report][:publish_month] rescue nil),:class=>"form-control", :placeholder=>"Month"%>
					</div>
				</td>
				<td>
			
				  <%= text_field_tag "report[one_user]",(params[:report][:one_user] rescue nil),:class=>"form-control", :placeholder=>"Price"%>
				</td>

				<td>
				  <%= submit_tag  "Search", :class=>"btn btn-sm btn-success",:onclick=> " return validateMonth();" %>
				   <a href="/admin/reports" class="btn btn-sm btn-default">Reset!</a>
				</td>




				</tr><% end %>
				<tr>
					<th><input type="checkbox" id="selectAll" value="selectAll">All</th>
				    <th style="width: 30%;" class="pretty">Report Name</th>
				    <th style="width: 20%;" class="pretty">Publisher Name</th>
				    <th style="width: 23%;" class="pretty">Publish Date</th>
				    <th style="width: 10%;" class="pretty">Price</th>
					<th style="width: 15%;" >Action</th>
				</tr>
			</thead>
			<tbody>
				<%= form_tag edit_multiple_admin_reports_path, method: :post do %>
			
				<tr>
				  <%if current_user.is_superadmin%>
				  <td><%= submit_tag "Edit Selected", :class => 'btn btn-sm btn-default'  %></td> <td><%= submit_tag 'Delete Selected', :class => 'btn btn-sm btn-danger' , :name => 'delete_button', :onclick=>"if(confirm('Are you sure you want to delete the selected reports?'))  return true;  else  return false;" %> </td>
				  <%end%>
				</tr>
				
				<% @reports.each do |report| %>
				<tr>
					<td><%= check_box_tag "report_ids[]", report.id %></td>
				    <td><%= report.title %></td>
				   
				    <td><%= report.publisher.name rescue nil %></td>
				     <td><%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%></td>
				    <td> <i class="fa fa-usd"></i><%= report.one_user %></td>
					<td>
						<%if current_user.is_superadmin%>
						<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_report_path(report) , :class=>'btn btn-xs btn-warning'  %> <a href="/admin/reports/<%= report.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
						<%end%>


					</td>
				</tr>

				<% end %>
				
				<tr>
					<%if current_user.is_superadmin%>
				    <td><%= submit_tag "Edit Selected", :class => 'btn btn-sm btn-default'  %></td> <td><%= submit_tag 'Delete Selected', :class => 'btn btn-sm btn-danger' , :name => 'delete_button', :onclick=>"if(confirm('Are you sure you want to delete the selected reports?'))  return true;  else  return false;" %> </td>
				    <% end %>
				</tr>
				
			<% end %>
			</tbody>
		</table>
  </div>

				
	<div class="widget-foot">

		<div class="pull-left">
			<%= link_to  "Add Report", new_admin_report_path, :class => 'btn btn-sm btn-primary' %>
			<%= link_to  "Import Report(.xlsx)", upload_reports_path, :class => 'btn btn-sm btn-primary' %>
		</div>

	
		<div class="pull-right">

	    <%unless params[:q].present?%>
		<%= page_entries_info @reports %>	<br/><%= will_paginate @reports, renderer: BootstrapPagination::Rails %>
		<%end%>
		</div>

		<div class="clearfix"></div>

	</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>



<script language="Javascript" type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script language="Javascript" type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<script type="text/javascript">

jQuery(document).ready(function() {
	
jQuery('#report_publish_month').monthpicker({pattern: 'yyyy/mm'});
});
</script>


<script type="text/javascript">
var jq = jQuery.noConflict(); 

jq('#selectAll').click(function() {
   if(this.checked) {
       jq(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      jq(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});

function validateMonth(){
	if(jq("#report_day").val().length > 0 && !jq("#report_publish_month").val().length > 0){
		alert("Please select Month and Year")
		return false;
	}else{
		return true;
	}
}
</script>