<%= render "admin/shared/left_menu"%>
<div class="mainbar">
	<div class="page-head">
			<h2 class="pull-left"><i class="fa fa-file-o"></i>Excel Sheet Upload</h2>

			<!-- Breadcrumb -->
			<div class="bread-crumb pull-right">
				<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
				<!-- Divider -->
				<span class="divider">/</span>
				<a href="#" class="bread-current">Excel Sheet Upload</a>
			</div>

			<div class="clearfix"></div>

	</div>


	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Upload Excel Sheet 
							</div>
						
							<div class="clearfix"></div>
						</div>
						<div class="widget-content">
							<div class="padd">
								
							<%= form_tag upload_multiple_admin_reports_path, :method => 'post',:multipart => true,
		                    :id=>"fileupload",:onsubmit=>"return saveData();" do %>
		                        <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add files...</span>
      <%= file_field_tag 'Browse[]', :multiple => true %>
        </span>
        <button type="submit" class="btn btn-primary start">
          <i class="icon-upload icon-white"></i>
          <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
          <i class="icon-ban-circle icon-white"></i>
          <span>Cancel upload</span>
        </button>
        <button type="button" class="btn btn-danger delete">
          <i class="icon-trash icon-white"></i>
          <span>Delete</span>
        </button>
        <input type="checkbox" class="toggle">
      </div>
      <div class="span5">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>

		                    <% end %>

		                   
							
							</div>
						</div>
						<div class="widget-foot">

							<div class="clearfix"></div>

						</div>

                    </div>
        
				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

function saveData(){


jQuery('<input>').attr({'name': 'title','value': jQuery("#upload1").val(),'type': 'hidden'}).appendTo('#mainform');
jQuery('<input>').attr({'name': 'category','value': jQuery("#upload2").val(),'type': 'hidden'}).appendTo('#mainform');
jQuery('<input>').attr({'name': 'pages','value': jQuery("#upload3").val(),'type': 'hidden'}).appendTo('#mainform');
jQuery('<input>').attr({'name': 'one_user_pdf','value': jQuery("#upload4").val(),'type': 'hidden'}).appendTo('#mainform');
jQuery('<input>').attr({'name': 'site_pdf','value': jQuery("#upload5").val(),'type': 'hidden'}).appendTo('#mainform');
jQuery('<input>').attr({'name': 'enterprise_pdf','value': jQuery("#upload6").val(),'type': 'hidden'}).appendTo('#mainform');
jQuery('<input>').attr({'name': 'publish_date','value': jQuery("#upload7").val(),'type': 'hidden'}).appendTo('#mainform');
jQuery('<input>').attr({'name': 'description','value': jQuery("#upload8").val(),'type': 'hidden'}).appendTo('#mainform');
jQuery('<input>').attr({'name': 'table_of_content','value': jQuery("#upload9").val(),'type': 'hidden'}).appendTo('#mainform');

	return true;

}




</script>

<%= render "upload_settings" %>
<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        <td class="name">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td colspan="2"></td>
        {% } %}
      <td class="delete">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
        <input type="checkbox" name="delete" value="1">
      </td>
    </tr>
    {% } %}
</script>
<script src="//code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
  <%=javascript_include_tag "jquery.fileupload.js"%>
<script type="text/javascript" charset="utf-8">
  jQuery(function () {
      // Initialize the jQuery File Upload widget:
      jQuery('#fileupload').fileupload();
      // 
      // Load existing files:
      jQuery.getJSON(jQuery('#fileupload').prop('action'), function (files) {
        var fu = jQuery('#fileupload').data('blueimpFileupload'), 
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        console.log(files);
        template = fu._renderDownload(files)
          .appendTo(jQuery('#fileupload .files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        jQuery('#loading').remove();
      });

  });
</script>