
<style type="text/css">


.tree_0 {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.tree_1 {
  padding-left: 10px;
  color: #333;
}

.tree_2 {
  padding-left: 20px;
  color: #333;
}

.tree_3 {
  padding-left: 30px;
  color: #333;
}

.tree_4 {
  padding-left: 40px;
  color: #333;
}

</style>>


<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Categories</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard" ><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			Categories
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->
    <% cache "admin-all-categories" do %>
	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Categories
							</div>
							
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Abbreviation</th>
							
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<% @categories.each do |category| %>
								<tr>
									 <td><%= category.name %></td>
							
									<td><%= category.abbreviation%></td>

									<td> 
										<%if current_user.is_superadmin%>
										<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_category_path(category) , :class=>'btn btn-xs btn-warning'  %> <a href="/admin/categories/<%= category.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
										<%end%>
									</td>
								</tr>
								<% end %>

							</tbody>
						</table>

						<div class="widget-foot">
							
							<div class="pull-left">
								<%= link_to  "Add Category", new_admin_category_path, :class => 'btn btn-sm btn-primary' %>
							</div>

							<div class="pull-right">
								<%#= will_paginate @categories, renderer: BootstrapPagination::Rails %>

							</div>

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	<% end %>
</div>

