
<%
meta title: "marketresearchfuture - Countries",
     description: "Get county wise industry research report from marketresearhfuture.com",
     keywords: %s(USA Marketing Research Process, China Research Report, Japan Business Market Research Report, Europe Industrial Analysis, Industry Reports, Australia Business Research Process, Business Risk Analysis, Industry Analysis Report, Market Research Analysis)
%>






<div class="inner_container">



  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="#">Countries</a></li>
  </ul>


<br/>

<section class="content " id="eshop">
	<div class="container ">
		<div class="LinksToPublishersByFirstCharacter">
		
			<a href="javascript:void(0)" class="scroll" id="A">A</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="B">B</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="C">C</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="D">D</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="E">E</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="F">F</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="G">G</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="H">H</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="I">I</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="J">J</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="K">K</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="L">L</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="M">M</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="N">N</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="O">O</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="P">P</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="Q">Q</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="R">R</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="S">S</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="T">T</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="U">U</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="V">V</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="W">W</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="X">X</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="Y">Y</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="Z">Z</a>&nbsp;

		</div>

<% cache "all_countries", skip_digest: true do %>
		
		<div class="col-sm-10">
		<!-- <ul> -->
		  <% @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">
		   	 <hr>
		     <h5 id="scroll_<%= letter %>"><strong><%= letter %></strong></h5>

		      <ul>
		        <% @grouped[letter].each_slice(3) do |tag_array| -%>
			        <% tag_array.each do |country| %>
			          <div class="col-md-4" style="padding-bottom:15px"><a href="/countries/<%= country['abbreviation'] %>"><img src="/assets/flags_32/<%=country['name']%>.png">&nbsp;&nbsp; <%= country['name']%> </a></div>
			     
			        <% end -%><br/>
		         <% end %>
		      </ul>
		    </div>
		  <% end -%>

			<!-- </ul> -->
		</div>

	  <% end -%>





	</div>
</section>
	</div>

<script type="text/javascript">


$('.scroll').click(function() {
   $('html, body').animate({
        scrollTop: $("#scroll_"+this.id).offset().top-80
    }, 1000);

});


</script>
<style type="text/css">

.LinksToPublishersByFirstCharacter a {
  text-decoration: underline;
  color: #4888DA !important;
  padding: 4px 8px 4px 8px;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.LinksToPublishersByFirstCharacter a:hover {
  color: #FFFFFF !important;
  background-color: #4888DA !important;
  }
</style>