/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require jquery.fileupload-ui
 *= require fancybox
 */
.alert-error {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  text-align: left;
 }

.alert-alert {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  text-align: left;
 }

.alert-success {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  text-align: left;
 }

.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  text-align: left;
 }
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  text-align: left;
 }
 .alert {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.flash-messages {
/*    margin-bottom: 15px;
    margin-top: 15px;*/
  margin-top: 50px;
  position: absolute;
  font-size: 14px;
  width: 100%;
}
.error { color: #FE1717; font: 13px "Trebuchet MS",Arial,Helvetica,sans-serif,sans-serif;}

.info li{
  list-style-type: none;
}