#header .opener-icons:hover {
  background: #22b0ca;
}
#header .header-top a:hover {
  color: #22b0ca;
}
#header .head-social a {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header .head-social a:hover {
  background: #22b0ca;
}
#header .head-socialnetworks a:hover {
  color: #22b0ca;
}
#header .cart-box:hover .opener-icons {
  background: #22b0ca;
}
#header .cart-box .cart-drop .cart-holder:after {
  background: #22b0ca;
}
#header .cart-box .cart-drop a:hover {
  color: #22b0ca;
}
#header .cart-box .cart-drop .total-price-area .price {
  color: #22b0ca;
}
#header .cart-box .cart-drop .btn {
  background: #22b0ca;
  border-color: #22b0ca;
}
#header .cart-box .cart-drop .btn.add:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
#header .cart-box .cart-list .product-name a:hover {
  color: #22b0ca;
}
#header .cart-box .cart-list .rating li .fa-star {
  color: #22b0ca;
}
#header .cart-box .cart-list .delete:hover {
  color: #22b0ca;
}
#header .lang-drop {
  border-bottom-color: #22b0ca;
}
#header .lang-drop a:hover {
  color: #22b0ca;
}
#header .leng-opener:hover {
  color: #22b0ca;
}
#header .cartopener-main .cart-num {
  background: #22b0ca;
}
#header.style3 .opener-icons:hover {
  border-color: #22b0ca;
}
#header.style3 .cart-opener .arrow {
  background: #22b0ca;
}
#header.style4 .opener-icons:hover {
  color: #22b0ca;
}
#header.style4 #nav .nav-top > li > a:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style4 #nav .nav-top > li.hover > a, #header.style4 #nav .nav-top > li:hover > a, #header.style4 #nav .nav-top > li.active > a {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style4 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style5 .opener-icons:hover {
  border-color: #22b0ca;
}
#header.style5 #nav .nav-top > li:hover > a, #header.style5 #nav .nav-top > li.hover > a, #header.style5 #nav .nav-top > li.active > a {
  color: #22b0ca;
}
#header.style5 #nav .nav-top > li > a:hover {
  color: #22b0ca;
}
#header.style5 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style7 .opener-icons:hover {
  color: #22b0ca;
}
#header.style7 #nav .nav-top > li > a:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style7 #nav .nav-top > li.hover > a, #header.style7 #nav .nav-top > li:hover > a, #header.style7 #nav .nav-top > li.active > a {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style7 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style8 #nav .nav-top > li > a:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style8 #nav .nav-top > li:hover > a, #header.style8 #nav .nav-top > li.hover > a, #header.style8 #nav .nav-top > li.active > a {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style8 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style8 .opener-icons:hover {
  color: #22b0ca;
}
#header.style10 #nav .nav-top > li > a:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style10 #nav .nav-top > li:hover > a, #header.style10 #nav .nav-top > li.hover > a, #header.style10 #nav .nav-top > li.active > a {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style11 #nav .nav-top > li > a:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style11 #nav .nav-top > li.hover > a, #header.style11 #nav .nav-top > li:hover > a, #header.style11 #nav .nav-top > li.active > a {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style11 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style12 .info-list a:hover {
  color: #22b0ca;
}
#header.style12 .info-list .fa {
  color: #22b0ca;
}
#header.style12 .language-nav a:hover {
  color: #22b0ca;
}
#header.style12 #nav:after {
  background: #22b0ca;
}
#header.style12 #nav .quote-btn:hover {
  color: #22b0ca;
}
#header.style12 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style16 #nav .nav-top > li > a:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style16 #nav .nav-top > li:hover > a, #header.style16 #nav .nav-top > li.hover > a, #header.style16 #nav .nav-top > li.active > a {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style16 .opener-icons:hover {
  color: #22b0ca;
}
#header.style16 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style17 #nav .nav-top > li > a:hover {
  border-color: #22b0ca;
}
#header.style17 #nav .nav-top > li:hover > a, #header.style17 #nav .nav-top > li.hover > a, #header.style17 #nav .nav-top > li.active > a {
  border-color: #22b0ca;
}
#header.style18 .info-list a:hover {
  color: #22b0ca;
}
#header.style18 .info-list .fa {
  color: #22b0ca;
}
#header.style18 .head-socialnetworks a:hover {
  color: #22b0ca;
}
#header.style18 #nav .quote-btn {
  background: #22b0ca;
}
#header.style18 #nav .nav-top > li > a:hover {
  border-color: #22b0ca;
}
#header.style18 #nav .nav-top > li:hover > a, #header.style18 #nav .nav-top > li.hover > a, #header.style18 #nav .nav-top > li.active > a {
  border-color: #22b0ca;
}
#header.style18 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style20 #nav .nav-top > li > a:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style20 #nav .nav-top > li:hover > a, #header.style20 #nav .nav-top > li.hover > a, #header.style20 #nav .nav-top > li.active > a {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style20 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style20 .opener-icons:hover {
  color: #22b0ca;
}
#header.style21 .header-top:after {
  background: #22b0ca;
}
#header.style21 #nav .nav-top > li > a:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style21 #nav .nav-top > li.hover > a, #header.style21 #nav .nav-top > li:hover > a, #header.style21 #nav .nav-top > li.active > a {
  color: #22b0ca;
  border-color: #22b0ca;
}
#header.style21 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style21 .opener-icons:hover {
  color: #22b0ca;
}
#header.style26 #nav .nav-top > li > a:hover {
  border-color: #22b0ca;
}
#header.style26 #nav .nav-top > li:hover > a, #header.style26 #nav .nav-top > li.hover > a, #header.style26 #nav .nav-top > li.active > a {
  border-color: #22b0ca;
}
#header.style27 #nav .nav-top > li > a:hover {
  border-color: #22b0ca;
}
#header.style27 #nav .nav-top > li:hover > a, #header.style27 #nav .nav-top > li.hover > a, #header.style27 #nav .nav-top > li.active > a {
  border-color: #22b0ca;
}
#header.style27 #nav .nav-opener:hover {
  border-color: #22b0ca;
}
#header.style27 .opener-icons:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
#header.fixed-position #nav .nav-top > li:hover > a, #header.fixed-position #nav .nav-top > li.hover > a, #header.fixed-position #nav .nav-top > li.active > a {
  color: #22b0ca;
}
#header.fixed-position #nav .nav-top > li > a:hover {
  color: #22b0ca;
}
#header.fixed-position .opener-icons:hover {
  border-color: #22b0ca;
}
#header.fixed-position.style4 .opener-icons:hover {
  color: #22b0ca;
}
#header.fixed-position.style7 .opener-icons:hover {
  color: #22b0ca;
}
#header.fixed-position.style8 .opener-icons:hover {
  color: #22b0ca;
}
#header.fixed-position.style9 #nav .nav-top > li > a:hover, #header.fixed-position.style9 #nav .nav-top > li:hover > a, #header.fixed-position.style9 #nav .nav-top > li.hover > a, #header.fixed-position.style9 #nav .nav-top > li.active > a {
  color: #22b0ca;
}
#header.fixed-position.style9 #nav .nav-top > li > a:hover {
  color: #22b0ca;
}
#header.fixed-position.style10 #nav .nav-top > li:hover > a, #header.fixed-position.style10 #nav .nav-top > li.hover > a, #header.fixed-position.style10 #nav .nav-top > li.active > a {
  color: #22b0ca;
}
#header.fixed-position.style10 #nav .nav-top > li > a:hover {
  color: #22b0ca;
}
#header.fixed-position.style10 .icon-list > li .opener-icons:hover {
  border-color: #22b0ca;
}
#header.fixed-position.style10 .icon-list > li:hover .opener-icons {
  border-color: #22b0ca;
}
#header.fixed-position.style16 .opener-icons:hover {
  color: #22b0ca;
}
#header.fixed-position.style17 #nav .nav-top > li.active > a,
#header.fixed-position.style17 #nav .nav-top > li:hover > a,
#header.fixed-position.style17 #nav .nav-top > li.hover > a,
#header.fixed-position.style17 #nav .nav-top > li > a:hover {
  color: #22b0ca;
}
#header.fixed-position.style17 .opener-icons:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
#header.fixed-position.style19 #nav .nav-top > li.active > a,
#header.fixed-position.style19 #nav .nav-top > li:hover > a,
#header.fixed-position.style19 #nav .nav-top > li.hover > a,
#header.fixed-position.style19 #nav .nav-top > li > a:hover {
  color: #22b0ca;
}
#header.fixed-position.style20 .opener-icons:hover {
  color: #22b0ca;
}
#header.fixed-position.style21 .opener-icons:hover {
  color: #22b0ca;
}

#nav a:hover {
  color: #22b0ca;
}
#nav li.hover > a,
#nav li:hover > a,
#nav li.active > a {
  color: #22b0ca;
}
#nav .drop ul:after {
  background: #22b0ca;
}
#nav .mega-drop .drop-holder:after {
  background: #22b0ca;
}
#nav .nav-opener:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.search-popup .close-btn:hover {
  background: #22b0ca;
}
.search-popup .submit:hover {
  color: #22b0ca;
}

.side-widget h2:after {
  background: #22b0ca;
}
.side-widget a:hover {
  color: #22b0ca;
}
.side-widget .btn {
  background: #22b0ca;
  border-color: #22b0ca;
}

.sidemenu-photo.v9 #nav7 ul a:hover, .sidemenu-photo.v11 #nav7 ul a:hover, .sidemenu-photo.v11 #nav7 ul li.active a, .sidemenu-photo.v9 #nav7 .nav-opener:hover, .sidemenu-photo.v10 #nav7 .nav-opener:hover, .sidemenu-photo.v10 #nav7 ul a:hover {
  color: #22b0ca;
}

.welcom-banner .btn-prev,
.welcom-banner .btn-next,
.croporate-slider .btn-prev,
.croporate-slider .btn-next,
#nav7 ul a:hover {
  color: #22b0ca;
}

.sidenav-port a:hover {
  color: #22b0ca;
}

#footer.style11 .btn-more:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
#footer.style13 .f-info-box .tel {
  color: #22b0ca;
}
#footer.style15 .footer-bottom .footer-nav li a:hover {
  color: #22b0ca;
}
#footer.style17 .footer-bottom .footer-nav li a:hover {
  color: #22b0ca;
}
#footer.style19 .f-info-box .tel {
  color: #22b0ca;
}
#footer.style23 .f-info-box .tel {
  color: #22b0ca;
}
#footer.style25 .footer-social li a:hover {
  background: #22b0ca;
}
#footer.style26 .f-info-box .num {
  color: #22b0ca;
}
#footer.style27 .f-info-box .tel {
  color: #22b0ca;
}

.footer-social a:hover {
  background: #22b0ca;
}

.footer-social2 a:hover {
  color: #22b0ca;
}

.footer-form .btn-submit {
  background: #22b0ca;
}

.mailing-form .btn-submit {
  background: #22b0ca;
}

.mailing-form2 .btn-submit {
  background: #22b0ca;
}
.mailing-form2 .btn-submit:hover {
  color: #22b0ca;
}

.bottom-box3 .footer-social a:hover {
  background: #22b0ca;
}

.f-our-mission .btn-more .fa {
  color: #22b0ca;
}
.f-our-mission .btn-more:hover {
  color: #22b0ca;
}

.newsletter-form button:hover {
  color: #22b0ca;
}

.time-nav .close-txt {
  background: #22b0ca;
}

#lancer-footer .f-social a:hover {
  background: #22b0ca;
}
#lancer-footer .footer-bottom ul a:hover {
  color: #22b0ca;
}

.wed-social .social a:hover {
  background: #22b0ca;
}

.socialize-holder .footer-social a:hover {
  background: #22b0ca;
}

.btn-f-default:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.btn-f-info {
  background: #22b0ca;
  border-color: #22b0ca;
}

.btn-history:before {
  background: #22b0ca;
}
.btn-history:hover {
  background: #22b0ca;
}
.btn-history:hover:after {
  color: #22b0ca;
}

.btn-more:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.btn-resume {
  background: #22b0ca;
  border-color: #22b0ca;
}

.know-more {
  background: #22b0ca;
  border-color: #22b0ca;
}

.portfolio-view:before, .portfolio-view:after {
  color: #22b0ca;
}
.portfolio-view:hover span {
  color: #22b0ca;
}

#gotoTop:hover {
  background: #22b0ca;
}

.page-heading .heading4:after,
.page-heading .heading4:before {
  color: #22b0ca;
}

.page-heading .icon,
.page-heading .heading2:after,
.page-heading .heading8:after,
.page-heading .heading3:after,
.page-heading .heading5:after,
.page-heading .heading5:before,
.page-heading .heading2:before,
.page-heading .heading8:before,
.page-heading .heading:after {
  background: #22b0ca;
}

.page-heading .heading3:before {
  border-color: #22b0ca transparent transparent;
}

.page-heading .heading7:after,
.page-heading .heading7:before {
  border-color: #22b0ca;
}

.page-heading .dot {
  color: #22b0ca;
}

.page-banner .heading:before {
  background: #22b0ca;
}
.page-banner .breadcrumbs li.active a {
  color: #22b0ca;
}
.page-banner .breadcrumbs a:hover {
  color: #22b0ca;
}
.page-banner.grey .breadcrumbs a:hover {
  color: #22b0ca;
}

.main-slider .beans-pagination li.active a {
  background: #22b0ca;
  border-color: #22b0ca;
}
.main-slider .beans-pagination a:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.f-iconbox .icon {
  color: #22b0ca;
  border-color: #22b0ca;
}
.f-iconbox:hover .icon {
  background: #22b0ca;
}
.f-iconbox.light:hover .icon {
  background: #22b0ca;
  border-color: #22b0ca;
}

.team-block .over {
  background: #22b0ca;
}

.team-box .over {
  background: #22b0ca;
}
.team-box .subtitle a {
  color: #22b0ca;
}
.team-box .info-box .add-text a {
  color: #22b0ca;
}
.team-box:hover .social-network {
  background: #22b0ca;
}
.team-box.style3 .social-network {
  background: #22b0ca;
}

.testimon-section .icon {
  background: #22b0ca;
}
.testimon-section .beans-pagination li.active a {
  background: #22b0ca;
  border-color: #22b0ca;
}
.testimon-section .beans-pagination a:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.testimon-section.alt-version blockquote .fa {
  color: #22b0ca;
}

.isotop-controls li.active a {
  background: #22b0ca;
}
.isotop-controls a:hover {
  background: #22b0ca;
}

.isotop-controls2 a:hover {
  background: none;
}
.isotop-controls2 a:hover:after {
  background: #22b0ca;
}
.isotop-controls2 li.active a:after {
  background: #22b0ca;
}

.isotop-controls3 a:hover:after {
  background: #22b0ca;
}
.isotop-controls3 li.active a:after {
  background: #22b0ca;
}

.isotop-controls4 a:hover:before {
  background: #22b0ca;
}
.isotop-controls4 li.active a:before {
  background: #22b0ca;
}
.isotop-controls4 .view-all:hover:before {
  background: #22b0ca;
}

.portfolio-block .over .plus {
  color: #22b0ca;
}
.portfolio-block .title:after {
  background: #22b0ca;
}
.portfolio-block .search {
  background: #22b0ca;
}
.portfolio-block .link:hover {
  background: #22b0ca;
}
.portfolio-block .portfolio-btn:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.portfolio-text .btn:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.work-slider .btn-prev:hover,
.work-slider .btn-next:hover {
  background: #22b0ca;
}

.price-section .box:hover .heading, .price-section .box.active .heading {
  background: #22b0ca;
}
.price-section .box:hover .btn, .price-section .box.active .btn {
  background: #22b0ca;
  border-color: #22b0ca;
}
.price-section .btn:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.price-section.style2 .box.active .btn:hover, .price-section.style2 .box:hover .btn:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.price-section.style3 .box.active .heading, .price-section.style3 .box:hover .heading {
  background: #22b0ca;
}
.price-section.style5 .box.active, .price-section.style5 .box:hover {
  border-color: #22b0ca;
}
.price-section.style5 .box.active .heading, .price-section.style5 .box:hover .heading {
  background: #22b0ca;
}
.price-section.style5 .box.active .btn-purchase, .price-section.style5 .box:hover .btn-purchase {
  background: #22b0ca;
  border-color: #22b0ca;
}

.blog-section .beans-stepslider .beans-pagination li.active a {
  border-color: #22b0ca;
}
.blog-section .beans-stepslider .beans-pagination li.active a:after {
  background: #22b0ca;
}
.blog-section .beans-stepslider .beans-pagination a:hover {
  border-color: #22b0ca;
}
.blog-section .beans-stepslider .beans-pagination a:after {
  background: #22b0ca;
}

.blog-m-post h3 a:hover {
  color: #22b0ca;
}
.blog-m-post .meta a:hover {
  color: #22b0ca;
}
.blog-m-post .icon {
  background: #22b0ca;
}
.blog-m-post.style2 .blog-txt {
  border-color: #22b0ca;
}

.facts-section .fa {
  color: #22b0ca;
}
.facts-section .num:after {
  background: #22b0ca;
}

.clients-section .beans-stepslider .btn-next:hover,
.clients-section .beans-stepslider .btn-prev:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.wedo-section .coll:hover .icon {
  background: #22b0ca;
  border-color: #22b0ca;
}
.wedo-section .coll:hover .btn {
  background: #22b0ca;
  border-color: #22b0ca;
}
.wedo-section .icon:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.counter-container .fa {
  color: #22b0ca;
}
.counter-container .num:after {
  background: #22b0ca;
}

.services-section h3 .fa {
  color: #22b0ca;
}

.video-section .play-icon {
  color: #22b0ca;
}

.process-section .icon .num {
  background: #22b0ca;
}

.progress-holder .progress-bar-outer {
  background: #22b0ca;
}

.features-section .fa {
  color: #22b0ca;
}

.core-section .list li:after {
  color: #22b0ca;
}

.twitter-section a {
  color: #22b0ca;
}

.appshowcase-banner .platform a:hover {
  color: #22b0ca;
}

.about-section .fa {
  color: #22b0ca;
}
.about-section .know-more {
  background: #22b0ca;
  border-color: #22b0ca;
}

.counter-section .num:after {
  background: #22b0ca;
}

.team-lightbox .socialnetworks a:hover {
  color: #22b0ca;
}

.app-mainbanner h1 .add {
  color: #22b0ca;
}
.app-mainbanner .btn {
  background: #22b0ca;
}

.get-app .platform a:hover {
  color: #22b0ca;
}

.appsub-section .input-box #mc_embed_signup input.button {
  background: #22b0ca;
}

.architecture-gallery .subtitle {
  background: #22b0ca;
}
.architecture-gallery .btn-prev:hover,
.architecture-gallery .btn-next:hover {
  color: #22b0ca;
}
.architecture-gallery .btn-prev:after,
.architecture-gallery .btn-next:after {
  background: #22b0ca;
}

.archi-columns .coll:hover {
  background: #22b0ca;
}
.archi-columns h2:after {
  background: #22b0ca;
}

.archi-projects .heading-v2:after {
  background: #22b0ca;
}
.archi-projects h3:after {
  background: #22b0ca;
}
.archi-projects .beans-slider .beans-pagination li a:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.archi-projects .beans-slider .beans-pagination li.active a {
  border-color: #22b0ca;
  background: #22b0ca;
}

.archi-whyus h2 .add {
  color: #22b0ca;
}

.blog-over h2 a:hover {
  color: #22b0ca;
}
.blog-over .author-info .txt a:hover {
  color: #22b0ca;
}
.blog-over .blog-nav li a:hover {
  color: #22b0ca;
}

.blog-post-v1 .more:hover {
  color: #22b0ca;
}
.blog-post-v1 h2 a:hover {
  color: #22b0ca;
}
.blog-post-v1 h3 {
  color: #22b0ca;
}
.blog-post-v1 h3 a {
  color: #22b0ca;
}
.blog-post-v1 .meta a:hover {
  color: #22b0ca;
}
.blog-post-v1 .icon {
  background: #22b0ca;
}
.blog-post-v1 .post-blockquote {
  border-color: #22b0ca;
}

.blog-footer .btn-box .btn:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.blog-footer .btn-load:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.blog-footer .b-pagination li.active a {
  background: #22b0ca;
  border-color: #22b0ca;
}
.blog-footer .b-pagination a:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.blog-post-v2 h2 a:hover {
  color: #22b0ca;
}
.blog-post-v2 .meta a:hover {
  color: #22b0ca;
}
.blog-post-v2 .icon {
  background: #22b0ca;
}

.widget .searchform button {
  background: #22b0ca;
}
.widget .tabset a:hover {
  background: #22b0ca;
}
.widget .tabset .active a {
  background: #22b0ca;
}
.widget.cate-widget a:hover {
  color: #22b0ca;
}
.widget.cate-widget a .fa {
  color: #22b0ca;
}
.widget.cate-widget ul li.active a {
  color: #22b0ca;
}

.comment-box .box.img-box .reply:hover {
  color: #22b0ca;
}

.comment-form .btn {
  background: #22b0ca;
}

.blog-isotop-nav li.active a {
  background: #22b0ca;
}
.blog-isotop-nav a:hover {
  background: #22b0ca;
}

.welcome-heading .main-text .rotate-text {
  background: #22b0ca;
}

.about-post h3 a:hover {
  color: #22b0ca;
}

.about-post .btn:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.nav-tabs > li > a:before {
  background: #22b0ca;
}
.nav-tabs > li > a:after {
  border-color: #22b0ca transparent transparent transparent;
}
.nav-tabs > li.active > a:before, .nav-tabs > li.active > a:hover:before, .nav-tabs > li.active > a:focus:before {
  background: #22b0ca;
}
.nav-tabs > li.active > a:after, .nav-tabs > li.active > a:hover:after, .nav-tabs > li.active > a:focus:after {
  border-color: #22b0ca transparent transparent transparent;
}

.panel-title a {
  /*background: #337ab7;*/
}
.panel-title a:hover {
  /*background: #337ab7;*/
}
.dark .panel-title a.collapsed:hover {
  background: #337ab7;
}

.create-business h2 a {
  color: #22b0ca;
}
.create-business .btn-f-info:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.create-business .btn-f-default {
  background: #22b0ca;
  border-color: #22b0ca;
}

.construct-gallery .title {
  border-left-color: #22b0ca;
}
.construct-gallery .btn:before {
  background: #22b0ca;
}
.construct-gallery .btn:hover {
  background: #22b0ca;
}
.construct-gallery .beans-pagination li a:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.construct-gallery .beans-pagination li.active a {
  background: #22b0ca;
  border-color: #22b0ca;
}

.safety-section h2 .add {
  color: #22b0ca;
}
.safety-section .btn:before {
  background: #22b0ca;
}
.safety-section .btn:hover {
  background: #22b0ca;
}
.safety-section .more:before {
  background: #22b0ca;
}

.const-services .icon {
  color: #22b0ca;
}
.const-services .btn-prev:hover,
.const-services .btn-next:hover {
  background: #22b0ca;
}
.const-services.style2 .box .fa {
  color: #22b0ca;
}
.const-services.style2 .box:hover .over {
  background: rgba(34, 176, 202, 0.8);
}

.onepage-banner .down-arrow:hover {
  color: #22b0ca;
}

.about-aricle .img-box {
  background: #22b0ca;
}

.tabset-onepage li a:before {
  background: #22b0ca;
}
.tabset-onepage li a:hover .fa {
  color: #22b0ca;
}
.tabset-onepage li.active a .fa {
  color: #22b0ca;
}

.tab-content.onepage .btn {
  background: #22b0ca;
  border-color: #22b0ca;
}

.process-nav li .fa {
  color: #22b0ca;
}
.process-nav li:hover .process {
  background: #22b0ca;
  border-color: #22b0ca;
}

.recentblog-col h3 a:hover {
  color: #22b0ca;
}
.recentblog-col .meta-nav a:hover {
  color: #22b0ca;
}
.recentblog-col .date-holder a {
  background: #22b0ca;
}

.install-demos .btn {
  background: #22b0ca;
  border-color: #22b0ca;
}

.contact-form .btn-submit {
  background: #22b0ca;
  border-color: #22b0ca;
}

.lancer-do .fa {
  color: #22b0ca;
}
.lancer-do.style2 .fa {
  color: #22b0ca;
}
.lancer-do.style2 .list-do a:hover {
  background: #22b0ca;
}

.personal-process .beans-slider .beans-pagination ul li.active a {
  border-color: #22b0ca;
  background: #22b0ca;
}
.personal-process .beans-slider .beans-pagination a:hover {
  border-color: #22b0ca;
  background: #22b0ca;
}
.personal-process .icon {
  background: #22b0ca;
}

.personal-exper .p-holder .icon {
  background: #22b0ca;
}
.personal-exper.style3 h2 a:hover {
  color: #22b0ca;
}

.p-skills .progress-holder .progress-bar-outer {
  background: #22b0ca;
}

.port-single ul a {
  color: #22b0ca;
}

.port-single .social-network a:hover {
  background: #22b0ca;
}

.portfolio-footer.style2 .btn {
  background: #22b0ca;
  border-color: #22b0ca;
}

.realestate-slider .btn-next:hover,
.realestate-slider .btn-prev:hover {
  color: #22b0ca;
}

.realestate-section .tabset li.active a {
  background: #22b0ca;
  border-left-color: #22b0ca;
}
.realestate-section .tabset li:hover a {
  background: #22b0ca;
  border-left-color: #22b0ca;
}
.realestate-section .tab-content {
  background: #22b0ca;
}

.realestate-services .img-box a:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}
.realestate-services .star-list li.active a {
  color: #22b0ca;
}
.realestate-services .price {
  color: #22b0ca;
}
.realestate-services .btn-prev:hover,
.realestate-services .btn-next:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.resturant-gallery .btn-next:hover,
.resturant-gallery .btn-prev:hover {
  color: #22b0ca;
}

.menu-block .btn.view:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.our-menu-nav li a:before {
  background: #22b0ca;
}
.our-menu-nav li a:hover {
  color: #22b0ca;
}
.our-menu-nav li.active a {
  color: #22b0ca;
}

.slide-frame .slide-box h3 a:hover {
  color: #22b0ca;
}
.slide-frame .slide-box .slide-socials a:hover {
  color: #22b0ca;
}

.slide-socials a:hover {
  color: #22b0ca;
}

.menu-article h2 a:hover {
  color: #22b0ca;
}
.menu-article .rattings-nav li .fa {
  color: #22b0ca;
}

.shop-gallery .beans-pagination li a:hover {
  border-color: #22b0ca;
  background: #22b0ca;
}
.shop-gallery .beans-pagination li.active a {
  border-color: #22b0ca;
  background: #22b0ca;
}

.btn-shop:hover {
  color: #22b0ca;
}

.btn-shop.add {
  color: #22b0ca;
}

.product-nav li.active a {
  background: #22b0ca;
}
.product-nav a:hover {
  background: #22b0ca;
}

.new-product h2 a:hover {
  color: #22b0ca;
}
.new-product .btn-cart:hover {
  color: #22b0ca;
}

.rattings-nav {
  color: #22b0ca;
}
.rattings-nav li .fa {
  color: #22b0ca;
}

.special-block .btn-next:hover,
.special-block .btn-prev:hover {
  color: #22b0ca;
}
.special-block.style2:before {
  background: rgba(0, 0, 0, 0.4);
}
.special-block.style2 .btn-slider:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.special-box .btn:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.other-services:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.shop-features h2:before {
  background: #22b0ca;
}

.deal-gallery .name:hover {
  color: #22b0ca;
}
.deal-gallery .price {
  color: #22b0ca;
}
.deal-gallery .btn-sale {
  background: #22b0ca;
}
.deal-gallery .btn-next:hover,
.deal-gallery .btn-prev:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}

.product-article h3 a:hover {
  color: #22b0ca;
}

.links-nav a:hover {
  color: #22b0ca;
}
.links-nav .fa {
  color: #22b0ca;
}

.social-block.style4 .social-container .footer-social a:hover {
  background: #22b0ca;
}

.shop-header p a {
  color: #22b0ca;
}

.shop-footer p a {
  color: #22b0ca;
}

.shop-next:hover,
.shop-prev:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}

.shop-pagination li a:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.shop-pagination li.active a {
  background: #22b0ca;
  border-color: #22b0ca;
}

.shop-widget ul li a:before {
  border-color: transparent transparent transparent #22b0ca;
}
.shop-widget ul li a:hover {
  color: #22b0ca;
}

.shop-product-info h2 a:hover {
  color: #22b0ca;
}
.shop-product-info .btn-cart:hover {
  color: #22b0ca;
}

.description-header .review:hover {
  color: #22b0ca;
}

.cart-form .btn:hover {
  background: #22b0ca;
}

.btn-add .fa {
  color: #22b0ca;
}
.btn-add:hover {
  color: #22b0ca;
}

.descriptio-tabs .nav-tabs > li > a:hover {
  background: #22b0ca;
}
.descriptio-tabs .nav-tabs > li.active > a,
.descriptio-tabs .nav-tabs > li.active > a:hover,
.descriptio-tabs .nav-tabs > li.active > a:focus {
  background: #22b0ca;
}

.related-shop .btn-prev:hover {
  color: #22b0ca;
  border-color: #22b0ca;
}

.reply-box:hover {
  color: #22b0ca;
}

.shop-table .btn-close:hover {
  color: #22b0ca;
}

.shop-apply .btn-slider:hover {
  background: #22b0ca;
}

.apply-form .btn-slider:hover {
  background: #22b0ca;
}

.shop-calculation.checkout .cart-table .col-2.add {
  color: #22b0ca;
}

.update-form .btn:hover {
  background: #22b0ca;
}

.rang-form .btn-form:hover {
  background: #22b0ca;
}

.travel-slider .btn-next:hover,
.travel-slider .btn-prev:hover {
  color: #22b0ca;
}

.travel-section .btn-submit {
  background: #22b0ca;
}

.wedding-banner .btn-prev:hover,
.wedding-banner .btn-next:hover {
  color: #22b0ca;
}

.wedding-nav .countdown-section {
  background: #22b0ca;
}

.happy-couple h3 a:hover {
  color: #22b0ca;
}
.happy-couple .title {
  color: #22b0ca;
}
.happy-couple .social a:hover {
  color: #22b0ca;
}

.love-story .row-holder time {
  background: #22b0ca;
}
.love-story h3 a:hover {
  color: #22b0ca;
}

.wedding-photos .view:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
.wedding-photos .over a:hover {
  color: #22b0ca;
}

.youga-slider .beans-pagination li a:hover {
  border-color: #22b0ca;
  background: #22b0ca;
}
.youga-slider .beans-pagination li.active a {
  border-color: #22b0ca;
  background: #22b0ca;
}

.contact-form2 .btn-f-info {
  background: #22b0ca;
}

.login-form2 a:hover {
  color: #22b0ca;
}
.login-form2 .btn-info:hover {
  background: #22b0ca;
}

.contact-address h3 .fa {
  color: #22b0ca;
}
.contact-address a:hover {
  color: #22b0ca;
}

.testimonials blockquote:before {
  color: #22b0ca;
}

.faq-section .smoothanchor:hover,
.faq-section .opener:hover {
  color: #22b0ca;
}
.faq-section.style3 .divider-line2 .smoothanchor:hover {
  color: #22b0ca;
}

.parallax-section .next-section:hover {
  color: #22b0ca;
}
.parallax-section .scroll {
  background: #22b0ca;
}
.parallax-section .scroll:hover {
  background: #22b0ca;
}
.parallax-section .scroll.add:hover {
  background: #22b0ca;
}

.error-section h1 {
  color: #22b0ca;
}
.error-section .text a {
  color: #22b0ca;
}
.error-section .btn-down:hover {
  color: #22b0ca;
}
.error-section.style7 .wedding-nav .countdown-period {
  background: #22b0ca;
}

.lost-block h2 {
  color: #22b0ca;
}

.btn-back {
  color: #22b0ca;
  border-color: #22b0ca;
}
.btn-back:hover {
  background: #22b0ca;
}

.error-form .btn:hover {
  background: #22b0ca;
}

#style-changer .list-style .btn2 {
  background: #22b0ca;
  border-color: #22b0ca;
}
#style-changer .list-style .btn2.add:hover {
  background: #22b0ca;
  border-color: #22b0ca;
}
#style-changer .changer-opener {
  color: #22b0ca;
}


.events-icons .icon,
.events-mainbanner .subtitle,
.shop-gallery .btn-prev:hover,
.features-col.style4 .panel-title a.collapsed:hover,
.shop-gallery .btn-next:hover {
  background: #22b0ca;
}

.shop-gallery .add-text,
.services-section h3 .icon,
.features-col.style4 .list-events .fa,
#footer.style15 .footer-cent h5 .add-color,
#footer.style15 .f-contact-info2 address .fa,
#footer.style15 .f-contact-info2 .tel-box .fa,
#footer.style15 .f-contact-info2 .mail-box .fa {
  color: #22b0ca;
}