#customerSupportHeader {
    width: 100%;
    height: 268px;
    background: url(https://d28wbuch0jlv7v.cloudfront.net/static/promo/contact_CustomerSupport.jpg) no-repeat center;
    padding-bottom: 20px;
    position: relative;
    margin-top: -40px;
}


#customerSupportHeader h3 {
    padding-bottom: 5px;
    display: block;
    font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial;
    font-size: 18pt;
    font-weight: bold;
    position: absolute;
    bottom: 80px;
    left: 30px;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -ms-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

#customerSupportHeader p {
    font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial;
    font-size: 11pt;
    font-weight: normal;
    position: absolute;
    color: #999;
    bottom: 60px;
    left: 30px;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
        line-height: 0px;
}



.heading {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial;
    font-size: 11.5pt;
    line-height: 16pt;
    font-weight: normal;
    color: #979797;
}
ol, ul {
    list-style: none;
        padding-left: 0px;
}

ul li {
    font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial;
    font-size: 10pt;
    line-height: 13.5pt;
    font-weight: normal;
}


.box {

    float: left;
    padding: 5px 0 20px 0;
 
}
.box ul li {
    margin: 0 0 0 0;
}