@font-face {
	font-family: "Flaticon";
	src: url("../assets/flaticon.eot");
	src: url("../assets/flaticon.eot#iefix") format("embedded-opentype"),
	url("../assets/flaticon.woff") format("woff"),
	url("../assets/flaticon.ttf") format("truetype"),
	url("../assets/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-size:120px;
font-style: normal; line-height:normal
}.flaticon-airplane73:before {
	content: "\e000";
}
.flaticon-baggage26:before {
	content: "\e001";
}
.flaticon-clerks:before {
	content: "\e002";
}
.flaticon-family26:before {
	content: "\e003";
}
.flaticon-heart258:before {
	content: "\e004";
}
.flaticon-sedan4:before {
	content: "\e005";
}
