<ul style="margin-left: -30px;display: none;" data-depth="<%= pages.first.first.depth rescue nil%>">
  <% pages.each do |page, children| %>
    <li class="stap1 active" id="<%= page.slug %>" current_li="<%= current_category.id==page.id %>">
      <%= link_to_unless_current truncate( raw( sanitize(page.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 21, :omission => "..."), page%>
      <%= render 'categories/submenu_pages', cache: true, current_category: current_category, pages: children if children.present? %>
    </li>
  <% end %>
</ul>
