                        
 <!-- ==========================
    	BREADCRUMB - START 
    =========================== -->

<%
meta title: "marketresearchfuture- Categories"
%>





<%= render "shared/search_form"%>

<div class="page-banner small">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="breadcrumbs list-inline">
              <li><a href="/">Home</a></li>
              <li class="active">Report - Categories</li>
             
            </ul>
          </div>
        </div>
      </div>
      <div class="stretch"> </div>
    </div>
	<!-- ==========================
    	BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
    	ESHOP - START 
    =========================== -->
    <section class="content" id="eshop">
    	<div class="container">
<% cache "allcategories", skip_digest: true do %>
    <div class="col-lg-12">
       <h4 style="font-size: 16px;"><strong>Browse all categories: Market Research Reports</strong></h4>

        <ul>




         <% Category.roots.each do |category| %>
           <div class="col-lg-12">
             <hr>

             <h3 style="font-size: 14px;"> <a href="/categories/<%=category.slug%>" > <b><%= category.name%></b> </a></h3>

              <ul style="padding-top:10px">
                <% category.children.each_slice(3) do |tag_array| -%>
                  <% tag_array.each do |subsubcategory| %>
                    <div class="col-md-4" style="padding-bottom:10px"><i class="fa fa-angle-double-right"></i> <a href="/categories/<%=subsubcategory.slug%>"> <%=  truncate( raw( sanitize(subsubcategory.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 30, :omission => "...")%> (<%= subsubcategory.reports_count %>)</a></div>
               
                  <% end -%><br/>
                 <% end %>
              </ul>
            </div>
          <% end -%>



        </ul>
      </div>

     <% end -%>        
        </div>
    </section>

































