<%= form_for @admin_blog,:html => { :multipart => true , :class=>"form-horizontal"} do |f| %>
    <div class="form-group">
      <label class="col-lg-2 control-label">Title</label>
      <div class="col-lg-5">
        <%= f.text_area :title, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Content</label>
      <div class="col-lg-10">
        <%= f.text_area :content, :class => 'ckeditor' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Category</label>
      <div class="col-lg-5">
       
          <%= f.collection_select :category_id, Category.arrange_as_array({:order => 'name'}) , :id, :name_for_selects, {:prompt => "--select category--"},:class=>"form-control"%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label"> <%= f.label :tag_list, "Tags (separated by commas)" %></label>
      <div class="col-lg-10">
        <%= f.text_field :tag_list, :class => 'form-control' %>
      </div>
    </div>



    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-6">
        <button type="submit" class="btn btn-sm btn-success">
          Save
        </button>
        <button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
          Back
        </button>
      </div>
    </div>

                <% end %>




















