



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Blogs</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="/admin/blogs" class="">Blogs</a>
			<span class="divider">/</span>
			log Detail
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->
	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Blog log Detail
							</div>
						
							<div class="clearfix"></div>
						</div>
						<div class="widget-content">
							<div class="padd">
								<br/>
						
								

<p>
    <strong>Title:</strong>&nbsp;&nbsp;&nbsp;
	<%if @blog_log.action == "destroy"%>
	  <td><%=  @blog_log.audited_changes.split(":")[1].split("\n")[0]%></td>
	<%else%>
	 <%if  @blog_log.auditable_type == "NewsUpdate" %>
                      <td><a href="/admin/blogs/blog_log_detail?id=<%= @blog_log.id%>"><%=NewsUpdate.find( @blog_log.auditable_id).title %></a></td>
                     <%else%>
                      <td><a href="/admin/blogs/blog_log_detail?id=<%= @blog_log.id%>"><%=Admin::Blog.find( @blog_log.auditable_id).title %></a></td>
                    <%end%>
	<%end%>
</p>


<p>
  <strong>Type:</strong>&nbsp;&nbsp;&nbsp;
  <%=  @blog_log.auditable_type%>
</p>


<p>
  <strong>By:</strong>&nbsp;&nbsp;&nbsp;
  <%=  User.find(@blog_log.user_id).email%>
</p>

<p>
  <strong>Action:</strong>&nbsp;&nbsp;&nbsp;
  <span class="label label-<%= get_action_color(@blog_log.action)%>"><%=  @blog_log.action%></span>
</p>
<!--<p>
  <strong>Changes:</strong>&nbsp;&nbsp;&nbsp;
  <%#=  @blog_log.audited_changes.html_safe %>
</p> -->
<p>
  <strong>Ip Address:</strong>&nbsp;&nbsp;&nbsp;
  <%=  @blog_log.remote_address%>
</p>

<p>
  <strong>Created On:</strong>&nbsp;&nbsp;&nbsp;
 <%=  @blog_log.created_at.strftime("%A, " "%d " "%B, %Y")%>
</p>							</div>



    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-6">

        <button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
          Back
        </button>
      </div>
    </div>
<br/><br/>
						</div>
						<div class="widget-foot">

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>









