



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

  <!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="fa fa-file-o"></i> Blog Logs</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
      <!-- Divider -->
      <span class="divider">/</span>
      Blog Logs
    </div>

    <div class="clearfix"></div>

  </div>
  <!-- Page heading ends -->

  <!-- Matter -->

  <div class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">
                Blog Logs
              </div>
              
              <div class="clearfix"></div>
            </div>

            <%#= @category.nil? ? 'Main categories' : @category.name %>
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                
                  <th>Blog/News</th>
                  <th>Type</th>
                  <th>User name</th>
                  <th>Action</th>
                  <th>Remote Address</th>
                   <th>Created On</th>
                </tr>
              </thead>
              <tbody>
                  <% @blog_logs.each do |log| %>
                <tr>
                  <%if log.action == "destroy"%>
                  <td><a href="/admin/blogs/blog_log_detail?id=<%=log.id%>"><%=  log.audited_changes.split(":")[1].split("\n")[0]%></a></td>
                  <%else%>
                    <%if log.auditable_type == "NewsUpdate" %>
                      <td><a href="/admin/blogs/blog_log_detail?id=<%=log.id%>"><%=NewsUpdate.find(log.auditable_id).title %></a></td>
                     <%else%>

                      <td><a href="/admin/blogs/blog_log_detail?id=<%=log.id%>"><%=Admin::Blog.find(log.auditable_id).title rescue nil %></a></td>
                    <%end%>
                    <%end%>

   <td>  <%=  log.auditable_type%></td>
                   <td>  <%=  User.find(log.user_id).email%></td>
                   <td>  <span class="label label-<%= get_action_color(log.action)%>"><%=  log.action%></span></td>
                   <td>  <%=  log.remote_address%></td>
                   <td>  <%=  log.created_at.strftime("%A, " "%d " "%B, %Y")%></td>
                  <td>
                  <%#if current_user.is_superadmin || current_user.is_blog_admin %>
                <!--     <a href="/admin/blogs/<%#= admin_blog.id %>/delete" data-method="delete" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a> -->
                  <%#end%>
                 </td>
                </tr>
                <% end %>

              </tbody>
            </table>

            <div class="widget-foot">


              <div class="pull-right">
                <%#= will_paginate @admin_blogs, renderer: BootstrapPagination::Rails %>

              </div>

              <div class="clearfix"></div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>



















