

<%
meta title: "marketresearchfuture - Group / Region",
 description: "Get Contact us to Market Research Future Consultants Pvt. Ltd."
%>






<div class="inner_container">



  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="#">Group / Region</a></li>
  </ul>


<br/>


</div>



<section class="content " id="eshop">
	<div class="container ">
		<div class="col-sm-12">
		<!-- <ul> -->
       
		  <%# @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">

		   <!--   <h5><strong><%#= letter %></strong></h5> -->

		      <ul>
		    <h1 style="font-size: 16px;"><strong>Browse Market Research Reports by Country/Continent/Region</strong></h1>
          <br/>



		  <br/><br/>
		   <% cache "allregions", skip_digest: true do %>
		        <% @regions.each_slice(4) do |tag_array| -%>
			        <% tag_array.each do |region| %>
			          <div class="col-md-3" style="padding-bottom:30px"><a href="/regions/<%= region.slug%>">  <i class='fa fa-angle-double-right'></i>&nbsp;&nbsp; <%= region.name %> (<%= region.reports_count %>)</a></div>
			        <% end -%><br/>
		         <% end %>
		          <% end %>
		      </ul>
		    </div>
		
		</ul>
	</div>
	</div>
</section>

