<%# cache 'admin-left-menu' do %>
    <div class="sidebar">
        <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

        <ul id="nav">

      <%if current_user.is_blog_admin %>
           <li  class="<%= "open" if controller.controller_name == 'news_updates' %>"><%= link_to "<i class='fa fa-user'></i> News".html_safe, admin_news_updates_path%></li>
       <li  class="<%= "open" if controller.controller_name == 'blogs' %>"><%= link_to "<i class='fa fa-file-o'></i> Blogs".html_safe, admin_blogs_path%></li>    
        <li  class="<%= "open" if controller.controller_name == 'blog_rss_feeds' %>"><%= link_to "<i class='fa fa-file-o'></i> Blogs rss feeds".html_safe, admin_blog_rss_feeds_path%></li>  
     <%else%>
    <li  class="<%= "open" if controller.controller_name == 'categories' %>"><%= link_to "<i class='fa fa-sitemap'></i> Categories".html_safe, admin_categories_path%></li>


        
        <li  class="<%= "open" if controller.controller_name == 'report_types' %>"><%= link_to "<i class='fa fa-user'></i> Report Types".html_safe, admin_report_types_path%></li>
     <li  class="<%= "open" if controller.controller_name == 'news_updates' %>"><%= link_to "<i class='fa fa-user'></i> News".html_safe, admin_news_updates_path%></li>

     <li  class="<%= "open" if controller.controller_name == 'reports' && params[:action] == 'index'%>"><%= link_to "<i class='fa fa-user'></i> Reports".html_safe, admin_reports_path%></li>

 <li  class="<%= "open" if controller.controller_name == 'reports' && params[:action] == 'report_labels' %>"><%= link_to "<i class='fa fa-user'></i> Reports Labels".html_safe, admin_report_labels_path%></li>
  


     <li  class="<%= "open" if controller.controller_name == 'pages' %>"><%= link_to "<i class='fa fa-file-o'></i>  Static Pages".html_safe, admin_pages_path%></li>

      <li  class="<%= "open" if (controller.controller_name == 'enquiries' && controller.action_name == "list") %>"><%= link_to "<i class='fa fa-user'></i> Enquiries for Reports".html_safe, list_admin_enquiries_path%></li>

      <li  class="<%= "open" if controller.controller_name == 'orders' %>"><%= link_to "<i class='fa fa-user'></i> User Orders".html_safe, admin_orders_path%></li>

   <li  class="<%= "open" if (controller.controller_name == 'enquiries' && controller.action_name == "contact_us") %>"><%= link_to "<i class='fa fa-file-o'></i> Contact Us".html_safe, admin_contact_us_path%></li>
   <li  class="<%= "open" if controller.controller_name == 'testimonials' %>"><%= link_to "<i class='fa fa-file-o'></i> Testimonial".html_safe, admin_testimonials_path%></li>
     <li  class="<%= "open" if controller.controller_name == 'subscribers' %>"><%= link_to "<i class='fa fa-file-o'></i> Subscribers".html_safe, admin_subscribers_path%></li>
     <li  class="<%= "open" if controller.controller_name == 'blogs' && (params[:action] == 'index' || params[:action] == 'new')%>"><%= link_to "<i class='fa fa-file-o'></i> Blogs".html_safe, admin_blogs_path%></li>
     <li  class="<%= "open" if controller.controller_name == 'blog_rss_feeds' %>"><%= link_to "<i class='fa fa-file-o'></i> Blogs rss feeds".html_safe, admin_blog_rss_feeds_path%></li>
     <li  class="<%= "open" if params[:action] == 'blog_logs' ||  params[:action] == 'blog_log_detail' %>"><%= link_to "<i class='fa fa-file-o'></i> Blogs logs".html_safe, blog_logs_admin_blogs_path%></li> 
<li  class="<%= "open" if controller.controller_name == 'newsletter_templates' %>"><%= link_to "<i class='fa fa-file-o'></i> Newsletter Data".html_safe, admin_newsletter_templates_path%></li>


<li  class="<%= "open" if controller.controller_name == 'clients' && params[:action] == 'index'%>"><%= link_to "<i class='fa fa-user'></i> Clients".html_safe, admin_clients_path%></li>

<li class="<%= "open" if controller.controller_name == 'advertisements' && params[:action] == 'index'%>"><%= link_to "<i class='fa fa-user'></i> Advertisements".html_safe, admin_advertisements_path %></li>
<%end%>

         </ul>
    </div>
<%# end %>