                <div class="row">
                            <div class="col-md-3">
                               
                                <img src="/assets/checkdiscount.png" style="height: 212px;" class="img-responsive">
                                <br/>  <br/>
                                <h5 style="color:#0D58A6">Check Discount on this report</h5>
                            </div>  
                            <div class="col-md-9">
                              <%= form_for( @enquiry , :url=>{}, :html => {:class=>"form-horizontal form-address", :id=>"enquiry_form"}) do |f| %>
                              
                                <div class="form-group">
                                    <label for="first-name1" class="col-sm-3 control-label">Name:<span>*</span></label>
                                    <div class="col-sm-5">
                                   <%= f.text_field :first_name ,:class=>"form-control" , :placeholder=>"First Name"%>                    
                                    <!--     <input type="text" class="form-control" placeholder="First name:" > -->
                                    </div>
                                     <div class="col-sm-4">
                                        <%= f.text_field :last_name ,:class=>"form-control", :placeholder=>"Last Name" %>  
                                      <!--   <input type="text" class="form-control" placeholder="Last name:" id="first-name1" required> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="last-name2" class="col-sm-3 control-label">Email:<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :email , :class=>"form-control", :placeholder=>"Email"%>  
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Job Title:<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :job_title , :class=>"form-control" , :placeholder=>"Job Title"%>  
                                    </div>
                                </div>
                                   <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Company:<span>*</span></label>
                                    <div class="col-sm-9">
                                         <%= f.text_field :company , :class=>"form-control" , :placeholder=>"Company"%>  
                                    </div>
                                </div>
                                  <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Phone No:<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :phone_no , :class=>"form-control", :placeholder=>"Phone No"%>  
                                    </div>
                                </div>


   
                                   <div class="form-group ">
                                    <label for="country" class="col-sm-3 control-label">Your Country:<span>*</span></label>
                                     <div class="col-sm-9">
                                      <%=f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control'%>
                                 </div>
                                   
                                </div>




                                  <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Your Message<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_area :message ,  :class=>"form-control" ,:style=>"height:100px"%>  
                                          <%= f.hidden_field :enquiry_type , :value=> "check_discount", :class=>"form-control"%>  
                                           <%= f.hidden_field :report_id , :value=> report.id, :class=>"form-control"%>  
                                    </div>
                                </div>
                                   <div class="form-group" id="captcha">
                                    <label for="email2" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                      <%= raw recaptcha_tags :display => { :theme => "white" } %>
                                    </div>
                                </div>
                   <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Submit</button> 
                                    </div>
                                </div>
                               
                                <%end%>
                            </div>                                 
                        </div>
                      



                        <script type="text/javascript">

 $("#enquiry_form").submit(function(e) {

      e.preventDefault()
  

      if(IsEmail($("#enquiry_email").val())  &&  IsJobTitle($("#enquiry_job_title").val()) && IsCompany($("#enquiry_company").val()) && IsPhone($("#enquiry_phone_no").val()) && IsCountry($("#enquiry_country_id").val()) && IsMessage($("#enquiry_interest_area").val()) ){
          $('#send').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send').attr('disabled','disabled'); 
          $.ajax({
            url: "/reports/enquiry",
            type: "POST",
            data: $("#enquiry_form").serialize()
          }).success(function(data){
              Recaptcha.reload();
              Recaptcha.focus_response_field = function(){return false;};
              if (typeof data.notice != "undefined"){
                $("header").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
              }else{
                $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
              }
              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#enquiry_form")[0].reset();
              $('#send').html("<i class='fa fa-check'></i>Confirm");
              $('#send').removeAttr('disabled');

          });
      }
   


    })





// function IsLastName(lname){
//   var regex = /^[a-zA-z] ?([a-zA-z]|[a-zA-z] )*[a-zA-z]$/;
//   if(lname==''){
//     alert("Please enter an name");
//     return false;
//   }else if(regex.test(lname)){
//     return true;
//   }else{
//     alert("Please enter an valid name");
//     return false;
//   };
// }
function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email.trim()==''){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
}

function IsJobTitle(jobtitle){
  if(jobtitle.trim()==''){
    alert("Please enter job title.");
    return false;
  }else{
    return true;
  };
}
function IsCompany(company){

  if(company.trim()==''){
    alert("Please enter your company.");
    return false;
  }else{
    return true;
  };
}

function IsPhone(phone){
  var regex = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
  if(phone.trim()==''){
    alert("Please enter your phone number.");
    return false;
}else if(phone.trim().length<8){
    alert("Please enter an valid phone number.");
    return false;
  }else{
    return true;
  };
}
function IsCountry(country){

  if(country.trim()==''){
    alert("Please select an country");
    return false;
  }else{
   
    return true;
  };
}

function IsMessage(msg){
  if(msg.trim()==''){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
}
                        </script>