        <%if @report.one_user.present? && !@report.one_user.zero? %>
                        <li class="edition_li">
                            <div class="inside">

                                <label>
                                    SINGLE USER Electronic (PDF)

                                </label>
                                <div data-toggle="tooltip" data-placement="top" title="The report will be emailed to you.  The report is sent in PDF format.  This is a single user license, allowing one specific user access to the product." class="icon iconTooltip" ></div>
                                <div class="priceFormats">
                                    
                                    <%= radio_button_tag 'currency', "one_user-#{currency}",true ,:class=>"radio" %>

                                    <label class="price"><span class="dynPrice"><i class="fa <%= country_currency_mapping[currency][:icon] %>"></i> <%= number_with_precision(@rates[country_currency_mapping[currency][:name]]["one_user"], :precision => 2, :delimiter => ',') %></span></label>
                                </div>


                            </div>
                 

                           
                        </li>
                        <%end%>
                        <%if @report.five_user.present? && !@report.five_user.zero?%>
                        <li class="edition_li">
                            <div class="inside">

                                <label>
                                    1 - 5 USERS Electronic (PDF)

                                </label>
                                <div data-toggle="tooltip" data-placement="top" title="The report will be emailed to you.  The report is sent in PDF format.  This is a 1-5 user licence, allowing up to five users have access to the product." class="icon iconTooltip" ></div>
                                <div class="priceFormats">
                                    <%= radio_button_tag 'currency', "five_user-#{currency}",nil,:class=>"radio" %>

                                    <label class="price"><span class="dynPrice"><i class="fa <%= country_currency_mapping[currency][:icon] %>"></i> <%= number_with_precision(@rates[country_currency_mapping[currency][:name]]["five_user"], :precision => 2, :delimiter => ',') %></span></label>
                                </div>


                            </div>
                           

                  
                        </li>
                        <%end%>
                        <%if @report.site_user.present? && !@report.site_user.zero? %>
                        <li class="edition_li">
                            <div data-toggle="tooltip" data-placement="top" title="The report will be emailed to you.  The report is sent in PDF format.  This is a site license, allowing all users within a given geographical location of your organisation access to the product." class="inside">

                                <label >
                                    SITE LICENSE Electronic (PDF)

                                </label>
                                <div class="icon iconTooltip" ></div>
                                <div class="priceFormats">
                                    <%= radio_button_tag 'currency', "site_user-#{currency}",nil,:class=>"radio" %>

                                    <label class="price"><span class="dynPrice"><i class="fa <%= country_currency_mapping[currency][:icon] %>"></i> <%= number_with_precision(@rates[country_currency_mapping[currency][:name]]["site_user"], :precision => 2, :delimiter => ',') %></span></label>
                                </div>


                            </div>
                       

                   
                        </li>
                        <%end%>
                        <%if @report.enterprise_user.present? && !@report.enterprise_user.zero?%>
                        <li class="edition_li">
                            <div class="inside">

                                <label >
                                    ENTERPRISEWIDE Electronic (PDF)

                                </label>
                                <div data-toggle="tooltip" data-placement="top" title="The report will be emailed to you.  The report is sent in PDF format.  This is an enterprise license, allowing all employees within your organisation access to the product." class="icon iconTooltip" ></div>
                                <div class="priceFormats">
                                    <%= radio_button_tag 'currency', "enterprise_user-#{currency}",nil,:class=>"radio"  %>

                                    <label class="price"><span class="dynPrice"><i class="fa <%= country_currency_mapping[currency][:icon] %>"></i> <%= number_with_precision(@rates[country_currency_mapping[currency][:name]]["enterprise_user"], :precision => 2, :delimiter => ',') %></span></label>
                                </div>


                            </div>
                           

                          
                        </li>
                        <%end%>



