<div id="filterrific_results">
   <div class="eshop-content" id="list_contain_reports" >
  <%if @reports.blank? %>
    <%= render :partial=> "reports/no_reports_found"%>
  <%else%>
 

     <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="one">
              <ul>
                <%@reports.each do |report|%>
                  <li>
                    <div class="row">
                      <div class="col-md-1 col-sm-1">
                        <%if report.report_image?%>
                          <%= image_tag report.report_image_url(:thumb) %> 
                        <% else %>
                          <img src="<%=Report.category_name_image_hash[report.category_id][:icon]%>" >
                        <% end %>
                        </div>
                      <div class="col-md-8 col-sm-8">
                         
                      <p style="color: #0B85E5;font-weight: bold;">
                         <% if (report.report_type.name == "Half-Cooked Research Reports" || report.report_type.name == "Raw Research Reports") %>
                            <i class="fa fa-lock" aria-hidden="true" style="color: #555;font-size: 14px;"></i>
                          <% else%>
                            <i class="fa fa-unlock" aria-hidden="true" style="color: #555;font-size: 14px;"></i>
                          <% end %> &nbsp;
                           <a href="/reports/<%=report.slug %>"><%=report.title%></a>
                      </p>
                        <p>
                        
                          <%= truncate(report.description, :length => 200, :omission => "..." , :escape => false) %>
                        </p> 
                      </div>
                      <div class="col-md-1 col-sm-1"><%=report.publish_month.to_date.strftime("%B %Y") %></div>
                      <div class="col-md-1 col-sm-1"><b><%=number_with_precision( report.one_user, :precision => 2, :delimiter => ',') %></b></div>
                    </div> 
                  </li>

                <% end %>
              </ul>
            </div>
          </div>
 
    <%end%>                                   
  </div>
              
  <div class="row eshop-footer">
    <div class="col-md-12" style="padding-right: 45px;padding-left: 45px;">
      <div class="row">
        <div class="pull-right" style="padding-bottom:20px;">
          <%= page_entries_info @reports %>
        </div>
      </div>
      <div class="row">
        <div class="pull-right">
          <%= will_paginate @reports,:params => {:format => "" }, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function setHeading(){
  var categories = new Array
  var publishers = new Array
  var continents = new Array
  var regions = new Array
  var countries = new Array
  var types = new Array
  var dates = new Array
  var sort_others = new Array
  var price_ranges = new Array
  $('input[name="category"]:checked').each(function(index,e) {
      categories.push($(this).next().text())
  });

  $('input[name="publisher"]:checked').each(function(index,e) {
      publishers.push($(this).next().text())
  });
  $('input[name="continent"]:checked').each(function(index,e) {
      continents.push($(this).parent().find('label').text())
  });

  $('input[name="region"]:checked').each(function(index,e) {
      regions.push($(this).next().text())
  });

  $('input[name="country"]:checked').each(function(index,e) {
      countries.push($(this).next().text())
  });

  $('input[name="report_type"]:checked').each(function(index,e) {
      types.push($(this).next().text())
  });
  $('input[name="published_date"]:checked').each(function(index,e) {
      dates.push($(this).next().text())
  });
  $('input[name="sort_by_other"]:checked').each(function(index,e) {
      sort_others.push($(this).next().text())
  });
  if ($('input[name="sort_by_price"]:checked').val() == "nil..nil"){
    price_ranges.push(" All Price")
  }else if ($('input[name="sort_by_price"]:checked').val().split("..")[0] == "nil"){
    price_ranges.push(" Upto "+$('input[name="sort_by_price"]:checked').val().split("..")[1])
  }else if ($('input[name="sort_by_price"]:checked').val().split("..")[1] == "nil"){
    price_ranges.push(" "+$('input[name="sort_by_price"]:checked').val().split("..")[0] + " +")
  }else{
    price_ranges.push(" "+$('input[name="sort_by_price"]:checked').val().split("..").join(" to "))
  }


  if(price_ranges.length > 0){
   $(".filter_content").html('<strong>PRICE:</strong>' + price_ranges)
  }

  if(sort_others.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>SORT:</strong>' + sort_others )
  }

  if(dates.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>DATE:</strong>' + dates)
  }

  if(categories.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>CATEGORY:</strong>'+ categories  )
  }

  if(publishers.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>REPORT-TYPE:</strong>' + publishers)
  }

  if(types.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>TYPE:</strong>' + types)
  }

  if(continents.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>CONTINENT:</strong>' + continents )
  }

  if(regions.length > 0){
  $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>REGION:</strong>' + regions )
  }

  if(countries.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>COUNTRY:</strong>' + countries )
  }
}
// $(document).ready(function(){
  
// });
</script> 
