 <div class="record" data-id="<%= report.id %>">
                <div class="panel panel-info">

              <div class="panel-body" style="font-size:12px">
                <%if report.report_image?%>
                  <%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail", :style=>"float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px"  %> 
                <%elsif FileTest.exist?("#{Rails.root}/public/#{report.id}_small.png")%>
                   <img src="/<%=report.id%>_small.png" class="img-thumbnail" style="float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px" >
                <%else%>
                  <%= image_tag report.publisher.report_image_url(:thumb), :class=>"img-thumbnail", :style=>"float:left;margin-right:16px;margin-bottom: 15px;height:85px;width:65px"  %> 

                  
                <%end%>
                <span> <a href="/reports/<%= report.slug%>" style="color:#006DCC;"><b><%=  report.title %></b><br/><br/>
                  <%if report.upcoming%>
                    <b style="color:#916D06">Due Date: </b><%if report.publish_month?%><%= report.publish_month.to_date.strftime("%B, %Y") %><%else%>Coming Soon<%end%><br/>
                  <%else%>
                <b style="color:#916D06">Published: </b><%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%><br/>
                        <%end%>       
               

              </a></span>

              </div>
            </div>  </div>