                                         <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>


                <div class="row">
                            <div class="col-md-3">
                            
                                <img src="/assets/request_toc.png" class="img-responsive" style="padding: 10px 20px;">
                               
                            </div>  
                            <div class="col-md-9">
                              <%= form_for( @enquiry , :url=>{}, :html => {:class=>"form-horizontal form-address", :id=>"request_toc_form_mobile"}) do |f| %>
                              
                                <div class="form-group">
                                    <label for="first-name1" class="col-sm-3 control-label">Name:<span class="star">*</span></label>
                                    <div class="col-sm-5">
                                   <%= f.text_field :first_name , :value=> "", :class=>"form-control" , :placeholder=>"First Name",:id => "toc_firstname_mobile"%>                    
                                    <!--     <input type="text" class="form-control" placeholder="First name:" > -->
                                    </div>
                                     <div class="col-sm-4">
                                        <%= f.text_field :last_name , :value=> "", :class=>"form-control", :placeholder=>"Last Name",:id => "toc_lastname_mobile" %>  
                                      <!--   <input type="text" class="form-control" placeholder="Last name:" id="first-name1" required> -->
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="last-name2" class="col-sm-3 control-label">Email:<span class="star">*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :email , :value=> "", :class=>"form-control", :placeholder=>"Email",:id => "toc_email_mobile" %>  
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Job Title:<span class="star">*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :job_title , :value=> "", :class=>"form-control" , :placeholder=>"Job Title",:id => "toc_jobtitle_mobile"%>  
                                    </div>
                                </div>
                                        <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Company:<span class="star">*</span></label>
                                    <div class="col-sm-9">
                                         <%= f.text_field :company , :class=>"form-control" , :placeholder=>"Company",:id => "toc_company_mobile"%>  
                                    </div>
                                </div>
                                  <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Phone No:<span class="star">*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :phone_no , :value=> "", :class=>"form-control", :placeholder=>"Phone No",:id => "toc_phoneno_mobile"%>  
                                    </div>
                                </div>
                                 <div class="form-group ">
                                    <label for="country" class="col-sm-3 control-label">Your Country:<span class="star">*</span></label>
                                     <div class="col-sm-9">
                                      <%=f.select :country_id, options_for_select(Country.get_all_countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control',:id => "toc_country_mobile"%>
                                 </div>
                                   
                                </div>
                       

                       

                                  <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Message<span class="star">*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_area :interest_area , :value=> "", :class=>"form-control",:style=>"height:100px",:id => "toc_message_mobile"%> 
                                        
                                             <%= f.hidden_field :enquiry_type , :value=> "request_for_toc", :class=>"form-control"%> 
                                    
                                           <%= f.hidden_field :report_id , :value=> report.id, :class=>"form-control"%>  
                                    </div>
                                </div>
                                <div class="form-group" id="captchas4">
                                  <label for="email2" class="col-sm-3 control-label"></label>
                                  <div class="col-sm-9">
                                    <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha4">
                                    <div id="recaptcha4"></div>
                                  </div>
                                </div>
                                
                                 <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <button type="submit" id="send_toc_mobile" class="btn btn-primary"><i class="fa fa-check"></i>Confirm</button> 
                                    </div>
                                </div>
                               
                                <%end%>
                            </div>                                 
                        </div>

<!-- 
<script type="text/javascript">
 

      var onloadCallback = function() {
 
        grecaptcha.render('recaptcha4', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8',
          'callback' : verifyCallback4,
          'theme' : 'light'
        });
      };

       var verifyCallback4 = function(response) {
        $("#hiddenRecaptcha4").val(response);
      };
    </script> -->

<script type="text/javascript">



   $("#request_toc_form_mobile").submit(function(e) {

      e.preventDefault()
  

      if(IsEmail($("#toc_email_mobile").val())  &&  IsJobTitle($("#toc_jobtitle_mobile").val()) && IsCompany($("#toc_company_mobile").val()) && IsPhone($("#toc_phonenoc_mobile").val()) && IsCountry($("#toc_country_mobile").val()) && IsMessage($("#toc_message_mobile").val()) && Iscaptcha()){
          $('#send_toc_mobile').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send_toc_mobile').attr('disabled','disabled'); 
          $.ajax({
            url: "/reports/enquiry",
            type: "POST",
            data: $("#request_toc_form_mobile").serialize()
          }).success(function(data){
            grecaptcha.reset(recaptcha2);
            if (typeof data.notice != "undefined"){
              $("header").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
            }else{
              $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
            }

              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#request_toc_form_mobile")[0].reset();
              $('#send_toc_mobile').html("<i class='fa fa-check'></i>Confirm");
              $('#send_toc_mobile').removeAttr('disabled');
              $('#hiddenRecaptcha4').val('');

          });
      }
   


    })




// function IsLastName(lname){
//   var regex = /^[a-zA-z] ?([a-zA-z]|[a-zA-z] )*[a-zA-z]$/;
//   if(lname==''){
//     alert("Please enter an name");
//     return false;
//   }else if(regex.test(lname)){
//     return true;
//   }else{
//     alert("Please enter an valid name");
//     return false;
//   };
// }

function Iscaptcha() {

  if($("#hiddenRecaptcha4").val() == "")
  {
    alert("You can't leave Captcha Code empty");
    return false;
  }else
  {
    return true;
  }
}

function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email.trim()==''){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
}

function IsJobTitle(jobtitle){
  if(jobtitle.trim()==''){
    alert("Please enter job title.");
    return false;
  }else{
    return true;
  };
}
function IsCompany(company){

  if(company.trim()==''){
    alert("Please enter your company.");
    return false;
  }else{
    return true;
  };
}

function IsPhone(phone){
  var regex = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
  if(phone.trim()==''){
    alert("Please enter your phone number.");
    return false;
  }else if(phone.trim().length<8){
    alert("Please enter an valid phone number.");
    return false;
  }else{
    return true;
  };
}
function IsCountry(country){

  if(country.trim()==''){
    alert("Please select an country");
    return false;
  }else{
   
    return true;
  };
}

function IsMessage(msg){
  if(msg.trim()==''){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
}
                        </script>