    <section class="breadcrumb-wrapper">
        <div class="container">
          <div class="col-sm-3">
            <h2>Continents</h2>
          </div>
  <%= render "shared/search_form"%>
            <div class="col-sm-4">

                  <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Continents</li>
            </ol>
            </div>
        </div>
    </section>






<section class="content " id="eshop">
	<div class="container ">



		
		<div class="col-sm-12">
		<!-- <ul> -->
		  <%# @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">
		  <br/><br/>
		   <!--   <h5><strong><%#= letter %></strong></h5> -->

		      <ul>
		        <% @continents.each_slice(4) do |tag_array| -%>
			        <% tag_array.each do |continent| %>
			          <div class="col-md-3" style="padding-bottom:30px"><a href="/report_list?continent_id=<%=continent.id%>"><img src="assets/<%= continent.id%>.gif" height="50" width="50">&nbsp;&nbsp; <%= continent.name%> (<%=continent.reports.count%>)</a></div>
			     
			        <% end -%><br/>
		         <% end %>
		      </ul>
		    </div>
		
		</ul>
	</div>
	</div>
</section>


