 <!-- ==========================
    	BREADCRUMB - START 
    =========================== -->

    <section class="breadcrumb-wrapper">
        <div class="container">
          <div class="col-sm-3">
            <h2>Countries</h2>
          </div>
  <%= render "shared/search_form"%>
            <div class="col-sm-4">

                  <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Report</li>
            </ol>
            </div>
        </div>
    </section>









	<!-- ==========================
    	BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
    	ESHOP - START 
    =========================== -->
    <section class="content bg-color-2" id="eshop">
    	<div class="container">

            <div class="row eshop-main eshop-list">
            	<div class="col-md-3 eshop-sidebar">
                   <div class="bubble">
          <div class="rectangle" style="background-color: #FF6A6A;width:106%">
            <h2>Categories</h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="overflow-y:auto;">
                   <ul class="nav vertical-nav">
                       <%@categories.each do |category|%> 
                       
                 <li>  <%= link_to "<i class='fa fa-angle-double-right'></i>#{category.name}".html_safe, reports_url(category_id: category.id, country_id: params[:country_id]) %></li>
                        <%end%>                                  
                    </ul>
                         
          </div>
        </div>
                </div>
            	<!-- ESHOP SIDEBAR - START -->
           
                <!-- ESHOP SIDEBAR - END -->
                
            	<!-- ESHOP CONTENT - START -->
            	<%if @reports.blank? %>
                <div class="col-md-9 eshop-content"> 
                <h4>Sorry, No Reports found</h4>
                 </div>
                <%else%>
            
                <div class="col-md-9 eshop-content">          	
                    <!-- ESHOP PRODUCT -->
                    	<%@reports.each do |report|%>
                    <div class="eshop-product">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-xs-5">
                            	<%= image_tag report.report_image_url(:thumb), :class=>"img-responsive" if report.report_image? %>
                            	
                            </div>
                            <div class="col-lg-9 col-md-8 col-xs-7">
                            	    
                            	<div class="eshop-product-body">
                            		 <div class="product-tags" style="float:right;padding-left: 15px;">
                                        <span class="label label-info"><%=report.publish_date.strftime("%B, %Y")%></span>
                                      
                                    </div>
                                    <h3 style="margin: 0px 0;font-size: 15px;"><%= link_to report.title, report_path(report)%></h3>
                                    <p><%=  truncate( raw( sanitize(report.description, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 300, :omission => "...") %></p>
                                    <div class="clearfix">
                                    	<div class="product-price pull-left">
                                            <span class="new-price">$ <%=number_with_precision( report.one_user, :precision => 2, :delimiter => ',')%></span>
                                        </div>
                                        <div class="pull-right">
                                        <!-- 	<button class="btn btn-danger btn-sm addtocart">Add to Cart</button> -->
                                        	<%= link_to "More info", report_path(report), :class=>"btn btn-primary btn-sm hidden-xs", :style => "color:white;" %>
                                    	
                                        </div>
                                    </div>
                                </div>
                        	</div>
                        </div>
                    </div>   
                     <%end%>                                   
                </div>
               
                <%end%>
                <!-- ESHOP CONTENT - END -->
    
            </div>
            
          <div class="row eshop-footer">
                <div class="col-md-12">
                   <div class="row">
                    <div class="pull-right" style="padding-bottom:20px">
                              <%= page_entries_info @reports %>
                          </div>  </div>
                    <div class="row">
                            <div class="pull-right">
                      
                            <%= will_paginate @reports, renderer: BootstrapPagination::Rails %>          
                               </div>

                    </div>
                </div>
            </div>

            
        </div>
    </section>
    <!-- ==========================
    	ESHOP - END 
    =========================== --> 
  