    <section class="breadcrumb-wrapper">
        <div class="container">
          <div class="col-sm-3">
            <h2>Countries</h2>
          </div>
    <%= render "shared/search_form"%>
            <div class="col-sm-4">

                 <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Countries</li>
            </ol>
            </div>
        </div>
    </section>











<section class="content " id="eshop">
	<div class="container ">



		
		<div class="col-sm-10">
		<!-- <ul> -->
		  <% @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">
		   	 <hr>
		     <h5><strong><%= letter %></strong></h5>

		      <ul>
		        <% @grouped[letter].each_slice(3) do |tag_array| -%>
			        <% tag_array.each do |country| %>
			          <div class="col-md-4" style="padding-bottom:15px"><a href="/reports?country_id=<%=country.id%>"><img src="<%= country.flag_image%>">&nbsp;&nbsp; <%= country.name%></a></div>
			     
			        <% end -%><br/>
		         <% end %>
		      </ul>
		    </div>
		  <% end -%>
		</ul>
	</div>
	</div>
</section>


