<div class="latest_infographics">
  <div class="row">
    <div class="col-md-3 col-sm-12 "style="margin-top: 10px;">
      <h3 style="margin-top: 5px;margin-left: 10px;">Search For: '<%= params[:q] %>'</h3>
    </div>
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-2 col-sm-12" style="margin-top: 10px;">
      <span class="label" style="font-size: 15px; color: #0b85e5;font-weight: 600;">Page Size</span>
      <select name="PerPageOption" id="PerPageOption" >
        <option value="10" selected="">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
    </div>
    <div class="col-md-3 col-sm-12" style="margin-top: 10px;">
      <span class="label" style="font-size: 15px; color: #0b85e5;font-weight: 600;">Sort By</span>
      <select name="OrderingOption" id="OrderingOption" >
        <option value="Relevance">Relevance</option>
        <option value="DatePublished_Desc" selected="">Published (Latest)</option>
        <option value="DatePublished_Asc">Published (Oldest)</option>
        <option value="Price_Desc" >Price (High to Low)</option>
        <option value="Price_Asc" >Price (Low to High)</option>
      </select>
    </div>
  </div>
  <!--     <div class="filter searchOrdering" style="float: right;">
    <div class="filterInside">
        <span class="current">Relevance</span>
    </div>
    <ul>
                <li><a href="#RankDesc">Relevance</a></li>
                <li><a href="#DatePublishedDesc">Published</a></li>
                <li><a href="#PriceDesc">Price</a></li>
    </ul>
    </div> -->
  <br />
  <div class="row">
    <div class="visible-xs col-xs-12">
      <div class="block box1">
        <%= render :partial=> "shared/report_filter",locals:{all_publishers: @all_publishers,selected_publishers_id: [],all_continents: @all_continents,selected_continents_id: [],all_regions: @all_regions,selected_regions_id: [],all_countries: @all_countries,selected_countries_id: [],selected_report_type: ["Published Reports"],selected_published_date: ["Latest Date"],selected_sort_by_other: ["Price ( High to Low )"],selected_sort_by_price: ["All Price"],all_categories: @all_categories,selected_category_id: [],contain_global: false}%>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div>
        <div class="filter_content well hidden-xs" id="filter_content" style="padding: 8px;"><strong>PRICE:</strong> All Price<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>SORT:</strong> Price ( High to Low ) <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>DATE:</strong> Latest Date <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>TYPE:</strong> Published Reports </div>
        <!-- Nav tabs -->
        <!-- Tab panes -->
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="row eshop-main eshop-list" id="fileter_category_reports">
              <div id="reports_list">
                <%= render(partial: 'reports/list', locals: { reports: @reports }) %>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
            <div class="block box1">
              <%= render :partial=> "shared/report_filter",locals:{all_publishers: @all_publishers,selected_publishers_id: [],all_continents: @all_continents,selected_continents_id: [],all_regions: @all_regions,selected_regions_id: [],all_countries: @all_countries,selected_countries_id: [],selected_report_type: ["Published Reports"],selected_published_date: ["Latest Date"],selected_sort_by_other: ["Price ( High to Low )"],selected_sort_by_price: ["All Price"],all_categories: @all_categories,selected_category_id: [],contain_global: false}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

function toggleClosestSection(element){
  closest_element = $(element).closest(".panel-info").find(".panel-body");
  if($(element).find("i").hasClass("fa-plus")){
    $(element).find("i").addClass("fa-minus")
    $(element).find("i").removeClass("fa-plus")
  }else{
    $(element).find("i").addClass("fa-plus")
    $(element).find("i").removeClass("fa-minus")
  }
  if($(closest_element).hasClass("hidden-xs")){
    $(closest_element).removeClass("hidden-xs")
  }else{
    $(closest_element).addClass("hidden-xs")
  }

}
function toggleReportFilterHeading(){
  if($("#report_filter_heading_span i").hasClass("fa-plus")){
    $("#report_filter_heading_span .fa-plus").addClass("fa-minus")
    $("#report_filter_heading_span .fa-plus").removeClass("fa-plus")
    $(".panel-info").removeClass("hidden-xs");
    $(".panel-heading").removeClass("hidden-xs");
  }else{
    $("#report_filter_heading_span .fa-minus").addClass("fa-plus")
    $("#report_filter_heading_span .fa-minus").removeClass("fa-minus")
    $(".panel-info").addClass("hidden-xs");
    $(".panel-heading").addClass("hidden-xs");
  }
}

function getSelectedCheckboxValue(name){
    var val = [];
      $('input[name='+name+']:checked').each(function(i){
        val[i] = $(this).val();
    });
    return val;  
}
function getSelectedRadioValue(name){
    var val = $("input[type='radio'][name='"+name+"']:checked").val();
    return val;  
}
function callPriceReport(){
  var min_val = $("#min_val").val() == "" ? "nil" : $("#min_val").val()
  var max_val = $("#max_val").val() == "" ? "nil" : $("#max_val").val()
  $("#min_to_max_input").val(min_val+".."+max_val);
}
var xhr = null;
function showReports(page){
  if( xhr != null ) {
    xhr.abort();
    xhr = null;
  }
  if ($("#min_to_max_input").is(":checked")){
    if (parseInt($("#min_to_max_input").val().split("..")[0]) > parseInt($("#min_to_max_input").val().split("..")[1])){
      alert("Please enter an valid range");
      return false;
    }
  }

  $('#reports_list').addClass('blur-filter')
  $('#list_contain_reports').addClass('blur-filter')

  if (typeof page === "undefined" || page === null) { 
    page = "1"; 
  }

  report_type_ids = getSelectedCheckboxValue('publisher')
  country_ids = getSelectedCheckboxValue('country')
  report_type = getSelectedRadioValue('report_type')
  published_date = getSelectedRadioValue('published_date')
  sort_by_other = getSelectedRadioValue('sort_by_other')
  sort_by_price = getSelectedRadioValue('sort_by_price')
  sort_by_category = getSelectedCheckboxValue('category')
  sort_by_continent = getSelectedCheckboxValue('continent')
  sort_by_region = getSelectedCheckboxValue('region')

  if(report_type_ids.length > 0){
   $("[id^='uncheck_all_report_type']").show();
  }else{
    $("[id^='uncheck_all_report_type']").hide();
  }
  
  if(country_ids.length > 0){
   $("[id^='uncheck_all_country']").show();
  }else{
    $("[id^='uncheck_all_country']").hide();
  }

  if(sort_by_category.length > 0){
   $("[id^='uncheck_all_categories']").show()
  }else{
    $("[id^='uncheck_all_categories']").hide();
  }
  
  if(sort_by_continent.length > 0){
   $("[id^='uncheck_all_continent']").show();
   disableRegion();
  }else{
    $("[id^='uncheck_all_continent']").hide();
    disableRegion();
  }
  
  if(sort_by_region.length > 0){
   $("[id^='uncheck_all_regions']").show();
   disableContinent();
  }else{
    $("[id^='uncheck_all_regions']").hide();
    disableContinent();
  }

  if(!$('#continent_global').is(":checked")){
    changeCountry();
  }
  
  xhr = $.ajax({
    url: "/show_filter_reports.js",
    type: "post",
    data:{
      report_type_ids: report_type_ids,
      country_ids: country_ids,
      report_type: report_type,
      published_date: published_date,
      sort_by_other: sort_by_other,
      sort_by_price: sort_by_price,
      sort_by_category: sort_by_category,
      sort_by_continent: sort_by_continent,
      sort_by_region: sort_by_region,
      id: "<%= params[:id]%>",
      category_id_present: "<%= request.url.include?('categories')%>",
      country_id_present: "<%= request.url.include?('countries')%>",
      continent_id_present: "<%= request.url.include?('continents')%>",
      region_id_present: "<%= request.url.include?('regions')%>",
      search_term: $("#q").val(),
      page: page,
      sort_option: $("#OrderingOption").val(),
      per_page: $("#PerPageOption").val()
    }
  }).always(function(){
    setHeading();
    $('html, body').animate({
          scrollTop: 0
        }, 800);
    
  })
}

function disableContinent() {
    if ($(".regions_input input:checked").length > 0){
      $('#continent_section input:checkbox').removeAttr('checked');
      $("#continent_section").prop('disabled',true).css("background", "lightgrey");
      $("#continent_section").prop('disabled',true);

      $('#continent_section input[type=checkbox]').attr('disabled','true');
      $("#continent_section").attr("data-toggle", "tooltip");
      $("#continent_section").attr("title", "You can not select continent when region is selected.To select continent uncheck regions.");
      $("#continent_section").tooltip('show');
      $("#continent_add_div").hide();
      $("#show_continent_link").hide();
          // $('[data-toggle="tooltip"]').tooltip(); 
    }else{
      $("#continent_section").removeAttr('disabled').css("background", "white");
      $("#continent_section input[type=checkbox]").removeAttr('disabled');
      $("#continent_section ").css( "pointer-events", "auto" );
      $("#continent_section").tooltip('destroy');
      if(!$('#continent_global').is(":checked") && $(".continents_input input:visible").length != parseInt($("#continent_count").text())){
        $("#continent_add_div").show();
        $("#show_continent_link").show();
      }
    }
  }

  function disableRegion() {
    if ($(".continents_input input:checked").length > 0){
      $('#region_section input:checkbox').removeAttr('checked');
      $("#region_section").prop('disabled',true).css("background", "lightgrey");
      $("#region_section").prop('disabled',true);
      $('#region_section input[type=checkbox]').attr('disabled','true');
      $("#region_add_div").hide();
      $("#show_region_link").hide();
      
      $("#region_section").attr("data-toggle", "tooltip");
      $("#region_section").attr("title", "You can not select region when continent is selected.To select region uncheck continents.");
      $('#region_section').tooltip('show');

    }else{
      $("#region_section").removeAttr('disabled').css("background", "white");
      $("#region_section input[type=checkbox]").removeAttr('disabled');
      $("#region_section ").css( "pointer-events", "auto" );
      $('#region_section').tooltip('destroy');
      if($(".regions_input input:visible").length != parseInt($("#region_count").text())){
        $("#region_add_div").show();
        $("#show_region_link").show();
      }
      
    }
  }
  $(function() {  
      $(document).on("click", ".pagination a", function (event) {  
        page = this.href.split("=")[1];
        showReports(page);
        event.preventDefault();
        // $('html, body').animate({
        //   scrollTop: 0
        // }, 800);
        return false;  
      });  
  });

  $(document).ready(function(){
    setHeading();
    if(<%= @selected_category_id.present? %>){
      $("[id^='uncheck_all_categories']").show()
    }
  })

  $(document).on("change","#PerPageOption", function() {
    showReports();
  });

   $(document).on("change","#OrderingOption", function() {
    showReports();
  });
</script>