<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Market Research Future</title>




<!-- Bootstrap -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/slider.css" rel="stylesheet">
<link href="css/flaticon.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,300italic,300,400italic' rel='stylesheet' type='text/css'>
<script src="js/modernizr.custom.17475.js"></script> -->

<%= metamagic %>
    <!-- ==========================
        Favicons 
    =========================== -->
    <!--   <link rel="shortcut icon" href="favicon.ico"> -->
    <%= favicon_link_tag 'favicon.ico'%>
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
    
    <!-- ==========================
        Fonts 
    =========================== -->
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

    <%=stylesheet_link_tag "bootstrap.css"%>
    <%=stylesheet_link_tag "font-awesome.min.css"%>
    <%=stylesheet_link_tag "slider.css"%>
    <%=stylesheet_link_tag "flaticon.css"%>
    <%=stylesheet_link_tag "style.css"%>
    <%=stylesheet_link_tag "font-open-sans.css" ,:rel=>'stylesheet', :type => "text/javascript"%>
    <%= javascript_include_tag 'modernizr.custom.17475'%>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  <div id="printReportDiv">
<div class="container main_container rel" style="padding:30px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
          <a href="#" class="logo"><img src="/assets/logo.png" alt=""></a> </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div style="float:right;">
          <a href="#" id="print_report" class="btn btn-xs btn-primary" onclick="printReportDetails();"><i class="fa fa-print" aria-hidden="true"></i> Print</a>&nbsp;&nbsp;
          <a href="#" id="close_window" class="btn btn-xs btn-danger" onclick="window.close();"><i class="fa fa-times" aria-hidden="true"></i> Close</a>
          </div>
        </div>
      </div>
      <br />
      <div class"row">
        <p> <span style="vertical-align: middle;"> <b style="color:#006DCC;"> <%=@report.title %></b></span></p>
      </div>
      <div class="col-md-6">
        <label>Description:</label>
        <%= simple_format(@report.description, {}, :sanitize => false) %> 
        <br />
        <% unless (@report.report_type.name == "Half-Cooked Research Reports") %>
        <label>Contents:</label>
          <%= simple_format(convert_toc(@report.table_of_content).join) %>
        <%end%>
        <br />
        <label>Published Date:</label>
        <%= @report.publish_month.to_date %>
        
      </div>
          <div class="col-sm-6 table-responsive" >
           <label>Report Price:</label>
            <table>
              <tr>
                <td >
                   <%if @report.one_user.present? && !@report.one_user.zero? %>
                   <span> <b>1-user PDF : </b> &nbsp;&nbsp; <%= number_to_currency @report.one_user%> </span><br/><br/>
                  <%end%>
                  <%if @report.five_user.present? && !@report.five_user.zero?%>
                   <span> <b>1-5 User PDF : </b> &nbsp;&nbsp;<%= number_to_currency @report.five_user %></span><br/><br/>
                  <%end%>

                   <%if @report.site_user.present? && !@report.site_user.zero? %>
                     <span> <b >Site PDF : </b>&nbsp;&nbsp; <%= number_to_currency @report.site_user %> </span><br/><br/>
                    <%end%>
                    <%if @report.enterprise_user.present? && !@report.enterprise_user.zero?%> 
                     <span> <b>Enterprise PDF : </b>&nbsp;&nbsp; <%= number_to_currency @report.enterprise_user %> </span><br/><br/>
                     <%end%>
                </td>
              </tr>
            </table>
          </div>
     <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
      <h3 class="newheading text-center contact">Contatct Us<span></span></h3>
        
        <STRONG>Email Us at:</STRONG> salesteam@marketresearchfuture.com | <STRONG>Reach Us at:</STRONG> + (646) 845 9349 (US), +44 208 133 9349 (uk)
     </div>
    
  </div>
</div>
</div>
<script type="text/javascript">

function printReportDetails() {
  var restorePage = document.body.innerHTML;
  var printdiv = $("<div>", {id: "close_window", css: {"visibility": "hidden"}},{id: "print_report", css: {"visibility": "hidden"}});
  var printContent = $('#printReportDiv');
  
  printContent.find('#close_window,#print_report').remove();
  document.body.innerHTML = printContent.html();
  window.print();
  document.body.innerHTML = restorePage;
}

</script>
</body>
</html>
