    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>


                     <section class="content " id="eshop">
          <div class="container ">

            <div class="row">
               
              <div class="col-md-8 col-md-offset-2" style="padding-top: 110px;">
          <div class="panel panel-default">
                                       
                                <div class="panel-body" >
                                    <p> <span style="vertical-align: middle;"> <b style="color:#006DCC;"> <%=@report.title %></b></span></p>

                                      <div class="col-sm-6 table-responsive" >
                                      <table class="table">
                                        <tr>
                                      <td >
                                         <span> <b style="color:#916D06">No. of Pages: </b> &nbsp;&nbsp; <%=@report.no_of_pages %></span><br/><br/>
                                      
                                           <span> <b style="color:#916D06">Report Code: </b> &nbsp;&nbsp;<%=@report.code %></span><br/><br/>
                                      </td>
                                 
                                        </tr>
                                      </table>
                                      </div>
                                       
                                       <div class="col-sm-6 table-responsive" >
                                        <table class="table">
                                        <tr>
                                        <td >


                                         <%if @report.one_user.present? && !@report.one_user.zero? %>
                                         <span> <b style="color:#916D06">1-user PDF : </b> &nbsp;&nbsp; <%= number_to_currency @report.one_user%> </span><br/><br/>
                                        <%end%>
                                        <%if @report.five_user.present? && !@report.five_user.zero?%>
                                         <span> <b style="color:#916D06">1-5 User PDF : </b> &nbsp;&nbsp;<%= number_to_currency @report.five_user %></span><br/><br/>
                                        <%end%>

                                         <%if @report.site_user.present? && !@report.site_user.zero? %>
                                           <span> <b style="color:#916D06">Site PDF : </b>&nbsp;&nbsp; <%= number_to_currency @report.site_user %> </span><br/><br/>
                                          <%end%>
                                          <%if @report.enterprise_user.present? && !@report.enterprise_user.zero?%> 
                                           <span> <b style="color:#916D06">Enterprise PDF : </b>&nbsp;&nbsp; <%= number_to_currency @report.enterprise_user %> </span><br/><br/>
                                           <%end%>


                                        





                                      </td>
                                    
                                        </tr>
                                      </table>
                                      </div>

   
                       </div>
                            </div>
         <div >                       
                    <a href="javascript:void(0)" onclick="closePopup()" class="btn btn-primary btn-xs"> View Report</a>  
                 </div>
                              </div>
                          
            </div>
                <div class="row">
                       

                            <div class="col-md-9">
                    

                               <h3 style="color:#0D58A6;text-align: center;padding-bottom: 20px;">Request a Report TOC</h3>
                              <%= form_for( @enquiry , :url=>{}, :html => {:class=>"form-horizontal form-address", :id=>"enquiry_form"}) do |f| %>
                              
                                <div class="form-group">
                                    <label for="first-name1" class="col-sm-3 control-label">Name:<span>*</span></label>
                                    <div class="col-sm-5">
                                   <%= f.text_field :first_name , :value=> "", :class=>"form-control" , :placeholder=>"First Name"%>                    
                                    <!--     <input type="text" class="form-control" placeholder="First name:" > -->
                                    </div>
                                     <div class="col-sm-4">
                                        <%= f.text_field :last_name , :value=> "", :class=>"form-control", :placeholder=>"Last Name" %>  
                                      <!--   <input type="text" class="form-control" placeholder="Last name:" id="first-name1" required> -->
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="last-name2" class="col-sm-3 control-label">Email:<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :email , :value=> "", :class=>"form-control", :placeholder=>"Email" %>  
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Job Title:<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :job_title , :value=> "", :class=>"form-control" , :placeholder=>"Job Title"%>  
                                    </div>
                                </div>
                                        <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Company:<span>*</span></label>
                                    <div class="col-sm-9">
                                         <%= f.text_field :company , :class=>"form-control" , :placeholder=>"Company"%>  
                                    </div>
                                </div>
                                  <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Phone No:<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :phone_no , :value=> "", :class=>"form-control", :placeholder=>"Phone No"%>  
                                    </div>
                                </div>
                                 <div class="form-group ">
                                    <label for="country" class="col-sm-3 control-label">Your Country:<span>*</span></label>
                                     <div class="col-sm-9">
                                      <%=f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control'%>
                                 </div>
                                   
                                </div>
                       

                       

                                  <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Message<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_area :interest_area , :value=> "", :class=>"form-control",:style=>"height:100px"%>  
                                           <%= f.hidden_field :enquiry_type , :value=> "request_for_toc", :class=>"form-control"%>   
                                           <%= f.hidden_field :report_id , :value=> @report.id, :class=>"form-control"%>  
                                    </div>
                                </div>
                               <div class="form-group" id="captcha">
                                    <label for="email2" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                 <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha7">
                                     <div id="example3"></div>
                                    </div>
                                </div>
                                
                   <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <button type="submit" id="send_sample" class="btn btn-primary"><i class="fa fa-check"></i>Confirm</button> 
                                    </div>
                                </div>
                               
                                <%end%>
                            </div>                                 
                        </div>
        
          </div>
   </section>



<script type="text/javascript">
      $widgetId=undefined;

      var onloadCallback = function() {
 
        grecaptcha.render('example3', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8',
          'callback' : verifyCallback7,
          'theme' : 'light'
        });
      };

       var verifyCallback7 = function(response) {
        $("#hiddenRecaptcha7").val(response);
      };
    </script>














<script type="text/javascript">


    $("#enquiry_form").submit(function(e) {

      e.preventDefault()
  

      if(IsEmail($("#enquiry_email").val())  &&  IsJobTitle($("#enquiry_job_title").val()) && IsCompany($("#enquiry_company").val()) && IsPhone($("#enquiry_phone_no").val()) && IsCountry($("#enquiry_country_id").val()) && IsMessage($("#enquiry_interest_area").val()) && Iscaptcha3() ){
          $('#send_sample').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send_sample').attr('disabled','disabled'); 
          $.ajax({
            url: "/reports/enquiry",
            type: "POST",
            data: $("#enquiry_form").serialize()
          }).success(function(data){
              if (typeof data.notice != "undefined"){
                $("header").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
              }else{
                $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
              }
              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#enquiry_form")[0].reset();
              $('#send_sample').html("<i class='fa fa-check'></i>Confirm");
              $('#send_sample').removeAttr('disabled');
              grecaptcha.reset();
              $('#hiddenRecaptcha7').val('');
          });
      }
   


    })


function Iscaptcha3() {
  // if($("#hiddenRecaptcha7").val() == "")
  // {
  //   alert("You can't leave Captcha Code empty");
  //   return false;
  // }else
  // {
  //   return true;
  // }
  return true;
}

function closePopup(){
  try{
    if(window.opener.location.pathname){
      self.close();
    }else if(window.opener && window.opener != undefined){
      self.close()
    }else{
      this.location.href ='/reports/'+'<%= @report.slug%>'
    }
  }
  catch(err){
    this.location.href ='/reports/'+'<%= @report.slug%>'
  }
}

function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email.trim()==''){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
}

function IsJobTitle(jobtitle){
  if(jobtitle.trim()==''){
    alert("Please enter job title.");
    return false;
  }else{
    return true;
  };
}
function IsCompany(company){

  if(company.trim()==''){
    alert("Please enter your company.");
    return false;
  }else{
    return true;
  };
}

function IsPhone(phone){
  var regex = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
  if(phone.trim()==''){
    alert("Please enter your phone number.");
    return false;
  }else if(phone.trim().length<8){
    alert("Please enter an valid phone number.");
    return false;
  }else{
    return true;
  };
}
function IsCountry(country){

  if(country.trim()==''){
    alert("Please select an country");
    return false;
  }else{
   
    return true;
  };
}

function IsMessage(msg){
  if(msg.trim()==''){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
}





</script>