<%
meta title: "Report- #{@report.title}",
description: "Get Advanced #{@report.title} – The research report highlights market research and industry analysis driven by in-depth business relevant news."
%>


<%###= javascript_include_tag "jquery.fancybox-1.3.4.js"%>
<%#=stylesheet_link_tag "jquery.fancybox-1.3.4.css"%>
<style type="text/css">
  a:hover { color: #FE9A42; }
  span.plus {
      position: absolute;
      right: 27px;
      bottom: 55%;
      width: 29px;
      height: 29px;
      background: url('/assets/magnifier.png') no-repeat;
      z-index: 100;
  }
  ul#productDetails li {
      padding: 0 12px 0 0;
      margin: 0 8px 0 0;
      font-size: 12px;
      line-height: 1.5em;
      color: #101010;
      list-style: none;
      display: inline-block;
      border-right: 1px #f1c84f solid;
      }
      ul#productDetails li:last-child {
      padding-right: 0;
      background: none;
      border: none;
    }
    .fancybox-title {
        padding: 0 0 10px 0;
    }
    .report_title_h1{
      color:#006DCC;
      font-size:13px;
      font-weight:600;
      line-height: 1.5;
    }
    .related_report_h3{
      font-size: 13px;
      color: #ffcc02;
      text-align: center;
      text-transform: initial;
      font-weight: 600;
    }
    .purchase-buttons{
  margin-top: 10px;
}
#related-reports img{
  width: 50px;
}
.related-reports-caption{
  margin: 0 0 12px 30% !important;
}
#relevant-reports img{
  width: 50px;
}
#relevant-reports-caption{
  margin: 0 0 12px 30% !important;
  color: #000 !important;
    padding: 0 0 8px !important;
    margin: 0 0 25px !important;
    position: relative !important;
    text-transform: uppercase !important;
    font: 600 14px "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    -webkit-transition: all .4s ease !important;
    transition: all .4s ease !important;
}
#relevant-reports-caption:after{
background: #22b0ca;
}
.purchase-btn:hover { color: #8f8f8f }
</style>



 <%= render "shared/search_form"%>


    <div class="page-banner small">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="breadcrumbs list-inline">
              <li><a href="http://www.marketresearchfuture.com/">Home</a></li>
              <li><a href="http://www.marketresearchfuture.com/reports">All Reports</a></li>
              <li class="active"><a href="#"><%=  truncate( raw( sanitize(@report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 25, :omission => "...") %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="stretch"> </div>
    </div>

<div class="container">
          <div class="col-xs-12 col-sm-4" >

  <section class="archi-columns">
       
      <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div style="padding-top:20px;float:left">
            
                <a href="javascript:void(0)" class="btn btn-deafult btn-sm report-actions" role="button" id="sample_report" style=" margin-bottom: 20px;"><i class="fa fa-file-text-o"></i>Sample</a>&nbsp;&nbsp;
           
                <a href="javascript:void(0)" class="btn btn-deafult btn-sm report-actions" role="button" id="any_question" style=" margin-bottom: 20px;"><i class="fa fa-question"></i>Questions</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" class="btn btn-deafult btn-sm report-actions" role="button" id="check_discount"><i class="fa fa-money"></i>Discount</a>

                <a href="/order_form.pdf?report_id=<%=@report.id%>" target="_blank" class="btn btn-deafult btn-sm report-actions"  style=" margin-bottom: 20px;"><i class="fa fa-file-text-o"></i>Order</a>&nbsp;&nbsp;
           
                <a href="/report_info.pdf?report_id=<%=@report.id%>" target="_blank" class="btn btn-deafult btn-sm report-actions"  style=" margin-bottom: 20px;"><i class="fa fa-money"></i>Info</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" class="btn btn-deafult btn-sm report-actions email_report"  data-toggle="modal" ><i class="fa fa-envelope"></i>Refer</a>

     <!--            <a href="javascript:void(0)" class="btn btn-deafult btn-sm report-actions" role="button" id="check_discount" style=" margin-bottom: 20px;"><i class="fa fa-money"></i>Order</a>
                <a href="javascript:void(0)" class="btn btn-deafult btn-sm report-actions" role="button" id="check_discount" style=" margin-bottom: 20px;"><i class="fa fa-money"></i>Info</a>
                <a href="javascript:void(0)" class="btn btn-deafult btn-sm report-actions" role="button" id="check_discount" style=" margin-bottom: 20px;"><i class="fa fa-money"></i>Refer</a> -->
                 </div>

              </div>


  
</div>
</section>



  <section class="archi-columns">
       
      <div class="row">
        <div class="col-xs-12 col-sm-12" style="padding-top: 30px;">
          <div data-delay="300" data-animate="fadeInUp" class="coll fadeInUp animated">
          <div class="block">
          <h2>Purchase this Market Research Report</h2>  
          <%= form_for "currency", :url => shopping_cart_path(:report_id => @report.id), :method => 'post' , :html => {:class=>"form-horizontal",:id=>"update_currency"} do |f| %>
          <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab1">USD <i class="fa fa-usd"></i></a>
          </li>
          <li><a data-toggle="tab" href="#tab2">GBP <i class="fa fa-gbp"></i></a></li>
          <li><a data-toggle="tab" href="#tab3">Euro <i class="fa fa-eur"></i></a></li>
          <li><a data-toggle="tab" href="#tab4">Yen <i class="fa fa-jpy"></i></a></li>
          <li><a data-toggle="tab" href="#tab5">INR <i class="fa fa-inr"></i></a></li>
          </ul>
          <div class="tab-content">
          <div id="tab1" class="tab-pane fade in active">
          <p>  
             <%if @report.one_user.present? && !@report.one_user.zero? %>
                <%= radio_button_tag 'currency', "one_user-USD",:checked=>"true" %>
                1-user PDF
                <span style="float:right"> 
                  <%= number_to_currency @report.one_user%>
                </span>
                <br/>
              <%end%>
              <%if @report.five_user.present? && !@report.five_user.zero?%>
                <%= radio_button_tag 'currency', "five_user-USD"%>
                1-5 User PDF 
                <span style="float:right"> 
                  <%= number_to_currency @report.five_user%>
                </span>
                <br/>
              <%end%>
              <%if @report.site_user.present? && !@report.site_user.zero? %>
                <%= radio_button_tag 'currency', "site_user-USD"%> 
                Site PDF 
                <span style="float:right;"> 
                  <%= number_to_currency @report.site_user%>
                </span>
                <br/>
              <%end%>
              <%if @report.enterprise_user.present? && !@report.enterprise_user.zero?%>
                <%= radio_button_tag 'currency', "enterprise_user-USD" %> 
                Enterprise PDF 
                <span style="float:right"> 
                  <%= number_to_currency @report.enterprise_user%>
                </span>
              <%end%>
          </p>
          </div>
          <div id="tab2" class="tab-pane fade">
          <p>  
          <%= render 'currency_info', :currency => 'GBP', :rates => @rates %> 
          </p>
          </div>
          <div id="tab3" class="tab-pane fade">
          <p>   
           <%= render 'currency_info', :currency => 'EUR', :rates => @rates %> 
          </p>
          </div>
          <div id="tab4" class="tab-pane fade">
          <p>   
           <%= render 'currency_info', :currency => 'jpy', :rates => @rates %> 
          </p>
          </div>
          <div id="tab5" class="tab-pane fade">
          <p>   
            <%= render 'currency_info', :currency => 'INR', :rates => @rates %> 
          </p>
          </div>

          <div class="btn-center-align"><%= hidden_field_tag "report_id", nil, :value=> @report.id%>

           <a href="javascript:void(0)" class="btn btn-primary purchase-buttons" style="margin-top: 20px;" id="add_to_cart"><i class="fa fa-shopping-cart"></i>Add To Cart</a>





          </div>       


           <div class="btn-center-align">
                          <button type="submit" id="send" class="btn btn-primary purchase-buttons"><i class="fa fa-money"></i>BUY NOW</button>
                            </div>     
          </div>
          <%end%>
        
          </div>

    
        </div>

  </div>
</div>
</section>




  <section class="archi-columns">
       
      <div class="row">
        <div class="col-xs-12 col-sm-12">
     <div id="related-reports">
        <h2 class="heading lime text-capitalize font-medium related-reports-caption">Related Reports</h2>
        <div class="col-xs-12">
       <%@related_report.take(3).each do |report|%> 
      <a href="/reports/<%= report.slug%>" class="list-group-item">
      <p class="list-group-item-text"><%= image_tag Report.category_name_image_hash[report.category_id][:icon], :style=>"float:left;margin-right:16px;width:60px"  %> <%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 90, :omission => "...") %></p>
      </a>
       <%end%>
       </div>
      </div>

        </div>
      </div>
      </section>  


        <section class="archi-columns">
       
      <div class="row">
        <div class="col-xs-12 col-sm-12" >  
  <div id="related-reports" style="margin-top: 20px;">
                                      <h2 class="heading lime text-capitalize font-medium margin-bottom-30 related-reports-caption">Related Categories</h2>
                                      <div class="col-xs-12">
                                      <% @report.report_type.related_categories.take(3).each do |cat| %>
                      <a href="#" class="list-group-item" style="height: 65px;">
                        <p class="list-group-item-text">
                        <div class="col-sm-3" >  
                        <img src="<%= cat.category_icon.url %>" width="117" height="80">
                        </div><div class="col-sm-9" style="margin-top: 10px;"> <%= cat.name %></div>
 

                        </p>
                      </a>
                      <%end%>
                                     </div>
                                 </div>
                                    </div>
      </div>
      </section>  

             <section class="archi-columns">
       
      <div class="row">
        <div class="col-xs-12 col-sm-12">  
        <div >
                                      <h2 class="heading lime text-capitalize font-medium margin-bottom-30 related-reports-caption">Infographics</h2>
                                      <div class="col-xs-12">
                <a href="#" class="list-group-item">
          <p class="list-group-item-text"><img src="/assets/8.png" ></p>
                      </a>
                                     </div>
                                 </div>
    
                                        </div>
      </div>
      </section>  

          </div>
          <div class="col-xs-12 col-sm-7">
            <div class="col-xs-12">
              <p>
                <h1 class="report_title_h1" style="font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial;font-size: 13.5pt;line-height: 18pt;font-weight: bold;color: #4f4f4f;"> <%=@report.title %></h1>
              
               <ul id="productDetails" class=" list-inline" style="font-size: 10.5pt;color: #666;margin-left:0">
                  <li>ID: MRFR/<%=@report.category.abbreviation%>/<%=sprintf("%04d", @report.code)%>-<%=@report.report_type.abbreviation%></li>
                  <li><%unless @report.upcoming?%><%= @report.publish_month.to_date.strftime("%B, %Y") rescue nil%> <%end%></li>
                  <li>Region: <%= @report.country_id.present? ? @report.country_id : "Global"%></li>
                  <li><%=@report.no_of_pages %> pages</li>
                  <li ><%=@report.report_type.name%></li>
                </ul>
              </p>
            </div>

                 <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54e1eb361a9365f3" async="async">
                </script>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div style="margin-left: 15px;padding-bottom: 40px;">
                  <!-- Go to www.addthis.com/dashboard to customize your tools -->
                  <div class="addthis_sharing_toolbox">
                  </div>
                </div>

                         <!-- mytab -->
          <ul class="nav nav-tabs boot-tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
            <li><a data-toggle="tab" href="#content">Table of Content</a></li>
            <li><a data-toggle="tab" href="#sample-report">Sample Report</a></li>
            <li><a data-toggle="tab" href="#enquiry">Enquiry before buy</a></li>
            <li><a data-toggle="tab" href="#related">Related Reports</a></li>
          </ul>
          <!-- mytab content -->
          <div class="tab-content margin-bottom-30" id="myTabContent">
            <div id="description" class="tab-pane fade in active">
            <p><%= simple_format(@report.description, {}, :sanitize => false) %></p>
            </div>
            <div id="content" class="tab-pane fade">
             <p><%= simple_format(convert_toc(@report.table_of_content).join) %></p>
            </div>
            <div id="sample-report" class="tab-pane fade">
             <%= render :partial => 'sample_request', :locals => { :report => @report }%>                        
            </div>
            <div id="enquiry" class="tab-pane fade">
                 <%= render :partial => 'enquiry', :locals => { :report => @report }%>
            </div>
            <div id="related" class="tab-pane fade">
              <ul class="nav vertical-nav">
                  <%@related_report.each do |report|%>
                    <li style="padding: 0px 12px 0px 12px;">
                      <a href="/reports/<%= report.slug%>" ><i class="fa fa-angle-double-right"></i> <b><%= report.title%></b></a>
                      <p>
                      <%= truncate( raw( sanitize(report.description, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %>
                      </p>
                    </li>
                  <%end%>
                </ul>
            </div>
          </div>
           <h2 class="heading lime text-capitalize font-medium margin-bottom-30" id='relevant-reports-caption'>Reports You Might be Interested In</h2>
                                   <div >
                                      <div class="col-xs-12">
                                     
                                      <%@report.relevant_reports.each do |report|%>
                                          <a href="/reports/<%= report.slug%>" class="list-group-item" style="height: 80px;">
                                            <p class="list-group-item-text"> <%= image_tag Report.category_name_image_hash[report.category_id][:icon], :style=>"float:left;margin-right:16px;width:60px"  %><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %></p>
                                          </a>
                                        <%end%>
                                            </div>
                                            
                      
                    </div>
          </div>
          <br/> <br/>

      
 



<main id="main" role="main">
    

          <div class="clients-section padding-bottom-20 padding-top-20">
        <div class="container">
          <div class="row padding-bottom-30">
            <header class="page-heading">
              <h2 class="heading lime text-capitalize font-medium margin-bottom-30">Connect With Us</h2>
            </header>
            <div class="col-sm-12">
               <p style="text-align:center;"><b>Email Us at :</b> salesteam@marketresearchfuture.com | <b>Reach Us at : </b>+1 (646) 845 9349 (US), +44 208 133 9349 (UK)</p></div>
          </div>
        </div>
      </div> 


<!-- <div id="email_report_popup" class="modal fade" data-backdrop="static" data-keyboard="false" style="z-index: 10000">
 --><div class="modal fade" id="email_report_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10000">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                  ×
              </button>
              <h4>Tell a friend about this report </h4>
          </div>
         <div class="modal-body">
          <%= form_tag "email_report",onsubmit: "emailReport(); return(false)", :class=> "form-horizontal form-address", :id=>"email_report_form" do  %>
                
                  <div class="form-group">
                      <label for="first-name1" class="col-sm-3 control-label">Your Name:<span>*</span></label>
                      <div class="col-sm-9">
                     <%= text_field_tag :name , nil, :class=>"form-control"%>                   
                      </div>
                       
                  </div>
                   <div class="form-group">
                      <label for="first-name1" class="col-sm-3 control-label">Your Email:<span>*</span></label>
                      <div class="col-sm-9">
                     <%=text_field_tag :email , nil, :class=>"form-control"%>                   
                      </div>
                       
                  </div>
                  <div class="form-group">
                      <label for="first-name1" class="col-sm-3 control-label">Friend's Name:<span>*</span></label>
                      <div class="col-sm-9">
                     <%= text_field_tag :friend_name , nil, :class=>"form-control"%>                   
                      </div>
                       
                  </div>
                  <div class="form-group">
                      <label for="last-name2" class="col-sm-3 control-label">Friend's Email:<span>*</span></label>
                      <div class="col-sm-9">
                         <%= text_field_tag :friend_email , nil, :class=>"form-control" %>  
                      </div>
                  </div>
                  
            
                    <div class="form-group">
                      <label for="email2" class="col-sm-3 control-label">Your Enquiry<span>*</span></label>
                      <div class="col-sm-9">
                         <%= text_area_tag :message , nil, :class=>"form-control" ,:style=>"height:100px"%> 
                       
                              <%= hidden_field_tag :report_id ,nil, :value=>  @report.id, :class=>"form-control"%>
                               
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="email2" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <button type="submit" id="send_email_report" class="btn btn-primary"><i class="fa fa-check"></i>Send</button> 
                        </div>
                    </div>
                 
                  <%end%>
                </div>
            </div>
          </div>
        </div>
        </div>

<script type="text/javascript">
$(document).ready(function(){
   $("img").addClass("img-responsive");
   $(".cart_icon").removeClass("img-responsive");
   $("table").addClass("table");
   $("#tab10").find('br + br').remove();
   $("#tab10").find("ul br").remove()

});
  $('.fancybox').fancybox({

    'transitionIn'  : 'elastic',
    'transitionOut' : 'elastic',
    'speedIn'   : 600, 
    'speedOut'    : 200

  });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $(e.target.hash).find("input").first().attr('checked','checked').prop('checked','checked');
      });
    $("#sample_report").click(function() {
       window.open('/sample_request/<%=@report.slug%>', "mywindow","width=800,height=600,scrollbars=1");
   
    });
    $("#check_discount").click(function() {
       window.open('/check_discount/<%=@report.slug%>', "mywindow","width=800,height=600,scrollbars=1");
   
    });



      $("#any_question").click(function() {
       window.open('/enquiry/<%=@report.slug%>', "mywindow","width=800,height=600,scrollbars=1");
   
    });  

    $(".email_report").click(function() {
        $("#email_report_popup").modal();
      
    });


    $("#add_to_cart").click(function() {
       $('#add_to_cart').html("<i style='float: left;' class='fa fa-spinner fa-spin'></i> Adding...");
       $('#add_to_cart').attr('disabled','disabled');
       
       $.ajax( {
       type: "POST",
       url: '/add_to_cart',
       data: $("#update_currency").serializeArray(),
       success: function( response ) {      
         $('#shopping_cart_id').load('<%= load_add_to_cart_path%>');
         $('#add_to_cart').html("Add to Cart");
         $('#add_to_cart').removeAttr('disabled');
        },
         error: function(response){
      
        }
      });

    });



    function emailReport() {
      if ($("#email_report_form").valid()) {
         $('#send_email_report').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
         $('#send_email_report').attr('disabled','disabled');
         $('.close').hide();
         $.ajax({
          url: "/email_report",
          type: "POST",
          data:{
            "email_report[name]" : $("#name").val(),
            "email_report[email]" :$("#email").val(),
            "email_report[friend_name]" :$("#friend_name").val(),
            "email_report[friend_email]" :$("#friend_email").val(),
            "email_report[message]" :$("#message").val(),
            "email_report[report_id]" :$("#report_id").val()
          }
        }).success(function(data){
            $("#email_report_popup").modal('hide');
            $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
            $("html, body").animate({ scrollTop: 0 }, "fast");
            $('#send_email_report').html("Send");
            $('#send_email_report').removeAttr('disabled');
            $('.close').show();
            $(".flash-messages").fadeOut(10000);
        });
      }

    };

                    </script>




