
<%
meta title: "Report- #{@report.title}",
description: "Get Advanced #{@report.title} – The research report highlights market research and industry analysis driven by in-depth business relevant news."
%>
 <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async defer></script>
    <script type="text/javascript">
 
      var recaptcha2;
      var recaptcha3;
  
      var myCallBack = function() {
        //Render the recaptcha1 on the element with ID "recaptcha1"
        // recaptcha1 = grecaptcha.render('recaptcha1', {
        //   'sitekey' : '6LdIVv0SAAAAAPOoBo7TkBniPGgYDiJSoDQ7aLiP', //Replace this with your Site key
        //   'theme' : 'light'
        // });
        
        //Render the recaptcha2 on the element with ID "recaptcha2"
        recaptcha2 = grecaptcha.render('recaptcha2', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8',
          'callback' : verifyCallback2,
          'theme' : 'light'
        });
        recaptcha3 = grecaptcha.render('recaptcha3', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8',
          'callback' : verifyCallback3,
          'theme' : 'light'
        });
      
      };
       var verifyCallback2 = function(response) {
        $("#hiddenRecaptcha2").val(response);
      };
      var verifyCallback3 = function(response) {
        $("#hiddenRecaptcha3").val(response);
      };

</script>

<div class="inner_container">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/reports">All Reports</a></li>
    <li class="current"><a href="#"><%= truncate( raw( sanitize(@report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 25, :omission => "...") %></a></li>
  </ul>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2 class="heading">Report</h2>
    </div>
    



    
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 hidden-md hidden-lg" >

      <h4><%= image_tag Report.category_name_image_hash[@report.category_id][:icon],:class => "running_img"  %>
        <% if (@report.report_type.name == "Half-Cooked Research Reports" || @report.report_type.name == "Raw Research Reports") %>
          <i class="fa fa-lock" aria-hidden="true" style="font-size: 18px;"></i>
        <% else%>
          <i class="fa fa-unlock" aria-hidden="true" style="font-size: 18px;"></i>
        <% end %>
        <strong><%=@report.title %></strong>
      </h4>
      <ul class="reporttag">
        <li>ID: MRFR/<%=@report.category.abbreviation%>/<%=sprintf("%04d", @report.code)%>-<%=@report.report_type.abbreviation%></li>|
        <li> <%unless @report.upcoming?%><%= @report.publish_month.to_date.strftime("%B, %Y") rescue nil%> <%end%></li>|
        <li> Region: <%= @report.country_id.present? ? @report.country_id : "Global"%></li>|
        <li><%=@report.no_of_pages %> pages</li>|
        <li><%=@report.report_type.name%></li>
      </ul>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-tabs-responsive" role="tablist">
        <li role="presentation" class="active"><a href="#oneone" aria-controls="one" role="tab" data-toggle="tab">Description</a></li>
        <li role="presentation" class="next"><a href="#twotwo" aria-controls="two" role="tab" data-toggle="tab"><% tabname = (@report.report_type.name == "Half-Cooked Research Reports" || @report.report_type.name == "Raw Research Reports") ? "Request For TOC" : "Table of Content"%> <%= tabname %></a></li>
        <li role="presentation" ><a href="#threethree" aria-controls="three" role="tab" data-toggle="tab">Sample Report</a></li>
        <li role="presentation"><a href="#fourfour" aria-controls="four" role="tab" data-toggle="tab">Enquiry before buy</a></li>
        <li role="presentation"><a href="#fivefive" aria-controls="five" role="tab" data-toggle="tab">Related Reports</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="oneone"> 
          <div class="row">
            <div class="col-md-8">
              <%= simple_format(@report.description, {}, :sanitize => false) %> 
            </div>
            <div class="col-md-4">
              <div class="well pull-right">
                <a href="#" class="printer_friendly"><i class="fa fa-print" aria-hidden="true"></i> Printer Friendly</a><br />
                <a href="/report_info.pdf?report_id=<%=@report.id%>" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Printable PDF Brochure</a><br />
                <a href="#" class="send_friend_report"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send To A Friend</a><br />       
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="twotwo">
        <% if (@report.report_type.name == "Half-Cooked Research Reports") %>
          <%= render :partial => 'request_toc_mobile', :locals => { :report => @report }%>
        <% else %>
          <p><%= simple_format(convert_toc(@report.table_of_content).join) %>
          </p>
        <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="threethree">
        <%= render :partial => 'sample_request_mobile', :locals => { :report => @report }%>
        </div>
        <div role="tabpanel" class="tab-pane" id="fourfour">
          <%= render :partial => 'enquiry_mobile', :locals => { :report => @report }%> 
        </div>
        <div role="tabpanel" class="tab-pane" id="fivefive">
          <div class="RelatedReports">
            <ul>
            <%@related_report.take(5).each do |report|%>
              <li> 
                <a href="/reports/<%= report.slug%>" ><%= report.title%></a> <br> 
                <%= truncate( raw( sanitize(report.description, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      
      
  
      
    </div>





























    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    
    <div class="cartbox visible-lg visible-md">
      <div class="socialbox arc"> 
       <% if (@report.report_type.name == "Half-Cooked Research Reports") %>
       <a href="javascript:void(0)" class="btn btn-primary btn-lg report-actions"  id="request_toc"><i class="fa fa-file-text-o"></i> Request Toc</a> 
       <%end%>
      <a href="javascript:void(0)" class="btn btn-primary btn-sm report-actions"  id="sample_report"><i class="fa fa-file-text-o"></i> Sample</a> 
      <a href="javascript:void(0)" class="btn btn-primary btn-sm report-actions" id="any_question"><i class="fa fa-question"></i> Question</a> 
      <a href="javascript:void(0)" class="btn btn-primary btn-sm report-actions" id="check_discount"><i class="fa fa-tags" aria-hidden="true"></i> Discount</a>
      <a href="/order_form.pdf?report_id=<%=@report.id%>" target="_blank" class="btn btn-primary btn-sm report-actions"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Order</a>
      <a href="/report_info.pdf?report_id=<%=@report.id%>" target="_blank" class="btn btn-primary btn-sm report-actions"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</a>
      <a href="javascript:void(0)" class="btn btn-primary btn-sm report-actions email_report" data-toggle="modal"><i class="fa fa-share" aria-hidden="true"></i> Refer</a>
      </div>
     
      </div>
      
      
    <div class="currency" id="basket">
    	<h3 class="newheading">Purchase this Market Research Report <span></span></h3>
      <%= form_for "currency", :url => shopping_cart_path(:report_id => @report.id), :method => 'post' , :html => {:class=>"form-horizontal",:id=>"update_currency"} do |f| %>
        <ul class="nav nav-tabs nav-tabs-responsive" role="tablist">
        <li role="presentation" class="active"><a href="#usd" aria-controls="one" role="tab" data-toggle="tab"><i class="fa fa-usd"></i> USD</a></li>
        <li role="presentation" class="next"><a href="#gbp" aria-controls="two" role="tab" data-toggle="tab"><i class="fa fa-gbp"></i> GBP</a></li>
        <li role="presentation" ><a href="#euro" aria-controls="three" role="tab" data-toggle="tab"><i class="fa fa-eur"></i> EURO</a></li>
        <li role="presentation"><a href="#yen" aria-controls="four" role="tab" data-toggle="tab"><i class="fa fa-jpy"></i> YEN</a></li>
        <li role="presentation"><a href="#inr" aria-controls="five" role="tab" data-toggle="tab"><i class="fa fa-inr"></i> INR</a></li>
      </ul>
      
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="usd">
               <div id="selectFormat">
                <ul id="formatOptions" >
                        <%if @report.one_user.present? && !@report.one_user.zero? %>
                        <li class="edition_li current">
                            <div class="inside">

                                <label>
                                    SINGLE USER Electronic (PDF)

                                </label>
                                <div data-toggle="tooltip" data-placement="top" title="The report will be emailed to you.  The report is sent in PDF format.  This is a single user license, allowing one specific user access to the product." class="icon iconTooltip" ></div>
                                <div class="priceFormats">
                                    
                                    <%= radio_button_tag 'currency', "one_user-USD",true ,:class=>"radio" %>

                                    <label class="price"><span class="dynPrice"><i class="fa fa-usd"></i> <%= @report.one_user%></span></label>
                                </div>


                            </div>
                 

                           
                        </li>
                        <%end%>
                        <%if @report.five_user.present? && !@report.five_user.zero?%>
                        <li class="edition_li">
                            <div class="inside">

                                <label>
                                    1 - 5 USERS Electronic (PDF)

                                </label>
                                <div data-toggle="tooltip" data-placement="top" title="The report will be emailed to you.  The report is sent in PDF format.  This is a 1-5 user licence, allowing up to five users have access to the product." class="icon iconTooltip" ></div>
                                <div class="priceFormats">
                                    <%= radio_button_tag 'currency', "five_user-USD",nil,:class=>"radio" %>

                                    <label class="price"><span class="dynPrice"><i class="fa fa-usd"></i> <%= @report.five_user%></span></label>
                                </div>


                            </div>
                           

                  
                        </li>
                        <%end%>
                        <%if @report.site_user.present? && !@report.site_user.zero? %>
                        <li class="edition_li">
                            <div data-toggle="tooltip" data-placement="top" title="The report will be emailed to you.  The report is sent in PDF format.  This is a site license, allowing all users within a given geographical location of your organisation access to the product." class="inside">

                                <label >
                                    SITE LICENSE Electronic (PDF)

                                </label>
                                <div class="icon iconTooltip" ></div>
                                <div class="priceFormats">
                                    <%= radio_button_tag 'currency', "site_user-USD",nil,:class=>"radio" %>

                                    <label class="price"><span class="dynPrice"><i class="fa fa-usd"></i> <%= @report.site_user%></span></label>
                                </div>


                            </div>
                       

                   
                        </li>
                        <%end%>
                        <%if @report.enterprise_user.present? && !@report.enterprise_user.zero?%>
                        <li class="edition_li">
                            <div class="inside">

                                <label >
                                    ENTERPRISEWIDE Electronic (PDF)

                                </label>
                                <div data-toggle="tooltip" data-placement="top" title="The report will be emailed to you.  The report is sent in PDF format.  This is an enterprise license, allowing all employees within your organisation access to the product." class="icon iconTooltip" ></div>
                                <div class="priceFormats">
                                    <%= radio_button_tag 'currency', "enterprise_user-USD",nil,:class=>"radio"  %>

                                    <label class="price"><span class="dynPrice"><i class="fa fa-usd"></i> <%= @report.enterprise_user%></span></label>
                                </div>


                            </div>
                           

                          
                        </li>
                        <%end%>
                </ul>

                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="gbp">
          <div id="selectFormat">
            <ul id="formatOptions" >

              <%= render 'currency_info', :currency => 'GBP', :rates => @rates %> 
            </ul>
          </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="euro">
          <div id="selectFormat">
            <ul id="formatOptions" >
              <%= render 'currency_info', :currency => 'EUR', :rates => @rates %> 
            </ul>
          </div>
        
        </div>
        <div role="tabpanel" class="tab-pane" id="yen">
           <div id="selectFormat">
            <ul id="formatOptions" >
              <%= render 'currency_info', :currency => 'jpy', :rates => @rates %> 
            </ul>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="inr">
          <div id="selectFormat">
            <ul id="formatOptions" >

              <%= render 'currency_info', :currency => 'INR', :rates => @rates %> 
            </ul>
          </div>
        </div>
      </div>

     
       <div class="row"><%= hidden_field_tag "report_id", nil, :value=> @report.id%>
      
        <div style="text-align: center;">
           <a href="javascript:void(0)" class="btn btn-primary purchase-buttons" style="margin-top: 20px;" id="add_to_cart"><i class="fa fa-shopping-cart"></i> Add To Cart</a>

            <button type="submit" id="send" class="btn btn-primary purchase-buttons" style="margin-top: 20px;"><i class="fa fa-money"></i> BUY NOW</button>
        </div>
      
        </div>
        <%end%>
<!--         <img src="/assets/godaddyseal.gif" alt="Logo" class="img-responsive" style="padding-top:20px">    
        <img src="/assets/cc.jpg" alt="Logo" class="img-responsive" style="padding: 15px 15px 0px 20px;"> -->
    </div>
      
       <div class="cartbox hidden-md hidden-lg">
            <div class="socialbox arc"> 
            <a href="javascript:void(0)" class="btn btn-primary btn-sm report-actions"  id="sample_report"><i class="fa fa-file-text-o"></i> Sample</a> 
            <a href="javascript:void(0)" class="btn btn-primary btn-sm report-actions" id="any_question"><i class="fa fa-question"></i> Question</a> 
            <a href="javascript:void(0)" class="btn btn-primary btn-sm report-actions" id="check_discount"><i class="fa fa-tags" aria-hidden="true"></i></i> Discount</a>
            <a href="/order_form.pdf?report_id=<%=@report.id%>" target="_blank" class="btn btn-primary btn-sm report-actions"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Order</a>
            <a href="/report_info.pdf?report_id=<%=@report.id%>" target="_blank" class="btn btn-primary btn-sm report-actions"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm report-actions email_report" data-toggle="modal"><i class="fa fa-share" aria-hidden="true"></i> Refer</a>
            </div>
     
      </div>    


       <div class="hidden-md hidden-lg">
         <h3 class="newheading">Report you might be intrested<span></span></h3>
            <div class="related_report">
            <ul>
             <%@report.relevant_reports.each do |report|%>
              <li>
              <a href="/reports/<%= report.slug%>">
              <%= image_tag Report.category_name_image_hash[report.category_id][:icon], :style=>"float:left;margin-right:16px;width:60px"  %><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %></a>
              </li>
             <%end%>
            </ul>
            </div>
     
      </div> 








    <h3 class="newheading">Related TAGS<span></span></h3>
      <div class="related_report">
        <ul style="padding: 15px;">
          <% @tags.each do |tag| %>
            <span class="tags"> 
              <%= link_to tag, "javascript:void(0);",:style=>"  margin-bottom: 10px;",:onclick => "searchTags(this);" %>
            </span>  
          <% end %>
          </ul>
      </div>
            






      <h3 class="newheading">Related Report<span></span></h3>
      <div class="related_report">
      <ul>
      <%@related_report.take(4).each do |report|%> 
      	<li>
        	<a href="/reports/<%= report.slug%>"><%= image_tag Report.category_name_image_hash[report.category_id][:icon], :style=>"float:left;margin-right:16px;width:60px"  %><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 90, :omission => "...") %></a>

        </li>
      <% end %>
      </ul>
      </div>
      
            <h3 class="newheading">Related Categories<span></span></h3>
      <div class="related_report cat">
      <ul>
      <% @report.report_type.related_categories.take(3).each do |category| %>
      	<li>
        	<a href="/categories/<%= category.slug%>"><%= image_tag category.category_icon.url, :width=>"60", :height=>"40"  %><%= category.name %></a>

        </li>
      <% end %>
      </ul>
      </div>
      
      
    <!--   <h3 class="newheading">Advertisment<span></span></h3> -->
    <!--   <div class="related_report text-center">
     
      <img src="/assets/ad.jpg" alt="" style="width:100%">
    
      </div> -->
      
      
      
     
    </div>
    
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 visible-lg visible-md" >

      <h4><%= image_tag Report.category_name_image_hash[@report.category_id][:icon],:class => "running_img"  %>
        <% if (@report.report_type.name == "Half-Cooked Research Reports" || @report.report_type.name == "Raw Research Reports") %>
          <i class="fa fa-lock" aria-hidden="true" style="font-size: 18px;"></i>
        <% else%>
          <i class="fa fa-unlock" aria-hidden="true" style="font-size: 18px;"></i>
        <% end %>
        <%=@report.title %>
</h4>
      <ul class="reporttag">
        <li>ID: MRFR/<%=@report.category.abbreviation%>/<%=sprintf("%04d", @report.code)%>-<%=@report.report_type.abbreviation%></li>|
        <li> <%unless @report.upcoming?%><%= @report.publish_month.to_date.strftime("%B, %Y") rescue nil%> <%end%></li>|
        <li> Region: <%= @report.country_id.present? ? @report.country_id : "Global"%></li>|
        <li><%=@report.no_of_pages %> pages</li>|
        <li><%=@report.report_type.name%></li>
      </ul>
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-tabs-responsive" role="tablist">
        <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">Description</a></li>
        <li role="presentation" class="next"><a href="#two" aria-controls="two" role="tab" data-toggle="tab"><% tabname = (@report.report_type.name == "Half-Cooked Research Reports" || @report.report_type.name == "Raw Research Reports") ? "Request For TOC" : "Table of Content"%> <%= tabname %></a></li>
        <li role="presentation" ><a href="#three" aria-controls="three" role="tab" data-toggle="tab">Sample Report</a></li>
        <li role="presentation"><a href="#four" aria-controls="four" role="tab" data-toggle="tab">Enquiry before buy</a></li>
        <li role="presentation"><a href="#five" aria-controls="five" role="tab" data-toggle="tab">Related Reports</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="one"> 
          <div class="row">
            <div class="col-md-8">
              <%= simple_format(@report.description, {}, :sanitize => false) %> 
            </div>
            <div class="col-md-4">
              <div class="well pull-right">
                <a href="#" class="printer_friendly"><i class="fa fa-print" aria-hidden="true"></i> Printer Friendly</a><br />
                <a href="/report_info.pdf?report_id=<%=@report.id%>" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Printable PDF Brochure</a><br />
                <a href="#" class="send_friend_report"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send To A Friend</a><br />       
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="two">
        <% if (@report.report_type.name == "Half-Cooked Research Reports" || @report.report_type.name == "Raw Research Reports") %>
          <%= render :partial => 'request_toc', :locals => { :report => @report }%>
        <% else %>
          <p><%= simple_format(convert_toc(@report.table_of_content).join) %>
          </p>
        <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="three">
        <%= render :partial => 'sample_request', :locals => { :report => @report }%>
        </div>
        <div role="tabpanel" class="tab-pane" id="four">
          <%= render :partial => 'enquiry', :locals => { :report => @report }%> 
        </div>
        <div role="tabpanel" class="tab-pane" id="five">
          <div class="RelatedReports">
            <ul>
            <%@related_report.take(5).each do |report|%>
              <li> 
                <a href="/reports/<%= report.slug%>" ><%= report.title%></a> <br> 
                <%= truncate( raw( sanitize(report.description, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      
      
      <h3 class="newheading">Report you might be intrested<span></span></h3>
        <div class="related_report">
        <ul>
         <%@report.relevant_reports.each do |report|%>
        	<li>
          <a href="/reports/<%= report.slug%>">
          <%= image_tag Report.category_name_image_hash[report.category_id][:icon], :style=>"float:left;margin-right:16px;width:60px"  %><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %></a>
          </li>
         <%end%>
        </ul>
        </div>
      
    </div>




    
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
     	<h3 class="newheading text-center contact">Contact Us<span></span></h3>
        
        <STRONG>Email Us at:</STRONG> salesteam@marketresearchfuture.com | <STRONG>Reach Us at:</STRONG> + (646) 845 9349 (US), +44 208 133 9349 (uk)
     </div>
    
    
  </div>
</div>
<div class="modal fade" id="email_report_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10000">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                  ×
              </button>
              <h4>Tell a friend about this report </h4>
          </div>
         <div class="modal-body">
          <%= form_tag "email_report",onsubmit: "emailReport(); return(false)", :class=> "form-horizontal form-address", :id=>"email_report_form" do  %>
                
                  <div class="form-group">
                      <label for="first-name1" class="col-sm-3 control-label">Your Name:<span>*</span></label>
                      <div class="col-sm-9">
                     <%= text_field_tag :name , nil, :class=>"form-control"%>                   
                      </div>
                       
                  </div>
                   <div class="form-group">
                      <label for="first-name1" class="col-sm-3 control-label">Your Email:<span>*</span></label>
                      <div class="col-sm-9">
                     <%=text_field_tag :email , nil, :class=>"form-control"%>                   
                      </div>
                       
                  </div>
                  <div class="form-group">
                      <label for="first-name1" class="col-sm-3 control-label">Friend's Name:<span>*</span></label>
                      <div class="col-sm-9">
                     <%= text_field_tag :friend_name , nil, :class=>"form-control"%>                   
                      </div>
                       
                  </div>
                  <div class="form-group">
                      <label for="last-name2" class="col-sm-3 control-label">Friend's Email:<span>*</span></label>
                      <div class="col-sm-9">
                         <%= text_field_tag :friend_email , nil, :class=>"form-control" %>  
                      </div>
                  </div>
                  
            
                    <div class="form-group">
                      <label for="email2" class="col-sm-3 control-label">Your Enquiry<span>*</span></label>
                      <div class="col-sm-9">
                         <%= text_area_tag :message , nil, :class=>"form-control" ,:style=>"height:100px"%> 
                       
                              <%= hidden_field_tag :report_id ,nil, :value=>  @report.id, :class=>"form-control"%>
                               
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="email2" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <button type="submit" id="send_email_report" class="btn btn-primary"><i class="fa fa-check"></i>Send</button> 
                        </div>
                    </div>
                 
                  <%end%>
                </div>
            </div>
          </div>
        </div>
        </div>



        <div class="modal fade" id="send_friend_report_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10000">
          
  <div class="modal-dialog">

      <div class="modal-content">
        <div class="well">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                  ×
              </button>
              <h2><b>SEND TO A FRIEND</b></h2>
          </div>
         <div class="modal-body">
          <%= form_tag "email_report",onsubmit: "friendemailReport(); return(false)", :class=> "form-horizontal form-address", :id=>"send_email_report_form" do  %>
                <label style="color: #337ab7;">FRIEND'S DETAILS</label>
                <br />
                <div class="form-group">
                      <label for="first-name1" class="col-sm-4 control-label" style="text-align:left;">Full Name:<span>*</span></label>
                      <div class="col-sm-8">
                     <%= text_field_tag :send_friend_name , nil, :class=>"form-control",:id => "send_friend_name"%>                   
                      </div>
                       
                  </div>
                  <div class="form-group">
                      <label for="last-name2" class="col-sm-4 control-label" style="text-align:left;">Email Address:<span>*</span></label>
                      <div class="col-sm-8">
                         <%= text_field_tag :send_friend_email , nil, :class=>"form-control",:id => "send_friend_email" %>  
                      </div>
                  </div>
                  
            
                    <div class="form-group">
                      <label for="email2" class="col-sm-4 control-label" style="text-align:left;">Message to friend<span>*</span></label>
                      <div class="col-sm-8">
                         <%= text_area_tag :send_message , nil, :class=>"form-control" ,:style=>"height:100px",:id=> "send_message"%> 
                       
                              <%= hidden_field_tag :report_id ,nil, :value=>  @report.id, :class=>"form-control",:id => "send_report_id"%>
                               
                      </div>
                    </div>
                    <hr>
                    <label style="color: #337ab7;">YOUR CONTACT DETAILS</label>
                    <br />
                  <div class="form-group">
                      <label for="first-name1" class="col-sm-4 control-label" style="text-align:left;">Full Name:<span>*</span></label>
                      <div class="col-sm-8">
                     <%= text_field_tag :send_name , nil, :class=>"form-control",:id => "send_name"%>                   
                      </div>
                       
                  </div>
                   <div class="form-group">
                      <label for="first-name1" class="col-sm-4 control-label" style="text-align:left;">Email Address:<span>*</span></label>
                      <div class="col-sm-8">
                     <%=text_field_tag :send_email , nil, :class=>"form-control",:id => "send_email"%>                   
                      </div>
                       
                  </div>
                  <hr>
                    <div class="form-group">
                        <label for="email2" class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <button type="submit" id="send_friend_email_report" class="btn btn-primary pull-right"><i class="fa fa-check"></i>Send</button> 
                        </div>
                    </div>
                 
                  <%end%>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>



<div id="mobile-footer-basket" class="">
        <div style="font-size:14px;">Price From: </div>
    <div><span class="dynPrice"><span class="currency-2" itemprop="price" style="font-size:14px;">USD <%=@report.one_user%><meta itemprop="priceCurrency" content="USD"></span></span> </div>
        <a href="#basket" class="btn-xs btn-primary blue small grad-top scroll">View Pricing</a>
        <a href="#" id="pricing_buy_now" class="btn-xs btn-primary blue small ">Buy Now</a>
    </div>

<script type="text/javascript">



// $(document).ready(function(){
//  $("img").addClass("img-responsive");
//  $("table").addClass("table");
//  $("#tab10").find('br + br').remove();
//  $("#tab10").find("ul br").remove();


//  $('#tab6').find('p > *').unwrap()

//  $("p").each(function() { 
//    var $el = $(this);
//    if($.trim($el.html()) == "&nbsp;") {
//      $el.remove();
//    }
//  });
//  // Trimming white space
//  $('p').filter(function () { return $.trim(this.innerHTML) == "" }).remove();

//  // Without trimming white space
//  $('p').filter(function () { return this.innerHTML == "" }).remove();
//  $('ul').find('br').remove()


//  $('#tab6').find('div').each(function() { 
//    $(this).next().remove();
//  });


//  $('#tab6').find('p').each(function() { 
//     $(this).replaceWith(function () {
//       return $(this).html() + '<br/><br/>';
//   });
//  });
//  $('#tab6').find('br').each(function() { 
//    ($next = $(this).next()).is('br') && $next.remove();
//  });



//   $('#tab6').find('strong').each(function() { 
//     $(this).replaceWith(function () {
//       return '<br/><strong>'+ $(this).html()+'</strong>' + '<br/>';
//   });
//  });




// });















$(document).ready(function(){

   $('[data-toggle="tooltip"]').tooltip();  
   $('.current').find("input:radio").prop("checked", true) 
   $(".cart_icon").removeClass("img-responsive");
   $("table").addClass("table");
   $("#one").find('br + br').remove();
   $("#one").find("ul br").remove()

   $("[id^='help-usd']").click(function() {
      id = $(this).attr("id").split("-")[2];
      $("#usd-help-text-" + id).slideToggle('fast');
   })

  $("[class*='help-currency']").click(function() {
      selected_class = $(this).attr("class").split(' ').pop().split("-")[2];
      $(".currency-help-text-" + selected_class).slideToggle('fast');
   })

});


$("#pricing_buy_now").on("click",function() {
  $("form#update_currency").submit();
})

  $('.fancybox').fancybox({

    'transitionIn'  : 'elastic',
    'transitionOut' : 'elastic',
    'speedIn'   : 600, 
    'speedOut'    : 200

  });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $(e.target.hash).find("input").first().attr('checked','checked').prop('checked','checked');
        $(e.target.hash).find('.edition_li').removeClass('current')
        $(e.target.hash).find('.edition_li').first().addClass('current');
      });
    $("#sample_report").click(function() {
       window.open('/sample_request/<%=@report.slug%>', "mywindow","width=1000,height=600,scrollbars=1");
   
    });
    $("#request_toc").click(function() {
       window.open('/request_toc/<%=@report.slug%>', "mywindow","width=1000,height=600,scrollbars=1");
   
    });


    $("#check_discount").click(function() {
       window.open('/check_discount/<%=@report.slug%>', "mywindow","width=1000,height=600,scrollbars=1");
   
    });



      $("#any_question").click(function() {
       window.open('/enquiry/<%=@report.slug%>', "mywindow","width=1000,height=600,scrollbars=1");
   
    });  

    $(".email_report").click(function() {
        $("#email_report_popup").modal();
      
    });

    $(".send_friend_report").click(function() {
      $("#send_friend_report_popup").modal();
    })


    $(".printer_friendly").click(function() {
      window.open('/print_reports/<%=@report.slug%>', "mywindow","width=800,height=600,scrollbars=1");
    })


    $("#add_to_cart").click(function() {
       $('#add_to_cart').html("<i style='float: left;' class='fa fa-spinner fa-spin'></i> Adding...");
       $('#add_to_cart').attr('disabled','disabled');
       
       $.ajax( {
       type: "POST",
       url: '/add_to_cart',
       data: $("#update_currency").serializeArray(),
       success: function( response ) {      
         $('#shopping_cart_id').load('<%= load_add_to_cart_path%>');
         $('#add_to_cart').html('<i class="fa fa-shopping-cart"></i> Add To Cart');
         $('#add_to_cart').removeAttr('disabled');
        },
         error: function(response){
      
        }
      });

    });

$(".scroll").click(function() {
    $('html, body').animate({
        scrollTop: $("#basket").offset().top
    }, 500);
});
$('#basket').appear(function() {
  alert("hi");
});
    function emailReport() {
      if ($("#email_report_form").valid()) {
         $('#send_email_report').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
         $('#send_email_report').attr('disabled','disabled');
         $('.close').hide();
         $.ajax({
          url: "/reports/email_report",
          type: "POST",
          data:{
            "email_report[name]" : $("#name").val(),
            "email_report[email]" :$("#email").val(),
            "email_report[friend_name]" :$("#friend_name").val(),
            "email_report[friend_email]" :$("#friend_email").val(),
            "email_report[message]" :$("#message").val(),
            "email_report[report_id]" :$("#report_id").val()
          }
        }).success(function(data){
            $("#email_report_popup").modal('hide');
            $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
            $("html, body").animate({ scrollTop: 0 }, "fast");
            $('#send_email_report').html("Send");
            $('#send_email_report').removeAttr('disabled');
            $('.close').show();
            $(".flash-messages").fadeOut(10000);
        });
      }

    };


    function friendemailReport() {
      if ($("#send_email_report_form").valid()) {
         $('#send_friend_email_report').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
         $('#send_friend_email_report').attr('disabled','disabled');
         $('.close').hide();
         $.ajax({
          url: "/reports/email_report",
          type: "POST",
          data:{
            "email_report[name]" : $("#send_name").val(),
            "email_report[email]" :$("#send_email").val(),
            "email_report[friend_name]" :$("#send_friend_name").val(),
            "email_report[friend_email]" :$("#send_friend_email").val(),
            "email_report[message]" :$("#send_message").val(),
            "email_report[report_id]" :$("#send_report_id").val()
          }
        }).success(function(data){
            $("#send_friend_report_popup").modal('hide');
            $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
            $("html, body").animate({ scrollTop: 0 }, "fast");
            $('#send_friend_email_report').html("Send");
            $('#send_friend_email_report').removeAttr('disabled');
            $('.close').show();
            $(".flash-messages").fadeOut(10000);
        });
      }

    };


    function searchTags(tag) {
      $("[id^='q_']").val($(tag).text());
      $("[id^='q_']").closest("form:first").submit();
    }

    $('.edition_li').click(function() {
      $('.edition_li').removeClass('current');
      $(this).addClass('current');
      $(this).find("input:radio").prop("checked", true);
    });

      (function($) {

        'use strict';

        $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function(e) {
          var $target = $(e.target);
          var $tabs = $target.closest('.nav-tabs-responsive');
          var $current = $target.closest('li');
          var $parent = $current.closest('li.dropdown');
          $current = $parent.length > 0 ? $parent : $current;
          var $next = $current.next();
          var $prev = $current.prev();
          var updateDropdownMenu = function($el, position){
            $el
              .find('.dropdown-menu')
              .removeClass('pull-xs-left pull-xs-center pull-xs-right')
              .addClass( 'pull-xs-' + position );
          };

          $tabs.find('>li').removeClass('next prev');
          $prev.addClass('prev');
          $next.addClass('next');
          
          updateDropdownMenu( $prev, 'left' );
          updateDropdownMenu( $current, 'center' );
          updateDropdownMenu( $next, 'right' );
        });

      })(jQuery);

                    </script>




<style type="text/css">



 #selectFormat {
    margin: 0 0 16px 0;

    border-radius: 2px;
}
#selectFormat ul#formatOptions {
    padding-bottom: 3px;
        padding-left: 0;
}
#selectFormat ul#formatOptions li {
    list-style: none;
    padding: 3px;
    position: relative;
   /* border-top: 1px solid #e8bf46;*/
    border-bottom: 1px solid #75b909;
}
#selectFormat ul#formatOptions li:first-of-type {
    border-top: none
}
#selectFormat ul#formatOptions li:last-of-type {
    border-bottom: none
}
/*#selectFormat ul#formatOptions li div.inside {
    padding: 5px 10px
}*/
#selectFormat ul#formatOptions li div.inside div.icon {
    margin-top: 3px;
    position: relative;
    left: 0px;
    cursor: pointer;
    top: 5px;

}
#selectFormat ul#formatOptions li.current{
    background: #75b909;
}
#selectFormat ul#formatOptions li input.radio {
    float: right;
    /*margin: 2px 0 0 0*/
}
#selectFormat ul#formatOptions .priceFormats {
    float: right;
    margin: 2px 0 0 7px
}
#selectFormat ul#formatOptions li label.price {
    float: right;
    font-weight: bold;
    font-size: 1.3em;
    color: #424242;
    margin-right: 5px;
    padding: 0
}
#selectFormat ul#formatOptions li.current label.price {
    color: #fff
}
#selectFormat ul#formatOptions li img {
    float: left;
    margin: 0 14px 0 0
}
#selectFormat ul#formatOptions li div.icon {
    float: left;
    margin: 1px 2px 0 0;
    width: 26px;
    height: 26px
}
#selectFormat ul#formatOptions li div.iconTooltip {
    height: 19px;
    background: url('/assets/carts_images.png') no-repeat -133px -64px;
}
#selectFormat ul#formatOptions li label {
    color: #424242;

    font-size: 12px;
    padding: 7px 0 0px 0px;
    width: auto;
    font-weight: 600;
}
#selectFormat ul#formatOptions li.current label {
    color: #fff
}
/*#selectFormat ul#formatOptions li div.tooltip {
background-color: #f00;
}*/
/*#selectFormat ul#formatOptions li div.tooltip p {
    padding: 15px 18px 19px
}
*/
.tooltip > .tooltip-inner {background-color: #0B85E5;}
.tooltip > .tooltip-arrow { border-top-color:#0B85E5; }
.dynPrice {
  padding: 5px
}

@media screen and (max-width: 479px) {
  .nav-tabs-responsive > li {
    display: none;
    width: 23%;
  }
  .nav-tabs-responsive > li > a {
    width: 100%;
    text-align: center;
    vertical-align: top;
  }
  .nav-tabs-responsive > li.active {
    width: 54%;
  }
  .nav-tabs-responsive > li.active:first-child {
    margin-left: 23%;
  }
  .nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    display: block;
  }
  .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
    -webkit-transition: none;
    transition: none;
  }
  .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
    display: none;
  }
  .nav-tabs-responsive > li.prev > a:after {
    background: url('/assets/carts_images.png') no-repeat -133px -64px;

  }
  .nav-tabs-responsive > li.next > a:after {
     background: url('/assets/carts_images.png') no-repeat -133px -64px;
  }
  .nav-tabs-responsive > li.dropdown > a > .caret {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown > a:after {
    content: "\e114";
  }
  .nav-tabs-responsive > li.dropdown.active > a:after {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown.active > a > .caret {
    display: inline-block;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
    left: 0;
    right: auto;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
    right: auto;
    left: 50%;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
    left: auto;
    right: 0;
  }
}
#mobile-footer-basket,
.sidebar-mobile {
    display: none
}
@media only screen and (max-width: 640px) {
    .top-sidebar,
    #sidebar {
        float: none;
        width: 100%;
        margin: 0 auto 10px;
        clear: left
    }
    .sidebar-desktop {
        display: none
    }
    .sidebar-mobile {
        display: block
    }
    #selectFormat {
        padding: 10px 0
    }
    #selectFormat #addToBasketForm {
        max-width: 440px;
        margin: 0 auto;
        background: #f1c84f
    }
    .have-a-question-wrapper {
        padding: 10px 0
    }
    div#sidebar div#whyChoose div.row {
        font-size: 0.9em
    }
    div#sidebar div#whyChoose div.row span.copy {
        display: inline-block
    }
    div#sidebar div#whyChoose div.row span.bold {
        font-size: 1em
    }
    div#sidebar div#sideRecentltViewedProducts ul li {
        background: none
    }
    div#sidebar div#whyChoose div.last {
        padding-bottom: 5px
    }
    div#sidebar div.testimonials {
        padding: 19px 25px 50px
    }
    #mobile-footer-basket {
          display: block;
          background-color: rgb(117, 185, 9);
          position: fixed;
          width: 100%;
          padding: 10px;
          text-align: center;
          bottom: 0;
          left: 0;
          z-index: 999;
          opacity: 0.9;
          color: #f5f5f5;
    }
    #mobile-footer-basket div {
        font-size: 1.3em;
        font-weight: bold;
        /*margin-right: 10px;*/
        display: inline-block
    }
    #mobile-footer-basket.hide {
        display: none
    }
    #side_charity_link header h1 {
        width: 300px
    }
}

</style>