<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>Admin: <%= controller.action_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <%#= stylesheet_link_tag  'admin' %>

  <%= csrf_meta_tags %>
  <!-- ==========================
    CSS 
  =========================== -->
  
  <%=stylesheet_link_tag "bootstrap.min.css"%>
  <%=stylesheet_link_tag "font-awesome.min.css"%>
  <%#=stylesheet_link_tag "admin/fullcalendar.css"%>
  <%#=stylesheet_link_tag "admin/prettyPhoto.css"%>
  <%#=stylesheet_link_tag "admin/rateit.css"%>
  <%#=stylesheet_link_tag "admin/bootstrap-datetimepicker.min.css"%>

  <%=stylesheet_link_tag "admin/jquery.dataTables.css"%>
  <%=stylesheet_link_tag "admin/jquery.onoff.css"%>
  <%=stylesheet_link_tag "admin/style.css"%>
  <%#=stylesheet_link_tag "admin/widgets.css", "validationEngine.jquery.css","admin/jquery.switchButton.css"%>
 




<%= yield :scripts %>


  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Favicon -->
 <!--  <link rel="shortcut icon" href="img/favicon/favicon.png"> -->
</head>

<body>

<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  
    <div class="container">
      <!-- Menu button for smallar screens -->
            <div class="col-md-4">
          <!-- Logo. -->
          <div class="logo" style="padding: 6px;">
            <h1><a href="#">Market Research Future<span class="bold">Admin</span></a></h1>
          </div>
       
        </div>
      

      <!-- Navigation starts -->
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         

        <ul class="nav navbar-nav">  

          <!-- Upload to server link. Class "dropdown-big" creates big dropdown -->


          <!-- Sync to server link -->


        </ul>

        <!-- Search form -->
  
        <!-- Links -->
        <ul class="nav navbar-nav pull-right">
            <li> <%= link_to "<i class='fa fa-pencil-square-o '></i> Change Password".html_safe, admin_admin_change_password_path %></li>
         <li> <%= link_to "<i class='fa fa-sign-out'></i> Logout".html_safe, signout_url %></li>
          <!-- <li class="dropdown pull-right">            
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-user"></i> Admin <b class="caret"></b>              
            </a> -->
            
            <!-- Dropdown menu -->
          <!--   <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
              <li><a href="login.html"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </li> -->
          
        </ul>
      </nav>

    </div>
  </div>


<!-- Header starts -->
  <header>
    <div class="container">
      <div class="row">
      </div>
    </div>
  </header>

<!-- Header ends -->

<!-- Main content starts -->

<div class="content">
  <% flash.each do |type, message| %>
    <div class="flash-messages">
      <div class="alert <%= flash_class(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    </div>
  <% end %>
  <%=yield%>
</div>
<!-- Content ends -->

<!-- Footer starts -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            <!-- Copyright info -->
            <p class="copy">Copyright &copy; 2012 | <a href="#">Market Research Future</a> </p>
      </div>
    </div>
  </div>
</footer> 	

<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 
    <%= javascript_include_tag "admin/admin.js"%>
    <%= javascript_include_tag "bootstrap.min.js","admin/fullcalendar.min.js"%>
    <%= javascript_include_tag "admin/jquery.rateit.min.js"%>
    <%= javascript_include_tag "admin/jquery.prettyPhoto.js","admin/jquery.slimscroll.min.js"%>
    <%= javascript_include_tag "jquery.validate.js","validation.js"%>
    <%= javascript_include_tag "admin/jquery.dataTables.min.js","admin/excanvas.min.js","admin/jquery.flot.js","admin/jquery.flot.resize.js" ,"admin/jquery.flot.pie.js","admin/jquery.flot.stack.js","admin/jquery.noty.js","admin/themes/default.js", "admin/layouts/bottom.js","admin/layouts/topRight.js","admin/layouts/top.js","admin/sparklines.js","admin/bootstrap-datetimepicker.min.js","admin/filter.js","admin/charts.js", "prototype.js"%>

  <%=javascript_include_tag "admin/jquery.mtz.monthpicker.js","jquery.validationEngine-en.js","jquery.validationEngine.js","objlib.js","cbox.js"%>

<!-- Script for this page -->
<script type="text/javascript">
$(function () {

    /* Bar Chart starts */

    var d1 = [];
    for (var i = 0; i <= 20; i += 1)
        d1.push([i, parseInt(Math.random() * 30)]);

    var d2 = [];
    for (var i = 0; i <= 20; i += 1)
        d2.push([i, parseInt(Math.random() * 30)]);


    var stack = 0, bars = true, lines = false, steps = false;
    
    function plotWithOptions() {
        $.plot($("#bar-chart"), [ d1, d2 ], {
            series: {
                stack: stack,
                lines: { show: lines, fill: true, steps: steps },
                bars: { show: bars, barWidth: 0.8 }
            },
            grid: {
                borderWidth: 0, hoverable: true, color: "#777"
            },
            colors: ["#ff6c24", "#ff2424"],
            bars: {
                  show: true,
                  lineWidth: 0,
                  fill: true,
                  fillColor: { colors: [ { opacity: 0.9 }, { opacity: 0.8 } ] }
            }
        });
    }

    plotWithOptions();
    
    $(".stackControls input").click(function (e) {
        e.preventDefault();
        stack = $(this).val() == "With stacking" ? true : null;
        plotWithOptions();
    });
    $(".graphControls input").click(function (e) {
        e.preventDefault();
        bars = $(this).val().indexOf("Bars") != -1;
        lines = $(this).val().indexOf("Lines") != -1;
        steps = $(this).val().indexOf("steps") != -1;
        plotWithOptions();
    });

    /* Bar chart ends */

});


/* Curve chart starts */

$(function () {
    var sin = [], cos = [];
    for (var i = 0; i < 14; i += 0.5) {
        sin.push([i, Math.sin(i)]);
        cos.push([i, Math.cos(i)]);
    }

    var plot = $.plot($("#curve-chart"),
           [ { data: sin, label: "sin(x)"}, { data: cos, label: "cos(x)" } ], {
               series: {
                   lines: { show: true, fill: true},
                   points: { show: true }
               },
               grid: { hoverable: true, clickable: true, borderWidth:0 },
               yaxis: { min: -1.2, max: 1.2 },
               colors: ["#1eafed", "#1eafed"]
             });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #000',
            padding: '2px 8px',
            color: '#ccc',
            'background-color': '#000',
            opacity: 0.9
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#curve-chart").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if ($("#enableTooltip:checked").length > 0) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                    
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);
                    
                    showTooltip(item.pageX, item.pageY, 
                                item.series.label + " of " + x + " = " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;            
            }
        }
    }); 

    $("#curve-chart").bind("plotclick", function (event, pos, item) {
        if (item) {
            $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
            plot.highlight(item.series, item.datapoint);
        }
    });

});

/* Curve chart ends */
</script>

</body>
</html>