<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<%
  meta title: "Industry Analysis Report & Business Research: Marketresearchfuture.com",
  description: "Marketresearchfuture.com is one of the leading publishers of business market research report. Get latest Industry analysis & Business Risk Analysis report",
  keywords: "Global Market Research Reports, US Market Research Report, North America Market Research Trends, South Korea Business Market Research Report, Europe Industry Analysis, Industry Reports, Business Research Reports, Business Risk Analysis, Industry Analysis Report, Market Research Analysis"
%>



<meta name="google-site-verification" content="uBAkp1Me2krU8w0FQm8o0D3Ky0Q16_FMZqOmuH12RBo" />



  <meta name="msvalidate.01" content="2417DCC88133033DD65339A90D07EB9D" />



    <%= metamagic %>

    <!-- ==========================
        Favicons 
    =========================== -->
    <!--   <link rel="shortcut icon" href="favicon.ico"> -->
    <%= favicon_link_tag 'favicon.ico'%>
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
    
    <!-- ==========================
        Fonts 
    =========================== -->
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
     <%= javascript_include_tag "jquery.validate.js","validation.js"%>

    <%= csrf_meta_tags %>

    <%=stylesheet_link_tag "bootstrap.css"%>
    <%=stylesheet_link_tag "font-awesome.min.css"%>
    <%=stylesheet_link_tag "slider.css"%>
    <%=stylesheet_link_tag "flaticon.css"%>
    <%=stylesheet_link_tag "style.css", "blog_menu.css","lightslider.min.css"%>
    <%=stylesheet_link_tag "font-open-sans.css" ,:rel=>'stylesheet', :type => "text/javascript"%>
    <%= javascript_include_tag 'modernizr.custom.17475.js'%>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container main_container rel">
  <header class="visible-lg visible-md">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"> <a href="/" class="logo"><img src="/assets/logo.png" alt=""></a> </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
          <ul>
            <li><a href="mailto:info@marketresearchfuture.com"><i class="fa fa-envelope"></i> info@marketresearchfuture.com</a></li>
            <li><a href="#"><i class="fa fa-comments"></i> Chat with us</a></li>
            <li><i class="fa fa-phone"></i> +1 (646) 845 9349 (US)     +44 208 133 9349 (UK)</li>
           <li>
              <ul class="nav navbar-nav" shop-id="<%= @cart['id'] %>" id="shopping_cart_id">
                <%=render 'home/shopping_cart'%>
              </ul>
          </li>
          </ul>

          <ul>
            <li>


              <%= form_tag "/reports",:method => "GET" do |f| %>
                  <div class="input-group">
                  <% if params[:q].present? %>
                    <%= text_field_tag :q,nil, :class => "form-control" ,:value=> params[:q], :placeholder => "Search Keyword", :required=> true, :style=> "background-color: #fff;" %>
                  <%else%>
                   <%= text_field :q, nil,:class => "form-control", :placeholder => "Search Keyword", :required=> true ,:style=> "background-color: #fff;"%>
                  <%end%>
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                  <a href="#"><i class="fa fa-search"></i></a>
                  </button>
                  
                  <a href="#"> </a></span><a href="#"> </a></div>
              <%end%>


        
            </li>

           <%if current_user%>
           
                  <li><%= link_to "Hi, " + current_user.full_name, "javascript:void(0);" %></li>
                  <li><%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id)%></li>
                  <li><a data-method="delete" href="/logout" rel="nofollow"><i class="fa fa-user"></i>Logout</a></li>


                <%else%>
               
                  <li><a href="/login"><i class="fa fa-sign-in"></i>Signin</a></li>
                  <li><a href="/signup"><i class="fa fa-user"></i>Register</a></li>

                <%end%>




            
          </ul>
        </div>
      </div>
    </div>
  </header>
  <nav class="navbar yamm navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <a href="javascript:void(0)" aria-controls="navbar" aria-expanded="false" class="navbar-toggle" type="button" id="showmenu"> <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #fff"></i> </a>
     <a href="/login" aria-controls="navbar" aria-expanded="false" class="navbar-toggle" type="button" > <i class="fa fa-user" aria-hidden="true" style="color: #fff"></i> </a>


      <a href="javascript:void(0)" aria-controls="navbar" aria-expanded="false" class="navbar-toggle" type="button" id="showsearch"> <i class="fa fa-search" aria-hidden="true" style="color: #fff"></i> </a>


    


      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button" style="float: left;margin-left: 10px;"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>


    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about_us">About Us</a></li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Report Types<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li>
              <!-- Content container to add padding -->
              <div class="yamm-content">
                <div class="row">
                <%ReportType.all.each_slice(2) do |type_array|%>
               

                  <ul class="col-sm-6 list-unstyled">
                    <% type_array.each do |type| %>
                      <li><a href="/report-types/<%= type.slug%>"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><%=type.name%> (<%=type.abbreviation%>)</a></li>
                    <% end -%>  
                  </ul>
                 <% end -%>


                  
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categories<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">

            <%= render "shared/category_menu" %>
          </ul>
        </li>

        <li><%= link_to "Articles", articles_path %></li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Countries<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/countries"><i class="fa fa-caret-right"></i> Browse by Country</a></li>
            <li><a href="/continents"><i class="fa fa-caret-right"></i> Browse by Continent</a></li>
            <li><a href="/regions"><i class="fa fa-caret-right"></i> Browse by Group/Region</a></li>
              
          </ul>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">News & Blogs<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/press-release"><i class="fa fa-caret-right"></i> Press Release</a></li>
            <li><a href="/blogs"><i class="fa fa-caret-right"></i> Blogs</a></li>
          </ul>
        </li>
        <li><%=link_to "FAQs", faqs_path %></li>
        <li><%=link_to "Contact Us", contact_us_path %></li>
        <li><a href="/pages/careers">Careers</a></li>
      </ul>
    </div>


  </nav>
  <div class="mobile-menu col-lg-2 col-md-2 col-sm-4 col-xs-12" style="display: none;">
      <div class="inner-wrapper">
          
            <a href="/place_order?purchase_id=<%=@cart["id"]%>" class="cartItems">
                <span><%= @cart["shopping_cart_items"].count rescue nil%></span>
            </a>
            <span class="cartTotal">
                <span>
                  <span class="dynPrice">
                
                  <span class="currency-2" style="" itemprop="price"> <%= get_currency_subtotal(@cart) %><meta itemprop="priceCurrency" content="USD"></span>
         
                  </span>
                </span>
            </span>
            <a href="/place_order?purchase_id=<%=@cart["id"]%>" class="btn btn-xs btn-danger">Checkout</a>
            
        </div>
  </div>

  <div class="mobile-search col-lg-2 col-md-2 col-sm-4 col-xs-12" style="display: none;">
      <div class="inner-wrapper">
          <%= form_tag "/reports",:method => "GET" do |f| %>
        <div class="input-group">
        <% if params[:q].present? %>
          <%= text_field_tag :q,nil, :class => "form-control" ,:value=> params[:q], :placeholder => "Search Keyword", :required=> true %>
        <%else%>
         <%= text_field :q, nil,:class => "form-control", :placeholder => "Search Keyword", :required=> true %>
        <%end%>
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
        <a href="#"><i class="fa fa-search"></i></a>
        </button>
        
        <a href="#"> </a></span><a href="#"> </a></div>
        <%end%>
      
        </div>
  </div>

<a class="view-button visible-lg visible-md" href="/reports">View All Reports</a>
<a class="email-button visible-lg visible-md" href="/contact-us">Email Us</a>


   <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 hidden-md hidden-lg" style="padding: 12px;"> <a href="/" class="logo"><img src="/assets/logo_mobile.png" alt="logo mobile"></a> </div>

<%=yield%>



  <div class="container footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h2>Market Research Future</h2>
          <ul>
            <li><a href="/countries"><i class="fa fa-angle-right"></i>Browse by Country</a></li>
            <li><a href="/continents"><i class="fa fa-angle-right"></i>Browse by Continents</a></li>
            <li><a href="/regions"><i class="fa fa-angle-right"></i>Browse by Group/Region</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h2>Contact Us</h2>
          <ul>
            <li>+1 (646) 845 9349 (US)</li>
            <li>+44 208 133 9349 (UK) </li>
          </ul>
          <p><a href="/contact-us" class="footerlink">EMAIL US AT</a></p>
          <p><a href="/reports" class="footerlink">VIEW ALL REPORTS</a></p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h2>Support</h2>
          <ul>
            <li><a href="/pages/order-process"><i class="fa fa-angle-right"></i>Order Process</a></li>
            <li><a href="/vendor-information"><i class="fa fa-angle-right"></i>Vendor Information</a></li>
            <li><a href="/pages/privacy-policy"><i class="fa fa-angle-right"></i>Privacy Policy</a></li>
            <li><a href="/pages/terms-and-conditions"><i class="fa fa-angle-right"></i>Terms & Conditions</a></li>
            <li><a href="/sitemap"><i class="fa fa-angle-right"></i>Site Map</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h2>Newsletter</h2>
          <p>KEEP UP TO DATE ON ALL THE LATEST REPORTS </p>
          <%= form_for( :subscriber , :url=>{:controller=>"reports",:action=>"subscriber"}, :html => {:id=>"subscriber_form"}) do |f| %>
            <div class="input-group">
             <%= f.text_field :email , :value=> "", :class=>"form-control", :placeholder=>"Put your email" , :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%> 
             
              <span class="input-group-btn">
              <button type="submit" id="send" class="btn btn-default newsletter_go_btn"> Go</button>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>




  <div class="container copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Copyright © 2016, All Rights Reserved, marketresearchfuture.com </div>
        <div style="text-align:right" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <ul class="follow">
            <li><a href="https://www.facebook.com/marketresearchfuture/ " target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://plus.google.com/b/104046801862177498514/104046801862177498514/about " rel="publisher" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://twitter.com/MRFRresearch" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/market-research-future?trk=biz-companies-cym" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="/rss-feeds"><i class="fa fa-rss"></i></a></li>
          
          </ul>
        </div>
      </div>
    </div>
  </div>




<!--   <ul class="topfollow">
    <li class="tf"><a href="#"><i class="fa fa-facebook"></i> 1.5 K</a></li>
    <li class="tt"><a href="#"><i class="fa fa-twitter"></i> 2.5 K</a></li>
    <li class="tg"><a href="#"><i class="fa fa-google"></i> 1.2 K</a></li>
    <li class="tr"><a href="#"><i class="fa fa-rss"></i> 2.0 K</a></li>
  </ul> -->
  <div class="add visible-lg visible-md"><a href="#"><%= image_tag Admin::Advertisement.last.advertisement_image_url(:large) rescue nil %></a></div>
</div>
<!-- Return to Top -->
<a href="javascript:void(0)" id="return-to-top" class="visible-lg visible-md"><span aria-hidden="true" class="glyphicon glyphicon-chevron-up"></span></a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- Include all compiled plugins (below), or include individual files as needed -->

<%= javascript_include_tag 'bootstrap.min.js'%>
  <%= javascript_include_tag "jquery.blockUI.js"%>




<script type="text/javascript">
  // ===== Scroll to Top ==== 
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});



    $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.mobile-menu').slideToggle("fast");
        });
        $('#showsearch').click(function() {
                $('.mobile-search').slideToggle("fast");
        });

    })

    $(function(){

      $(".dropdown").hover(            
              function() {
                  $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                  // $(this).toggleClass('open');
                  // $('b', this).toggleClass("caret caret-up");                
              },
              function() {
                  $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                  // $(this).toggleClass('open');
                  // $('b', this).toggleClass("caret caret-up");                
              });
      });
     $('.lSSlideOuter .lSPager.lSGallery img ').addClass("img-thumbnail")
  </script>


</body>
</html>
