<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" itemscope itemtype="http://schema.org/Product">
<head>
<meta name="google-site-verification" content="uBAkp1Me2krU8w0FQm8o0D3Ky0Q16_FMZqOmuH12RBo" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%
  meta title: "Industry Analysis Report & Business Research: Marketresearchfuture.com"
%>

<%if params[:controller]=="home"%>
  <meta name="description" content="Marketresearchfuture.com is one of the leading publishers of business market research report.  Get the latest Industry analysis & Business Risk Analysis report" />

  <meta name="keywords" content="Global Market Research Reports, US Market Research Report, North America Market Research Trends, South Korea Business Market Research Report, Europe Industry Analysis, Industry Reports, Business Research Reports, Business Risk Analysis, Industry Analysis Report, Market Research Analysis" />

  <meta name="msvalidate.01" content="2417DCC88133033DD65339A90D07EB9D" />

  <!-- Add the following three tags inside head. -->
  <meta itemprop="name" content="Market Research Report, Market Analysis">
  <meta itemprop="description" content="marketresearchfuture.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@marketresearchfuture.com">
  <meta itemprop="image" content="https://www.marketresearchfuture.com/assets/logo.png">


      
  <meta property="og:title" content="Business Market Research Report | Industry Analysis | Market Trends"/>
  <meta property="og:image" content="https://www.marketresearchfuture.com/assets/s2.png"/>

  <meta property="og:description" content="marketresearchfuture.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@marketresearchfuture.com"/>

  <meta name="dc.title" CONTENT="Market Research Report | Industry Analysis | Market Trends">
  <meta name="dc.description" CONTENT="marketresearchfuture.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@marketresearchfuture.com">
  <meta name="dc.language" CONTENT="English">
  <meta name="DC.publisher" content="marketresearchfuture">


  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="@marketresearchfuture" />
  <meta name="twitter:title" content="Market Research Report | Industry Analysis | Market Trends" />
  <meta name="twitter:description" content="marketresearchfuture.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@marketresearchfuture.com" />
  <meta name="twitter:image" content="https://www.marketresearchfuture.com/assets/s2.png" />
  <meta name="twitter:url" content="https://www.marketresearchfuture.com" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://marketresearchfuture.com/twitter-cards">
  <meta name="twitter:title" content="Market Research Future Reports: Repudiated Market Research Platform ">
  <meta name="twitter:description" content=" Market Research Future Consultants Pvt. Ltd. offers premium progressive statistical surveying, market research reports, analysis & forecast data for industries and governments around the globe..">
  <meta name="twitter:image" content=" https://marketresearchfuture.com/assets/logo.png ">
<%end%>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://marketresearchfuture.com/twitter-cards">
  <meta name="twitter:title" content="Market Research Future Reports: Repudiated Market Research Platform ">
  <meta name="twitter:description" content=" Market Research Future Consultants Pvt. Ltd. offers premium progressive statistical surveying, market research reports, analysis & forecast data for industries and governments around the globe..">
  <meta name="twitter:image" content=" https://marketresearchfuture.com/assets/logo.png ">

<%= metamagic %>
    <!-- ==========================
        Favicons 
    =========================== -->
    <!--   <link rel="shortcut icon" href="favicon.ico"> -->
    <%= favicon_link_tag 'favicon.ico'%>
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
    
    <!-- ==========================
        Fonts 
    =========================== -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'notify.min.js' %>
    <%= csrf_meta_tags %>
    <!-- ==========================
        CSS 
    =========================== -->

    <%=stylesheet_link_tag "bootstrap.min.css"%>
    <%=stylesheet_link_tag "font-awesome.min.css"%>
    <%=stylesheet_link_tag "yamm.css"%>
    <%=stylesheet_link_tag "jquery.bootstrap-touchspin.css"%>
    <%=stylesheet_link_tag "owl.carousel.css"%>
    <%=stylesheet_link_tag "owl.transitions.css"%>
    <%=stylesheet_link_tag "color.css"%>
    <%=stylesheet_link_tag "custom.css","chat.css","demo.css","style2.css"%>


    <!-- ==========================
        JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72906069-1', 'auto');
  ga('send', 'pageview');

</script>

  

<link href="http://www.jqueryscript.net/demo/jQuery-International-Telephone-Input-With-Flags-Dial-Codes/build/css/intlTelInput.css" media="screen" rel="stylesheet" />
  <script src="http://www.jqueryscript.net/demo/jQuery-International-Telephone-Input-With-Flags-Dial-Codes/build/js/intlTelInput.js" type="text/javascript"></script>
      <script>
      $(document).ready(function() {
    $("#contact_us_phone_no").intlTelInput();
    $("#enquiry_phone_no").intlTelInput();
    $("#any_que_phone_no").intlTelInput();
  });
       $(function() {

    $("#enquiry_phone_no").keypress(function(e) {
        var val = $(this).val();
        var regex = /^[0-9 \.+]+$/;
        if (regex.test(val + String.fromCharCode(e.charCode))) {
            return true;
        }
        return false;
    });

    $("#any_que_phone_no").keypress(function(e) {
        var val = $(this).val();
        var regex = /^[0-9 \.+]+$/;
        if (regex.test(val + String.fromCharCode(e.charCode))) {
            return true;
        }
        return false;
    });
});

  </script>

<script type="text/javascript">
$(document).ready(function() {
    // $("#refreshMe").load("<%= load_tweets_path %>");
       
    var recent = $("#owl-recent");
     
    recent.owlCarousel({
        rewindNav: true,
        autoPlay: 3000, //Set AutoPlay to 3 seconds
        items : 4,
    
        mouseDrag : true,
        pagination : false,
        stopOnHover: true



    });
    
    $(".next").click(function(){
      recent.trigger('owl.next');
    })
      
    $(".prev").click(function(){
      recent.trigger('owl.prev');
    })


  $(function(){

  var offset = 250;
    var duration = 300;
    $(window).scroll(function() {
        if ($(this).scrollTop() > offset) {
            $('.back-to-top').fadeIn(duration);
        } else {
            $('.back-to-top').fadeOut(duration);
        }
    });
 
    $('.back-to-top').click(function (e) {
      e.preventDefault();
      $('body,html').animate({scrollTop: 0}, 500);
    });

  });

});
$(function() {
  var flashCallback;
  flashCallback = function() {
    return $(".flash-messages").fadeOut();
  };
  $(".flash-messages").bind('click', (function(_this) {
    return function(ev) {
      return $(".flash-messages").fadeOut();
    };
  })(this));
  return setTimeout(flashCallback, 3000);
});


    </script>
<style type="text/css">

.intl-tel-input input {
    border: 1px solid #D5D5D5;
    border-bottom-width: 2px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1) inset;
    color: #555555;
    height: 32px;
    transition: 0.3s ease-in-out 0s;
    border-radius: 0;
  }
.contactusleft {
    color: #f0f0f0 !important;
    margin: -28px;
    position: fixed;
    text-align: left;
    top: 378px;
    width: 25px;
}

.viewleft {
    color: #f0f0f0 !important;
    margin: -28px;
    position: fixed;
    text-align: left;
    top: 200px;
    width: 25px;
}
.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;

}
 
.back-to-top i {
  font-size: 60px;
}
</style>


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://www.marketresearchfuture.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://query.example.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- Place this tag where you want the widget to render. -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": " https://marketresearchfuture.com/",
  "potentialAction": {
    "@type": "SearchAction",
 "target":"https://marketresearchfuture.com/reports?utf8=✓&q%5Btitle_cont_any%5D={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
</head>
<body class="color-blue">
<%# cache "main-body-#{request.path}" do %>
    <!-- ==========================
        FACEBOOK - SHARE BUTTON 
    =========================== -->
    <div id="fb-root"></div>
    <script>
  $(document).ready(function(){
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  })
  </script>
    


    <div id="page-wrapper" class="page-boxed">
    
    <!-- ==========================
        HEADER - START
    =========================== -->
    <%# cache "header" do %>
    <div class="top-header">
        <div class="container">
            <div class="pull-left">
                <div class="header-item visible-lg visible-md visible-sm" > <strong><a href="mailto:info@marketresearchfuture.com" style="color:#ffcc02"><i class="fa fa-envelope"></i> info@marketresearchfuture.com</a> </strong>&nbsp;&nbsp;&nbsp; <strong><a href="#" class="chat_us" role="button" data-toggle="modal" style="color:#ffcc02"><i class="fa fa-comments"></i> Chat with us</a></strong></div>
         

            </div>
            <div class="pull-right">

           



           <!--      <div id="google_translate_element"></div><script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                }
                </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 -->

 <div class="header-item" style="  color: #383535;"> <strong> <i class="fa fa-phone"></i>+1 (646) 845 9349 (US) </strong></div>

             

 <div class="header-item" style="  color: #383535;"> <strong> <i class="fa fa-phone"></i>+44 208 133 9349 (UK)</strong> </div>
       

                <%if current_user%>
                <div class="header-item" >  <strong><%= link_to "Hi, " + current_user.full_name, "javascript:void(0);",:style=>"color:#ffcc02" %>  </strong></div> 
                <div class="header-item" > <strong><%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id),:style=>"color:#ffcc02" %> </strong> </div> <div class="header-item" > 



                <strong> <a data-method="delete" href="/logout" rel="nofollow" style="color:#ffcc02"><i class="fa fa-sign-out"></i> Logout</a> </strong>


                <%#= link_to "<i class='fa fa-sign-out'></i> Logout".html_safe, logout_url, :method => :delete ,:style=>"color:#fff"%>


              </div>
                <%else%>
               
                  <div class="header-item" > <strong><a href="/login" class="pull-right" style="color:#ffcc02"><i class="fa fa-sign-in hidden-xs" ></i>Sign in</a> </strong></div> <div class="header-item" > <strong><a href="/signup" class="pull-right" style="color:#ffcc02"><i class="fa fa-user hidden-xs"></i> Register</a> </strong></div>




                <%end%>
            </div>
        </div>
    </div>
    <%# end %>
  
    <header class="navbar yamm navbar-default navbar-static-top " >
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" style="padding-left:40px"><img src="/assets/logo.png" alt="Logo" width="80px" height="69" class="visible-lg visible-md visible-sm" ></a>

                 <a href="/" class="navbar-brand"><img src="/assets/logo.png" alt="Logo" width="100px" height="35"  class="hidden-lg hidden-md hidden-sm" style="margin-top:5px"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
              <% cache "top-menu" do %>
                <ul class="nav navbar-nav navbar-main-menu">
                    <li>
                        <%=link_to "Home", root_path%>
                
                    </li>
                    
                    <li >
                      <%=link_to "About Us", about_us_path %>
                    </li>
                 

                    <li class="dropdown">
                        <a href="/report-types" class="dropdown-toggle">Report Type <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">

                           <%ReportType.all.each do |type|%>
                            <li><a href="/report-types/<%= type.slug%>"><i class="fa fa-angle-double-right"></i><%=type.name%> (<%=type.abbreviation%>)</a></li>
                      
                           <%end%>

                        </ul>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="/categories" class="dropdown-toggle" >Report Categories <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <%= render "shared/category_menu" %>
                        </ul>
                    </li>


<!-- 
                        <li>
                    
                        <%#=link_to "Publisher", publishers_path %>
                    </li> -->
                       <li class="dropdown">
                        <a href="/countries" class="dropdown-toggle" data-toggle="dropdown">Countries <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/countries"><i class="fa fa-angle-double-right"></i>Browse by Country</a></li>
                            <li><a href="/continents"><i class="fa fa-angle-double-right"></i>Browse by Continent</a></li>
                            <li><a href="/regions"><i class="fa fa-angle-double-right"></i>Browse by Group / Region</a></li>
                        </ul>
                    </li>
                     </li>
                     <!--     <li  >
                     <%#=link_to "Countries", countries_path %>
                     
                    </li> -->
                    <li >



                      <li class="dropdown">
                        <a href="/press-release" class="dropdown-toggle" data-toggle="dropdown">News & Blogs<i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li>   <%=link_to "Press Release", news_updates_path%></li>
                            <li><a href="/blogs">Blogs</a></li>
                        <!--      <li><a href="https://marketresearchfuture.wordpress.com" target="_blank">Blog - World of Healthcare</a></li> -->
                        </ul>
                    </li>

                   
                 </li>
                        <li >
                         <%=link_to "FAQs", "/pages/faqs" %>    
                   
                    </li>
                   
                    <li >
                      <%=link_to "Contact Us", contact_us_path %>
                    </li>
                            <li >
                             <%=link_to "Careers", "/pages/careers" %>   
                     
                   
                    </li>
                </ul>
               <% end %>

              <ul class="nav navbar-nav" shop-id="<%= @cart['id'] %>" id="shopping_cart_id">
                <%=render 'home/shopping_cart'%>
              </ul>
            </div>
        </div>
    </header>
    <!-- ==========================
        HEADER - END 
    =========================== -->
    <%# Rails flash messages styled for Zurb Foundation 5.0 %>

<% flash.each do |type, message| %>
<div class="flash-messages">
  <div class="alert <%= flash_class(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
    </div>
<% end %>

<% cache "left-buttons" do %>
<div class="contactusleft visible-lg visible-md visible-sm" > 
    <a href="/contact-us"><img src="/assets/emailus.png" style="width:26px"></a>
</div>

<div class="viewleft visible-lg visible-md visible-sm" > 
    <a href="/reports"><img src="/assets/view_reports.png" style="width:26px"></a>
</div>
<% end %>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>
<%= javascript_include_tag "jquery.marquee.js"%>




<%= yield %>

   <a href="#" class="back-to-top" style="display: none;">
      <i class="fa fa-arrow-circle-up"></i>
   </a>



   <%= javascript_include_tag "jquery.magnific-popup.min.js"%>
<script>
$(function(){
    var $mwo = $('.marquee-with-options');
    $('.marquee').marquee();

    
    //Direction upward
    $('.marquee-vert').marquee({
        direction: 'up',
        speed: 6000
    });

    //pause and resume links
    $('.pause').click(function(e){
        e.preventDefault();
        $mwo.trigger('pause');
    });
    $('.resume').click(function(e){
        e.preventDefault();
        $mwo.trigger('resume');
    });
    //toggle
    $('.toggle').hover(function(e){
        $mwo.trigger('pause');
    },function(){
        $mwo.trigger('resume');
    })
    .click(function(e){
        e.preventDefault();
    })
});
</script>

<% cache "main-footer" do %>
    <!-- ==========================
        FOOTER - START 
    =========================== -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="text-align: left;padding-top: 5px;" >
                    <h3><i class="fa fa-flag"></i>Market Research Future</h3>
                    <p class="contact-text">
                        <ul class="nav vertical-nav">
                            <li style="margin-top:-10px ;border-bottom: none"><a href="/countries"><i class="fa fa-angle-double-right"></i>Browse by Country</a></li>
                                 <li style="margin-top:-10px ;border-bottom: none"><a href="/continents"><i class="fa fa-angle-double-right"></i>Browse by Continents</a></li>
                            <li style="margin-top:-10px ;border-bottom: none"><a href="/regions"><i class="fa fa-angle-double-right"></i>Browse by Group/Region</a></li>
                        
                        </ul>

                    </p>
                     <br/>                
                </div>
                

                <div class="col-md-3 " style="padding-bottom: 15px;padding-top: 5px;text-align: left;">
                    <h3><i class="fa fa-phone"></i>Contact Us</h3>
                    <p class="contact-text">
                    +1 (646) 845 9349 (US)<br/>
                    +44 208 133 9349 (UK)
                 <!--    <div class="visible-md visible-lg">
                       <img src="/assets/support.png" alt="Logo" class="img-responsive " style="max-width:38%;float:right;margin-top:-60px">
                    </div> -->
                    </p>
                   <!--  <p class="contact-text">+11 11 111 1111 (IND)</p> -->
                <!--     <p class="contact-text">Email: <a href="mailto:salesteam@marketresearchfuture.com" >salesteam@marketresearchfuture.com</a></p> -->
                    <div class="row" id="latest-work-footer">
                        <a href="/contact-us" class="btn btn-primary btn-sm" > Email Us</a><br/><br/>
                  <a href="/reports" class="btn btn-primary btn-sm" > View All Reports</a>
                   </div>


         
                </div>
                <div class="col-md-3" style="text-align: left;padding-top: 5px;">
                  <h3><i class="fa fa-user"></i>Support</h3>
                  <p class="contact-text">
                    <ul class="nav vertical-nav">
                     <li style="margin-top:-10px ;border-bottom: none"><a href="/pages/order-process"><i class="fa fa-angle-double-right"></i>Order process</a></li>
                          <li style="margin-top:-10px ;border-bottom: none"><a href="/pages/vendor-information"><i class="fa fa-angle-double-right"></i>Vendor Information</a></li>
                           
                             <li style="margin-top:-10px ;border-bottom: none"><a href="/pages/privacy-policy"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                          <li style="margin-top:-10px ;border-bottom: none"><a href="/pages/terms-and-conditions"><i class="fa fa-angle-double-right"></i>Terms & Conditions</a></li>
                       <li style="margin-top:-10px ;border-bottom: none"><a href="/sitemap"><i class="fa fa-angle-double-right"></i>Site Map</a></li>
                      </ul>

                                  </p>
                </div>
                    <div class="col-md-3" style="text-align: left;padding-top: 5px;">
                   
                    

                  <h3><i class="fa fa-envelope"></i>Newsletter</h3>
                    <p class="contact-text"><b><font size="-2">KEEP UP TO DATE ON ALL THE LATEST REPORTS </font></b><br/>
                    </p>
                    <%= form_for( :subscriber , :url=>{:controller=>"reports",:action=>"subscriber"}, :html => {:class=>"form-horizontal form-address", :id=>"subscriber_form",:style=>"padding-bottom:17px"}) do |f| %>
                        <fieldset>
                            <div class="form-group nospace">
                                <div class="input-group">
                                     <%= f.text_field :email , :value=> "", :class=>"form-control", :placeholder=>"Put your email" , :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%>  
                                    
                                    <span class="input-group-btn"> <button type="submit" id="send" class="btn btn-primary btn-sm"><i class="fa fa-check"></i></button> </span>
                                </div>
                            </div>
                        </fieldset>
                    <%end%>
                    </div>
                    
            </div>
            <div class="footer-bottom" >
                <div class="footer-copyright col-sm-6" style="margin-bottom:10px">
                    <p>Copyright © 2016, All Rights Reserved, <a href="https://marketresearchfuture.com/">marketresearchfuture.com </a></p>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                 <ul class="brands brands-inline brands-tn brands-circle main" style="list-style-type: none;">
                  <li style="float: left;"><a href="/rss-feeds" target="_blank"><img src="/assets/feeds_orange.png" width="23" class="img-responsive"></a></li>
                 <li style="float: left;"><a href="https://twitter.com/MRFRresearch" target="_blank"><img src="/assets/twitter.png" width="23" class="img-responsive"></a></li>
                 <li style="float: left;"><a href="https://www.facebook.com/marketresearchfuture/ " target="_blank"><img src="/assets/facbook.png" width="23" class="img-responsive"></a></li>
                  <li style="float: left;"><a href="https://plus.google.com/b/104046801862177498514/104046801862177498514/about " rel="publisher" target="_blank"><img src="/assets/googleplus.png" width="22" class="img-responsive"></a></li>
                 

                  <li><a href="https://www.linkedin.com/company/market-research-future?trk=biz-companies-cym" target="_blank"><img src="/assets/linkedin.png" width="23" class="img-responsive"></a></li>
                  </ul>
                 </div>
            </div>
        </div>
    </footer>
    <!-- ==========================
        FOOTER - END 
    =========================== -->
    <% end %>
   
<!--     </div> -->

 <script src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async defer></script>
    <script>
      var recaptcha1;
      var recaptcha2;
      var recaptcha3;
  
      var myCallBack = function() {
        //Render the recaptcha1 on the element with ID "recaptcha1"
        recaptcha1 = grecaptcha.render('recaptcha1', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8', //Replace this with your Site key
          'theme' : 'light'
        });
        
        //Render the recaptcha2 on the element with ID "recaptcha2"
        recaptcha2 = grecaptcha.render('recaptcha2', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8', 
          'callback' : verifyCallback2,
          'theme' : 'light'
        });
        recaptcha3 = grecaptcha.render('recaptcha3', {
          'sitekey' : '6LdNCBYTAAAAAMTZSEarDZlaR0AhLFb8sU1jwhx8', //Replace this with your Site key
          'callback' : verifyCallback3,
          'theme' : 'light'
        });
      
      };
       var verifyCallback2 = function(response) {
        $("#hiddenRecaptcha2").val(response);
      };
      var verifyCallback3 = function(response) {
        $("#hiddenRecaptcha3").val(response);
      };
    </script>
    <!-- ==========================
        JS 
    =========================== -->        
<div id="chat_us_popup" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                    ×
                </button>
                <h4>Please enter details to chat </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

       
                    <%= form_tag "/save_chat_user", onsubmit: "saveChat();return(false);", :class=> "form-horizontal form-address", :id => "chat_form" do %>
                              
                                <div class="form-group">
                                    <label for="first-name1" class="col-sm-3 control-label">Your Name:<span>*</span></label>
                                    <div class="col-sm-9">
                                   <%= text_field_tag :name , nil, :class=>"form-control" %>                   
                                    </div>
                                     
                                </div>
                                 <div class="form-group">
                                    <label for="first-name1" class="col-sm-3 control-label">Your Email:<span>*</span></label>
                                    <div class="col-sm-9">
                                   <%=text_field_tag :email , nil, :class=>"form-control"%>                   
                                    </div>
                                     
                                </div>
                                <div class="form-group">
                                    <label for="first-name1" class="col-sm-3 control-label">Your Phone No.:</label>
                                    <div class="col-sm-9">
                                   <%= text_field_tag :phone_no , nil, :class=>"form-control"%>                   
                                    </div>
                                     
                                </div>
                 
                                
                          
                                  <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label">Your Message<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= text_area_tag :message , nil, :class=>"form-control" ,:style=>"height:100px"%> 
                                     
                                             
                                    </div>
                                </div>
                                <div class="form-group" id="captchas">
                                    <label for="email2" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <div id="recaptcha1"></div>
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email2" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <button type="submit" id="send_chat_report" class="btn btn-primary"><i class="fa fa-check"></i>Send</button> 
                                    </div>
                                </div>
                               
                                <%end%>


                   
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // $("#refreshMe").load("<%= load_tweets_path %>");
    $(".chat_us").click(function() {
        $("#chat_us_popup").modal();

    });

    function saveChat() {

      var v = grecaptcha.getResponse();
      if(v.length == 0)
      {
          alert("You can't leave Captcha Code empty");
          return false;
      }else
      {
          if ($("#chat_form").valid()) {
               $('#send_chat_report').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
               $('#send_chat_report').attr('disabled','disabled');
               $('.close').hide();
          $.ajax({
              type : "POST",
              url : "/save_chat_user",
              data : $("#chat_form").serialize()
          }).done(function(msg) {
                  grecaptcha.reset();
                  $('#chat_us_popup').modal('toggle');
                  $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>Thank You " + msg.name+". Your query has been successfully sent. Wiseguy representative will get back to you shortly.</div></div>");
                  $("html, body").animate({ scrollTop: 0 }, "fast");
                  $('#send_chat_report').html("Send");
                  $('#send_chat_report').removeAttr('disabled');
                  $('.close').show();
                  $(".flash-messages").fadeOut(10000);
                  $("#chat_form")[0].reset()
          });
        }
      }



    }


      function remove_product(item_id, purchase_id){


         $.blockUI({ message: '<h4> <img src="https://marketresearchfuture.com/assets/loading.gif" width="50"/></h4>' });
         $.ajax( {
         type: "POST",
         url: '/remove_item',
         data: {item_id: item_id, purchase_id: purchase_id},
         success: function( response ) {      

           if (response.shopping_cart_items.length == 0){
             window.location='/reports/'+response.report_slug
           }else{
             $('#place_order_cart').load('<%= load_place_order_items_path%>');
             $('#shopping_cart_id').load('<%= load_add_to_cart_path%>');
           }
              
          
           $.unblockUI();  

          },
           error: function(response){
        
          }
        });
   
    


      }

                </script>
    <%= javascript_include_tag "bootstrap.min.js","owl.carousel.min.js"%>
    <%= javascript_include_tag "isotope.pkgd.min.js"%>
    <%= javascript_include_tag "checkout.js"%>
    <%= javascript_include_tag "jquery.validate.js","validation.js"%>
    <%= javascript_include_tag "custom.js","jquery.cslider.js","modernizr.custom.28468.js","jquery.event.move.js","jquery.blockUI.js"%>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js" type="text/javascript"></script>
   
    
<%# end %>

<%= yield(:javascripts) %>
</body>
</html>











