<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" itemscope itemtype="http://schema.org/Product">
<head>
<meta name="google-site-verification" content="uBAkp1Me2krU8w0FQm8o0D3Ky0Q16_FMZqOmuH12RBo" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%
  meta title: "Industry Analysis Report & Business Research: Marketresearchfuture.com"
%>

<%if params[:controller]=="home"%>
  <meta name="description" content="Marketresearchfuture.com is one of the leading publishers of business market research report.  Get the latest Industry analysis & Business Risk Analysis report" />

  <meta name="keywords" content="Global Market Research Reports, US Market Research Report, North America Market Research Trends, South Korea Business Market Research Report, Europe Industry Analysis, Industry Reports, Business Research Reports, Business Risk Analysis, Industry Analysis Report, Market Research Analysis" />

  <meta name="msvalidate.01" content="2417DCC88133033DD65339A90D07EB9D" />

  <!-- Add the following three tags inside head. -->
  <meta itemprop="name" content="Market Research Report, Market Analysis">
  <meta itemprop="description" content="marketresearchfuture.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@marketresearchfuture.com">
  <meta itemprop="image" content="https://www.marketresearchfuture.com/assets/logo.png">


      
  <meta property="og:title" content="Business Market Research Report | Industry Analysis | Market Trends"/>
  <meta property="og:image" content="https://www.marketresearchfuture.com/assets/s2.png"/>

  <meta property="og:description" content="marketresearchfuture.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@marketresearchfuture.com"/>

  <meta name="dc.title" CONTENT="Market Research Report | Industry Analysis | Market Trends">
  <meta name="dc.description" CONTENT="marketresearchfuture.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@marketresearchfuture.com">
  <meta name="dc.language" CONTENT="English">
  <meta name="DC.publisher" content="marketresearchfuture">


  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="@marketresearchfuture" />
  <meta name="twitter:title" content="Market Research Report | Industry Analysis | Market Trends" />
  <meta name="twitter:description" content="marketresearchfuture.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@marketresearchfuture.com" />
  <meta name="twitter:image" content="https://www.marketresearchfuture.com/assets/s2.png" />
  <meta name="twitter:url" content="https://www.marketresearchfuture.com" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://marketresearchfuture.com/twitter-cards">
  <meta name="twitter:title" content="Market Research Future Reports: Repudiated Market Research Platform ">
  <meta name="twitter:description" content=" Market Research Future Consultants Pvt. Ltd. offers premium progressive statistical surveying, market research reports, analysis & forecast data for industries and governments around the globe..">
  <meta name="twitter:image" content=" https://marketresearchfuture.com/assets/logo.png ">
<%end%>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://marketresearchfuture.com/twitter-cards">
  <meta name="twitter:title" content="Market Research Future Reports: Repudiated Market Research Platform ">
  <meta name="twitter:description" content=" Market Research Future Consultants Pvt. Ltd. offers premium progressive statistical surveying, market research reports, analysis & forecast data for industries and governments around the globe..">
  <meta name="twitter:image" content=" https://marketresearchfuture.com/assets/logo.png ">

<%= metamagic %>
    <!-- ==========================
        Favicons 
    =========================== -->
    <!--   <link rel="shortcut icon" href="favicon.ico"> -->
    <%= favicon_link_tag 'favicon.ico'%>
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
    
    <!-- ==========================
        Fonts 
    =========================== -->
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <!-- ==========================
        CSS 
    =========================== -->

    <%=stylesheet_link_tag "bootstrap.css"%>
    <%=stylesheet_link_tag "font-awesome.min.css"%>
    <%=stylesheet_link_tag "page-assets.css"%>
    <%=stylesheet_link_tag "helper-elements.css"%>
    <%=stylesheet_link_tag "style.css"%>
    <%=stylesheet_link_tag "ball-blue.css"%>
    <%=stylesheet_link_tag "animate.css"%>
      <%=stylesheet_link_tag "color.css"%>
    <%=stylesheet_link_tag "custom.css","chat.css","demo.css","style2.css","blog_menu.css"%>

    <!-- ==========================
        JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72906069-1', 'auto');
  ga('send', 'pageview');

</script>

  

<link href="http://www.jqueryscript.net/demo/jQuery-International-Telephone-Input-With-Flags-Dial-Codes/build/css/intlTelInput.css" media="screen" rel="stylesheet" />
  <script src="http://www.jqueryscript.net/demo/jQuery-International-Telephone-Input-With-Flags-Dial-Codes/build/js/intlTelInput.js" type="text/javascript"></script>
      <script>
      $(document).ready(function() {
    $("#contact_us_phone_no").intlTelInput();
    $("#enquiry_phone_no").intlTelInput();
    $("#any_que_phone_no").intlTelInput();
  });
       $(function() {

    $("#enquiry_phone_no").keypress(function(e) {
        var val = $(this).val();
        var regex = /^[0-9 \.+]+$/;
        if (regex.test(val + String.fromCharCode(e.charCode))) {
            return true;
        }
        return false;
    });

    $("#any_que_phone_no").keypress(function(e) {
        var val = $(this).val();
        var regex = /^[0-9 \.+]+$/;
        if (regex.test(val + String.fromCharCode(e.charCode))) {
            return true;
        }
        return false;
    });
});

  </script>
<script type="text/javascript">

$(document).ready(function() {
    // $("#refreshMe").load("<%= load_tweets_path %>");
       
    // var recent = $("#owl-recent");
     
    // recent.owlCarousel({
    //     rewindNav: true,
    //     autoPlay: 3000, //Set AutoPlay to 3 seconds
    //     items : 4,
    
    //     mouseDrag : true,
    //     pagination : false,
    //     stopOnHover: true



    // });
    
    // $(".next").click(function(){
    //   recent.trigger('owl.next');
    // })
      
    // $(".prev").click(function(){
    //   recent.trigger('owl.prev');
    // })


  // $(function(){

  // var offset = 250;
  //   var duration = 300;
  //   $(window).scroll(function() {
  //       if ($(this).scrollTop() > offset) {
  //           $('.back-to-top').fadeIn(duration);
  //       } else {
  //           $('.back-to-top').fadeOut(duration);
  //       }
  //   });
 
  //   $('.back-to-top').click(function (e) {
  //     e.preventDefault();
  //     $('body,html').animate({scrollTop: 0}, 500);
  //   });

  // });

});


$(function() {
  var flashCallback;
  flashCallback = function() {
    return $(".flash-messages").fadeOut();
  };
  $(".flash-messages").bind('click', (function(_this) {
    return function(ev) {
      return $(".flash-messages").fadeOut();
    };
  })(this));
  return setTimeout(flashCallback, 3000);
});


</script>
<style type="text/css">

.intl-tel-input input {
    border: 1px solid #D5D5D5;
    border-bottom-width: 2px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1) inset;
    color: #555555;
    height: 32px;
    transition: 0.3s ease-in-out 0s;
    border-radius: 0;
  }
/*.contactusleft {
    color: #f0f0f0 !important;
    margin: -28px;
    position: fixed;
    text-align: left;
    top: 378px;
    width: 25px;
}

.viewleft {
    color: #f0f0f0 !important;
    margin: -28px;
    position: fixed;
    text-align: left;
    top: 200px;
    width: 25px;
}
/*.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;

}
 
.back-to-top i {
  font-size: 60px;
}*/
</style>


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://www.marketresearchfuture.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://query.example.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- Place this tag where you want the widget to render. -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": " https://marketresearchfuture.com/",
  "potentialAction": {
    "@type": "SearchAction",
 "target":"https://marketresearchfuture.com/reports?utf8=✓&q%5Btitle_cont_any%5D={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
</head>
<body>
  <!-- main container of all the page elements -->
  <div id="wrapper">
    <div class="w1">
      <!-- header of the page style2 -->
      <header id="header" class="style8">
        <div class="container">
          <div class="row">
            <!-- header top -->
            <div class="col-xs-12 header-top">
              <!-- language nav -->
              <nav class="nav language-nav">
                 <div id="google_translate_element"></div><script type="text/javascript">
                  function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                  }
                  </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
              </nav>
              <!-- top nav -->
              <nav class="top-nav">
                <ul class="head-socialnetworks list-inline">
                  <li><a href="/rss-feeds " target="_blank"><i class="fa fa-rss"></i></a></li>
                  <li><a href="https://www.facebook.com/marketresearchfuture/ " target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/MRFRresearch" target="_blank"><i class="fa fa-twitter"></i></a></li>
             
                  <li><a href="https://plus.google.com/b/104046801862177498514/104046801862177498514/about " rel="publisher" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/market-research-future?trk=biz-companies-cym" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <%if current_user%>
                  <li><strong><%= link_to "Hi, " + current_user.full_name, "javascript:void(0);",:style=>"text-transform: capitalize;" %>  </strong></li>
                  <li><strong><%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id),:style=>"text-transform: capitalize;" %> </strong></li>
                  <li> <strong> <a data-method="delete" href="/logout" rel="nofollow" style="text-transform: capitalize;"><i class="fa fa-sign-out"></i> Logout</a> </strong></li>

                    <%else%>
               
                  <li> <strong><a href="/login" class="pull-right" style="text-transform: capitalize;"><i class="fa fa-sign-in hidden-xs" ></i> Sign in</a> </strong></li>
                  <li> <strong><a href="/signup" class="pull-right" style="text-transform: capitalize;"><i class="fa fa-user hidden-xs"></i> Register</a> </strong></li>




                <%end%>
                </ul>




                     
              


               
              
              
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <!-- page logo -->
              <div class="logo">
                <a href="/">
                  <img src="/assets/logo.png" alt="MRF" class="img-responsive" width="80px" style="margin-top: -10px;">
                </a>
              </div>
              <div class="holder">
                <!-- icon list -->
            <!--     <ul class="list-unstyled icon-list">
                  <li><a href="#" class="search-opener opener-icons"><i class="fa fa-search"></i></a></li>
                </ul> -->
                <!-- main navigation of the page -->
                        <nav id="nav">
                  <a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
                  <div class="nav-holder">

                <% cache "top-menu" do %>
                <ul class="list-inline nav-top">
                    <li>
                        <%=link_to "Home", root_path%>
                
                    </li>
                    
                    <li>
                      <%=link_to "About Us", about_us_path %>
                    </li>
                 

                    <li class="dropdown">
                        <a href="/report-types" class="dropdown-toggle">Report Type <i class="fa fa-chevron-down"></i></a>

                        <div class="drop">
                          <ul class="list-unstyled">
                           
                           <%ReportType.all.each do |type|%>
                            <li><a href="/report-types/<%= type.slug%>"><%=type.name%> (<%=type.abbreviation%>)</a></li>
                      
                           <%end%>                           
                          </ul>
                        </div>
                       
                    </li>
                    <li class="dropdown">
                        <a href="/categories" class="dropdown-toggle">Categories <i class="fa fa-chevron-down"></i></a>
                        <div class="drop">
                          <ul class="list-unstyled">      
                           <%Category.all.each do |category|%>
                            <li><a href="/categories/<%= category.slug%>"><%=category.name%> </a></li>
                           <%end%>                           
                          </ul>
                        </div>
                       
                    </li>
                    <li class="dropdown">
                        <a href="/countries" class="dropdown-toggle" data-toggle="dropdown">Countries <i class="fa fa-chevron-down"></i></a>
                        <div class="drop">
                          <ul class="list-unstyled">
                            <li><a href="/countries">Browse by Country</a></li>
                            <li><a href="/continents">Browse by Continent</a></li>
                            <li><a href="/regions">Browse by Group / Region</a></li>
                          </ul>
                        </div>
                    </li>
                    </li>
                    <li >
                    <li class="dropdown">
                        <a href="/press-release" class="dropdown-toggle" data-toggle="dropdown">News & Blogs<i class="fa fa-chevron-down"></i></a>
                        <div class="drop">
                          <ul class="list-unstyled">
                            <li>   <%=link_to "Press Release", news_updates_path%></li>
                            <li><a href="/blogs">Blogs</a></li>
                        </ul>
                        </div>
                    </li>

                    </li>
                    <li>


                       <%=link_to "FAQs", "/faqs" %>    
                    </li> 
                    <li >
                      <%=link_to "Contact Us", contact_us_path %>
                    </li> 
                    <li >
                      <%=link_to "Careers", "/pages/careers" %>   
                    </li>
                    <li class="dropdown shopping-cart-toggle" shop-id="<%= @cart['id'] %>" id="shopping_cart_id">
                      <%=render 'home/shopping_cart'%>

                    </li>
                </ul>
               <% end %>

                  
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- search popup 
      <div class="search-popup win-height">
        <div class="holder">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <a href="#" class="close-btn">close</a>
                <form action="#" class="search-form">
                  <fieldset>
                    <input type="search" placeholder="search..." class="search">
                    <button class="submit"><i class="fa fa-search"></i></button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>-->
<!--       <div class="col-xs-12 margin-top-100" style="background:#2e348e;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 padding-top-60">
                  

              <%#= form_tag "/reports",:method => "GET",:class=>"search-form"  do |f| %>
              <fieldset>
               
                    <%#= text_field_tag :q, params[:q], :class => "col-xs-11 search margin-bottom-20" , :placeholder => "Report Title | Any Keyword"%>
                   
                      <button type="submit" class="submit">
                        <i class="fa fa-search"></i>
                      </button>
                 
              </fieldset>
              <%#end%>


            </div>
          </div>
        </div>
      </div> -->
            
         
   <%=stylesheet_link_tag "misc.css"%>
   <%= javascript_include_tag "owl.carousel.min.js"%>

<%=yield%>
      <!-- footer of the page -->
       <footer id="footer">
        <!-- footer cent -->
        <div class="footer-cent bg-shark">
          <div class="container">
            <div class="row">
              <div class="col-xs-2">
                <!-- f lastest news -->
                <div class="f-lastest-news">
                  <h5>Company</h5>
                  <!-- footer news box -->
                  <div class="footer-news-box">
                    <div class="txt">
                      <p><a href="/about_us">About MRF </a></p>
                      <p><a href="/faqs">Help & FAQ </a></p>
                      <p><a href="/pages/careers">Careers </a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2">
                <!-- f lastest news -->
                <div class="f-lastest-news">
                  <h5>Reach Us</h5>
                  <!-- footer news box -->
                  <div class="footer-news-box">
                    <div class="txt">

              <p class="contact-text">

                    <div itemscope itemtype="http://schema.org/LocalBusiness">
                       <span itemprop="name">Market Research Future</span><br/>
                       <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                         <span itemprop="streetAddress">Office No. 524, Amanora Chambers, Magarpatta Road, Hadapsar</span>
                         <span itemprop="addressLocality">Pune</span>,
                         <span itemprop="addressRegion">Maharashtra</span>
                         <span itemprop="postalCode">411028</span>
                       </div>
                       <span itemprop="telephone">+91 8411985042</span>
                    </div>
   
                    <span itemprop=" emailaddress ">info@wiseguyreports.com</span>

                    </p>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2">
                <!-- f lastest news -->
                <div class="f-lastest-news">
                  <h5>Contact Us</h5>
                  <!-- footer news box -->
                  <div class="footer-news-box">
                    <div class="txt">

                     <p>
                    +1 (646) 845 9349 (US)<br/>
                    +44 208 133 9349 (UK)
                    </p>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-3">
                <!-- f lastest news -->
                <div class="f-lastest-news">
                  <h5>Support</h5>
                  <!-- footer news box -->
                  <div class="footer-news-box">
                    <div class="txt">

                       <p ><a href="/pages/order-process">Order process</a></p>
                          <p><a href="/pages/vendor-information">Vendor Information</a></p>
                           
                             <p ><a href="/pages/privacy-policy">Privacy Policy</a></p>
                          <p><a href="/pages/terms-and-conditions">Terms & Conditions</a></p>
                       <p><a href="/sitemap">Site Map</a></p>

                                 

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-3">
                <!-- f contact form -->
                <div class="f-contact-form">
                  <h5>Quickly Contact</h5>
                  <!-- footer form-->
                  <%= form_for "contact_us", :url => save_contact_us_path, :method => 'post', :html => {:id=>"quick_contact",:class=>"footer-form email-form"} do |f| %>
                  
                    <fieldset>
                      
                      <%= f.text_field :name ,:class=>"text", :id=>"quick_name",:placeholder=>"Name" %> 
                      <%= f.text_field :email ,:class=>"text",:id=>"quick_email", :placeholder=>"Email Address" %> 
                      <%= f.text_area :message ,:class=>"text",  :id=>"quick_msg",:placeholder=>"Message",:cols=>"30", :rows=>"10"%>
                      <%=f.submit "Send", :id=>"quick_submit", :class=>"btn btn-submit" %>

                    </fieldset>
                  <%end%>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>





        <!-- footer bottom -->
        <div class="footer-bottom bg-dark-jungle">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="bottom-box1">
                  <!-- f footer nav -->
                  <ul class="list-inline footer-social footer-nav">
                    <li><a href="https://www.facebook.com/marketresearchfuture/ " target="_blank"><i class="fa fa-facebook" style="line-height: inherit;"></i></a></li>
                    <li><a href="https://twitter.com/MRFRresearch" target="_blank"><i class="fa fa-twitter" style="line-height: inherit;"></i></a></li>
                    <li><a href="https://plus.google.com/b/104046801862177498514/104046801862177498514/about " target="_blank"><i class="fa fa-google-plus" style="line-height: inherit;"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/market-research-future?trk=biz-companies-cym" target="_blank"><i class="fa fa-linkedin" style="line-height: inherit;"></i></a></li>
                    <li><a href="/rss-feeds " target="_blank"><i class="fa fa-rss" style="line-height: inherit;"></i></a></li>
                  </ul>
                  <span class="copyright">&copy; 2016 <a href="#">MRF</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="fa fa-chevron-up" id="gotoTop" style="display: none;"></div>
  </div>
  <!-- include jQuery library -->





<script type="text/javascript">
    $("#quick_contact").submit(function(e) {

      e.preventDefault()
  

      if( IsQuickName($("#quick_name").val()) && IsQuickEmail($("#quick_email").val())  && IsQuickMessage($("#quick_msg").val())){
          $('#quick_submit').val("Sending...");
          $('#quick_submit').attr('disabled','disabled'); 
          $.ajax({
            url: "/save_contact_us",
            type: "POST",
            data: $("#quick_contact").serialize()
          }).success(function(data){
              if (typeof data.notice != "undefined"){
                $("#nav").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
              }else{
                $("#nav").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
              }
              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#quick_contact")[0].reset();
              $('#quick_submit').val("Send");
              $('#quick_submit').removeAttr('disabled');
  
              
          });
      }
   


    })

    function IsQuickEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(email.trim()==''){
          alert("Please enter Email address.");
          return false;
        }else if(regex.test(email)){
          return true;
        }else{
          alert("Email address is invalid.");
          return false;
        };
      }

      function IsQuickName(name){
        if(name.trim()==''){
          alert("Please enter your name.");
          return false;
        }else{
          return true;
        };
      }

      function IsQuickMessage(msg){
        if(msg.trim()==''){
          alert("Please enter your message");
          return false;
        }else{
          return true;
        };
      }


      function remove_product(item_id, purchase_id){


         $.blockUI({ message: '<h4> <img src="https://marketresearchfuture.com/assets/loading.gif" width="50"/></h4>' });
         $.ajax( {
         type: "POST",
         url: '/remove_item',
         data: {item_id: item_id, purchase_id: purchase_id},
         success: function( response ) {      

           if (response.shopping_cart_items.length == 0){
             window.location='/reports/'+response.report_slug
           }else{
             $('#place_order_cart').load('<%= load_place_order_items_path%>');
             $('#shopping_cart_id').load('<%= load_add_to_cart_path%>');
           }
              
          
           $.unblockUI();  

          },
           error: function(response){
        
          }
        });
   
    


      }

                </script>



    <%= javascript_include_tag "bootstrap.min.js","main1.js"%>

    <%#= javascript_include_tag "plugins.js"%>

  
   
    


    <%= javascript_include_tag "custom.js","jquery.cslider.js","jquery.blockUI.js"%>







</body>

</html>